<template>
  <div
    class="blocked-site-line py-4 pl-4 has-background-white"
  >
    <slot name="left"></slot>
    <div style="flex-grow: 1;"/>
    <b-icon icon="delete" class="delete-icon mr-4" @click.native="$emit('delete')"></b-icon>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'

@Component
export default class CustomBlockedSite extends Vue {
}
</script>

<style scoped>
.blocked-site-line {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.delete-icon {
  cursor: pointer;
}

</style>
