<template>
  <div>
    <!-- Button for adding a site -->
    <b-button
      class="dropdown-button mb-3"
      @click.native="addSite()"
      icon-left="plus"
    >
      Add
    </b-button>
    <div>
      <!-- Data entry for adding a site -->
      <custom-blocked-site
        v-if="addingSite"
        v-model="addingSiteBlacklisted"
        @delete="addingSite = false"
        class="custom-site-input"
      >
        <div slot="left" class="">
          <!-- Domain entry -->
          <b-field
            v-bind="siteNameError"
          >
            <b-input
              placeholder="Site Name"
              v-model="addingSiteText"
              ref="site-input"
              autocomplete="off"
              @keydown.native="siteAddKeyDown($event)"
            ></b-input>
          </b-field>
          <b-field>
            <p class="control">
              <b-button
                type="is-primary"
                label="Confirm"
                icon-left="check"
                :loading="checkingSite"
                class="done-icon"
                @click.native="doneAddingSite()"
                rounded outlined
              />
            </p>
          </b-field>
        </div>
      </custom-blocked-site>
    </div>
    <!-- List of manually blocked sites -->
    <div class="custom-site-container">
      <custom-blocked-site
        v-for="(domain, idx) in value"
        @delete="deleteBlockedSite(idx)"
        :key="idx"
      >
        <component
          :is="isBlocklist ? 'span' : 'a'"
          slot="left"
          :href="'http://' + domain"
          target="blank"
        >
        {{ domain }}
        </component>
      </custom-blocked-site>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import CustomBlockedSite from '@/components/blocked-sites/custom-blocked-site.vue'
import DomainsPublicSearch from '@/requests/categorizer/domains/domains-public-search'
import { Category } from '@/requests/categories-v2/get-categories-rules'

@Component({
  components: {
    CustomBlockedSite
  }
})
export default class SiteListEdit extends Vue {
  /**
   * The initial sites list.
   */
  @Prop() readonly value: string[] | undefined
  /**
   * Whether to not allow blocking safesurfer domains.
   */
  @Prop() readonly isBlocklist: boolean | undefined
  /**
   * Whether to disable all editing.
   */
  @Prop() readonly disabled: boolean | undefined
  /**
   * The full list of what's blocked at the moment.
   */
  @Prop() readonly blocks: Category[] | undefined
  /**
   * Whether we are currently adding a new site.
   */
  addingSite = false
  /**
   * The current text being typed as the domain when adding a site.
   */
  addingSiteText = ''
  /**
   * Whether the site currently being added is blacklisted.
   */
  addingSiteBlacklisted = true

  checkingSite = false

  /**
   * Requests.
   */
  domainsPublicSearch = new DomainsPublicSearch()

  /**
   * @returns A clone of the value to modify.
   */
  getClonedValue (): string[] {
    if (!this.value) {
      return []
    }
    return this.value.map(v => v)
  }

  /**
   * Delete a rule for a manually blocked/allowed site.
   * @param deleteIdx The index of the site in sites array.
   */
  deleteBlockedSite (deleteIdx: number) {
    if (this.value && !this.disabled) {
      const newVal = this.getClonedValue()
      newVal.splice(deleteIdx, 1)
      this.$emit('input', newVal)
    }
  }

  /**
   * Start adding a new custom site rule.
   */
  addSite () {
    if (!this.disabled) {
      this.addingSiteText = ''
      this.addingSiteBlacklisted = true
      this.addingSite = true

      // Focus input once it shows up
      Vue.nextTick(() => {
        (this.$refs['site-input'] as unknown as any).focus()
      })
    }
  }

  /**
   * @returns An object of Buefy properties to bind describing the error state.
   */
  get siteNameError (): { type?: string; message?: string } {
    const genericError = {
      type: 'is-danger',
      message: 'Invalid Domain'
    }
    /**
     * @returns Whether a portion of a domain name is invalid, e.g.
     *          'com' and 'google' in google.com
     */
    const domainPortionInvalid = (domainPortion: string): { type?: string; message?: string } => {
      if (domainPortion.length < 1) {
        return genericError // No empty portions
      }
      if (domainPortion.includes('safesurfer') && this.isBlocklist) {
        return {
          type: 'is-danger',
          message: 'Please don\'t block us, we\'re only trying to help!'
        } // No blocking safesurfer sites, may block access to this page
      }
      if (domainPortion.charAt(0) === '-' || domainPortion.charAt(domainPortion.length - 1) === '-') {
        return genericError // Dashes only allowed within
      }
      const validCharMatches = domainPortion.match(/[a-zA-Z0-9-]/g)
      if (validCharMatches === null) {
        return {} // No matches
      } else if (validCharMatches.length === domainPortion.length) {
        return {} // All characters were valid
      } else {
        return {
          type: 'is-danger',
          message: 'Domain contains invalid characters'
        }
      }
    }
    // Split around dots
    const domainPortions = this.addingSiteText.split('.')
    if (domainPortions.length <= 1) {
      // No dots, invalid
      return {
        type: 'is-danger',
        message: 'Don\'t enter the protocol or path like "http://example.com/thing". Just enter the "example.com" part.'
      }
    }
    for (let i = 0; i < domainPortions.length; i++) {
      const err = domainPortionInvalid(domainPortions[i])
      if (err.type) {
        return err
      }
    }
    // Nothing wrong
    return {}
  }

  /**
   * If site is valid, finish adding it.
   */
  doneAddingSite () {
    if (this.siteNameError.type || this.disabled) {
      return
    }
    const done = () => {
      // Add to sites
      const newVal = this.getClonedValue()
      newVal.unshift(this.addingSiteText)
      this.addingSite = false
      this.checkingSite = false
      this.$emit('input', newVal)
    }
    if (!this.blocks) {
      done()
      return
    }
    // Check whether adding this is irrelevant
    const blocks = this.blocks
    this.checkingSite = true
    this.domainsPublicSearch.handle(this.addingSiteText).then(result => {
      let categoryIDs: number[]
      if (result.spec.exactMatch.categoryIDs && result.spec.exactMatch.categoryIDs.length) {
        // We have an exact match, which overrides any superdomains anyway
        categoryIDs = result.spec.exactMatch.categoryIDs
      } else if (result.spec.superDomains) {
        // No exact match, but find the most specific supercategory
        const sortedSuper = result.spec.superDomains.sort((domain1, domain2) => domain2.domain.length - domain1.domain.length)
        for (let i = 0; i < sortedSuper.length; i++) {
          if (sortedSuper[i].categoryIDs && sortedSuper[i].includeSubdomains) {
            categoryIDs = sortedSuper[i].categoryIDs
            break
          }
        }
      }
      const implementingCategories = blocks.filter(category => categoryIDs.includes(category.id))
      let dialogMessage = ''
      if (this.isBlocklist) {
        if (implementingCategories.length > 0) {
          if (implementingCategories.some(category => category.action === 0)) {
            // Is already blocked
            dialogMessage = this.addingSiteText + ' is already blocked by ' + (implementingCategories.length > 1 ? 'categories ' : 'category ')
            implementingCategories.forEach((category, i) => {
              dialogMessage += category.displayName
              if (i < implementingCategories.length - 1) {
                dialogMessage += ', '
              }
            })
          } else {
            dialogMessage = this.addingSiteText + ' can be blocked by blocking the ' + (implementingCategories.length > 1 ? 'categories ' : 'category ')
            implementingCategories.forEach((category, i) => {
              dialogMessage += category.displayName
              if (i < implementingCategories.length - 1) {
                dialogMessage += ' or '
              }
            })
          }
        }
      }
      if (dialogMessage === '') {
        done()
      } else {
        this.$buefy.dialog.confirm({
          message: dialogMessage,
          type: 'is-warning',
          confirmText: 'Add anyway',
          onConfirm: () => {
            done()
          },
          onCancel: () => {
            this.checkingSite = false
            this.addingSite = false
          }
        })
      }
    }).catch(() => {
      done()
    })
  }

  /**
   * Fired when a key is down when adding a new site.
   * If it's enter, add the site.
   */
  siteAddKeyDown (event: KeyboardEvent) {
    if (event.keyCode === 13) {
      this.doneAddingSite()
    }
  }
}
</script>

<style scoped>
.custom-site-container {
}

.custom-site-input {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.domain-entry-container {
  display: flex;
  margin-bottom: -15px;
}
</style>
