<template>
  <div class="is-flex is-align-items-center">
    <b-icon :icon="icon" :type="iconType" :size="mobile ? 'is-small' : undefined" class="mr-2"/>
    <skeleton-text v-if="status === 'LOADING'"/>
    <span v-else>
      {{ text }}
    </span>
    <!-- Button depending on state -->
    <div style="flex-grow: 1" v-if="mobile"/>
    <b-button
      :class="{'ml-3': !mobile}"
      v-if="buttonText !== undefined"
      @click="click"
      rounded
      :size="mobile ? 'is-small' : undefined"
    >
      {{ buttonText }}
    </b-button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import SkeletonText from '@/components/common/skeleton-text.vue'
import GetPublicKey from '@/requests/notifications/get-public-key'
import PostSubscription from '@/requests/notifications/post-subscription'
import { urlBase64ToUint8Array } from '@/helpers/functions'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {
    SkeletonText
  }
})
export default class EnableNotifications extends Vue {
  @Prop() readonly mobile: boolean | undefined

  /**
   * The current state of notification setup.
   */
  status: 'LOADING' | 'DISABLED' | 'DISABLED_PERM' | 'ENABLED' | 'UNSUPPORTED' = 'LOADING'

  /**
   * Requests.
   */
  getPublicKey = new GetPublicKey()
  postSubscription = new PostSubscription()

  mounted () {
    // Check compatibility
    if ('serviceWorker' in navigator && 'Notification' in window) {
      // Check if notifications are enabled
      if (Notification.permission === 'granted') {
        navigator.serviceWorker.ready.then(registration => {
          registration.pushManager.getSubscription().then(sub => {
            if (sub) {
              this.status = 'ENABLED'
            } else {
              this.status = 'DISABLED'
            }
          })
        })
      } else if (Notification.permission === 'default') {
        this.status = 'DISABLED'
      } else {
        this.status = 'DISABLED_PERM'
      }
    } else {
      this.status = 'UNSUPPORTED'
    }
  }

  /**
   * @returns The icon to display.
   */
  get icon (): string {
    switch (this.status) {
      case 'LOADING': return 'bell'
      case 'DISABLED': return 'bell-off'
      case 'DISABLED_PERM': return 'bell-off'
      case 'ENABLED': return 'bell'
      case 'UNSUPPORTED': return 'bell-off'
      default: return ''
    }
  }

  /**
   * @returns The buefy type to make the icon.
   */
  get iconType (): string | undefined {
    switch (this.status) {
      case 'ENABLED': return 'is-primary'
      default: return ''
    }
  }

  /**
   * @returns The text to display.
   */
  get text (): string {
    switch (this.status) {
      case 'LOADING': return ''
      case 'DISABLED': return 'Notifications off'
      case 'DISABLED_PERM': return 'Notifications disabled. Use your browser site settings to enable.'
      case 'ENABLED': return 'Notifications enabled'
      case 'UNSUPPORTED': return 'Notifications not supported. Update or change browser.'
      default: return ''
    }
  }

  /**
   * @returns The text to put in the button, or undefined to hide the button.
   */
  get buttonText (): string | undefined {
    switch (this.status) {
      case 'DISABLED': return 'Enable'
    }
  }

  /**
   * Run when button clicked.
   */
  click () {
    if (this.status === 'DISABLED') {
      Notification.requestPermission().then(permission => {
        if (permission === 'granted') {
          this.status = 'LOADING'
          // Permission granted, enable on service worker
          this.getPublicKey.handle().then(key => {
            // Get the worker
            navigator.serviceWorker.ready.then(registration => {
              // Create new subscription
              registration.pushManager.subscribe({
                userVisibleOnly: true,
                applicationServerKey: urlBase64ToUint8Array(key)
              }).then(sub => {
                // Give to the API
                this.postSubscription.handle(sub).then(() => {
                  this.status = 'ENABLED'
                })
              })
            })
          })
        } else if (permission === 'denied') {
          // Permission denied, user will need to edit browser settings to enable
          this.status = 'DISABLED_PERM'
        }
        // User closed dialog, do nothing
      })
    }
  }
}
</script>
