<template>
  <raised-item>
    <div class="v-center">
      <b-icon
        icon="shield-link-variant-outline"
        :class="{
          'has-text-primary': !loading && matches,
          'has-text-danger': !loading && !matches
        }"
      />
      <skeleton-text v-if="loading"></skeleton-text>
      <span v-else-if="matches">
        IP Synced. IPs can change regularly, please check back in a while.
      </span>
      <span v-else-if="errorState === 'CONFLICT'">
        IP Conflict
      </span>
      <span v-else-if="errorState === 'MISC'">
        Error During IP Sync
      </span>
      <span v-else>
        This device's current IP <strong>{{ ip }}</strong> needs to be synced.
      </span>
      <!-- More info button if there's an IP conflict -->
      <b-button
        v-if="errorState === 'CONFLICT'"
        outline
        rounded
        @click="showConflictInfo = true"
      >
        <b-icon
          icon="information-outline"
          size="is-small"
          class="mr-1"
        ></b-icon>
        More info
      </b-button>
      <!-- Sync button if we aren't loading and we need to sync -->
      <b-button
        v-if="!loading && !matches"
        outline
        rounded
        @click="sync()"
        class="ml-3"
      >
        <b-icon
          icon="sync"
          size="is-small"
          class="mr-1"
        ></b-icon>
        Sync
      </b-button>
      <!-- Help in case of IP conflict -->
      <b-modal
        v-if="showConflictInfo"
        :active="true"
        @update:active="showConflictInfo = false"
      >
        <div class="has-background-light px-5 py-5">
          An IP Conflict means you have the same IP Address as another user. When this happens,
          usage data and custom blocked sites/categories become mixed up with the other user.
          They may see your usage data, and you will inherit their blocked categories/sites
          settings.
          <br>
          <br>
          Some things that may cause this issue:
          <ul>
            <li>
              <strong>A VPN.</strong> This error may occur if you are using
              the same VPN server as another user.
            </li>
            <li>
              <strong>Public WiFi.</strong> If another user on public WiFi is using
              Safe Surfer, you will have the same public IP Address.
            </li>
          </ul>
        </div>
      </b-modal>
    </div>
  </raised-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import RaisedItem from '@/components/common/raised-item.vue'
import SkeletonText from '@/components/common/skeleton-text.vue'
import { EMAIL_STORAGE_NAME } from '@/helpers/constants'
import GetAccountIP from '@/requests/account/get-account-ip'
import PostAccountIP from '@/requests/account/post-account-ip'
import GetIP from '@/requests/account/get-ip'

type ErrorState = 'CONFLICT' | 'MISC'

@Component({
  components: {
    RaisedItem,
    SkeletonText
  }
})
export default class IpLink extends Vue {
  /**
   * The on-record IP of the user.
   */
  accountIP: string | null = null
  /**
   * The current IP of the user.
   */
  ip: string | null = null
  /**
   * Which error is present, if any.
   */
  errorState: ErrorState | null = null
  /**
   * Whether to show info about IP conflicts.
   */
  showConflictInfo = false

  /**
   * Requests.
   */
  getIP = new GetIP()
  getAccountIP = new GetAccountIP()
  postAccountIP = new PostAccountIP()

  mounted () {
    this.getAccountIP.handle().then(ip => {
      this.accountIP = ip
    })
    this.getIP.handle().then(ip => {
      this.ip = ip
    })
  }

  /**
   * @returns Whether the component is loading.
   */
  get loading (): boolean {
    return this.accountIP === null || this.ip === null
  }

  /**
   * @returns Whether the IPs are synced.
   */
  get matches (): boolean {
    return this.accountIP === this.ip
  }

  /**
   * Sync the current IP with the user's account.
   */
  sync (): void {
    if (this.ip) {
      this.postAccountIP.handle(this.ip).then(() => {
        this.accountIP = this.ip
      }).catch(code => {
        if (code === 409) {
          this.errorState = 'CONFLICT'
        } else {
          this.errorState = 'MISC'
        }
      })
    }
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
