<template>
  <home-item
    title="My device"
    :loading="loading"
    v-if="show"
  >
    <div v-if="!loading">
      <!-- If we are on a lifeguard network, link to its settings. -->
      <my-lifeguard v-if="isOnLifeguard"/>
      <!-- If not on lifeguard but are encrypted, show so -->
      <!-- Show notification status -->
      <self-service-page :fromHome="true"/>
    </div>
  </home-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import HomeItem from '@/components/account-home/home-item.vue'
import RaisedItem from '@/components/common/raised-item.vue'
import GetOnLifeguard from '@/requests/account/get-on-lifeguard'
import GetRouter from '@/requests/proto/get-router'
import EnableNotifications from '@/components/account-home/enable-notifications.vue'
import SelfServicePage from '@/components/home/self-service-page.vue'

@Component({
  components: {
    HomeItem,
    RaisedItem,
    MyLifeguard: () => import('@/components/account-home/my-lifeguard.vue'),
    IpLink: () => import('@/components/account-home/ip-link.vue'),
    EnableNotifications,
    SelfServicePage
  }
})
export default class MyDeviceItem extends Vue {
  /**
   * Whether we are loading.
   */
  loading = true
  /**
   * Whether we are on a lifeguard network.
   */
  onLifeguard = false
  /**
   * Whether each protocol type resolved.
   */
  routerResolved = false
  show = true

  /**
   * Requests.
   */
  getOnLifeguard = new GetOnLifeguard()
  getRouter = new GetRouter()

  mounted () {
    // Get data
    Promise.all([
      this.getOnLifeguard.handle()
        .then(onLifeguard => this.onLifeguard = onLifeguard,
          () => { return }),
      this.getRouter.handle().then(() => {
        this.routerResolved = true
      }, () => { return })
    ]).then(() => {
      this.loading = false
      this.$emit('done')
    }).then(() => {
      if (!this.onLifeguard && !this.routerResolved && !localStorage.getItem('my-ss-self-service-page')) {
        this.show = false
      }
    })
  }

  /**
   * @returns Whether the user is on a lifeguard device, either new or old.
   */
  get isOnLifeguard (): boolean {
    return this.routerResolved || this.onLifeguard
  }
}
</script>

<style scoped>
.help-inner {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
