<template>
  <home-item
    title="Views & blocks"
    class="usage-item"
    :loading="loading"
  >
      <p v-if="placeholder" class="has-text-grey pl-2">
        Nothing to show yet.
      </p>
      <canvas v-else ref="canvas"/>
      <action
        class="pl-2 pt-2"
        text="More info"
        v-if="isPro"
        :route="{
          name: 'Usage',
          query: {
            'section': 'activity'
          }
        }"
      />
      <div v-else class="pt-2">
        <router-link
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment'
            } 
          }"
        >
          Become a Pro Surfer 
        </router-link>
        to see more detail.
      </div>
  </home-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import HomeItem from '@/components/account-home/home-item.vue'
import { BarController, BarElement, CategoryScale, Chart, LinearScale } from 'chart.js'
import Action from '@/components/common/action.vue'
import dayjs from 'dayjs'
import GetActivity, { Activity } from '@/requests/usage-v2/get-activity'
import { getTimezone } from '@/helpers/functions'
import { Prop } from 'vue-property-decorator'

Chart.register(BarController, CategoryScale, BarElement, LinearScale)

@Component({
  components: {
    HomeItem,
    Action
  }
})
export default class UsageItem extends Vue {
  @Prop() readonly isPro: boolean | undefined

  /**
   * Whether we are loading.
   */
  loading = true
  /**
   * Whether to show the placeholder.
   */
  placeholder = false
  activity: Activity | null = null

  /**
   * Requests.
   */
  getActivity = new GetActivity()

  mounted () {
    // Get the requests
    const timestamp = dayjs().subtract(6, 'd').startOf('day').unix()
    this.getActivity.handle({
      'start-timestamp': timestamp,
      'tz': getTimezone()
    }).then(data => {
      this.loading = false
      this.activity = data.spec
      if (!data.spec.views || !data.spec.views.length || !data.spec.blocks || !data.spec.blocks.length) {
        this.placeholder = true
        this.$emit('done')
        return
      }
      const canvasEl = this.$refs.canvas as HTMLCanvasElement
      if (!canvasEl) {
        return
      }
      const ctx = canvasEl.getContext('2d') as CanvasRenderingContext2D
      const chart = new Chart(ctx, {
        type: 'bar',
        data: {
          datasets: [
            {
              data: data.spec.views,
              label: 'Sites surfed',
              backgroundColor: '#1976d2'
            },
            {
              data: data.spec.blocks,
              label: 'Sites blocked',
              backgroundColor: '#e53935'
            }
          ],
          // Use dayjs to generate a nice time label
          // for the last 7 days.
          labels: data.spec.blocks
            .map((_, idx) => dayjs().subtract((7 - idx - 1), 'd'))
            .map(time => time.format('ddd'))
        },
        options: {
          responsive: true
        }
      })
    }).finally(() => {
      this.$emit('done')
    })
  }
}
</script>

<style scoped>
</style>
