<template>
  <div class="is-flex is-align-items-center">
    <b-icon
      class="p-3 mr-2 has-text-danger"
      :icon="icon"
    />
    <div class="px-2">
      <span v-for="section in alert.display" :key="section.text">
        <span v-if="section.type === 'TEXT'">
          {{ section.text }}
        </span>
        <span v-else-if="section.type === 'LIGHT_TEXT'" class="has-text-grey">
          {{ section.text }}
        </span>
        <strong v-else-if="section.type === 'BOLD_TEXT'">
          {{ section.text }}
        </strong>
        <component
          v-else-if="section.type === 'DEVICE_LINK'"
          :is="isPro ? 'router-link' : 'span'"
          :to="{
            name: 'Device',
            query: {
              'device-id': alert.deviceId,
              mac: alert.deviceMac,
            },
          }"
          :class="{
            'has-text-primary': !isPro
          }"
        >
          {{ section.text }}
        </component>
        <component
          v-else-if="section.type === 'MORE_INFO_LINK'"
          :is="isPro ? 'router-link' : 'span'"
          :to="getMoreInfoLink(alert)"
          :class="{
            'has-text-primary': !isPro
          }"
        >
          {{ section.text }}
        </component>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Alert } from "@/requests/alerts-v2/get-alerts";
import { AlertsFilterSettings } from "@/requests/alerts-v2/get-alerts-with-filter";
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { RawLocation } from "vue-router";

@Component
export default class AlertDisplay extends Vue {
  @Prop() readonly isPro: boolean | undefined;
  @Prop() readonly alert: Alert | undefined;
  @Prop() readonly linkToExpandedAlerts: boolean | undefined;

  /**
   * @param alert The alert to get more information about.
   * @returns The link to get more information about an alert.
   */
  getMoreInfoLink (alert: Alert): RawLocation | undefined {
    if (this.linkToExpandedAlerts && alert.summarized && alert.summarized.length) {
      return {
        name: 'Alerts',
        query: {
          'expand': alert.deviceId,
          'filter': JSON.stringify({
            allDevices: false,
            deviceId: alert.deviceId,
          } as AlertsFilterSettings)
        }
      }
    }
    switch (alert.origin) {
      case 'REQUEST':
        return {
          name: 'Usage',
          query: {
            'device-id': alert.deviceId,
            'mac': alert.deviceMac,
            'section': 'blocked'
          }
        }
      case 'SCREENSHOT':
        return {
          name: 'ScreencastEvents',
          query: {
            'id': alert.data[0]
          }
        }
      case 'DEVICE_STATUS':
        // Not implemented
        return
      case 'EVASION_ATTEMPT':
        // Not implemented
        return
      case 'VPN_ATTEMPT':
        return {
          name: 'VPNAlerts',
          query: {
            'id': alert.deviceId,
            'mac': alert.deviceMac
          }
        }
      case 'INSTALLED_APP':
        return {
          name: 'BlockCategories',
          query: {
            'device-id': alert.deviceId
          },
          hash: '#apps'
        }
      case 'LOGGED_NOTIFICATION':
        if (alert.data[0]) {
          return {
            name: 'LoggedNotification',
            query: {
              'id': alert.data[0]
            }
          }
        } else {
          return {
            name: 'NotificationLog',
            query: {
              'device-id': alert.deviceId
            }
          }
        }
      case 'NOACTIVITY':
        // Not implemented
        return
      case 'SECURITY_ALERTS':
        return {
          name: 'SecurityAlerts',
          query: {
            'device-id': alert.deviceId,
            'mac': alert.deviceMac
          }
        }
    }
  }

  /**
   * @returns The icon for this alert.
   */
  get icon (): string {
    if (!this.alert) {
      return ''
    }
    switch(this.alert.origin) {
      case 'REQUEST': return 'web'
      case 'SCREENSHOT': return 'monitor-eye'
      case 'EVASION_ATTEMPT': return 'shield-off'
      case 'DEVICE_STATUS': return 'shield-off'
      case 'VPN_ATTEMPT': return 'vpn'
      case 'INSTALLED_APP': return 'android'
      case 'LOGGED_NOTIFICATION': return 'bell'
      case 'NOACTIVITY': return 'monitor-off'
      case 'SECURITY_ALERTS': return 'bug'
      default: return ''
    }
  }
}
</script>
