<template>
  <div>
    <b-message
      type="is-info"
    >
      If enabled, Safe Surfer may send you product updates and/or marketing. Important emails (such as email verification, password resets, and initial instructions)
      will be sent regardless.
    </b-message>
    <b-checkbox v-model="consent">Send me product updates/marketing</b-checkbox><br/>
    <b-button
      type="is-primary"
      class="mt-3"
      :loading="saving"
      @click="save"
    >
      Save
    </b-button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import GetCommunicationsConsent from '@/requests/user-v2/get-communication-consent'
import PutCommunicationsConsent from '@/requests/user-v2/put-communications-consent'

@Component
export default class Communication extends Vue {
  /**
   * Whether we are loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * The current value for consent.
   */
  consent: boolean | null = null
  /**
   * Whether we are saving the choice.
   */
  saving = false

  /**
   * Requests.
   */
  getCommunicationsConsent = new GetCommunicationsConsent()
  putCommunicationsConsent = new PutCommunicationsConsent()

  mounted () {
    this.$emit('update:loading', true)
    this.getCommunicationsConsent.handle().then(consent => {
      if (consent === null) {
        this.consent = true
      } else {
        this.consent = consent.spec
      }
      this.$emit('update:loading', false)
    })
  }

  save () {
    this.saving = true
    this.putCommunicationsConsent.handle(this.consent).then(() => {
      this.saving = false
      this.$buefy.toast.open({
        type: 'is-success',
        position: 'is-bottom',
        duration: 2000,
        message: 'Saved'
      })
    })
  }
}
</script>
