<template>
  <div v-if="subscription">
    <b-message
      v-if="referer"
    >
      You were referred by {{ referer }}. They may get a kickback for any payments.
    </b-message>
    <chargebee-payment
      v-if="subscription.chargebeeSubscription"
      :subscription.sync="subscription"
      :mobile="mobile"
      @update:subStatus="$emit('update:subStatus', $event)"
      :loading="loading"
      @update:loading="$emit('update:loading', $event)"
    >
      <b-message
        v-if="showInvoiceAdjustmentWarning"
        type="is-warning"  
        slot="below-invoice"
        class="mt-5"
      >
        <p class="is-size-7">
          Next invoice will be updated soon to reflect your recent device purchase.
        </p>
      </b-message>
    </chargebee-payment>
    <google-play-payment
      v-else-if="subscription.googlePlaySubscription"
      :subscription.sync="subscription"
      @update:subStatus="$emit('update:subStatus', $event)"
      :loading="loading"
      @update:loading="$emit('update:loading', $event)"
    />
    <b-message
      v-else-if="subscription.status === 'INACTIVE_UNKNOWN'"
      type="is-danger"
    >
      We encountered an error getting your subscription. Please <a href="https://safesurfer.io/contact" target="blank">contact support</a>
      or try again later.
    </b-message>
    <b-message
      v-else-if="subscription.status === 'COURTESY'"
      type="is-success"
      has-icon
      :icon="account-heart"
    >
      Your Safe Surfer account is in Courtesy mode. All features are enabled.
    </b-message>
    <div
      v-else-if="subscription.status === 'MISSING'"
    >
      <b-message
        type="is-warning"
        title="Basic Surfer"
        :closable="false"
      >
        Start a free trial to get access to Pro Surfer features.
      </b-message>
      <b-button
        label="Choose plan"
        icon-left="play"
        tag="router-link"
        :to="{
          name: 'CreateAccount',
          query: {
            'signed-in': '1',
          }
        }"
      />
    </div>
    <div v-if="subscription.status !== 'MISSING' && subscription.canSubscribeChargebee && subscription.chargebeeSubscription === null">
      <b-message
        class="mt-4"
        icon="swap-horizontal"
        :has-icon="true"
        type="is-primary"
      >
        You can switch to a different plan to:
        <ul>
          <li>
            Change to/from annual billing
          </li>
          <li>
            Change to/from a business/school plan
          </li>
          <li>
            Switch away from a Google Play Subscription
          </li>
        </ul>
        <br/>
        <b-button
          type="is-primary"
          tag="router-link"
          label="View Other Plans"
          icon-left="play"
          :to="{
            name: 'CreateAccount',
            query: {
              'signed-in': '1',
              'resubscribe': '1'
            }
          }"
        />
      </b-message>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import ChargebeePayment from '@/components/account-settings/chargebee-payment.vue'
import GooglePlayPayment from '@/components/account-settings/google-play-payment.vue'
import GetSubscription, { Subscription } from '@/requests/user-v2/get-subscription'
import GetReferrer from '@/requests/account/get-referrer'
import GetReferrerName from '@/requests/referrals/get-referrer-name'
import GetDevices from '@/requests/devices/get-devices'

@Component({
  components: {
    ChargebeePayment,
    GooglePlayPayment
  }
})
export default class Payment extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined

  subscription: Subscription | null = null
  referer = ''
  showInvoiceAdjustmentWarning = false

  getSubscription = new GetSubscription()
  getReferrer = new GetReferrer()
  getReferrerName = new GetReferrerName()
  getDevices = new GetDevices()

  mounted () {
    this.$emit('update:loading', true)
    let hasFreePeriodDevices = false
    Promise.all([
      this.getSubscription.handle({ refresh: true }).then(sub => {
        this.$emit('update:subStatus', sub.spec.status)
        // Only show the Kid-Safe Devices addons if they are actually present on the subscription, since these should
        // be managed from the Kid-Safe Device menus, not here.
        if (sub.spec && sub.spec.chargebeePlan && sub.spec.chargebeePlan.addons) {
          sub.spec.chargebeePlan.addons = sub.spec.chargebeePlan.addons.filter(addon =>
            !addon.id.startsWith('kid-safe-phone') && !addon.id.startsWith('ksp')
          )
        }
        this.subscription = sub.spec
      }),
      this.getReferrer.handle().then(referrer => {
        this.referer = referrer.spec
      }),
      this.getDevices.handle().then(devices => {
        if (devices.mobile && devices.mobile.some(device => {
          if (device.metadata && device.metadata['knox-serial'] !== undefined && device.metadata['knox-profile'] && device.metadata['knox-free-period-end']) {
            return true
          } else {
            return false
          }
        })) {
          hasFreePeriodDevices = true
        }
      })
    ]).then(() => {
      this.$emit('update:loading', false)
      if (hasFreePeriodDevices && this.subscription && this.subscription.chargebeeSubscription &&
        this.subscription.chargebeePlan.id.includes('promo') &&
        (!this.subscription.chargebeeSubscription.addons ||
        !this.subscription.chargebeeSubscription.addons.some(addon => addon.id.includes('ksp') || addon.id.includes('kid-safe-phone')))) {
        this.showInvoiceAdjustmentWarning = true
      }
    })
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
