<template>
  <div v-if="!loading">
    <b-message>
      By default, Safe Surfer securely logs the internet requests of protected devices to provide you with usage data. For more information, please see our <a href="https://safesurfer.io/privacy/" target="blank">Privacy Policy</a>.
    </b-message>
    <div class="block">
      <b-radio
        class="mb-2"
        v-model="logging"
        name="name"
        :native-value="2"
      >
        Full history (default)
      </b-radio>
      <br/>
      <b-radio
        class="mb-2"
        v-model="logging"
        name="name"
        :native-value="1"
      >
        Blocked sites and viewed categories only
      </b-radio>
      <br/>
      <b-radio
        class="mb-2"
        v-model="logging"
        name="name"
        :native-value="0"
      >
        No logging (least useful)
      </b-radio>
    </div>
    <b-button
      type="is-primary"
      @click="save"
      :loading="saving"
    >
      Save
    </b-button>
    <br>
    <br>
    <div class="is-flex is-align-items-center px-2 py-4">
      <b-icon
        icon="history"
      />
      <div class="is-family-secondary is-size-5 ml-3">
        Manage browsing history
      </div>
    </div>
    <b-button
      tag="router-link"
      :to="{
        name: 'ClearHistory'
      }"
    >
    Clear browsing history
    </b-button>
  </div>
</template>

<script lang="ts">
import GetLoggingEnabled from '@/requests/user-v2/get-logging-enabled'
import PutLoggingEnabled from '@/requests/user-v2/put-logging-enabled'
import GetFullHistoryEnabled from '@/requests/user-v2/get-fullhistory-enabled'
import PutFullHistoryEnabled from '@/requests/user-v2/put-fullhistory-enabled'
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class Privacy extends Vue {
  /**
   * 0, 1, or 2 for the logging level.
   */
  logging = 2
  /**
   * Whether we are loading data.
   */
  loading = true
  /**
   * Whether we are saving settings.
   */
  saving = false

  /**
   * Requests.
   */
  getLoggingEnabled = new GetLoggingEnabled()
  putLoggingEnabled = new PutLoggingEnabled()
  getFullHistoryEnabled = new GetFullHistoryEnabled()
  putFullHistoryEnabled = new PutFullHistoryEnabled()

  mounted () {
    this.load()
  }

  load () {
    this.$emit('update:loading', true)
    this.loading = true
    let loggingEnabled = false
    let fullHistoryEnabled = false
    Promise.all([
      this.getLoggingEnabled.handle().then(enabled => {
        loggingEnabled = enabled.spec
      }),
      this.getFullHistoryEnabled.handle().then(enabled => {
        fullHistoryEnabled = enabled.spec
      })
    ]).then(() => {
      // Have both settings
      if (!loggingEnabled) {
        this.logging = 0
      } else if (!fullHistoryEnabled) {
        this.logging = 1
      } else {
        this.logging = 2
      }
      this.$emit('update:loading', false)
      this.loading = false
    })
  }

  /**
   * Save the settings.
   */
  save () {
    this.saving = true
    const finishSave = () => {
      let loggingEnabled = true
      let fullHistoryEnabled = true
      if (this.logging === 0) {
        loggingEnabled = false
        fullHistoryEnabled = false
      } else if (this.logging === 1) {
        loggingEnabled = true
        fullHistoryEnabled = false
      } else {
        loggingEnabled = true
        fullHistoryEnabled = true
      }
      Promise.all([
        this.putLoggingEnabled.handle(loggingEnabled),
        this.putFullHistoryEnabled.handle(fullHistoryEnabled)
      ]).then(() => {
        this.saving = false
        this.$buefy.toast.open({
          message: 'Saved',
          type: 'is-success',
          position: 'is-bottom'
        })
      })
    }
    if (this.logging === 0) {
      // Show warning about usage data first.
      this.$buefy.dialog.confirm({
        message: 'Turning off logging will disable all internet usage data on this account, including alerts. Existing data won\'t be erased, and other usage data like screencasts will still be available. Are you sure you wish to continue?',
        type: 'is-warning',
        onConfirm: finishSave,
        onCancel: () => {
          this.saving = false
          this.logging = 2
        }
      })
    } else {
      finishSave()
    }
  }
}
</script>
