<template>
	<div v-if="!loading">
    <div class="mb-6">
      <div class="is-flex is-align-items-center px-2 py-4">
        <b-icon
          icon="form-textbox-password"
        />
        <div class="is-family-secondary is-size-5 ml-3">
          Update password
        </div>
      </div>
      <b-message class="mt-4" type="is-warning">
				Updating your password will sign out any devices currently connected. To retain full functionality, please sign in to the app on protected devices afterwards.
			</b-message>
      <form name="account-settings-security-curr-password" autocomplete="on">
        <b-field label="Current password">
          <b-input
            type="password"
            v-model="oldPass"
            password-reveal
            autocomplete="current-password"
          />
        </b-field>
        <!-- Prevent implicit submission of the form -->
        <button type="submit" disabled style="display: none" aria-hidden="true"/>
      </form>
			<password-strength-input
				label1="New password"
				label2="Confirm new password"
				@input-enter="savePassword"
				@input="newPass = $event"
				@valid="passValid = $event"
				class="mb-4"
			/>
			<b-button
				type="is-primary"
				:disabled="!passValid"
				:loading="savingPassword"
				@click="savePassword"
			>
				Save
			</b-button>
		</div>
    <div class="mb-6">
      <div class="is-flex is-align-items-center px-2 py-4">
        <b-icon
          icon="two-factor-authentication"
        />
        <div class="is-family-secondary is-size-5 ml-3">
          Two-factor authentication
        </div>
      </div>
      <div v-if="twofactorStatus === 0">
        <b-message
          type="is-primary"
        >
          Use an authenticator / password manager app to sign in after entering your account password.
          <ul>
            <li>
              If someone guesses your Safe Surfer account password, they still won't be able to access to your account.
            </li>
            <li>
              Two-factor authentication works even if your mobile device is offline.
            </li>
          </ul>
        </b-message>
        <b-button
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'TwofactorEnrolment'
          }"
        >
          Enable now
        </b-button>
      </div>
      <div v-else-if="twofactorStatus === 1">
        <b-message
          type="is-primary"
        >
          Two-factor authentication set up is currently in progress.
        </b-message>
        <b-button
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'TwofactorEnrolment'
          }"
        >
          Resume
        </b-button>
      </div>
      <div v-else>
        <b-message
          type="is-primary"
        >
          Two-factor authentication is enabled.
        </b-message>
        <b-field>
        <p>
          <b-button
            label="View recovery codes"
            @click="showingRecoveryCodes = true"
            style="margin-right: 20px;"
          />
          <b-button
            label="Disable 2FA"
            type="is-danger"
            @click="disable2FA"
          />
        </p>
        </b-field>
      </div>
    </div>
		<div class="mb-6">
      <div class="section-header is-flex is-align-items-center px-2 py-4">
        <b-icon
          
          icon="logout"
        />
        <div class="is-family-secondary is-size-5 ml-3">
          Sign out
        </div>
      </div>
			<b-message
				type="is-warning"
			>
				Sign out of any device connected to your account. This includes devices protected with the Safe Surfer app, along with devices logged in to the Safe Surfer dashboard. To retain full functionality, please sign in to the app on protected devices afterwards.
			</b-message>
			<b-button
				type="is-primary"
				@click="signout"
				:loading="signingOut"
			>
				Sign out
			</b-button>
		</div>
    <b-modal
      v-if="showingRecoveryCodes"
      :active="true"
      @update:active="showingRecoveryCodes = false"
    >
      <div class="card p-3">
        <recovery-codes :codes="recoveryCodes"/>
        <b-button
          class="mt-3"
          label="Regenerate codes"
          icon-left="refresh"
          type="is-danger"
          @click="regenerateRecoveryCodes"
        />
      </div>
    </b-modal>
	</div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PostPassword from '@/requests/account/post-password'
import { EMAIL_STORAGE_NAME, TOKEN_STORAGE_NAME } from '@/helpers/constants'
import Collapse from '@/components/common/collapse.vue'
import PostSignOutAll from '@/requests/account/post-sign-out-all'
import Get2FAStatus from '@/requests/user-v2/get-2fa-status'
import { Prop } from 'vue-property-decorator'
import Put2FAStatus from '@/requests/user-v2/put-2fa-status'
import Get2FARecoveryCodes from '@/requests/user-v2/get-2fa-recovery-codes'
import Post2FARecoveryCodesReset from '@/requests/user-v2/post-2fa-recovery-codes-reset'
import RecoveryCodes from '@/components/account-settings/recovery-codes.vue'

@Component({
	components: {
		Collapse,
		PasswordStrengthInput: () => import('@/components/common/password-strength-input.vue'),
    RecoveryCodes
	}
})
export default class Security extends Vue {
  @Prop() readonly loading: boolean | undefined

	/**
   * User's current password.
   */
  oldPass = ''
  /**
   * New password.
   */
  newPass = ''
  /**
   * Whether the new password is valid.
   */
  passValid = false
  /**
   * Whether we are sending the password.
   */
  savingPassword = false
	/**
   * Whether we are signing out.
   */
  signingOut = false
  /**
   * The current 2FA status.
   */
  twofactorStatus = 0
  /**
   * Whether we are currently showing the recovery codes.
   */
  showingRecoveryCodes = false
  /**
   * The 2fa recovery codes, if any.
   */
  recoveryCodes: string[] = []

	/**
   * Requests.
   */
  postPassword = new PostPassword()
	postSignOutAll = new PostSignOutAll()
  get2FAStatus = new Get2FAStatus()
  put2FAStatus = new Put2FAStatus()
  get2FARecoveryCodes = new Get2FARecoveryCodes()
  post2FARecoveryCodesReset = new Post2FARecoveryCodesReset()

  mounted () {
    this.$emit('update:loading', true)
    this.get2FAStatus.handle().then(status => {
      this.twofactorStatus = status.spec
      if (this.twofactorStatus === 2) {
        // Get the recovery codes
        this.get2FARecoveryCodes.handle().then(codes => {
          this.recoveryCodes = codes.spec
          if (this.$route.query['regenerate-codes'] === '1') {
            this.showingRecoveryCodes = true
          }
        }).then(() => {
          this.$emit('update:loading', false)  
        })
      } else {
        this.$emit('update:loading', false)
      }
    })
  }

	/**
   * Save the entered password.
   */
  savePassword () {
    // Check valid
    if (!this.passValid) {
      return
    }
    this.savingPassword = true
    const email = localStorage.getItem(EMAIL_STORAGE_NAME) as string
    this.postPassword.handle({
      email: email,
      oldPass: this.oldPass,
      password: this.newPass
    }).then(token => {
      // Store the new token (old ones are invalidated)
      localStorage.setItem(TOKEN_STORAGE_NAME, token)
      this.savingPassword = false
      this.$buefy.toast.open({
        message: 'Password changed',
        type: 'is-success',
        position: 'is-bottom'
      })
    }).catch(code => {
      if (code === 401) {
        this.$buefy.toast.open({
          message: 'Incorrect email or password',
          type: 'is-danger',
          position: 'is-bottom'
        })
      } else {
        this.$buefy.toast.open({
          message: 'Error saving password',
          type: 'is-danger',
          position: 'is-bottom'
        })
      }
      this.savingPassword = false
    })
  }

	signout () {
    this.signingOut = true
    this.postSignOutAll.handle().then(() => {
      // Redirect to login
      localStorage.removeItem(TOKEN_STORAGE_NAME)
      localStorage.removeItem(EMAIL_STORAGE_NAME)
      this.$router.push({
        name: 'Login'
      })
    })
  }

  disable2FA () {
    this.$buefy.dialog.confirm({
      message: 'Are you sure you want to disable two-factor authentication?',
      type: 'is-danger',
      confirmText: 'Disable',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.put2FAStatus.handle({
          'status': 0,
          'token': ''
        }).then(() => {
          this.twofactorStatus = 0
          this.$emit('update:loading', false)
        })
      }
    })
  }

  regenerateRecoveryCodes () {
    this.$buefy.dialog.confirm({
      message: 'Are you sure you want to regenerate the recovery codes? The existing codes will no longer work.',
      type: 'is-danger',
      confirmText: 'Regenerate',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.showingRecoveryCodes = false
        this.post2FARecoveryCodesReset.handle().then(() => {
          this.get2FARecoveryCodes.handle().then(codes => {
            this.recoveryCodes = codes.spec
            this.showingRecoveryCodes = true
            this.$emit('update:loading', false)
          })
        })
      }
    })
  }
}
</script>

<style scoped>
.section-header {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
