<template>
  <div v-if="!loading">
    <b-message
      type="is-primary"
    >
      We need your timezone to apply screentime timetables correctly and send alert emails at the
      right time. We try to grab this automatically, but if you move locations you might need to update it.
    </b-message>
    <b-select
      v-model="currTZ"
    >
      <option
        v-for="(tz, idx) in allTimezones"
        :key="idx"
        :value="idx"
      >
        {{ tz }}
      </option>
    </b-select>
    <b-button
      type="is-primary"
      @click="save"
      :loading="saving"
      class="mt-3"
    >
      Save
    </b-button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import timezones from '@/helpers/timezones'
import GetTimezone from "@/requests/user-v2/get-timezone";
import PutTimezone from "@/requests/user-v2/put-timezone";
import { Prop } from "vue-property-decorator";

@Component
export default class Timezone extends Vue {
  /**
   * Whether we are loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Index of the current timezone.
   */
  currTZ = 0
  /**
   * Whether we are currently saving.
   */
  saving = false

  /**
   * Requests.
   */
  getTimezone = new GetTimezone()
  putTimezone = new PutTimezone()

  mounted () {
    this.$emit('update:loading', true)
    this.getTimezone.handle().then(tz => {
      this.currTZ = this.allTimezones.indexOf(tz.spec)
      this.$emit('update:loading', false)
    })
  }

  save () {
    this.saving = true
    this.putTimezone.handle(this.allTimezones[this.currTZ]).then(() => {
      this.saving = false
      this.$buefy.toast.open({
        message: 'Timezone Saved',
        type: 'is-success',
        position: 'is-bottom',
        duration: 2000
      })
    })
  }

  /**
   * @returns The full timezones list.
   */
  get allTimezones (): string[] {
    return timezones
  }
}
</script>
