<template>
  <div v-if="invoice">
    <div style="width: 400px" class="is-hidden-touch"/>
    <div style="width: 300px"/>
      <transition-group name="list" tag="div">
        <invoice-summary-item
          v-for="item in items"
          :key="item.key"
          :item="item"
        />
      </transition-group>
    <div v-if="extraLine">
      <invoice-summary-item>
        <slot name="extraLine" slot="extraLine"/>
        <slot name="extraLineRight" slot="extraLineRight"/>
      </invoice-summary-item>
    </div>
  </div>
</template>

<script lang="ts">
import { Plan } from '@/requests/user-v2/get-plan'
import { InvoiceSummary } from '@/requests/user-v2/post-subscription-estimate'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import InvoiceSummaryItemComponent, { InvoiceSummaryItem } from '@/components/create-account/invoice-summary-item.vue'

@Component({
  components: {
    InvoiceSummaryItem: InvoiceSummaryItemComponent
  }
})
export default class InvoiceSummaryComponent extends Vue {
  @Prop() readonly invoice: InvoiceSummary | undefined
  @Prop() readonly isRecurring: boolean | undefined
  @Prop() readonly plan: Plan | undefined
  @Prop() readonly extraLine: boolean | undefined
  @Prop() readonly compact: boolean | undefined // show only 1 line if there is only 1 invoice item

  discountText (): string {
    if (!this.invoice || !this.plan) {
      return ''
    }
    if (this.invoice.discountValidOnce) {
      return 'One-off discount'
    }
    if (this.invoice.discountValidUntil) {
      return 'Discount valid for ' + this.invoice.discountValidUntil.period + ' ' + this.invoice.discountValidUntil.periodUnit + 's'
    }
    return 'Discount'
  }

  get items (): InvoiceSummaryItem[] {
    if (!this.plan || !this.invoice || !this.invoice.items) {
      return []
    }
    const plan = this.plan
    const discountText = this.discountText
    let items = this.invoice.items.flatMap((item, idx) => {
      const subItems: InvoiceSummaryItem[] = []
      subItems.push({
        key: item.name,
        leftText: item.name,
        rightText: plan.price.currencySymbol + item.cost.toFixed(2)
      })
      if (item.discount) {
        subItems.push({
          key: item.name + 'discount',
          leftText: discountText(),
          rightText: '-' + plan.price.currencySymbol + item.discount.toFixed(2),
          rightTextSuccess: true
        })
      }
      return subItems
    })
    if (items.length === 1 && this.compact) {
      // If there is only 1 item, just show total
      items = []
    }
    if (this.invoice.totalDiscount) {
      items.push({
        key: 'totaldiscount',
        leftText: discountText(),
        rightText: '-' + plan.price.currencySymbol + this.invoice.totalDiscount.toFixed(2) + (this.isRecurring ? ' ' + plan.price.period : ''),
        rightTextSuccess: true
      })
    }
    items.push({
      key: 'total',
      leftText: 'Total',
      rightText: plan.price.currencySymbol + this.invoice.total.toFixed(2) + ' ' + plan.price.currencyCode + (this.isRecurring ? ' ' + plan.price.period : ''),
      rightTextBold: true
    })
    return items
  }
}
</script>

<style scoped>
.list-enter-active, .list-leave-active {
  transition: all 0.5s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: scale(0);
}
.list-move {
  transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}
</style>
