<template>
  <div :class="{ 'faded': loading }">
    <div>
      <div>
        <div class="has-family-secondary is-size-5 has-text-weight-semibold has-text-centered mb-2">
          <span v-if="currStep === 1">
            Let's get started.
          </span>
          <span v-else-if="currStep === 2">
            What would you like to block?
          </span>
          <span v-else-if="currStep === 3">
            Keep yourself accountable
          </span>
        </div>
        <div class="has-family-secondary is-size-6 has-text-grey has-text-centered">
          <span v-if="currStep === 1">
            Select your situation and tailor your online protection experience.
          </span>
          <span v-else-if="currStep === 2">
            You can later edit content categories for individual devices.
          </span>
          <span v-else-if="currStep === 3">
            Add the email address of a trusted accountability partner (or people). They will
            receive reports of your internet activity, but won't be able to log in to your account.
          </span>
        </div>
        <transition-group name="slide-down">
          <!-- Initial step, what type of user -->
          <div
            :class="{'settings-step': !mobile}"
            v-if="!noStepOne && ((!mobile && currStep >= 1) || (mobile && currStep == 1))"
            :key="1"
          >
            <div
              class="category-block mr-4 mt-4 mb-2"
              :class="{'category-block-selected': userType === 'family'}"
              @click="$emit('update:userType', 'family'); currStep = 2;"
            >
              <div
                class="category pl-4"
                style="display: block;"
              >
                <div
                  class="category-top-row ml-1 mr-4"
                >
                  <b-icon
                    icon="home-heart"
                    class="has-text-grey-dark"
                  />
                  <div
                    class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                  >
                    Family
                  </div>
                  <div style="flex-grow: 1"/>
                  <b-icon icon="chevron-right"/>
                </div>
                <div
                  class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                >
                  {{ USER_PROMPTS.family }}
                </div>
              </div>
            </div>
            <div
              class="category-block mr-4 mt-4 mb-2"
              :class="{'category-block-selected': userType === 'individual'}"
              @click="$emit('update:userType', 'individual'); currStep = 2;"
            >
              <div
                class="category pl-4"
                style="display: block;"
              >
                <div
                  class="category-top-row ml-1 mr-4"
                >
                  <b-icon
                    icon="human-handsup"
                    class="has-text-grey-dark"
                  />
                  <div
                    class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                  >
                    Individual
                  </div>
                  <div style="flex-grow: 1"/>
                  <b-icon icon="chevron-right"/>
                </div>
                <div
                  class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                >
                  {{ USER_PROMPTS.individual }}
                </div>
              </div>
            </div>
            <div
              class="category-block mr-4 mt-4 mb-2"
              :class="{'category-block-selected': userType === 'business'}"
              @click="$emit('update:userType', 'business'); currStep = 2;"
            >
              <div
                class="category pl-4"
                style="display: block;"
              >
                <div
                  class="category-top-row ml-1 mr-4"
                >
                  <b-icon
                    icon="domain"
                    class="has-text-grey-dark"
                  />
                  <div
                    class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                  >
                    Business
                  </div>
                  <div style="flex-grow: 1"/>
                  <b-icon icon="chevron-right"/>
                </div>
                <div
                  class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                >
                  {{ USER_PROMPTS.business }}
                </div>
              </div>
            </div>
            <div
              class="category-block mr-4 mt-4 mb-2"
              :class="{'category-block-selected': userType === 'school'}"
              @click="$emit('update:userType', 'school'); currStep = 2;"
            >
              <div
                class="category pl-4"
                style="display: block;"
              >
                <div
                  class="category-top-row ml-1 mr-4"
                >
                  <b-icon
                    icon="school"
                    class="has-text-grey-dark"
                  />
                  <div
                    class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                  >
                    School
                  </div>
                  <div style="flex-grow: 1"/>
                  <b-icon icon="chevron-right"/>
                </div>
                <div
                  class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                >
                  {{ USER_PROMPTS.school }}
                </div>
              </div>
            </div>
          </div>
          <!-- Next step, options for default blocking -->
          <div :class="{'settings-step': !mobile}" v-if="currStep === 2 && !noStepTwo" :key="2">
            <div v-if="userType === 'family'">
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('family-minimal')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="window-minimize"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Minimal
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Block adult and pornographic websites, and enforce SafeSearch filtering for various supported search engines (such as Google).
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('family-safe-surfing')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="shield-search"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Safe Surfing (Recommended)
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Minimal, along with blocking malware domains, <b-tooltip
                      @click="$event.stopPropagation()"
                      label="Drugs, Gambling, and Illegal downloads and torrents"
                    ><a>other inappropriate content</a></b-tooltip>, and various filter bypass methods.
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('family-super-safe-surfing')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="account-child"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Kids' Mode
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Safe Surfing, along with blocking <b-tooltip
                      @click="$event.stopPropagation()"
                      label="Bluesky, Mastodon, Reddit, Unsafe search engines, Vimeo, and X (Twitter)."
                    ><a>other sites</a></b-tooltip> that carry a higher than normal risk of exposure to inappropriate content.
                  </div>
                </div>
              </div>
            </div>
            <div v-else-if="userType === 'individual'">
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('individual-minimal', true)"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="window-minimize"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Minimal
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Block adult and pornographic websites (along with various filter bypass methods), and enforce SafeSearch filtering for various supported search engines (such as Google).
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('individual-clean-surfing', true)"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="shield-search"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Clean Surfing (Recommended)
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Minimal, along with blocking ads and malware domains for a cleaner online surf experience.
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('individual-porn-addiction', true)"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="close-octagon"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Porn Addiction
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Clean Surfing, along with blocking <b-tooltip
                      @click="$event.stopPropagation()"
                      label="Illegal downloads and torrents, Reddit, Unsafe search engines, Vimeo, and X (Twitter)."
                    ><a>anywhere</a></b-tooltip> you might encounter adult and pornographic content, including some legitimate sites.
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('individual-focus', true)"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="brain"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Focus
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Porn Addiction, along with blocking video game platforms, social media, and streaming services.
                  </div>
                </div>
              </div>
            </div>
            <div v-else-if="userType === 'business'">
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('business-minimal')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="window-minimize"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Minimal
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Block adult and pornographic websites, and enforce SafeSearch filtering for various supported search engines (such as Google).
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('business-safe-surfing')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="shield-search"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Safe Surfing (Recommended)
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Minimal, along with blocking malware domains, <b-tooltip
                      @click="$event.stopPropagation()"
                      label="Drugs, Gambling, and Illegal downloads and torrents"
                    ><a>other inappropriate content</a></b-tooltip>, and various filter bypass methods.
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('business-productivity')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="briefcase"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Productivity
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Safe Surfing, along with blocking social media, video game platforms, and streaming services (excluding music streaming).
                  </div>
                </div>
              </div>
            </div>
            <div v-else-if="userType === 'school'">
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('school-minimal')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="window-minimize"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Minimal
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Block adult and pornographic websites, and enforce SafeSearch filtering for various supported search engines (such as Google).
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('school-safe-surfing')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="shield-search"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Safe Surfing (Recommended)
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Minimal, along with blocking malware domains, <b-tooltip
                      @click="$event.stopPropagation()"
                      label="Drugs, Gambling, and Illegal downloads and torrents"
                    ><a>other inappropriate content</a></b-tooltip>, and various filter bypass methods.
                  </div>
                </div>
              </div>
              <div
                class="category-block mr-4 mt-4 mb-2"
                @click="applyProfileByName('school-focus')"
              >
                <div
                  class="category has-background-white pl-4"
                  style="display: block;"
                >
                  <div
                    class="category-top-row ml-1 mr-4"
                  >
                    <b-icon
                      icon="brain"
                      class="has-text-grey-dark"
                    />
                    <div
                      class="category-name is-size-6 has-text-weight-medium has-text-grey-dark py-4 pl-4"
                    >
                      Focus
                    </div>
                    <div style="flex-grow: 1"/>
                    <b-icon icon="chevron-right"/>
                  </div>
                  <div
                    class="pl-1 pr-1 pb-4 is-size-6 has-text-grey"
                  >
                    Everything in Safe Surfing, along with blocking social media, video game platforms, and streaming services (excluding music streaming).
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition-group>
      </div>
      <div class="mt-5 pl-2 pr-4 is-flex is-justify-content-center" v-if="!noStepTwo">
        <b-field>
          <p class="control">
            <b-button
              icon-left="arrow-left"
              label="Back"
              :disabled="currStep === 1 || (currStep === 2 && noStepOne)"
              @click="currStep--"
            />
          </p>
          <p class="control">
            <b-button
              v-if="currStep === 1 || currStep === 2"
              label="Skip"
              icon-right="arrow-right"
              @click="$emit('done')"
            />
            <b-button
              v-else
              label="Next"
              icon-right="arrow-right"
              :disabled="alertsInvalid"
              @click="confirmAlerts"
              type="is-primary"
            />
          </p>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { BlockingProfile, EMAIL_STORAGE_NAME, PROFILE_BUSINESS_MINIMAL, PROFILE_BUSINESS_PRODUCTIVITY, PROFILE_BUSINESS_SAFE_SURFING, PROFILE_FAMILY_CLEAN_SURFING, PROFILE_FAMILY_MINIMAL, PROFILE_FAMILY_SAFE_SURFING, PROFILE_FAMILY_SUPER_SAFE_SURFING, PROFILE_INDIVIDUAL_CLEAN_SURFING, PROFILE_INDIVIDUAL_MINIMAL, PROFILE_INDIVIDUAL_PORN_ADDICTION, PROFILE_INDIVIDUAL_FOCUS, PROFILE_SCHOOL_FOCUS, PROFILE_SCHOOL_MINIMAL, PROFILE_SCHOOL_SAFE_SURFING, UserType, USER_TYPE_PROMPTS } from '@/helpers/constants'
import GetAlertsEmails, { EmailSettings } from '@/requests/alerts-v2/get-alerts-emails'
import GetCategoriesRules, { CategoriesRules } from '@/requests/categories-v2/get-categories-rules'
import PatchCategoriesRules from '@/requests/categories-v2/patch-categories-rules'
import PutAlertsEmail from '@/requests/alerts-v2/put-alerts-email'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { applyProfile } from '@/helpers/functions'
declare let plausible: (event: string) => void

@Component
export default class SettingsSetup extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly userType: UserType | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly noStepOne: boolean | undefined
  @Prop() readonly noStepTwo: boolean | undefined
  addresses = [ this.userEmail ]
  readonly USER_PROMPTS = USER_TYPE_PROMPTS

  /**
   * @returns The signed-in user email.
   */
  get userEmail (): string {
    const email = localStorage.getItem(EMAIL_STORAGE_NAME)
    if (!email) {
      return ''
    }
    return email
  }

  /**
   * Requests.
   */
  getCategoriesRules = new GetCategoriesRules()
  patchCategoriesRules = new PatchCategoriesRules()
  getAlertsEmails = new GetAlertsEmails()
  putAlertsEmail = new PutAlertsEmail()

  /**
   * Apply a blocking profile to the current account based on its name.
   */
  applyProfileByName (name: string, accountabilityStep: boolean) {
    if (this.loading) {
      return
    }
    if (plausible) {
      plausible('settings-choice-' + name)
    }
    this.$emit('update:loading', true)
    let profile: BlockingProfile | null = null
    switch (name) {
      case 'family-minimal':
        profile = PROFILE_FAMILY_MINIMAL
        break
      case 'family-safe-surfing':
        profile = PROFILE_FAMILY_SAFE_SURFING
        break
      case 'family-clean-surfing':
        profile = PROFILE_FAMILY_CLEAN_SURFING
        break
      case 'family-super-safe-surfing':
        profile = PROFILE_FAMILY_SUPER_SAFE_SURFING
        break
      case 'individual-minimal':
        profile = PROFILE_INDIVIDUAL_MINIMAL
        break
      case 'individual-clean-surfing':
        profile = PROFILE_INDIVIDUAL_CLEAN_SURFING
        break
      case 'individual-porn-addiction':
        profile = PROFILE_INDIVIDUAL_PORN_ADDICTION
        break
      case 'individual-focus':
        profile = PROFILE_INDIVIDUAL_FOCUS
        break
      case 'business-minimal':
        profile = PROFILE_BUSINESS_MINIMAL
        break
      case 'business-safe-surfing':
        profile = PROFILE_BUSINESS_SAFE_SURFING
        break
      case 'business-productivity':
        profile = PROFILE_BUSINESS_PRODUCTIVITY
        break
      case 'school-minimal':
        profile = PROFILE_SCHOOL_MINIMAL
        break
      case 'school-safe-surfing':
        profile = PROFILE_SCHOOL_SAFE_SURFING
        break
      case 'school-focus':
        profile = PROFILE_SCHOOL_FOCUS
        break
    }
    if (!profile) {
      return
    }
    applyProfile('', '', profile).then(() => {
      this.$emit('update:loading', false)
      this.$emit('done')
    })
  }

  /**
   * Add a new empty address, if we can.
   */
  addAddress () {
    if (this.addresses.length < 5) {
      this.addresses.push('')
    }
  }

  /**
   * @returns Whether an address is valid.
   * @param idx The index of the address.
   */
  addressValid (idx: number): boolean {
    return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.addresses[idx]) // eslint-disable-line no-useless-escape
  }

  /**
   * Delete an address.
   * @param idx The index in the addresses array.
   */
  deleteAddress (idx: number) {
    this.addresses.splice(idx, 1)
  }

  confirmAlerts () {
    this.$emit('update:loading', true)
    // Update each with the addresses
    this.getAlertsEmails.handle().then(emails => {
      if (!emails.spec) {
        this.$emit('update:loading', false)
        this.$emit('done')
        return
      }
      Promise.all(emails.spec.map(email => {
        email.emailAddresses = this.addresses
        return this.putAlertsEmail.handle(email)
      })).then(() => {
        this.$emit('update:loading', false)
        this.$emit('done')
      })
    })
  }

  get alertsInvalid (): boolean {
    if (this.addresses.length === 0) {
      return true
    }
    if (this.addresses.some((_, idx) => !this.addressValid(idx))) {
      return true
    }
    return false
  }

  get currStep (): number {
    if (typeof this.$route.query['settings-step'] === 'string') {
      return parseInt(this.$route.query['settings-step'])
    }
    return 1
  }

  set currStep (step: number) {
    if (!this.$route.name) {
      return
    }
    if (step === 2 && this.noStepTwo) {
      this.$emit('done')
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'settings-step': step + '' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }
}
</script>

<style scoped>
.address {
  max-width: 500px;
}

.address .icon {
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.category {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}

.category-top-row {
  display: flex;
  align-items: center;
}

.category-block {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.category-block-selected {
  background-color: #eee;
}

.slide-down-enter-active {
  transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);;
}
.slide-down-leave-active {
  transition: all 0s cubic-bezier(0.4, 0.0, 1, 1);;
}

.slide-down-enter, .slide-down-leave-to
/* .slide-down-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}

.faded {
  opacity: 0.5;
}

.settings-step {
  display: inline-block; width: 360px; vertical-align: top;
}
</style>
