<template>
  <div>
    <div>
      <div
        class="
          has-family-secondary
          is-size-5
          has-text-weight-semibold has-text-centered
          mb-1
        "
      >
        <span v-if="userType === 'family'"> Protect your family </span>
        <span v-else-if="userType === 'individual'">
          Recover your digital health
        </span>
        <span v-else-if="userType === 'business'">
          Keep your employees safe
        </span>
        <span v-else-if="userType === 'school'">
          Keep kids safe on the net at school
        </span>
      </div>
    </div>
    <div class="is-flex is-justify-content-center">
      <transition name="fade">
        <div
          class="benefit-box has-text-centered p-3"
          v-if="anim"
          style="transition-delay: 100ms"
        >
          <div v-if="userType === 'family'">
            <div>
              <b-icon icon="cellphone-link" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Protect devices over Wi-Fi and mobile data
            </span>
          </div>
          <div v-else-if="userType === 'individual'">
            <div>
              <b-icon icon="shield-check-outline" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Block harmful and addictive content
            </span>
          </div>
          <div v-else-if="userType === 'business'">
            <div>
              <b-icon icon="shield-check-outline" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Block objectionable content
            </span>
          </div>
          <div v-else-if="userType === 'school'">
            <div>
              <b-icon icon="shield-check-outline" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Block harmful and addictive content
            </span>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div
          class="benefit-box has-text-centered p-3"
          v-if="anim"
          style="transition-delay: 200ms"
        >
          <div v-if="userType === 'family'">
            <div>
              <b-icon icon="shield-check-outline" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Block harmful and addictive content
            </span>
          </div>
          <div v-else-if="userType === 'individual'">
            <div>
              <b-icon icon="lock-open-remove-outline" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Prevent uninstallation
            </span>
          </div>
          <div v-else-if="userType === 'business'">
            <div>
              <b-icon
                icon="office-building-marker"
                size="is-large"
                type="is-primary"
              />
            </div>
            <span class="is-family-secondary has-text-grey">
              Protect devices both on and off site
            </span>
          </div>
          <div v-else-if="userType === 'school'">
            <div>
              <b-icon icon="lock-check-outline" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Lock SafeSearch filter for Google and more
            </span>
          </div>
        </div>
      </transition>
    </div>
    <div class="is-flex is-justify-content-center">
      <transition name="fade">
        <div
          class="benefit-box has-text-centered p-3"
          v-if="anim"
          style="transition-delay: 300ms"
        >
          <div v-if="userType === 'family'">
            <div>
              <b-icon icon="lock-check-outline" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Lock SafeSearch filter for Google and more
            </span>
          </div>
          <div v-else-if="userType === 'individual'">
            <div>
              <b-icon
                icon="handshake-outline"
                size="is-large"
                type="is-primary"
              />
            </div>
            <span class="is-family-secondary has-text-grey">
              Add support person
            </span>
          </div>
          <div v-else-if="userType === 'business'">
            <div>
              <b-icon icon="router-network" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Install via apps or corporate network
            </span>
          </div>
          <div v-else-if="userType === 'school'">
            <div>
              <b-icon icon="router-network" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Easy setup using app or network
            </span>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div
          class="benefit-box has-text-centered p-3"
          v-if="anim"
          style="transition-delay: 400ms"
        >
          <div v-if="userType === 'family'">
            <div>
              <b-icon
                icon="email-outline"
                size="is-large"
                type="is-primary"
              />
            </div>
            <span class="is-family-secondary has-text-grey">
              Receive alerts for blocked content
            </span>
          </div>
          <div v-else-if="userType === 'individual'">
            <div>
              <b-icon
                icon="chart-timeline-variant-shimmer"
                size="is-large"
                type="is-primary"
              />
            </div>
            <span class="is-family-secondary has-text-grey">
              Get reports on progress
            </span>
          </div>
          <!-- <div v-else-if="userType === 'business'">
            <div>
              <b-icon icon="bug" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Automatic security analytics by
              <a href="https://alphasoc.com" target="blank">AlphaSOC</a>
            </span>
          </div> -->
          <div v-else-if="userType === 'school' || userType === 'business'">
            <div>
              <b-icon icon="brain" size="is-large" type="is-primary" />
            </div>
            <span class="is-family-secondary has-text-grey">
              Choose blocking for apps and social media
            </span>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class SubscriptionBenefits extends Vue {
  @Prop() readonly userType: string | undefined
  @Prop() readonly anim: boolean | undefined
}
</script>

<style scoped>
.benefit-box {
  max-width: 200px;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.75s cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(100%);
}
</style>
