<template>
  <div v-if="value && value.length" class="container mt-5">
    <div class="testimonials1 is-flex">
      <div
        v-for="testimonial in value"
        :key="testimonial.text"
        class="testimonial mx-3"
      >
        <div class="testimonial-inner has-background-primary-light px-4 py-3 has-text-grey-dark">
          <p class="is-flex mb-2 is-align-items-center">
            <b-icon
              icon="bullhorn-outline"
              size="is-medium"
            />
            <span class="ml-2 is-family-secondary">
              {{ testimonial.author ? testimonial.author : 'Anonymous' }}
            </span>
          </p>
          {{ testimonial.text }}
          <br/><br/>
          ⭐⭐⭐⭐⭐
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

export interface Testimonial {
  text: string;
  author?: string;
}

@Component
export default class Testimonials extends Vue {
  @Prop() readonly value: Testimonial[] | undefined
}
</script>

<style scoped lang="scss">
@import "../../colors.scss";

.container {
  position: relative;
  min-height: 325px;
  overflow: hidden;
}

.testimonials1 {
  position: absolute;
  top: 0;
  transform: translateX(700px);
  min-height: 300px;
  animation: marquee 120s linear infinite;
}

.testimonial {
  position: relative;
  min-width: 300px;
  
  .testimonial-inner {
    height: auto;
    overflow: hidden;
    padding: 20px;
    background: $primary-light;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
  
    &:before, &:after {
      content: ""; height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
    }
    &:before {
      background-color: #fafafa;
      top: 0;
    }
    &:after {
      background-color: $primary-light;
      bottom: -2px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(-4212px);
  }
}
</style>