<template>
  <div>
    <div
      class="card py-3 px-4 is-flex is-align-items-center"
      style="overflow: visible;"
      v-if="blockInternetDeadline && notExpired(blockInternetDeadline)"
    >
      <div v-if="blockInternetDeadline.allow">
        <strong class="has-text-success">Internet allowed.</strong>
        Expires <strong>{{ fmtTime(blockInternetDeadline.expiry) }}</strong>.
      </div>
      <div v-else>
        <strong class="has-text-danger">Internet blocked.</strong>
        Expires <strong>{{ fmtTime(blockInternetDeadline.expiry) }}</strong>.
      </div>
      <div style="flex-grow: 1;"/>
      <b-dropdown position="is-bottom-left" v-if="editable">
        <template #trigger="{ active }">
          <b-button
            :type="active ? 'is-primary' : undefined"
            icon-left="dots-vertical"
          />
        </template>
        <b-dropdown-item @click="$emit('editBlockInternet')">
          Edit
        </b-dropdown-item>
        <b-dropdown-item @click="$emit('deleteBlockInternet')">
          Delete
        </b-dropdown-item>
      </b-dropdown>
    </div>
    <div
      class="card py-3 px-4 is-flex is-align-items-center mt-3"
      style="overflow: visible;"
      v-for="(deadline, idx) in deadlines"
      :key="deadline.id"
    >
      <div>
        <span v-html="deadlineSummary(deadline)"/> Expires <strong>{{ fmtTime(deadline.expiry) }}</strong>.
      </div>
      <div style="flex-grow: 1;"/>
      <b-dropdown position="is-bottom-left" v-if="editable">
        <template #trigger="{ active }">
          <b-button
            :type="active ? 'is-primary' : undefined"
            icon-left="dots-vertical"
          />
        </template>
        <b-dropdown-item @click="$emit('editDeadline', idx)">
          Edit
        </b-dropdown-item>
        <b-dropdown-item @click="$emit('deleteDeadline', idx)">
          Delete
        </b-dropdown-item>
      </b-dropdown>
    </div>
  </div>
</template>

<script lang="ts">
import { BlockInternetDeadline } from '@/requests/blockinternet/get-deadline-self-service'
import { Deadline } from '@/requests/categories-v2/get-deadline-self-service'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc'
import timezone from 'dayjs/plugin/timezone'
import { App, Category } from '@/requests/categories-v2/get-categories-rules'

dayjs.extend(utc)
dayjs.extend(timezone)

@Component
export default class StopStartAccessList extends Vue {
  /**
   * The block internet deadline, if any.
   */
  @Prop() readonly blockInternetDeadline: BlockInternetDeadline | null | undefined
  /**
   * The deadlines.
   */
  @Prop() readonly deadlines: Deadline[] | undefined
  /**
   * Whether this is editable.
   */
  @Prop() readonly editable: boolean | undefined

  notExpired (deadline: BlockInternetDeadline | Deadline) {
    return deadline.expiry > dayjs().unix()
  }

  fmtTime (timestamp: number): string {
    return dayjs.unix(timestamp).fromNow()
  }

  /**
   * @returns A summary of the deadline.
   */
  deadlineSummary (deadline: Deadline): string {
    if (!deadline.customRules.categories.length && !deadline.customRules.restrictions.length && !deadline.customRules.whitelist.length && !deadline.customRules.blacklist.length) {
      return 'Do nothing'
    }
    interface Source {
      category?: Category;
      app?: App;
    }
    const sections = []
    const allowed: Source[] = deadline.customRules.categories
      .filter(category => category.action)
      .map(category => { return {category: category} as Source})
      .concat(
        deadline.customRules.apps
          .filter(app => !app.blocked)
          .map(app => { return {app: app} as Source})
      )
    const blocked: Source[] = deadline.customRules.categories
      .filter(category => !category.action)
      .map(category => { return {category: category} as Source})
      .concat(
        deadline.customRules.apps
          .filter(app => app.blocked)
          .map(app => { return {app: app} as Source})
      )
    if (allowed.length) {
      let section = '<strong class="has-text-success">Allow</strong> '
      allowed.forEach((source, i) => {
        if (source.category) {
          section += source.category.displayName
        } else if (source.app) {
          section += source.app.name + ' App'
        }
        if (i < allowed.length - 1) {
          section += i === allowed.length - 2 ? ' and ' : ', '
        }
      })
      sections.push(section)
    }
    if (blocked.length) {
      let section = '<strong class="has-text-danger">Block</strong> '
      blocked.forEach((source, i) => {
        if (source.category) {
          section += source.category.displayName
        } else if (source.app) {
          section += source.app.name + ' App'
        }
        if (i < blocked.length - 1) {
          section += i === blocked.length - 2 ? ' and ' : ', '
        }
      })
      sections.push(section)
    }
    if (deadline.customRules.restrictions && deadline.customRules.restrictions.length) {
      let section = '<strong class="has-text-primary">Set restriction</strong> for '
      deadline.customRules.restrictions.forEach((restriction, i) => {
        section += restriction.displayName + ' (' + (restriction.actions[restriction.action]) + ')'
        if (i < deadline.customRules.restrictions.length - 1) {
          section += i === deadline.customRules.restrictions.length - 2 ? ' and ' : ', '
        }
      })
      sections.push(section)
    }
    if (deadline.customRules.whitelist && deadline.customRules.whitelist.length) {
      let section = '<strong class="has-text-success">Allow</strong> '
      deadline.customRules.whitelist.forEach((domain, i) => {
        section += domain
        if (i < deadline.customRules.whitelist.length - 1) {
          section += i === deadline.customRules.whitelist.length - 2 ? ' and ' : ', '
        }
      })
      sections.push(section)
    }
    if (deadline.customRules.blacklist && deadline.customRules.blacklist.length) {
      let section = 'Block '
      deadline.customRules.blacklist.forEach((domain, i) => {
        section += domain
        if (i < deadline.customRules.blacklist.length - 1) {
          section += i === deadline.customRules.blacklist.length - 2 ? ' and ' : ', '
        }
      })
      sections.push(section)
    }
    let toReturn = ''
    sections.forEach((section, i) => {
      toReturn += section
      if (i < sections.length - 1) {
        toReturn += '; '
      }
    })
    return toReturn + '.'
  }
}
</script>
