<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Sign in to control blocked sites, view usage, and more."/>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KTSP425');</script>
    <!-- End Google Tag Manager -->

    <!-- Dynamically configured variables by the backend -->
    <meta
      name="apiURL"
      content="{{ .apiURL }}"
    >
    <meta
      name="apiIpv6URL"
      content="{{ .apiIpv6URL }}"
    >
    <meta
      name="dotHost"
      content="{{ .dotHost }}"
    >
    <meta
      name="dohURL"
      content="{{ .dohURL }}"
    >
    <meta
      name="chargebeeDefaultPlan"
      content="{{ .chargebeeDefaultPlan }}"
    >
    <meta
      name="chargebeeDefaultPeriod"
      content="{{ .chargebeeDefaultPeriod }}"
    >
    <meta
      name="chargebeeDefaultPriceId"
      content="{{ .chargebeeDefaultPriceId }}"
    >
    <meta
      name="chargebeeSite"
      content="{{ .chargebeeSite }}"
    >
    <meta
      name="routerRole"
      content="{{ .routerRole }}"
    >
    <meta
      name="host"
      content="{{ .host }}"
    >
    <meta
      name="routerHosts"
      content="{{ .routerHosts }}"
    >
    <meta
      name="routerHost"
      content="{{ .routerHost }}"
    >
    <meta
      name="plainProtoDomain"
      content="{{ .plainProtoDomain }}"
    >
    <meta
      name="dohProtoDomain"
      content="{{ .dohProtoDomain }}"
    >
    <meta
      name="dotProtoDomain"
      content="{{ .dotProtoDomain }}"
    >
    <meta
      name="dnscryptProtoDomain"
      content="{{ .dnscryptProtoDomain }}"
    >
    <meta
      name="routerProtoDomain"
      content="{{ .routerProtoDomain }}"
    >
    <link rel="stylesheet" href="https://use.typekit.net/tpc1icm.css">
    <title>My Safe Surfer</title>
    <script async defer data-domain="my.safesurfer.io" src="https://plausible.io/js/plausible.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTSP425"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
