<template>
  <div>
    <div class="svg-container">
      <svg style="width:150px;height:150px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M11.8 5.9L11 5.1C12.4 3.7 14.2 3 16 3S19.6 3.7 21 5.1L20.2 5.9C19 4.8 17.5 4.2 16 4.2S13 4.8 11.8 5.9M21 15C21 13.9 20.1 13 19 13H17V9H15V11.8L21 17.8V15M18.5 7.5L19.3 6.7C18.4 5.8 17.2 5.3 16 5.3S13.6 5.8 12.7 6.7L13.5 7.5C14.2 6.8 15.1 6.5 16 6.5C16.9 6.5 17.8 6.8 18.5 7.5M22.1 21.5L20.8 22.8L19.1 21H5C3.9 21 3 20.1 3 19V15C3 13.9 3.9 13 5 13H11.1L1.1 3L2.4 1.7L22.1 21.5M8 16H6V18H8V16M11.5 16H9.5V18H11.5V16M15 16.9L14.1 16H13V18H15V16.9Z" />
      </svg>
    </div>
    <h1 class="is-size-4">
      Can't find a lifeguard device.
    </h1>
    <div class="option-container border-bot">
      <p>
        <ul>
          <li>
            Make sure you're connected to the Safe Surfer WiFi.
          </li>
          <li>
            Disable networks other than WiFi, such as mobile data.
          </li>
          <li>
            Try <a href="https://mydevice.safesurfer.co.nz">the old link</a>.
          </li>
          <li>
            <a href="https://helpdesk.safesurfer.io">Contact Support</a>.
          </li>
        </ul>
      </p>
    </div>
  </div>
</template>

<style scoped>
.main {
  max-width: 650px;
  margin: 110px auto 0px auto;
  font-family: 'sofia-pro', sans-serif;
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.border-bot {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

h2 {
  margin: auto;
}

li {
  margin-bottom: 5px;
}

.svg-container {
  width: 150px;
  margin: auto;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
</style>