<template>
  <b-dropdown
    position="is-bottom-left"
    style=""
  >
    <template #trigger="{}">
      <b-button
        :type="done ? (hasBeenBlocked ? 'is-danger' : 'is-success') : 'is-light'"
        size="is-small"
        icon-right="dots-horizontal"
        :loading="loading"
      >
        <slot/>
      </b-button>
    </template>
    <b-dropdown-item
      v-for="(option, idx) in options"
      :key="idx"
      @click="doOption(option)"
    >
      {{ option.displayText }}
    </b-dropdown-item>
  </b-dropdown>
</template>

<script lang="ts">
import GetCategoriesRules from '@/requests/categories-v2/get-categories-rules'
import PatchCategoriesRules from '@/requests/categories-v2/patch-categories-rules'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { DeviceSelection } from '../common/device-selector.vue'

interface Option {
  displayText: string;
  domain: string;
  block: boolean;
  device: DeviceSelection;
}

@Component
export default class QuickSiteAdd extends Vue {
  @Prop() readonly domain: string | undefined
  @Prop() readonly wasBlock: boolean | null | undefined
  @Prop() readonly deviceID: string | undefined
  @Prop() readonly mac: string | undefined
  @Prop() readonly deviceName: string | undefined

  loading = false
  done = false
  hasBeenBlocked = false

  getCategoriesRules = new GetCategoriesRules()
  patchCategoriesRules = new PatchCategoriesRules()

  get options (): Option[] {
    if (!this.domain) {
      return []
    }
    // If this is a subdomain, offer the option to take action on the superdomain
    const domains = [ this.domain ]
    const domainSplit = this.domain.split('.')
    const domainSplitLen = domainSplit.length
    if (domainSplitLen > 2) {
      domains.unshift(domainSplit[domainSplitLen-2] + '.' + domainSplit[domainSplitLen-1])
    }
    const actions: boolean[] = []
    if (this.wasBlock === null) {
      actions.push(true, false)
    } else if (this.wasBlock) {
      actions.push(false)
    } else {
      actions.push(true)
    }
    const devices: DeviceSelection[] = [ { id: '', mac: '' } ]
    if (this.deviceID && this.mac) {
      devices.push({ id: this.deviceID, mac: this.mac })
    } else if (this.deviceID) {
      devices.push({ id: this.deviceID, mac: '' })
    }
    return actions.flatMap(action => {
      return domains.flatMap(domain => {
        return devices.map(device => {
          return {
            displayText: (action ? 'Block ' : 'Allow ') + domain + ' for ' + (device.id ? this.deviceName : 'all devices'),
            domain: domain,
            block: action,
            device: device
          }
        })
      })
    })
  }

  doOption (option: Option) {
    const doneToast = () => {
      this.$buefy.toast.open({
        position: 'is-bottom',
        message: (option.block ? 'Blocked ' : 'Allowed ') + option.domain + ' for ' + (option.device.id ? this.deviceName : 'all devices'),
        type: 'is-dark',
        duration: 4000
      })
      this.loading = false
      this.done = true
      this.hasBeenBlocked = option.block
    }
    this.loading = true
    this.getCategoriesRules.handle({
      'device-id': option.device.id,
      'mac': option.device.mac
    }).then(rules => {
      rules.spec.hasRules = true
      if (!rules.spec.blacklist) {
        rules.spec.blacklist = []
      }
      if (!rules.spec.whitelist) {
        rules.spec.whitelist = []
      }
      const addArr = option.block ? rules.spec.blacklist : rules.spec.whitelist
      const alreadyMatching = addArr.filter(domain => domain === option.domain)
      if (alreadyMatching.length > 0) {
        doneToast()
        return
      }
      addArr.push(option.domain)
      this.patchCategoriesRules.handle({
        'device-id': option.device.id,
        'mac': option.device.mac,
        rules: rules.spec
      }).then(() => {
        doneToast()
      })
    })
  }
}
</script>
