<template>
  <div class="from-to-container">
    <b-icon icon="calendar-range" size="is-large"></b-icon>
    <div class="range-container">
      <!-- Select Start Date -->
      <b-field label="From">
        <b-datepicker
          class="picker"
          v-model="startDateMS"
          :max-date="endDateMS < new Date() ? endDateMS : new Date()"
          :append-to-body="true"
        />
      </b-field>
    </div>
    <div class="range-container">
      <!-- Select End Date -->
      <b-field label="To">
        <b-datepicker
          class="picker"
          v-model="endDateMS"
          :min-date="startDateMS"
          :max-date="new Date()"
          :append-to-body="true"
        />
      </b-field>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import dayjs from 'dayjs'

@Component
export default class SelectDateRange extends Vue {
  /**
   * The current start date.
   */
  @Prop() readonly startDate: number | undefined
  /**
   * The current end date.
   */
  @Prop() readonly endDate: number | undefined

  /**
   * Set the end date.
   */
  set endDateMS (newDate: Date) {
    this.$emit('update:endDate', dayjs.unix(Math.round(newDate.getTime() / 1000)).endOf('day').unix())
  }

  /**
   * @returns The end date as a Date.
   */
  get endDateMS (): Date {
    const endDate = this.endDate ? this.endDate : 0
    return dayjs.unix(endDate).toDate()
  }

  /**
   * Set the start date.
   */
  set startDateMS (newDate: Date) {
    this.$emit('update:startDate', Math.round(newDate.getTime() / 1000))
  }

  /**
   * @returns The start date as a Date.
   */
  get startDateMS (): Date {
    const startDate = this.startDate ? this.startDate : 0
    return dayjs.unix(startDate).toDate()
  }
}
</script>

<style scoped>
.from-to-container {
  display: flex;
  align-items: center;
}

.range-container {
  text-align: center;
  margin-left: 30px;
}

.legend {
  margin-left: 10px;
}

@media (max-width: 500px) {
  .from-to-container {
    display: block;
  }

  .range-container {
    margin-left: 0px;
    margin-top: 10px;
  }
}
</style>
