<template>
  <b-tabs
    class="mt-5"
    v-model="selected"
  >
    <b-tab-item
      label="Blocked services"
      icon="eye-off"
    >
      <viewed-blocked-categories
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :deviceName="deviceName"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[0]"
        :loading="loading"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
    <b-tab-item
      label="Accessed services"
      icon="eye"
    >
      <viewed-allowed-categories
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[1]"
        :loading="loading"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
    <b-tab-item
      label="History"
      icon="history"
    >
      <history
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :deviceName="deviceName"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[2]"
        :loading="loading"
        :devices="devices"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
    <b-tab-item
      label="Activity"
      icon="chart-bar"
    >
      <activity
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[3]"
        :loading="loading"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
    <b-tab-item
      label="Insights"
      icon="trending-up"
    >
      <insights
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[4]"
        :loading="loading"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
  </b-tabs>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import ViewedBlockedCategories from '@/components/usage/viewed-blocked-categories.vue'
import ViewedAllowedCategories from '@/components/usage/viewed-allowed-categories.vue'
import History from '@/components/usage/history.vue'
import { Prop } from 'vue-property-decorator'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import { APIDevices } from '@/requests/devices/get-devices'
import Activity from '@/components/usage/activity.vue'
import Insights from '@/components/usage/insights.vue'

@Component({
  components: {
    ViewedBlockedCategories,
    ViewedAllowedCategories,
    History,
    Activity,
    Insights
  }
})
export default class UsageTabs extends Vue {
  /**
   * The current start date.
   * (Unix timestamp, ms)
   */
  @Prop() readonly startDate: number | undefined
  /**
   * The current end date.
   * (Unix timestamp, ms)
   */
  @Prop() readonly endDate: number | undefined
  /**
   * Current device ID.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * Current MAC.
   */
  @Prop() readonly mac: string | undefined
  /**
   * Whether we are loading data.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * The devices list.
   */
  @Prop() readonly devices: APIDevices | undefined
  /**
   * Each URL suffix by index.
   */
  URL_SUFFIXES = [
    'blocked',
    'allowed',
    'history',
    'activity',
    'insights'
  ]

  /**
   * Store the selected tab in the URL.
   */
  set selected (newSelectedIdx: number) {
    this.$router.push({
      name: 'Usage',
      query: assign(cloneDeep(this.$route.query), {
        section: this.URL_SUFFIXES[newSelectedIdx]
      })
    })
  }

  /**
   * @returns The selected tab from the URL.
   */
  get selected (): number {
    const section = this.$route.query.section
    if (typeof section === 'string') {
      return this.URL_SUFFIXES.indexOf(section)
    }
    return 0
  }

  get deviceName (): string | undefined {
    if (!this.devices) {
      return undefined
    }
    if (this.deviceID && this.mac) {
      const lifeguard = this.devices.lifeguards.filter(lg => lg.id === this.deviceID)[0]
      if (!lifeguard) {
        return undefined
      }
      const client = lifeguard.devices.filter(device => device.mac === this.mac)[0]
      if (!client) {
        return undefined
      }
      return client.name
    } else if (this.deviceID) {
      const mobile = this.devices.mobile ? this.devices.mobile : []
      const dns = this.devices.dns ? this.devices.dns : []
      const device = mobile.concat(dns).filter(device => device.id === this.deviceID)[0]
      if (!device) {
        return undefined
      }
      return device.name
    } else {
      return undefined
    }
  }
}
</script>
