<template>
  <div>
    <div v-if="!loading && blockedSitesForCategories.length">
      <!-- Each blocked category -->
      <b-collapse
        v-for="(catName, idx) in categories"
        :key="catName + idx"
        class="card"
        style="overflow: visible !important;"
        :open="false"
      >
        <div
          slot="trigger"
          slot-scope="props"
          class="card-header bar-container"
          role="button"
        >
          <div
            class="bar"
            :style="styleObj(idx)"
          ></div>
          <p
            class="card-header-title above-bar"
          >
            <b-icon
              size="is-small"
              :icon="getIcon(idx)"
              class="has-text-grey-dark mr-2"
            />
            {{ catName }} ({{ blockedSitesForCategories[idx].total }})
          </p>
          <a class="card-header-icon above-bar has-text-grey-dark">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
          </a>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="has-text is-size-7 pb-2">
              {{ descriptions[idx] }}
            </p>
            <!-- Each subitem -->
            <quick-site-add
              class="subitem mb-2"
              v-for="site in blockedSitesForCategories[idx].sites"
              :key="site.domain"
              :domain="site.domain"
              :wasBlock="true"
              :deviceID="deviceID"
              :mac="mac"
              :deviceName="deviceName"
            >
              {{ site.domain }} ({{ site.count }})
            </quick-site-add>
            <!-- Link to more info -->
            <div class="mt-3">
              <action
                class="pt-2"
                text="More info"
                :route="moreInfoRoute(idx)"
              />
            </div>
          </div>
        </div>
      </b-collapse>
    </div>
    <!-- Show that there's nothing if there isn't -->
    <div v-if="!loading && (!categories || !categories.length)">
      No blocked sites found.
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import dayjs from 'dayjs'
import { getTimezone } from '@/helpers/functions'
import GetBlockedSites, { BlockedSitesForCategory } from '@/requests/usage-v2/get-blocked-sites'
import Action from '@/components/common/action.vue'
import QuickSiteAdd from '@/components/usage/quick-site-add.vue'
import { Route } from 'vue-router'
import cloneDeep from 'lodash/cloneDeep'
import assign from 'lodash/assign'

@Component({
  components: {
    Action,
    QuickSiteAdd
  }
})
export default class ViewedBlockedCategories extends Vue {
  /**
   * The current start date.
   * (Unix timestamp, s)
   */
  @Prop() readonly startDate: number | undefined
  /**
   * The current end date.
   * (Unix timestamp, s)
   */
  @Prop() readonly endDate: number | undefined
  /**
   * Whether this component is currently selected.
   * Only request data once it becomes visible.
   */
  @Prop() readonly visible: boolean | undefined
  /**
   * Current device ID.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * Current device MAC.
   */
  @Prop() readonly mac: string | undefined
  /**
   * Current device name.
   */
  @Prop() readonly deviceName: string | undefined
  /**
   * Whether we are loading the data.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether a prop was changed while this
   * component was invisible.
   */
  propsChanged = false
  /**
   * For each category: the blocked sites.
   */
  blockedSitesForCategories: BlockedSitesForCategory[] = []
  /**
   * The name of each category.
   */
  categories: string[] = []
  /**
   * The description of each category.
   */
  descriptions: string[] = []
  icons: string[] = []
  /**
   * The IDs of each category.
   */
  categoryIDs: number[] = []

  /**
   * Requests
   */
  getBlockedSites = new GetBlockedSites()

  mounted () {
    this.updateNowOrLater()
  }

  /**
   * Load the data for the current props,
   * then display it.
   */
  loadData () {
    this.$emit('update:loading', true)
    this.blockedSitesForCategories = []
    this.categories = []
    this.categoryIDs = []
    this.icons = []
    this.descriptions = []
    if (this.startDate !== undefined && this.endDate !== undefined) {
      // Get the start/end timestamps as YYYYMMDD
      const startTime = dayjs.unix(this.startDate).startOf('day').format('YYYYMMDD')
      const endTime = dayjs.unix(this.endDate).format('YYYYMMDD')
      const timezone = getTimezone()
      const deviceID = this.deviceID ? this.deviceID : ''
      this.getBlockedSites.handle({
        'start-date': startTime,
        'end-date': endTime,
        'tz': timezone,
        'device-id': deviceID,
        'mac': this.mac
      }).then(blockedSites => {
        if (blockedSites.spec.blocks && Object.keys(blockedSites.spec.blocks).length) {
          this.blockedSitesForCategories = Object.keys(blockedSites.spec.blocks).sort((a, b) => {
            // Sort based on how many sites there are total
            return blockedSites.spec.blocks[parseInt(b)].total - blockedSites.spec.blocks[parseInt(a)].total
          }).map(catID => {
            // Turn into flat list for display
            const asInt = parseInt(catID)
            this.categories.push(blockedSites.spec.categoryNames[asInt])
            this.descriptions.push(blockedSites.spec.categoryDescriptions[asInt])
            this.icons.push(blockedSites.spec.categoryIcons[asInt])
            this.categoryIDs.push(asInt)
            return blockedSites.spec.blocks[asInt]
          })
        }
        this.$emit('update:loading', false)
      })
      this.propsChanged = false
    }
  }

  /**
   * When going from invisible to visible, load the data if it
   * has changed.
   */
  @Watch('visible') loadWhenVisible (nowVis: boolean, wasVis: boolean) {
    if (nowVis && !wasVis && this.propsChanged) {
      this.propsChanged = false
      this.loadData()
    }
  }

  /**
   * Fired when a re-request is needed. If invisible, update
   * when we become visible again. If visible, update
   * immediately.
   */
  updateNowOrLater () {
    if (this.visible) {
      this.loadData()
    } else {
      this.propsChanged = true
    }
  }

  /**
   * @returns A vue style object for a particular category.
   * @param categoryIdx The index of the category within blockedSitesForCategories.
   */
  styleObj (categoryIdx: number): {[styleRule: string]: string} {
    return {
      right: this.getBarWidth(categoryIdx) + '%',
      'background-color': '#ef5350'
    }
  }

  /**
   * @returns The bar width (as percentage) for a particular category, relative to the
   *          category with the most subitems.
   */
  getBarWidth (categoryIdx: number): number {
    if (this.categories.length && this.blockedSitesForCategories.length) {
      return 100 - ((this.blockedSitesForCategories[categoryIdx].total / this.blockedSitesForCategories[0].total) * 100)
    } else {
      return 0
    }
  }

  @Watch('startDate') wStartDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('endDate') wEndDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('deviceID') wDeviceID (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('mac') wMac (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }

  /**
   * @returns A route for more info for a category with the index.
   */
  moreInfoRoute (idx: number): Route {
    const currQuery = cloneDeep(this.$route.query)
    assign(currQuery, {
      'section': 'history',
      'category-id': JSON.stringify([this.categoryIDs[idx]]),
      'action': 'blacklist',
      'page': '0',
      'sort': 'date-new-first'
    })
    return {
      name: 'Usage',
      query: currQuery
    } as Route
  }

  /**
   * @returns The icon name for a particular category. Returns predefined one
   *          if available, otherwise fall back to a letter icon representing the name.
   */
  getIcon (i: number): string {
    const icon = this.icons[i]
    if (icon === '') {
      return 'alpha-' + this.categories[i].substring(0, 1).toLowerCase() + '-box-outline'
    }
    return icon
  }
}
</script>

<style scoped>
.bar-container {
  position: relative;
}

.bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 1;
}

.above-bar {
  position: relative;
  z-index: 2;
}
</style>
