<template>
  <div>
    <!-- Each category -->
    <div v-if="!loading && data && data.length">
      <b-collapse
        v-for="(category, idx) in data"
        :key="category.categoryID"
        class="card"
        :open="false"
      >
        <div
          slot="trigger"
          slot-scope="props"
          class="card-header bar-container"
          role="button"
        >
          <div
            class="bar"
            :style="styleObj(idx)"
          ></div>
          <p class="card-header-title above-bar">
            <b-icon
              size="is-small"
              :icon="getIcon(category)"
              class="has-text-grey-dark mr-2"
            />
            {{ category.category + ' (' + category.count + ')' }}
          </p>
          <a class="card-header-icon above-bar has-text-grey-dark">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
          </a>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="has-text is-size-7">
              {{ category.categoryDescription }}
            </p>
            <div>{{ category.count }} views.</div>
            <!-- Link to more info -->
            <action
              class="pt-2"
              text="More Info"
              :route="moreInfoRoute(idx)"
            />
          </div>
        </div>
      </b-collapse>
    </div>
    <!-- Show that there's nothing if there isn't -->
    <div v-if="!loading && (!data || !data.length)">
      No Viewed Categories Found.
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import dayjs from 'dayjs'
import { getTimezone } from '@/helpers/functions'
import GetViewedCategories from '@/requests/usage-v2/get-viewed-categories'
import { CategoryCount } from '@/requests/usage-v2/get-blocked-categories'
import Action from '@/components/common/action.vue'
import { Route } from 'vue-router'
import cloneDeep from 'lodash/cloneDeep'
import assign from 'lodash/assign'

@Component({
  components: {
    Action
  }
})
export default class ViewedAllowedCategories extends Vue {
  /**
   * The current start date.
   * (Unix timestamp, s)
   */
  @Prop() readonly startDate: number | undefined
  /**
   * The current end date.
   * (Unix timestamp, s)
   */
  @Prop() readonly endDate: number | undefined
  /**
   * Whether this component is currently selected.
   * Only request data once it becomes visible.
   */
  @Prop() readonly visible: boolean | undefined
  /**
   * Current device ID.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * Current device MAC.
   */
  @Prop() readonly mac: string | undefined
  /**
   * Whether we are currently loading data.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether a prop was changed while this
   * component was invisible.
   */
  propsChanged = false
  /**
   * The data.
   */
  data: CategoryCount[] = []

  /**
   * Requests
   */
  getViewedCategories = new GetViewedCategories()

  mounted () {
    this.updateNowOrLater()
  }

  /**
   * Load the data for the current props,
   * then display it.
   */
  loadData () {
    this.$emit('update:loading', true)
    this.data = []
    if (this.startDate !== undefined && this.endDate !== undefined) {
      // Get the start/end timestamps as YYYYMMDD
      const startTime = dayjs.unix(this.startDate).startOf('day').format('YYYYMMDD')
      const endTime = dayjs.unix(this.endDate).format('YYYYMMDD')
      const timezone = getTimezone()
      const deviceID = this.deviceID ? this.deviceID : ''
      this.getViewedCategories.handle({
        'start-date': startTime,
        'end-date': endTime,
        'tz': timezone,
        'device-id': deviceID,
        'mac': this.mac
      }).then(viewedCategories => {
        if (viewedCategories.spec && viewedCategories.spec.length) {
          this.data = viewedCategories.spec
        }
        this.$emit('update:loading', false)
      })
      this.propsChanged = false
    }
  }

  /**
   * When going from invisible to visible, load the data if it
   * has changed.
   */
  @Watch('visible') loadWhenVisible (nowVis: boolean, wasVis: boolean) {
    if (nowVis && !wasVis && this.propsChanged) {
      this.propsChanged = false
      this.loadData()
    }
  }

  /**
   * Fired when a re-request is needed. If invisible, update
   * when we become visible again. If visible, update
   * immediately.
   */
  updateNowOrLater () {
    if (this.visible) {
      this.loadData()
    } else {
      this.propsChanged = true
    }
  }

  /**
   * @returns A vue style object for a particular category.
   * @param category The category.
   */
  styleObj (categoryIdx: number): {[styleRule: string]: string} {
    return {
      right: this.getBarWidth(categoryIdx) + '%',
      'background-color': '#90caf9'
    }
  }

  /**
   * @returns The bar width (as percentage) for a particular category, relative to the
   *          category with the most subitems.
   */
  getBarWidth (categoryIdx: number): number {
    if (this.data) {
      return 100 - ((this.data[categoryIdx].count / this.data[0].count) * 100)
    } else {
      return 0
    }
  }

  @Watch('startDate') wStartDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('endDate') wEndDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('deviceID') wDeviceID (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('mac') wMac (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }

  /**
   * @returns A route for more info for a category with the index.
   */
  moreInfoRoute (idx: number): Route {
    const currQuery = cloneDeep(this.$route.query)
    assign(currQuery, {
      'section': 'history',
      'category-id': JSON.stringify([this.data[idx].categoryID]),
      'action': '',
      'page': '0',
      'sort': 'date-new-first'
    })
    return {
      name: 'Usage',
      query: currQuery
    } as Route
  }

  /**
   * @returns The icon name for a particular category. Returns predefined one
   *          if available, otherwise fall back to a letter icon representing the name.
   */
  getIcon (i: CategoryCount): string {
    if (i.icon === '') {
      return 'alpha-' + i.category.substring(0, 1).toLowerCase() + '-box-outline'
    }
    return i.icon
  }
}
</script>

<style scoped>
.bar-container {
  position: relative;
}

.bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 1;
}

.above-bar {
  position: relative;
  z-index: 2;
}
</style>
