<template>
  <div>
    <div class="is-flex is-justify-content-center mt-1 mb-3">
      <!-- Tabs for each possible day of the week -->
      <b-dropdown v-model="currTab">
        <template #trigger="{ active }">
          <b-button
            :icon-right="active ? 'menu-up' : 'menu-down'"
          >
            <div class="is-flex">
              <div>
                {{ ALL_TABS[currTab].label }}
              </div>
              <div
                v-for="color in getDayColors(currTab)"
                :key="color"
                class="color-dot m-2"
                :class="'has-background-' + color"
              />
            </div>
          </b-button>
        </template>
        <b-dropdown-item
          v-for="val in ALL_TABS_ORDERED"
          :key="val"
          :value="val"
        >
          <div class="media is-flex is-align-items-center">
            <b-icon class="media-left" :icon="ALL_TABS[val].icon"></b-icon>
            <div class="media-content">
              <h3>{{ ALL_TABS[val].label }}</h3>
            </div>
            <div
              v-for="color in getDayColors(val)"
              :key="color"
              class="color-dot m-2"
              :class="'has-background-' + color"
            />
          </div>
        </b-dropdown-item>
      </b-dropdown>
    </div>
    <div
      v-for="val in ALL_TABS_ORDERED"
      :key="val"
    >
      <day-active-times-editor
        v-if="currTab === val"
        :value="value"
        @input="$emit('input', $event)"
        :editingRuleset="editingRuleset"
        :editingRulesetIdx="editingRulesetIdx"
        :ruleIDToColor="idToColor"
        :editingDay="val"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import Vue from 'vue'
import Collapse from '@/components/common/collapse.vue'
import { Prop } from 'vue-property-decorator'
import { TimeBasedRules } from '@/requests/categories-v2/post-time-based-category-ruleset';
import DayActiveTimesEditor from '@/components/time-based-category-rules/day-active-times-editor.vue'
import Overview from '@/components/time-based-category-rules/overview.vue'

@Component({
  components: {
    Collapse,
    DayActiveTimesEditor,
    Overview
  }
})
export default class ActiveTimesEditor extends Vue {
  ALL_TABS_ORDERED = [ '*', 'weekend', 'weekday', '2', '3', '4', '5', '6', '0', '1' ]
  ALL_TABS = {
    '*': {
      label: 'All days',
      icon: 'calendar-star'
    },
    'weekend': {
      label: 'Weekends',
      icon: 'calendar-weekend'
    },
    'weekday': {
      label: 'Weekdays',
      icon: 'calendar-week-begin'
    },
    '2': {
      label: 'Monday'
    },
    '3': {
      label: 'Tuesday'
    },
    '4': {
      label: 'Wednesday'
    },
    '5': {
      label: 'Thursday'
    },
    '6': {
      label: 'Friday'
    },
    '0': {
      label: 'Saturday'
    },
    '1': {
      label: 'Sunday'
    }
  }

  /**
   * The current rulesets to display. We use a couple of tricks on the
   * objects to mark whether they need to be updated, added, or deleted
   * when we save. If customRules.hasRules = false, it is to be deleted
   * and not displayed. If id is a negative number, it is to be added.
   * Otherwise, it is to be updated.
   */
  @Prop() readonly value: TimeBasedRules[] | undefined
  /**
   * Which ruleset is selected by ID.
   */
  @Prop() readonly editingRuleset: number | undefined
  /**
   * What color to give to each rule set.
   */
  @Prop() readonly idToColor: {[id: number]: string} | undefined
  /**
   * The index of value that we're editing.
   */
  @Prop() readonly editingRulesetIdx: number | undefined
  /**
   * The currently selected tab.
   */
  currTab = '*'

  /**
   * Given a day, return the colors of the rulesets that have anything on that day.
   */
  getDayColors (day: string): string[] {
    if (!this.value || !this.idToColor) {
      return []
    }
    const idToColor = this.idToColor
    return this.value
      .filter(timetable => timetable.customRules.hasRules && timetable.activeTimes[day].some(active => active))
      .map(timetable => idToColor[timetable.id])
  }
}
</script>

<style scoped>
.color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
</style>
