<template>
  <div class="outer" @mouseleave="showTooltip = false">
    <!-- Create a "table" out of absolutely positioned elements -->
    <div
      class="virtual-table"
    >
      <!-- An element that shows what's going on at the cursor -->
      <b-tooltip
        v-if="showTooltip"
        class="virtual-cell"
        type="is-light"
        style="width: 8px; border: 1px solid rgba(0, 0, 0, 0.5)"
        size="is-small"
        :multilined="true"
        :always="true"
        :append-to-body="true"
        position="is-top"
        :style="{
          left: tooltipLeft + 'px',
          top: tooltipTop + 'px',
          height: tooltipHeight + 'px'
        }"
      >
        <template v-slot:content>
          <div class="is-flex is-align-items-center">
            <div class="color-dot ml-2 mr-3" :class="'has-background-' + tooltipClass"/>
            <div>
              <div>
                {{ tooltipTime }}
              </div>
              <div>
                <div>
                  {{ getTooltipExplanation() }}
                </div>
              </div>
            </div>
          </div>
        </template>
      </b-tooltip>
      <!-- The header row containing times -->
      <span
        v-for="hour in hourRange"
        :key="'h' + hour"
        class="virtual-cell has-text-weight-normal py-2 is-size-7"
        :style="{ left: (QUARTWIDTH*4+HGAP)*(hour+1) + 'px', top: '0px' }"
      >
        {{ hour % 3 === 0 ? formatHour(hour) : '' }}
      </span>
      <!-- Each row, containing day first then data -->
      <div
        style="position: static;"
        v-for="(day, dayIdx) in dayRange"
        :key="'d' + day[1]"
      >
        <span
          class="virtual-cell has-text-weight-normal is-size-7 px-2"
          :style="{ left: '0px', top: (HOURHEIGHT+VGAP)*(dayIdx+1) + 'px' }"
        >
          {{ day[0] }}
        </span>
        <div
          style="position: static;"
          v-for="hour in hourRange"
          :key="'h' + hour"
        >
          <div
            style="position: static;"
            v-for="quarter in quarterRange"
            :key="'q' + quarter"
          >
            <div
              v-for="(cls, clsIdx) in getQuarterClasses(day[1], hour, quarter)"
              :key="'c' + cls"
              v-bind="quarterClassBind(day[1], hour, quarter, dayIdx, clsIdx)"
              @mouseenter="updateTooltip($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { getTimeBasedRulesSummary } from '@/helpers/functions'
import { TimeBasedRules } from '@/requests/categories-v2/post-time-based-category-ruleset'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class Overview extends Vue {
  readonly HGAP = 2
  readonly VGAP = 5
  readonly QUARTWIDTH = 8
  readonly HOURHEIGHT = 20

  /**
   * The rulesets we're editing.
   */
  @Prop() readonly rulesets: TimeBasedRules[] | undefined
  /**
   * The index of the ruleset we're editing.
   */
  @Prop() readonly editingIdx: number | undefined
  /**
   * What color to give to each rule set.
   */
  @Prop() readonly ruleIDToColor: {[id: number]: string} | undefined
  /**
   * Whether to show the shortcuts to particular days.
   */
  @Prop() readonly showShortcuts: boolean | undefined

  showTooltip = false
  tooltipTime = ''
  tooltipClass = ''
  tooltipLeft = 0
  tooltipTop = 0
  tooltipHeight = 0

  get hourRange (): number[] {
    const toReturn = []
    for (let i = 0; i < 24; i++) {
      toReturn.push(i)
    }
    return toReturn
  }

  get dayRange (): [string, number][] {
    return [ ['Mon', 2], ['Tue', 3], ['Wed', 4], ['Thu', 5], ['Fri', 6], ['Sat', 0], ['Sun', 1] ]
  }

  get quarterRange (): number[] {
    const toReturn = []
    for (let i = 0; i < 4; i++) {
      toReturn.push(i)
    }
    return toReturn
  }

  formatHour (hour: number): string {
    if (hour === 0) {
      return 12 + 'am'
    } else if (hour < 12) {
      return hour + 'am'
    } else if (hour === 12) {
      return 12 + 'pm'
    } else {
      return (hour - 12) + 'pm'
    }
  }

  formatHourAndMinute (hour: number, quarter: number, range: boolean): string {
    let currTime = ''
    let amPm = ''
    if (hour === 0) {
      currTime = '12'
      amPm = 'am'
    } else if (hour < 12) {
      currTime = hour + ''
      amPm = 'am'
    } else if (hour === 12) {
      currTime = '12'
      amPm = 'pm'
    } else {
      currTime = (hour - 12) + ''
      amPm = 'pm'
    }
    currTime += ':'
    if (quarter === 0) {
      currTime += '00'
    } else if (quarter === 1) {
      currTime += '15'
    } else if (quarter === 2) {
      currTime += '30'
    } else if (quarter === 3) {
      currTime += '45'
      // Special case: can't just do a range of minutes because this is the next hour, recurse
      return currTime + '-' + this.formatHourAndMinute(hour+1, 0, false)
    }
    if (!range) {
      return currTime
    }
    currTime += '-'
    quarter++
    if (quarter === 1) {
      currTime += '15'
    } else if (quarter === 2) {
      currTime += '30'
    } else if (quarter === 3) {
      currTime += '45'
    }
    return currTime
  }

  // Given an hour 0-23 and quarter 0-3, return a classname representing
  // the color of the quarter.
  getQuarterClasses (day: number, hour: number, quarter: number): string[] {
    if (!this.rulesets || !this.ruleIDToColor || this.editingIdx === undefined) {
      return []
    }
    let classes = []
    const relevantDays = this.getRelevantDays(day)
    // If we find our own color, show that. Otherwise, show the last other color we can.
    outer: for (let i = 0; i < this.rulesets.length; i++) {
      const currRules = this.rulesets[i]
      if (!currRules.customRules.hasRules) {
        continue
      }
      for (let j = 0; j < relevantDays.length; j++) {
        const currDay = relevantDays[j]
        if (currRules.activeTimes[currDay][hour * 4 + quarter]) {
          classes.push(this.ruleIDToColor[currRules.id])
        }
      }
    }
    if (!classes.length) {
      classes.push('grey-dark')
    }
    return classes
  }

  quarterClassBind(day: number, hour: number, quarter: number, dayIdx: number, clsIdx: number): {[key: string]: string} {
    const classes = this.getQuarterClasses(day, hour, quarter)
    const ourClass = classes[clsIdx]
    const numClasses = classes.length
    const height = this.HOURHEIGHT / numClasses
    const top = (this.HOURHEIGHT+this.VGAP)*(dayIdx+1) + (height)*(clsIdx)
    const left = (this.QUARTWIDTH*4+this.HGAP)*(hour+1) + quarter * this.QUARTWIDTH
    const time = this.dayRange.filter(currDay => currDay[1] === day)[0][0] + ' ' + this.formatHourAndMinute(hour, quarter, true)
    return {
      'style': 'height: ' + height + 'px; top: ' + top + 'px; left: ' + left + 'px',
      'class': 'virtual-cell quarter-class ' + 'has-background-' + ourClass,
      'data-top': top + '',
      'data-left': left + '',
      'data-height': height + '',
      'data-show': ourClass === 'grey-dark' ? '' : '1',
      'data-time': time,
      'data-class': ourClass
    }
  }

  getRelevantDays (day: number): string[] {
    const relevantDays = ['*', day + '']
    if (day < 2) {
      relevantDays.push('weekend')
    } else {
      relevantDays.push('weekday')
    }
    return relevantDays
  }

  updateTooltip (mousevent: MouseEvent) {
    const el = mousevent.target as HTMLDivElement
    const topStr = el.getAttribute('data-top')
    const leftStr = el.getAttribute('data-left')
    const ourClass = el.getAttribute('data-class')
    const heightStr = el.getAttribute('data-height')
    const tooltipTime = el.getAttribute('data-time')
    if (!topStr || !leftStr || !ourClass || !heightStr || !tooltipTime || !el.getAttribute('data-show')) {
      return
    }
    const top = parseInt(topStr)
    const left = parseInt(leftStr)
    const height = parseInt(heightStr)
    this.showTooltip = true
    this.tooltipLeft = left
    this.tooltipTop = top
    this.tooltipClass = ourClass
    this.tooltipHeight = height
    this.tooltipTime = tooltipTime
  }

  getTooltipTimetableId (): number {
    if (!this.ruleIDToColor) {
      return 0
    }
    const ruleIDToColor = this.ruleIDToColor
    return parseInt(Object.keys(ruleIDToColor).filter(id => ruleIDToColor[parseInt(id)] === this.tooltipClass)[0])
  }

  getTooltipExplanation (): string {
    if (!this.rulesets) {
      return ''
    }
    const id = this.getTooltipTimetableId()
    if (!id) {
      return 'Internet Blocked'
    }
    return getTimeBasedRulesSummary(this.rulesets.filter(ruleset => ruleset.id === id)[0], false, true)
  }
}
</script>

<style scoped lang="scss">
$vgap: 5px;
$hgap: 2px;
$quartwidth: 8px;
$hourheight: 20px;

.virtual-table {
  overflow: visible;
  position: relative;
  height: calc(8*#{$hourheight} + 8*#{$vgap});
  width: calc(24*#{$quartwidth} + 24*#{$hgap});
}

.virtual-cell {
  position: absolute;
}

table {
  width: 875px;
}

.outer {
  overflow-x: auto;
  overflow-y: visible;
  margin: auto;
}

.quarter-container {
  width: 34px;
  position: static;
}

.quarter {
  height: 20px;
  width: 8px;
  position: static;
  display: inline-block;
}

.quarter-class {
  width: $quartwidth;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.color-dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  flex-shrink: 0;
}
</style>
