<template>
  <div>
    <div v-if="!isSetup && !setupDismissed">
      <!-- The initial setup notification -->
      <home-item
        class="has-background-primary has-text-light"
        title="Welcome 👋"
      >
        <div class="px-2">
          You're one step closer to safer internet. Let's get your devices protected:<br/>
          <div class="pt-3">
            <router-link
              :to="{
                name: 'DeviceSetup'
              }"
              class="mb-3 is-inline-block"
            >
              <b-button
                type="is-light"
                class="mr-3"
                rounded
              >
                Protect my devices
              </b-button>
            </router-link>
            <b-button
              type="is-white"
              @click="dismiss"
              outlined
              rounded
            >
              Dismiss
            </b-button>
          </div>
        </div>
      </home-item>
    </div>
    <div>
      <component
        v-for="component in displayComponents"
        :key="component"
        :is="component"
        :isPro="isPro"
        @done="loadedIdx++"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import MyDeviceItem from '@/components/account-home/my-device-item.vue'
import AlertsItem from '@/components/account-home/alerts-item.vue'
import { Prop } from 'vue-property-decorator'
import GetIsSetup from '@/requests/account/get-is-setup'
import { TOKEN_STORAGE_NAME } from '@/helpers/constants'
import { parseClaims } from '@/helpers/functions'

const LOCAL_STORAGE_NAME = 'account-home-setup-dismissed'

@Component({
  components: {
    HomeItem: () => import('@/components/account-home/home-item.vue'),
    MyDeviceItem,
    AlertsItem,
    UsageItem: () => import('@/components/account-home/usage-item.vue'),
    BlockedCategoriesItem: () => import('@/components/account-home/blocked-categories-item.vue'),
    ViewedCategoriesItem: () => import('@/components/account-home/viewed-categories-item.vue')
  }
})
export default class AccountHome extends Vue {
  @Prop() readonly isPro: boolean | undefined
  
  /**
   * The names of components to load on the homepage.
   */
  readonly COMPONENTS = [
    'my-device-item',
    'alerts-item',
    'usage-item',
    'blocked-categories-item',
    'viewed-categories-item',
  ]

  /**
   * The index of the component within COMPONENTS
   * we have loaded.
   */
  loadedIdx = 0

  /**
   * Whether we have dismissed the initial setup message.
   */
  setupDismissed = true

  /**
   * Whether the user is setup.
   */
  isSetup = true

  /**
   * Requests.
   */
  getIsSetup = new GetIsSetup()

  mounted () {
    this.$emit('update:loading', false)
    this.setupDismissed = localStorage.getItem(LOCAL_STORAGE_NAME + this.accountID) === 'true'
    if (!this.setupDismissed) {
      this.getIsSetup.handle().then(isSetup => {
        this.isSetup = isSetup
      })
    }
  }

  /**
   * Dismiss the initial setup notifcation.
   */
  dismiss () {
    this.setupDismissed = true
    localStorage.setItem(LOCAL_STORAGE_NAME + this.accountID, 'true')
  }

  /**
   * @returns The names of components to display on the homepage.
   */
  get displayComponents (): string[] {
    return this.COMPONENTS.slice(0, this.loadedIdx + 1)
  }

  /**
   * @returns The user's account ID.
   */
  get accountID (): string {
    const jwt = localStorage.getItem(TOKEN_STORAGE_NAME)
    if (!jwt) {
      return ''
    }
    const claims = parseClaims(jwt)
    if (typeof claims.id === 'string') {
      return claims.id
    }
    return ''
  }
}
</script>
