<template>
  <div>
    <page-top
      title="Alert emails"
      :mobile="mobile"
      :float="true"
      floatslot="right"
    >
      <b-button
        slot="right"
        type="is-primary"
        v-if="dirty"
        :loading="saving"
        @click="save"
        rounded
      >
        Save
      </b-button>
    </page-top>
    <div v-if="!loading">
      <div class="is-block pt-4">
        <div
          class="home-item card p-5 mt-2"
          style="overflow: visible;"
          v-for="(email, idx) in model"
          :key="email.id"
        >
          <div class="is-flex is-flex-wrap-wrap">
            <div>
              <span v-if="email.frequency === 'D'">
                Daily 
              </span>
              <span v-else-if="email.frequency === 'W'">
                Weekly 
              </span>
              email to 
              <strong v-if="email.emailAddresses.length === 1">
              {{ email.emailAddresses[0] }}
              </strong>
              <strong v-else>
                multiple addresses
              </strong>
              <span v-if="!email.filter.allDevices || Object.keys(email.filter.categories).length > 0 || email.filter.dataSources.length > 0">
                with custom filter.
              </span>
              <br/>
              <b-tag
                class="mr-2 mt-2"
                type="is-danger"
                v-if="emailInvalid(email)"
              >
                Invalid
              </b-tag>
              <b-tag
                class="mr-2 mt-2"
                type="is-warning"
                v-if="!email.enabled"
              >
                Disabled
              </b-tag>
              <b-tag
                class="mr-2 mt-2"
                type="is-success"
                v-if="!email.sendIfEmpty"
              >
                Only sent if there are new alerts
              </b-tag>
              <b-tag
                class="mr-2 mt-2"
                type="is-success"
                v-if="email.includeSummary"
              >
                Include activity summary
              </b-tag>
              <b-tag
                class="mr-2 mt-2"
                type="is-warning"
                v-if="email.minPriority"
              >
                Only {{ email.minPriority === 3 ? 'high' : 'medium' }} priority
              </b-tag>
              <b-tag
                class="mr-2 mt-2"
                type="is-light"
                v-if="!email.lastSend"
              >
                Not sent yet
              </b-tag>
              <b-tag
                class="mr-2 mt-2"
                type="is-light"
                v-else-if="email.lastSend.wasEmpty"
              >
                Not sent, was empty
              </b-tag>
              <b-tag
                class="mr-2 mt-2"
                type="is-danger"
                v-else-if="email.lastSend.wasErr"
              >
                Couldn't send, contact support
              </b-tag>
              <b-tag
                class="mr-2 mt-2"
                type="is-success"
                v-else
              >
                Sent {{ formatTime(email.lastSend.timestamp) }}
              </b-tag>
            </div>
            <div class="is-flex-grow-1"/>
            <div>
              <b-field>
                <p class="control">
                  <b-tooltip label="Edit" position="is-bottom">
                    <b-button
                      icon-left="pencil"
                      @click="editingIdx = idx"
                      rounded
                    />
                  </b-tooltip>
                </p>
                <p class="control">
                  <b-dropdown position="is-bottom-left">
                    <template #trigger="{ active }">
                      <b-button
                        :type="active ? 'is-primary' : undefined"
                        icon-left="dots-vertical"
                        rounded
                      />
                    </template>
                    <b-dropdown-item @click="previewContents(idx)">
                      Preview contents
                    </b-dropdown-item>
                    <b-dropdown-item @click="model.splice(idx, 1); email.id > 0 && deleteIds.push(email.id) && delete putIds[email.id]">
                      Delete
                    </b-dropdown-item>
                  </b-dropdown>
                </p>
              </b-field>
            </div>
          </div>
        </div>
      </div>
      <div class="is-block mt-4">
        <b-button
          icon-left="plus"
          type="is-primary"
          @click="add"
          :disabled="model && model.length >= max"
        >
          Add an email schedule
        </b-button>
      </div>
    </div>
    <b-modal
      v-if="editingIdx !== -1"
      :active="true"
      @update:active="editingIdx = -1"
    >
      <div class="card p-5">
        <b-field label="Enable this email schedule">
          <b-checkbox
            :value="model[editingIdx].enabled"
            @input="$set(model[editingIdx], 'enabled', $event)"
          />
        </b-field>
        <b-field label="Email frequency">
          <b-radio
            :value="model[editingIdx].frequency"
            @input="$set(model[editingIdx], 'frequency', $event)"
            name="name"
            native-value="D">
            Daily
          </b-radio>
          <b-radio
            :value="model[editingIdx].frequency"
            @input="$set(model[editingIdx], 'frequency', $event)"
            name="name"
            native-value="W">
            Weekly
          </b-radio>
        </b-field>
        <b-field
            label="Who should we email? (Maximum of five)"
            :message="model[editingIdx].emailAddresses.length === 0 ? 'At least one address is needed' : undefined"
            type="is-danger"
        >
          <div class="is-flex-grow-1">
            <b-button
              :disabled="model[editingIdx].emailAddresses.length >= 5"
              @click="model[editingIdx].emailAddresses.push('')"
              class="mb-3"
            >
              Add address
            </b-button>
            <!-- Each address -->
            <div
              class="address is-flex"
              v-for="(v, idx) in model[editingIdx].emailAddresses"
              :key="idx"
            >
              <b-field
                :message="addressValidByIdx(idx) ? undefined : 'Invalid address'"
                :type="addressValidByIdx(idx) ? undefined : 'is-danger'"
              >
                <b-autocomplete
                  v-model="model[editingIdx].emailAddresses[idx]"
                  placeholder="Enter email address..."
                  :data="[ userEmail ]"
                ></b-autocomplete>
              </b-field>
              <b-icon
                icon="delete"
                @click.native="model[editingIdx].emailAddresses.splice(idx, 1)"
              ></b-icon>
            </div>
          </div>
        </b-field>
        <b-field label="Send email even if there are no alerts">
          <b-checkbox
            :value="model[editingIdx].sendIfEmpty"
            @input="$set(model[editingIdx], 'sendIfEmpty', $event)"
          />
        </b-field>
        <b-field label="Minimum alert priority">
          <b-select
            :value="model[editingIdx].minPriority"
            @input="$set(model[editingIdx], 'minPriority', $event)"
          >
            <option
              :value="null"
            >
              Low
            </option>
            <option
              :value="2"
            >
              Medium
            </option>
            <option
              :value="3"
            >
              High
            </option>
          </b-select>
        </b-field>
        <b-field label="Include a summary of internet activity">
          <b-checkbox
            :value="model[editingIdx].includeSummary"
            @input="$set(model[editingIdx], 'includeSummary', $event)"
            :disabled="!model[editingIdx].filter.allDevices && !model[editingIdx].filter.deviceId"
          />
        </b-field>
        <collapse
          class="mt-3"
          title="Email time"
        >
          <time-picker
            :value="model[editingIdx].emailTimestamp"
            :weekly="model[editingIdx].frequency === 'W'"
            @input="$set(model[editingIdx], 'emailTimestamp', $event)"
          />
        </collapse>
        <collapse
          class="mt-3"
          title="Alert filter"
        >
          <alert-filter-edit
            :value="model[editingIdx].filter"
            @input="$set(model[editingIdx], 'filter', $event); !$event.allDevices && !$event.deviceId && $set(model[editingIdx], 'includeSummary', false)"
          />
        </collapse>
        <b-button
          type="is-primary"
          @click="editingIdx = -1"
        >
          Done
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import PageTop from '@/components/common/page-top.vue'
import Spinner from '@/components/common/spinner.vue'
import { Prop, Watch } from 'vue-property-decorator'
import { EMAIL_STORAGE_NAME } from '@/helpers/constants'
import IncludedCategories from '@/components/alert-settings/included-categories.vue'
import dayjs from 'dayjs'
import { getTimezone } from '@/helpers/functions'
import GetTimezone from '@/requests/user-v2/get-timezone'
import PutTimezone from '@/requests/user-v2/put-timezone'
import GetAlertsEmails, { EmailSettings } from '@/requests/alerts-v2/get-alerts-emails'
import PostAlertsEmail from '@/requests/alerts-v2/post-alerts-email'
import PutAlertsEmail from '@/requests/alerts-v2/put-alerts-email'
import Collapse from '@/components/common/collapse.vue'
import TimePicker from '@/components/alert-settings/time-picker.vue'
import AlertFilterEdit from '@/components/alerts/alert-filter-edit.vue'
import DeleteAlertsEmail from '@/requests/alerts-v2/delete-alerts-email'
import GetQuota from '@/requests/quotas/get-quota'

@Component({
  components: {
    PageTop,
    Spinner,
    IncludedCategories,
    Collapse,
    TimePicker,
    AlertFilterEdit
  },
  // Prevent accidental route navigation.
  beforeRouteLeave (to, from, next) {
    if ((this as any).dirty) {
      const answer = window.confirm('Do you really want to leave? You will lose unsaved changes.')
      if (answer) {
        next()
      } else {
        next(false)
      }
    } else {
      next()
    }
  } 
})
export default class AlertSettings extends Vue {
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  
  /**
   * Whether there are changes that need to be saved.
   */
  dirty = false
  /**
   * Whether we are saving data.
   */
  saving = false
  /**
   * Working store of the data.
   */
  model: EmailSettings[] | null = null

  editingIdx = -1
  currAddId = -1
  putIds: {[id: number]: true} = {}
  deleteIds: number[] = []
  max = 0

  /**
   * Requests.
   */
  getAlertsEmails = new GetAlertsEmails()
  postAlertsEmail = new PostAlertsEmail()
  putAlertsEmail = new PutAlertsEmail()
  deleteAlertsEmail = new DeleteAlertsEmail()
  getTimezone = new GetTimezone()
  putTimezone = new PutTimezone()
  getQuota = new GetQuota()

  mounted () {
    // Get the settings
    this.load()
  }

  load () {
    Promise.all([
      this.getAlertsEmails.handle().then(emails => {
        this.model = emails.spec ? emails.spec : []
      }),
      this.getQuota.handle('alert_emails').then(quota => {
        this.max = quota.spec.maxValue
      })
    ]).then(() => {
      this.$emit('update:loading', false)
    })
  }

  @Watch('model', { deep: true, immediate: true }) updateDirty (curr: EmailSettings[] | null, old: EmailSettings[] | null) {
    // Add ability to save to any change in model: but not for initial load
    this.dirty = old !== null && curr !== null
    // Note for later that we need to PUT this email
    if (this.dirty && this.editingIdx !== -1 && this.model && this.model[this.editingIdx].id > 0) {
      this.putIds[this.model[this.editingIdx].id] = true
    }
  }

  /**
   * @returns A promise resolving once the user's timezone has been set, if necessary.
   */
  setTimezoneIfUnset(): Promise<void> {
    return new Promise((resolve, reject) => {
      this.getTimezone.handle().then(tz => {
        if (tz.spec === '' || tz.spec === 'UTC') {
          // Unset
          this.putTimezone.handle(getTimezone()).then(() => {
            resolve()
          }).catch(err => {
            reject(err)
          })
        } else {
          resolve()
        }
      })
    })
  }

  /**
   * @returns A human-readable time string, given a timestamp.
   */
  formatTime (timestamp: number): string {
    return dayjs.unix(timestamp).format('ddd, MMM D h:mm a')
  }

  /**
   * @returns Whether an address is valid.
   * @param idx The index of the address.
   */
  addressValidByIdx (idx: number): boolean {
    if (!this.model) {
      return false
    }
    return this.addressValid(this.model[this.editingIdx].emailAddresses[idx])
  }

  addressValid (address: string): boolean {
    // Check length
    if (address.length > 200) {
      return false
    }
    return /^\w+([\.-]?\w+)*(\+\w+)?@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(address) // eslint-disable-line no-useless-escape
  }

  /**
   * @returns The signed-in user email.
   */
  get userEmail (): string | null {
    return localStorage.getItem(EMAIL_STORAGE_NAME)
  }

  /**
   * Save the settings.
   */
  save () {
    if (!this.model) {
      return
    }
    // Check validity
    if (this.model.some(email => this.emailInvalid(email))) {
      this.$buefy.toast.open({
        message: 'Can\'t save, an email is invalid',
        type: 'is-danger',
        position: 'is-bottom',
        duration: 5000
      })
      return
    }
    const model = this.model
    this.saving = true
    // See if we need to save timezone
    this.setTimezoneIfUnset().then(() => {
      Promise.all(
        // Get the emails we have to PUT
        Object.keys(this.putIds)
          .flatMap(id => {
            const alerts = model.filter(email => email.id === parseInt(id))
            if (alerts.length !== 1) {
              return []
            }
            alerts[0].filter.devices.implicitExclude = false
            return this.putAlertsEmail.handle(alerts[0]) as Promise<any>
        }).concat(
          // Get the emails we have to POST
          model
            .filter(email => email.id < 0)
            .map(email => {
              // Ensure this is set to false
              email.filter.devices.implicitExclude = false
              return email
            })
            .map(email => this.postAlertsEmail.handle(email))
        ).concat(
          // Get the models to delete
          this.deleteIds.map(id => this.deleteAlertsEmail.handle(id))
        )
      ).then(() => {
        this.deleteIds = []
        this.model = null
        this.putIds = {}
        this.saving = false
        this.dirty = false
        this.$emit('update:loading', true)
        this.load()
      })
    })
  }

  add () {
    if (!this.model || !this.userEmail) {
      return
    }
    this.model.push({
      id: this.currAddId--,
      enabled: true,
      frequency: 'W',
      emailTimestamp: dayjs().unix(),
      emailAddresses: [ this.userEmail ],
      sendIfEmpty: false,
      includeSummary: false,
      filter: {
        allDevices: true,
        deviceId: '',
        devices: {
          implicitExclude: false,
          includedDevices: {}
        },
        categories: {},
        dataSources: []
      },
      lastSend: null,
      minPriority: null
    })
    this.editingIdx = this.model.length - 1
  }

  /**
   * Preview the contents of an alert.
   */
  previewContents (idx: number) {
    if (!this.model) {
      return
    }
    this.$router.push({
      name: 'Alerts',
      query: {
        'filter': JSON.stringify(this.model[idx].filter),
        'start': this.model[idx].frequency === 'D' ? dayjs().subtract(1, 'd').unix() + '' : dayjs().subtract(7, 'd').unix() + ''
      }
    })
  }

  /**
   * Get whether the email is invalid in any way.
   */
  emailInvalid (email: EmailSettings): boolean {
    // Check emails valid
    if (!email.emailAddresses.every(address => this.addressValid(address))) {
      return true
    }
    // Check an email is defined
    if (!email.emailAddresses.length) {
      return true
    }
    // Check that a valid device is selected
    if (email.filter.deviceId === '-') {
      return true
    }
    return false
  }
}
</script>

<style scoped>
.address {
  max-width: 500px;
}

.address .icon {
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.raised-optional {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.card {
  margin-bottom: 20px;
}

.home-item {
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  width: 715px;
}

@media (max-width: 1100px) {
  .home-item {
    padding: 20px 10px;
    box-shadow: none;
    border-radius: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px;
    width: 100%;
  }
}
</style>
