<template>
  <div class="page-root">
    <page-top
      title="Alerts"
      :disableDropdown="true"
      :float="true"
      :mobile="mobile"
      floatslot="right"
    >
      <!-- Icon to go to alert settings -->
      <b-button
        slot="right"
        type="is-primary"
        icon-left="email"
        tag="router-link"
        :to="{ name: 'AlertSettings' }"
        outlined
        rounded
      >
        Emails
      </b-button>
    </page-top>
    <div v-if="!loading">
      <!-- Alerts if there are any, placeholder otherwise -->
      <div>
        <!-- Action buttons -->
        <div class="is-flex-tablet mb-5 my-3 is-align-items-center">
          <div class="is-flex">
            <div class="is-size-6 has-text-weight-semibold ml-4 mt-2 is-flex is-align-items-center">
              <div>
                All alerts since
              </div>
              <b-datepicker
                v-model="startDate"
                :min-date="minDate()"
                :max-date="new Date()"
                :append-to-body="true"
                :date-formatter="date => formatTimeRel(Math.round(date.getTime() / 1000))"
                class="mx-4"
              />
              <div>
                (Sorted by most recent)
              </div>
            </div>
          </div>
          <div style="flex-grow: 1"/>
          <div class="mt-4 is-hidden-tablet"/>
          <!-- Button to dismiss selected alerts. -->
          <div class="is-flex is-justify-content-center">
            <b-button
              slot="bottom-left"
              icon-left="delete"
              type="is-danger"
              v-if="selectedRows.length > 0"
              @click="dismiss()"
              :loading="dismissing"
              rounded
            >
              Dismiss
            </b-button>
            <!-- If nothing is selected, button to filter -->
            <b-button
              @click="showFilter = true"
              type="is-primary"
              icon-left="filter-variant"
              v-else
              rounded
              :outlined="!$route.query.filter"
            >
              Filter {{ $route.query.filter ? ' (Active)' : '' }}
            </b-button>
          </div>
        </div>
        <div v-if="failed" class="p-5 has-text-centered">
          <p>
            Couldn't get that in time.
          </p>
          <p>
            Try narrowing the filter or searching for more recent alerts.
          </p>
          <a
            @click="loadPage(page)"
          >
            Retry
          </a>
        </div>
        <!-- Table of alerts -->
        <b-table
          v-else-if="alerts && alerts.length"
          :data="alerts"
          :per-page="NUM_PER_PAGE"
          :checked-rows.sync="selectedRows"
          striped
          hoverable
          checkable
          detailed
          custom-detail-row
          :opened-detailed="$route.query.expand && alerts ? [$route.query.expand] : []"
          :has-detailed-visible="row => row.summarized && row.summarized.length"
          detail-key="deviceId"
        >
          <b-table-column
            label="Description"
            v-slot="props"
          >
            <alert-display :alert="props.row" :isPro="true"/>
          </b-table-column>
          <b-table-column
            label="Time"
            v-slot="props"
          >
            {{ formatTime(props.row.timestamp) }}
          </b-table-column>
          <template slot="detail" slot-scope="props">
            <tr v-for="alert in props.row.summarized" :key="alert.id">
              <td></td>
              <td></td>
              <td>
                <alert-display :alert="alert" :isPro="true"/>
              </td>
              <td>{{ formatTime(props.row.timestamp) }}</td>
            </tr>
          </template>
        </b-table>
        <alerts-placeholder v-else/>
        <div class="is-flex p-5">
          <b-button
            @click="page--"
            :disabled="page === 1 || loading"
            icon-left="arrow-left"
          >
            Prev
          </b-button>
          <div style="flex-grow: 1"/>
          <p class="has-text-grey pt-2">
            Page {{ page }}
          </p>
          <div style="flex-grow: 1"/>
          <b-button
            @click="page++"
            :disabled="!more || loading"
            icon-right="arrow-right"
          >
            Next
          </b-button>
        </div>
      </div>
    </div>
    <b-modal
      v-if="showFilter"
      :active="true"
      @update:active="showFilter = false"
    >
      <div class="card px-5 py-5">
        <alert-filter-edit v-model="filterSettings" />
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import PageTop from '@/components/common/page-top.vue'
import GetAlerts, { Alert, AlertsResult, GetAlertsArgs } from '@/requests/alerts-v2/get-alerts'
import GetAlertsWithFilter, { AlertsFilterSettings } from '@/requests/alerts-v2/get-alerts-with-filter'
import PostAlertsDismissed from '@/requests/alerts-v2/post-alerts-dismissed'
import dayjs from 'dayjs'
import { Prop, Watch } from 'vue-property-decorator'
import { RawLocation, Route } from 'vue-router'
import { MetaResp } from '@/requests/request'
import cloneDeep from 'lodash/cloneDeep'
import assign from 'lodash/assign'
import AlertsPlaceholder from '@/components/common/alerts-placeholder.vue'
import AlertDisplay from '@/components/alerts/alert-display.vue'
import AlertFilterEdit from '@/components/alerts/alert-filter-edit.vue'

@Component({
  components: {
    PageTop,
    AlertsPlaceholder,
    AlertDisplay,
    AlertFilterEdit
  }
})
export default class Alerts extends Vue {
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  /**
   * Whether we are loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether we are dismissing alerts.
   */
  dismissing = false
  /**
   * The alerts to display on the current page.
   */
  alerts: Alert[] | null = null
  /**
   * Whether there are more alerts to get.
   */
  more = false
  /**
   * Whether the last request failed.
   */
  failed = false
  /**
   * Table rows that are selected.
   */
  selectedRows: Alert[] = []

  /**
   * Whether to show the filter modal.
   */
  private showFilterVar = false

  /**
   * Amount of alerts to display on a page.
   */
  readonly NUM_PER_PAGE = 50
  /**
   * The columns to use in the table.
   */
  readonly COLUMNS = [
    {
      field: 'origin',
      label: 'Description'
    },
    {
      field: 'time',
      label: 'Time'
    },
  ]

  /**
   * Requests.
   */
  getAlerts = new GetAlerts()
  getAlertsWithFilter = new GetAlertsWithFilter()
  postAlertsDismissed = new PostAlertsDismissed()

  mounted () {
    this.loadPage(this.page)
  }

  /**
   * Load a particular page.
   */
  loadPage (pageNum: number): void {
    this.$emit('update:loading', true)
    this.failed = false
    // To run when finished
    const handleNewAlerts = (alerts: MetaResp<AlertsResult>) => {
      if (alerts.spec.alerts) {
        // There are alerts
        this.alerts = alerts.spec.alerts
        this.more = alerts.spec.more
      } else {
        // No alerts
        this.alerts = []
        this.more = false
      }
      this.$emit('update:loading', false)
    }
    const handleFail = () => {
      this.failed = true
      this.$emit('update:loading', false)
    }
    const pageOptions = {
      page: pageNum - 1,
      'num-per-page': this.NUM_PER_PAGE,
      start: this.startTime
    } as GetAlertsArgs
    // Get the alerts
    if (this.filterSettings === null) {
      this.getAlerts.handle(pageOptions).then(handleNewAlerts).catch(() => handleFail())
    } else {
      this.getAlertsWithFilter.handle({
        query: pageOptions,
        filter: this.filterSettings
      }).then(handleNewAlerts).catch(() => handleFail())
    }
  }

  /**
   * @returns A human-readable time string, given a timestamp.
   */
  formatTime (timestamp: number): string {
    return dayjs.unix(timestamp).format('ddd, MMM D h:mm a')
  }

  formatTimeRel (timestamp: number): string {
    return dayjs.unix(timestamp).fromNow()
  }

  /**
   * Dismiss all selected alerts.
   */
  dismiss (): void {
    this.dismissing = true
    // Make a dismiss request for each selected
    this.postAlertsDismissed.handle(
      this.selectedRows.flatMap(alert => alert.id ? alert.id : alert.summarized.map(summarized => summarized.id))
    ).then(() => {
      // Toast when all are removed
      this.$buefy.toast.open({
        message: 'Alert(s) dismissed',
        type: 'is-success',
        position: 'is-bottom'
      })
      this.loadPage(this.page)
      this.dismissing = false
      this.selectedRows = []
    })
  }

  get page (): number {
    const q = this.$route.query.page
    if (typeof q === 'string') {
      return parseInt(q)
    }
    return 1
  }

  set page (newPage: number) {
    let currQuery = cloneDeep(this.$route.query)
    if (!currQuery) {
      currQuery = {}
    }
    this.$router.push({
      name: this.$route.name as string,
      query: assign(currQuery, {
        'page': newPage + ''
      })
    })
    window.scrollTo(0, 0)
  }

  get startTime (): number {
    const q = this.$route.query.start
    if (typeof q === 'string') {
      return parseInt(q)
    }
    return dayjs().subtract(6, 'd').startOf('day').unix()
  }

  set startTime (newTime: number) {
    let currQuery = cloneDeep(this.$route.query)
    if (!currQuery) {
      currQuery = {}
    }
    this.$router.push({
      name: this.$route.name as string,
      query: assign(currQuery, {
        'start': newTime + '',
        'page': 1
      })
    })
    window.scrollTo(0, 0)
  }

  get startDate(): Date {
    return dayjs.unix(this.startTime).toDate()
  }

  set startDate(newDate: Date) {
    this.startTime = dayjs.unix(Math.round(newDate.getTime() / 1000)).startOf('day').unix()
  }

  /**
   * @returns The oldest date that can be selected.
   */
  minDate(): Date {
    return dayjs().subtract(89, 'd').startOf('day').toDate()
  }

  get filterSettings (): AlertsFilterSettings {
    const q = this.$route.query.filter
    if (typeof q === 'string') {
      return JSON.parse(q)
    }
    return {
      allDevices: true,
      deviceId: '',
      devices: {
        implicitExclude: true,
        includedDevices: {}
      },
      categories: {},
      dataSources: []
    }
  }

  set filterSettings (newFilter: AlertsFilterSettings) {
    let currQuery = cloneDeep(this.$route.query)
    if (!currQuery) {
      currQuery = {}
    }
    this.$router.push({
      name: this.$route.name as string,
      query: assign(currQuery, {
        'filter': JSON.stringify(newFilter),
        'page': 1
      })
    })
  }

  get showFilter (): boolean {
    return this.showFilterVar
  }

  set showFilter (newVal: boolean) {
    if (!newVal) {
      this.showFilterVar = false
      this.loadPage(1)
    } else {
      // Initialize with default value if not defined
      if (this.filterSettings === null) {
        
      }
      this.showFilterVar = true
    }
  }

  @Watch('$route') updateOnRoute(route: Route, oldRoute: Route) {
    if (route.query['page'] !== oldRoute.query['page']) {
      this.loadPage(this.page)
      return
    }
    if (route.query['start'] !== oldRoute.query['start']) {
      this.loadPage(this.page)
      return
    }
  } 
}
</script>
