<template>
  <div :set="mAppsList = appsList">
    <page-top
      title="App approval"
      :float="true"
      :mobile="mobile"
      floatslot="float"
    >
      <div slot="float">
        <div class="p-2" v-if="waiting">
          <spinner/>
        </div>
        <b-field v-else>
          <p class="control">
            <b-button
              :disabled="waiting"
              icon-left="cancel"
              :label="mobile ? '' : Object.keys(selectedApps).length ? 'Block ' + Object.keys(selectedApps).length : 'Block All'"
              @click="blockSelected"
              rounded
            />
          </p>
          <p class="control">
            <b-button
              :disabled="waiting"
              icon-right="check"
              :label="mobile ? Object.keys(selectedApps).length ? Object.keys(selectedApps).length +  ' Apps' : 'All' : Object.keys(selectedApps).length ? 'Allow ' + Object.keys(selectedApps).length : 'Allow All'"
              @click="allowSelected"
              rounded
            />
          </p>
        </b-field>
      </div>
      <div slot="right">
        <div class="p-3" v-if="waiting">
          <spinner/>
        </div>
        <enable-notifications v-else-if="!mobile"/>
      </div>
      <b-dropdown
        slot="bottom"
        position="is-bottom-left"
        v-model="selectedDevice"
        :disabled="waiting"
        :class="{ 'dropdownOpen': 'overNav' }"
      >
        <button class="button is-primary is-rounded" slot="trigger">
          <span>{{ devices[selectedDevice] }}</span>
          <b-icon icon="menu-down"></b-icon>
        </button>
        <b-dropdown-item
          v-for="key in Object.keys(devices)"
          :key="key"
          :value="key"
        >{{ devices[key] }}</b-dropdown-item>
      </b-dropdown>
    </page-top>
    <div v-if="!deviceSupported[selectedDevice] && !loading" class="is-flex is-align-items-center is-flex-direction-column mt-4">
      <b-icon
        icon="cellphone-arrow-down"
        size="is-large"
      />
      <p class="is-size-4 mt-3">
        Not supported.
      </p>
      <p class="is-size-6 mt-2 has-text-grey">
        Update the Android app to use App approval.
      </p>
    </div>
    <div v-else-if="!loading" class="mt-2">
      <div
        :set="onParent = approvalRequiredOnParent()"
        class="is-flex is-justify-content-space-between app app-block has-background-white py-4 pl-4 pr-2 mt-4"
        style="cursor: pointer;"
        v-if="onParent"
        @click="toggleRequired()"
      >
        <div>
          Approval is required for new apps because this setting is enabled on <router-link
            :to="{
              name: 'AppApproval',
              query: {
                'device-id': approvalRequiredOnParent()
              }
            }"
          >
            {{ devices[onParent] }}
          </router-link>
        </div>
        <b-switch
          :value="true"
          :disabled="true"
        />
      </div>
      <div
        v-else
        class="is-flex is-justify-content-space-between app app-block has-background-white py-4 pl-4 pr-2 mt-4"
        style="cursor: pointer;"
        @click="toggleRequired()"
      >
        <div>
          Require approval for new apps
        </div>
        <b-switch
          :value="appBlocking.blockingModel.baseRuleset.approvalRequired || (changes && changes.changes && changes.approvalRequired)"
          :disabled="changes && changes.changes && changes.approvalRequired !== null"
          @click.native="$event.preventDefault(); $event.stopPropagation(); (changes && changes.changes && changes.approvalRequired !== null) || toggleRequired();"
        />
      </div>
      <div
        v-if="mobile"
        class="app app-block has-background-white py-4 mt-2 pl-4 pr-2"
      >
        <enable-notifications :mobile="true"/>
      </div>
      <div>
        <div v-if="!mAppsList.length">
          <div class="is-flex is-align-items-center is-flex-direction-column mt-5">
            <b-icon
              icon="check"
              size="is-large"
            />
            <p class="is-size-4 mt-3">
              Up to date
            </p>
            <p class="is-size-6 mt-2 has-text-grey">
              There have been no new apps installed since you last visited this page.
            </p>
            <b-button
              class="mt-3"
              type="is-primary"
              label="Manage blocked apps"
              tag="router-link"
              :to="{
                name: 'BlockCategories',
                query: {
                  'device-id': selectedDevice
                },
                hash: '#apps'
              }"
            />
          </div>
        </div>
        <div v-else>
          <div class="is-flex is-align-items-center mt-2 pt-3">
            <b-checkbox
              type="is-primary"
              :value="Object.keys(selectedApps).length === appBlocking.meta.appOrder.length"
              :disabled="waiting"
              @input="setAllSelected($event)"
            />
            <div class="is-size-5 has-text-weight-semibold is-family-secondary">
              {{ appBlocking.blockingModel.baseRuleset.approvalRequired || (changes && changes.changes && changes.approvalRequired) ? 'Waiting for approval' : 'New apps' }}
            </div>
            <div class="is-flex-grow-1"/>
            <b-field class="mr-2">
              <p class="control">
                <b-button
                  :disabled="waiting"
                  icon-left="cancel"
                  :label="mobile ? '' : Object.keys(selectedApps).length ? 'Block ' + Object.keys(selectedApps).length : 'Block All'"
                  @click="blockSelected"
                  rounded
                />
              </p>
              <p class="control">
                <b-button
                  :disabled="waiting"
                  icon-right="check"
                  :label="mobile ? Object.keys(selectedApps).length ? Object.keys(selectedApps).length +  ' Apps' : 'All' : Object.keys(selectedApps).length ? 'Allow ' + Object.keys(selectedApps).length : 'Allow All'"
                  @click="allowSelected"
                  rounded
                />
              </p>
            </b-field>
          </div>
          <transition-group
            name="list"
            tag="div"
            class="mt-5 app-block"
          >
            <div
              v-for="app in mAppsList"
              :key="app.key"
              class="app has-background-white"
            >
              <div
                class="is-flex is-align-items-center"
              >
                <div
                  class="py-4 pl-4"
                >
                  <div>
                    <div>
                      <div class="is-align-items-center" :class="{'is-flex': !mobile}">
                        <div class="is-flex is-align-items-center">
                          <b-checkbox
                            :disabled="waiting"
                            :value="selectedApps[app.key]"
                            @input="selectApp(app.key, $event)"
                          />
                          <a
                            class="app-name is-size-6 has-text-weight-medium has-text-link"
                            target="blank"
                            :href="getStoreHref(app.key)"
                          >
                            <b-icon icon="google-play" size="is-small" /> {{ app.name }}
                          </a>
                        </div>
                        <div v-if="!selectedDevice" :class="{'pl-2': !mobile}">
                          <span
                            v-if="appBlocking.meta.appData[app.key].installedOn.length === 1 && appBlocking.meta.appData[app.key].installedOn[0] !== selectedDevice"
                          >
                            · <span
                              class="has-text-primary underline-on-hover"
                              @click="$event.stopPropagation(); displayingDevices = appBlocking.meta.appData[app.key].installedOn"
                            >
                              1 device
                            </span>
                          </span>
                          <span
                            v-else-if="appBlocking.meta.appData[app.key].installedOn.length > 1"
                            class="has-text-primary underline-on-hover"
                            @click="$event.stopPropagation(); displayingDevices = appBlocking.meta.appData[app.key].installedOn"
                          >
                            {{ appBlocking.meta.appData[app.key].installedOn.length }} devices <span v-if="appBlocking.meta.appData[app.key].installedOn.some(currID => currID === selectedDevice)">(including this one)</span>
                          </span>
                        </div>
                        <div v-else class="has-text-grey" :class="{'pl-2': !mobile}">
                          {{ formatInstallTime(app.key) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="flex-grow: 1"/>
                <b-field class="mr-2">
                  <p class="control">
                    <b-button
                      :disabled="changes && changes.changes && changes.changes.apps[app.key]"
                      icon-left="cancel"
                      :label="mobile ? '' : 'Block'"
                      rounded
                      @click="setAppBlocked(app.key, true)"
                    />
                  </p>
                  <p class="control">
                    <b-button
                      :disabled="changes && changes.changes && changes.changes.apps[app.key]"
                      icon-right="check"
                      :label="mobile ? '' : 'Allow'"
                      rounded
                      @click="setAppBlocked(app.key, false)"
                    />
                  </p>
                </b-field>
              </div>
            </div>
          </transition-group>
        </div>
      </div>
    </div>
    <b-modal
      v-if="displayingDevices"
      @update:active="displayingDevices = null"
      :active="true"
    >
      <div class="card p-3">
        <b-table
          :data="displayingDevices.map(id => { return {id: id} })"
        >
          <b-table-column
            label="Device"
            v-slot="props"
          >
            <div class="is-flex is-align-items-center">
              <router-link
                :to="{
                  name: 'Device',
                  query: {
                    'device-id': props.row.id
                  }
                }"
              >
                {{ devices[props.row.id] }}
              </router-link>
              <b-button
                class="ml-3"
                icon-right="check"
                label="Select"
                @click="selectedDevice = props.row.id; displayingDevices = null;"
              />
            </div>
          </b-table-column>
        </b-table>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import GetDevices from '@/requests/devices/get-devices'
import GetAppBlocking, { AppBlockingModelResp, AppModel, AppsRuleset, BlockingModel, ResolvedAppModel } from '@/requests/blocking/get-app-blocking'
import PatchAppBlockingBaseRuleset from '@/requests/blocking/patch-app-blocking-base-ruleset'
import { Prop, Watch } from 'vue-property-decorator'
import EnableNotifications from '@/components/account-home/enable-notifications.vue'
import Spinner from '@/components/common/spinner.vue'
import { DelayedQueue } from '@/helpers/delayedqueue'
import dayjs from 'dayjs'
import GetCategoriesRules from '@/requests/categories-v2/get-categories-rules'
import escape from 'lodash/escape'
import PatchCategoryBlockingBaseRuleset, { CategoriesRuleset } from '@/requests/blocking/patch-category-blocking-base-ruleset'

class AppRulesetChanges {
  changes: AppsRuleset

  constructor(changes: AppsRuleset) {
    this.changes = changes
  }

  combine(other: AppRulesetChanges): AppRulesetChanges {
    const newArgs = this.changes
    if (other.changes.approvalRequired != null) {
      newArgs.approvalRequired = other.changes.approvalRequired
    }
    Object.keys(other.changes.apps).forEach(app => {
      newArgs.apps[app] = other.changes.apps[app]
    })
    return new AppRulesetChanges(newArgs)
  }
}

interface AppListItem {
  key: string;
  name: string;
}

@Component({
  components: {
    PageTop,
    EnableNotifications,
    Spinner
  }
})
export default class AppApproval extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined

  devices: {[deviceID: string]: string} = {}
  deviceSupported: {[deviceID: string]: boolean} = {}
  appBlocking: AppBlockingModelResp | null = null
  waiting = false
  queue: DelayedQueue<AppRulesetChanges> | null = null
  changes: AppRulesetChanges | undefined | null = null
  displayingDevices: number[] | null = null
  selectedApps: {[app: string]: boolean} = {}

  getDevices = new GetDevices()
  getAppBlocking = new GetAppBlocking()
  patchAppBlockingBaseRuleset = new PatchAppBlockingBaseRuleset()
  patchCategoryBlockingBaseRuleset = new PatchCategoryBlockingBaseRuleset()
  getCategoriesRules = new GetCategoriesRules()

  mounted () {
    this.queue = new DelayedQueue(3000, changes => {
      const selectedDevice = this.selectedDevice
      return this.patchAppBlockingBaseRuleset.handle({
        deviceId: selectedDevice,
        ruleset: changes.changes
      }).then(() => {
        this.selectedApps = {}
        const appBlocking = this.appBlocking
        if (changes.changes && changes.changes.apps && appBlocking && appBlocking.meta) {
          const associatedCategories: {[c: number]: true} = {}
          Object.keys(changes.changes.apps).forEach(appKey => {
            const meta = appBlocking.meta.appData[appKey]
            if (meta && meta.categories) {
              meta.categories.forEach(category => associatedCategories[category] = true)
            }
          })
          this.getCategoriesRules.handle({
            "device-id": selectedDevice,
            mac: ''
          }).then(rules => {
            if (rules.spec.categories) {
              const categoryNames: string[] = []
              const ruleset: CategoriesRuleset = {categories: {}}
              rules.spec.categories.forEach(category => {
                if (category.frozen || category.action === 1 || !associatedCategories[category.id]) {
                  return
                }
                categoryNames.push(category.displayName)
                ruleset.categories[category.id] = {
                  blocked: false
                }
              })
              if (categoryNames.length > 0) {
                this.$buefy.dialog.confirm({
                  confirmText: 'Unblock ' + categoryNames.length + ' categories',
                  message: '<p>Unblock categories used by these apps?</p><br/><ul>' +
                    categoryNames.map(category => '<li>' + escape(category) + '</li>').reduce((prev, curr) => prev + curr, '') +
                    '</ul>',
                  onConfirm: () => {
                    this.patchCategoryBlockingBaseRuleset.handle({
                      'device-id': selectedDevice,
                      mac: '',
                      ruleset: ruleset
                    }).then(() => {
                      this.$buefy.snackbar.open({
                        message: 'Categories updated',
                        type: 'is-success',
                        duration: 5000
                      })
                    })
                  },
                  cancelText: 'Don\'t unblock'
                })
              }
            }
          })
        }
        return this.load(this.selectedDevice, false)
      })
    }, waiting => {
      this.waiting = waiting
      this.changes = null
    })
    this.getDevices.handle().then(devices => {
      // this.$set(this.devices, '', 'All Devices')
      // this.deviceSupported[''] = true
      if (devices.mobile) {
        devices.mobile.forEach(device => {
          if (device.type === 'android-device') {
            if (device.version) {
              const versionSplit = device.version.split('.')
              if (versionSplit.length > 1) {
                const major = parseInt(versionSplit[0])
                const minor = parseInt(versionSplit[1])
                if (major > 3 || (major === 3 && minor >= 5)) {
                  this.deviceSupported[device.id] = true
                }
              }
            }
            this.$set(this.devices, device.id, device.name)
          }
        })
      }
    }).then(() => {
      this.load(this.selectedDevice, true)
    })
  }

  /**
   * @returns The selected device ID from the URL.
   */
  get selectedDevice (): string {
    if (typeof this.$route.query['device-id'] === 'string') {
      return this.$route.query['device-id']
    }
    return '' // Default
  }

  /**
   * Store the selected device ID in the URL.
   */
  set selectedDevice (selected: string) {
    this.$router.push({
      name: 'AppApproval',
      query: {
        'device-id': selected
      }
    })
  }

  @Watch('selectedDevice') loadFromDeviceChange(newSelection: string) {
    this.load(newSelection, true)
  }

  load (newSelection: string, setLoading: boolean): Promise<any> {
    if (setLoading) {
      this.$emit('update:loading', true)
    }
    return this.getAppBlocking.handle({
      'device-id': newSelection,
      resolve: true
    }).then(resp => {
      this.appBlocking = resp.spec
      this.$emit('update:loading', false)
    })
  }

  toggleRequired() {
    if (!this.appBlocking || !this.appBlocking.blockingModel) {
      return
    }
    if (this.changes && this.changes.changes && this.changes.changes.approvalRequired !== null) {
      return // disabled
    }
    this.setRequired(this.appBlocking.blockingModel.baseRuleset.approvalRequired !== true)
  }

  setRequired(required: boolean) {
    if (required) {
      this.$buefy.dialog.confirm({
        type: 'is-warning',
        message: 'The ' + this.appsList.length + ' apps below will be blocked. Any newly installed apps will have to be approved first.',
        onConfirm: async () => {
          this.changes = await this.queue?.enqueue(new AppRulesetChanges({
            approvalRequired: true,
            apps: {}
          }))
        }
      })
    } else {
      this.$buefy.dialog.confirm({
        type: 'is-warning',
        message: 'The ' + this.appsList.length + ' apps below, and other apps installed in the future will now be accessible.',
        onConfirm: async () => {
          this.changes = await this.queue?.enqueue(new AppRulesetChanges({
            approvalRequired: false,
            apps: {}
          }))
        }
      })
    }
  }

  approvalRequiredOnParent(): string | null {
    if (!this.appBlocking) {
      return null
    }
    if (this.appBlocking.blockingModel.baseRuleset.approvalRequired) {
      return null
    }
    return this.approvalRequiredFor(this.appBlocking.blockingModel)
  }

  approvalRequiredFor(model: BlockingModel<AppsRuleset>): string | null {
    if (model.baseRuleset.approvalRequired) {
      return model.deviceRef.deviceId
    }
    if (!model.parents) {
      return null
    }
    for (let i = 0; i < model.parents.length; i++) {
      const parent = model.parents[i]
      const required = this.approvalRequiredFor(parent)
      if (required) {
        return required
      }
    }
    return null
  }

  get appsList(): AppListItem[] {
    const appBlocking = this.appBlocking
    if (!appBlocking) {
      return []
    }
    const selectedDevice = this.selectedDevice
    if (this.approvalRequiredFor(appBlocking.blockingModel)) {
      // Approval on
      return Object.keys(appBlocking.resolvedBlockingModel)
        .sort((a, b) => appBlocking.meta.appData[b].installedAt - appBlocking.meta.appData[a].installedAt)
        .filter(app => {
          const model = appBlocking.resolvedBlockingModel[app]
          if (!model) {
            return false
          }
          return model.blocked && model.reason.source && model.reason.source.other === 'Approval'
        })
        .map(app => {
          return {
            key: app,
            name: appBlocking.meta.appData[app].name
          } as AppListItem
        })
    } else {
      // Approval off, return the apps that *would* be blocked if approval were turned on
      return Object.keys(appBlocking.resolvedBlockingModel)
        .sort((a, b) => appBlocking.meta.appData[b].installedAt - appBlocking.meta.appData[a].installedAt)
        .filter(app => {
          const model = appBlocking.resolvedBlockingModel[app]
          if (!model) {
            return false
          }
          return !model.reason || model.reason.device.deviceId !== selectedDevice
        })
        .map(app => {
          return {
            key: app,
            name: appBlocking.meta.appData[app].name
          } as AppListItem
        })
    }
  }

  setAllSelected (selected: boolean) {
    if (!this.appBlocking) {
      return
    }
    if (selected) {
      this.appsList.forEach(app => this.$set(this.selectedApps, app.key, true))
    } else {
      this.selectedApps = {}
    }
  }

  selectApp (app: string, selected: boolean) {
    if (selected) {
      this.$set(this.selectedApps, app, true)
    } else {
      this.$delete(this.selectedApps, app)
    }
  }

  async setAppBlocked (app: string, blocked: boolean) {
    this.changes = await this.queue?.enqueue(new AppRulesetChanges({
      approvalRequired: null,
      apps: {
        [app]: {
          blocked: blocked
        }
      }
    }))
  }

  async setSelectedBlocked (blocked: boolean, promptForAll: boolean) {
    if (!this.appBlocking) {
      return
    }
    const appChanges: {[app: string]: AppModel} = {}
    const selected = Object.keys(this.selectedApps)
    if (selected.length) {
      selected.forEach(app => appChanges[app] = {blocked: blocked})
    } else if (promptForAll) {
      if (blocked) {
        this.$buefy.dialog.confirm({
          message: 'Block all unapproved apps?',
          type: 'is-danger',
          confirmText: 'Block all',
          onConfirm: () => {
            this.setSelectedBlocked(true, false)
          }
        })
      } else {
        this.$buefy.dialog.confirm({
          message: 'Allow all unapproved apps?',
          type: 'is-success',
          confirmText: 'Allow all',
          onConfirm: () => {
            this.setSelectedBlocked(false, false)
          }
        })
      }
    } else {
      this.appsList.forEach(app => appChanges[app.key] = {blocked: blocked})
    }
    if (Object.keys(appChanges).length) {
      this.changes = await this.queue?.enqueue(new AppRulesetChanges({
        approvalRequired: null,
        apps: appChanges
      }))
    }
  }

  allowSelected () {
    this.setSelectedBlocked(false, true)
  }

  blockSelected () {
    this.setSelectedBlocked(true, true)
  }

  formatInstallTime (app: string): string {
    if (!this.appBlocking) {
      return ''
    }
    const installedAt = this.appBlocking.meta.appData[app].installedAt
    if (!installedAt) {
      return ''
    }
    return dayjs.unix(installedAt).fromNow()
  }

  getStoreHref (appId: string): string {
    return 'https://play.google.com/store/apps/details?id=' + encodeURIComponent(appId.split('/')[1])
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}

.lower-notifications {
  display: none;
}

.app-block {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.app {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.underline-on-hover {
  cursor: pointer;
}

.underline-on-hover:hover {
  text-decoration: underline !important;
}

.list-enter-active, .list-leave-active {
  transition: all 0.5s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: scale(0);
}
.list-move {
  transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}
</style>
