<template>
  <div>
    <div class="top-container px-4 py-3 has-text-black">
      <div>
        <div class="is-family-secondary has-text-weight-semibold">Blocked sites:<br/>{{ deviceName }}</div>
      </div>
      <div style="flex-grow: 1"/>
      <b-field>
        <p class="control">
          <!-- Show descriptions button -->
          <b-button
            v-if="!dirty"
            @click="expanded = !expanded"
            slot="right"
            rounded
          >
            {{ expanded ? 'Hide descriptions' : 'Show descriptions' }}
          </b-button>
          <!-- Save button -->
          <b-button
            v-if="dirty"
            type="is-primary"
            @click="save"
            :loading="saving"
            slot="right"
            rounded
          >
            Save
          </b-button>
        </p>
        <p class="control">
          <b-dropdown position="is-bottom-left">
            <template #trigger="{ active }">
              <b-button
                :type="active ? 'is-primary' : undefined"
                icon-left="dots-vertical"
              />
            </template>
            <b-dropdown-item @click="reset">
              Reset to defaults
            </b-dropdown-item>
          </b-dropdown>
        </p>
      </b-field>
    </div>
    <categories-rules-editor
      v-if="!loading"
      v-model="rules"
      :showEnable="true"
      :expanded="expanded"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch, Prop } from 'vue-property-decorator'
import CategoriesRulesEditor from '@/components/blocked-categories/categories-rules-editor.vue'
import { TOKEN_STORAGE_NAME } from '@/helpers/constants'
import { parseClaims } from '@/helpers/functions'
import GetCategoriesRules, { CategoriesRules } from '@/requests/categories-v2/get-categories-rules'
import PatchCategoriesRules from '@/requests/categories-v2/patch-categories-rules'
import GetDeviceName from '@/requests/devices/get-device-name'

@Component({
  components: {
    CategoriesRulesEditor
  }
})
export default class BlockStandalone extends Vue {
  /**
   * Whether we are loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether there are changes to be saved.
   */
  dirty = false
  /**
   * Whether we are currently saving.
   */
  saving = false
  /**
   * The current rules.
   */
  rules: CategoriesRules | null = null
  /**
   * This device's device ID.
   */
  deviceID = ''
  /**
   * The name of this device.
   */
  deviceName = ''
  /**
   * Whether to show descriptions.
   */
  expanded = false

  /**
   * Requests.
   */
  getCategoriesRules = new GetCategoriesRules()
  patchCategoriesRules = new PatchCategoriesRules()
  getDeviceName = new GetDeviceName()

  mounted () {
    this.load()
  }

  load () {
    // Find our device ID
    const jwt = localStorage.getItem(TOKEN_STORAGE_NAME)
    if (typeof jwt !== 'string') {
      throw new Error('JWT required')
    }
    const claims = parseClaims(jwt)
    this.deviceID = claims['deviceID']
    // Load the rules for this device
    Promise.all([
      this.getCategoriesRules.handle({
        'device-id': this.deviceID,
        mac: ''
      }).then(rules => {
        rules.spec.hasRules = true
        this.rules = rules.spec
      }),
      this.getDeviceName.handle(this.deviceID).then(name => {
        this.deviceName = name
      })
    ]).then(() => {
      this.$emit('update:loading', false)
    })
  }

  /**
   * Save the changes.
   */
  save (): Promise<void> {
    return new Promise((resolve, reject) => {
      if (!this.rules) {
        return
      }
      this.saving = true
      this.patchCategoriesRules.handle({
        'device-id': this.deviceID,
        mac: '',
        rules: this.rules
      }).then(() => {
        this.saving = false
        this.dirty = false
        this.$buefy.toast.open({
          message: 'Changes Saved',
          type: 'is-success',
          position: 'is-bottom'
        })
        resolve()
      }).catch(e => reject(e))
    })
  }

  reset () {
    if (!this.rules) {
      return
    }
    const rules = this.rules
    this.$buefy.dialog.confirm({
      message: 'Are you sure you wish to reset the block settings of this device to your defaults? This with also erase any allowlist/blocklist settings.',
      type: 'is-warning',
      confirmText: 'Reset',
      onConfirm: () => {
        rules.hasRules = false
        this.save().then(() => {
          this.load()
        })
      }
    })
  }

  @Watch('rules') showSave (newVal: any, oldVal: any) {
    if (oldVal !== null) {
      this.dirty = true
    }
  }
}
</script>

<style scoped>
.top-container {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  opacity: 0.8;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}
</style>
