<template>
  <div
    v-if="!loading"
  >
    <div
      class="p-3 mb-2 is-size-5 is-family-secondary has-text-weight-semibold"
    >
      Clear browsing history for:
    </div>
    <device-selector
      v-model="deviceSelection"
      class="ml-2"
      :devices="devices"
      placeholder="My whole account"
      lifeguardPlaceholder="All Devices on Network"
    />
    <div
      class="p-3 mb-2 is-size-5 is-family-secondary has-text-weight-semibold"
    >
      Delete:
    </div>
    <b-field class="ml-3">
      <b-checkbox
        type="is-danger"
        v-model="deleteBrowsingHistory"
      >
        Browsing history
      </b-checkbox>
      <b-checkbox
        type="is-danger"
        v-if="showDeleteLocation"
        v-model="deleteLocation"
      >
        Location history
      </b-checkbox>
      <!-- <b-checkbox
        type="is-danger"
        v-model="deleteSecurityAlerts"
      >
        Security Alerts
      </b-checkbox> -->
    </b-field>
    <b-message
      v-if="deleteBrowsingHistory || deleteLocation || deleteSecurityAlerts"
      type="is-danger"
      class="mt-5 ml-2"
    >
      This will delete all {{ dataTypes }} for the {{ !deviceSelection.id && !deviceSelection.mac ? 'whole account' : 'device(s)' }}. It is not reversible, and it may
      take a few minutes for the changes to show.
    </b-message>
    <b-button
      v-if="deleteBrowsingHistory || deleteLocation || deleteSecurityAlerts"
      class="ml-2"
      icon-left="delete"
      type="is-danger"
      rounded
      @click="confirmDelete"
    >
      Delete
    </b-button>
  </div>
</template>

<script lang="ts">
import GetDevices, { APIDevices } from '@/requests/devices/get-devices'
import Vue from 'vue'
import Component from 'vue-class-component'
import DeviceSelector, { DeviceSelection } from '@/components/common/device-selector.vue'
import { Prop } from 'vue-property-decorator'
import DeleteAllUsageHistory from '@/requests/usage-v2/delete-all-usage-history'
import DeleteSecurityAlerts from '@/requests/security-alerts/delete-security-alerts'
import { SecurityAlert } from '@/requests/security-alerts/get-security-alerts'
import DeleteAllLocationHistory from '@/requests/location/delete-all-location-history'

@Component({
  components: {
    DeviceSelector
  }
})
export default class ClearHistory extends Vue {
  /**
   * Whether we are currently loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Device list.
   */
  devices: APIDevices | null = null

  deleteBrowsingHistory = true
  deleteLocation = true
  deleteSecurityAlerts = false

  /**
   * Requests.
   */
  getDevices = new GetDevices()
  deleteAllUsageHistory = new DeleteAllUsageHistory()
  deleteSecurityAlertsReq = new DeleteSecurityAlerts()
  deleteAllLocationHistory = new DeleteAllLocationHistory()

  mounted () {
    this.getDevices.handle().then(devices => {
      if (!devices.mobile) {
        devices.mobile = []
      }
      if (!devices.lifeguards) {
        devices.lifeguards = []
      }
      if (!devices.dns) {
        devices.dns = []
      }
      this.devices = devices
      this.$emit('update:loading', false)
    })
  }

  get showDeleteLocation (): boolean {
    if (!this.devices) {
      return false
    }
    if (this.deviceSelection.id) {
      return this.devices.mobile && this.devices.mobile
        .filter(device => device.id === this.deviceSelection.id && device.metadata && device.metadata['knox-serial'] !== undefined)
        .length > 0
    } else {
      return this.devices.mobile && this.devices.mobile
        .filter(device => device.metadata && device.metadata['knox-serial'] !== undefined)
        .length > 0
    }
  }

  get dataTypes (): string {
    let andPrefix = false
    let str = ''
    if (this.deleteBrowsingHistory) {
      str += 'browsing history '
      andPrefix = true
    }
    if (this.deleteLocation && this.showDeleteLocation) {
      if (andPrefix) {
        str += ' and '
      }
      str += 'location history'
    }
    // if (this.deleteSecurityAlerts) {
    //   if (andPrefix) {
    //     str += ' and '
    //   }
    //   str += 'security alerts'
    // }
    return str
  }

  /**
   * @returns The selected device ID from the path.
   */
  get deviceSelection (): DeviceSelection {
    const selection = { id: '', mac: '', valid: false }
    if (typeof this.$route.query['device-id'] === 'string') {
      selection.id = this.$route.query['device-id']
    }
    if (typeof this.$route.query['mac'] === 'string') {
      selection.mac = this.$route.query['mac']
    }
    return selection
  }

  /**
   * Store the selected device ID in the path.
   */
  set deviceSelection (selection: DeviceSelection) {
    this.$router.push({
      name: 'ClearHistory',
      query: {
        'device-id': selection.id,
        'mac': selection.mac
      }
    })
  }

  /**
   * Show a dialog to confirm whether to delete usage data.
   */
  confirmDelete () {
    // Find the name of the device
    let deviceName = 'your whole account'
    const deviceID = this.deviceSelection.id
    const mac = this.deviceSelection.mac
    if (deviceID !== '' && this.devices) {
      if (this.devices.mobile) {
        for (let i = 0; i < this.devices.mobile.length; i++) {
          if (this.devices.mobile[i].id === deviceID) {
            deviceName = this.devices.mobile[i].name
            break
          }
        }
      }
      if (deviceName === 'your whole account' && this.devices.dns) {
        for (let i = 0; i < this.devices.dns.length; i++) {
          if (this.devices.dns[i].id === deviceID) {
            deviceName = this.devices.dns[i].name
            break
          }
        }
      }
      if (deviceName === 'your whole account' && this.devices.lifeguards) {
        lg: for (let i = 0; i < this.devices.lifeguards.length; i++) {
          if (this.devices.lifeguards[i].id === deviceID) {
            if (mac === '') {
              deviceName = this.devices.lifeguards[i].name
              break lg
            } else {
              for (let j = 0; j < this.devices.lifeguards[i].devices.length; j++) {
                if (this.devices.lifeguards[i].devices[j].mac === mac) {
                  deviceName = this.devices.lifeguards[i].devices[j].name
                  break lg
                }
              }
            }
          }
        }
      }
    }
    this.$buefy.dialog.confirm({
      message: 'Are you sure you wish to delete data for ' + deviceName + '?',
      type: 'is-danger',
      confirmText: 'Delete',
      onConfirm: () => {
        this.$emit('update:loading', true)
        const proms: Promise<any>[] = []
        if (this.deleteBrowsingHistory) {
          proms.push(this.deleteAllUsageHistory.handle({
            'device-id': this.deviceSelection.id,
            mac: this.deviceSelection.mac
          }))
        }
        if (this.deleteLocation && this.showDeleteLocation) {
          proms.push(this.deleteAllLocationHistory.handle(this.deviceSelection.id))
        }
        if (this.deleteSecurityAlerts) {
          proms.push(this.deleteSecurityAlertsReq.handle({
            deviceID: this.deviceSelection.id,
            mac: this.deviceSelection.mac,
          } as SecurityAlert))
        }
        Promise.all(proms).then(() => {
          this.$emit('update:loading', false)
          this.$buefy.toast.open({
            message: 'Data deleted',
            type: 'is-success',
            position: 'is-bottom',
            duration: 4000
          })
        })
      }
    })
  }
}
</script>
