<template>
  <div
    class="create-account clip-width"
    :class="{ faded: loading }"
  >
    <div class="clip-width-smaller mb-5">
      <b-message
        v-if="status === 'DANGER_TEXT'"
        :active.sync="statusActive"
        type="is-danger"
        :title="statusText"
      />
    </div>
    <div>
      <b-steps :has-navigation="false" v-model="currStep">
        <b-step-item :clickable="true" icon="account" v-if="!signedIn">
          <div class="clip-width-smaller">
            <div class="has-family-secondary is-size-5 has-text-weight-semibold has-text-centered mb-1">
              Get peace of mind on the Internet
            </div>
            <div class="has-family-secondary is-size-6 has-text-grey has-text-centered mb-4">
              Create a Safe Surfer account for a 7-day free trial 🌏
            </div>
            <b-message
              v-if="refererID"
              type="is-primary"
            >
              You've been invited by <strong>{{ referrerName }}</strong>.
            </b-message>
            <auth
              :createAccount="true"
              :loading="loading"
              @update:loading="$emit('update:loading', $event)"
              :referer="refererID"
              @done="onCreateAccount"
            />
            <div class="has-text-centered pt-2">
              <div style="background-color: #eaeaea; height: 1px;" class="mb-3"></div>
              <p class="has-text-grey mb-3">
                Already have an account? <router-link
                  :to="{
                    name: 'Login'
                  }"
                >
                  Log in
                </router-link>
              </p>
            </div>
          </div>
        </b-step-item>
        <b-step-item :clickable="(signedIn && !noChangeUserType) || (!signedIn && currStep >= 1)" icon="cog-outline">
          <settings-setup
            :loading="loading"
            :mobile="mobile"
            @update:loading="$emit('update:loading', $event)"
            :userType.sync="userType"
            :noStepOne="noChangeUserType"
            :noStepTwo="signedIn"
            @done="create"
          />
        </b-step-item>
        <b-step-item :clickable="currStep >= 2" icon="credit-card-outline">
          <create-subscription
            v-if="currStep === 2 || signedIn && currStep === 1"
            class="mb-2"
            v-model="subscriptionCreateArgs"
            :loading="loading"
            @update:loading="$emit('update:loading', $event)"
            :planId="planId"
            :planPeriod="planPeriod"
            :planPriceId="planPriceId"
            :planPrefix="planPrefix"
            :userType="userType"
            :isResubscribe="isResubscribe"
            :nextBill="nextBill"
            :subscriptionCreated="noChangeUserType"
            :mobile="mobile"
            @isFree="isFree = $event"
          >
            <span
              v-if="selectedPlan === 0"
              slot="extraLine"
            >
              Discount (yearly vs. <span @click="selectPlan(1)" style="text-decoration: underline; cursor: pointer;">monthly</span>)
            </span>
            <span
              v-else
              slot="extraLine"
            >
              Get <span @click="selectPlan(0)" style="text-decoration: underline; cursor: pointer;">annual</span> for 10% off
            </span>
            <b-tag
              v-if="selectedPlan === 0"
              slot="extraLineRight"
              type="is-success"
            >
              Save 10%
            </b-tag>
          </create-subscription>
          <div class="is-flex is-justify-content-center">
            <b-field>
              <p class="control">
                <b-button
                  icon-left="arrow-left"
                  label="Back"
                  @click="currStep--"
                  :disabled="signedIn && noChangeUserType"
                />
              </p>
              <p class="control">
                <b-button
                  :label="isResubscribe ? 'Switch to plan' : 'Add payment method'"
                  icon-right="arrow-right"
                  @click="addedPayment && (selectedPlan ? numAddonPricingTiers : annualNumAddonPricingTiers) === 0 ? currStep++ : addPayment()"
                  type="is-primary"
                />
              </p>
            </b-field>
          </div>
          <div class="is-flex is-justify-content-center mt-4" v-if="isResubscribe || signedIn">
            <a
              @click="currStep++"
            >
              <span v-if="isResubscribe || signedIn">
                Don't change plans
              </span>
              <span v-else>
                Get later
              </span>
            </a>
          </div>
          <testimonials
            v-else
            :value="TESTIMONIALS[userType]"
          />
        </b-step-item>
        <b-step-item :clickable="addedPayment" icon="cellphone-link" v-if="!signedIn">
          <device-setup
            :mobile="mobile"
            @back="currStep--"
            @done="currStep++"
          />
        </b-step-item>
      </b-steps>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GetRefererName from '@/requests/referrals/get-referrer-name'
import { EMAIL_STORAGE_NAME, TOKEN_STORAGE_NAME, UserType } from '@/helpers/constants'
import { Prop, Watch } from 'vue-property-decorator'
import { getChargebeeSite, getChargebeeDefaultPlan } from '@/helpers/functions'
import GetChargebeeSubscriptionCheckoutRedirect from '@/requests/user-v2/get-chargebee-checkout-redirect'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import { Testimonial } from '@/components/create-account/testimonials.vue'
import CreateSubscription from '@/components/create-account/create-subscription.vue'
import PostSubscription, { CreateChargebeeSubscriptionArgs } from '@/requests/user-v2/post-subscription'
import GetSubscription from '@/requests/user-v2/get-subscription'
import Auth, { AuthResult } from '@/components/common/auth.vue'
declare let Chargebee: any
declare let plausible: (event: string) => void

@Component({
  components: {
    Auth,
    CreateSubscription,
    SettingsSetup: () => import('@/components/create-account/settings-setup.vue'),
    DeviceSetup: () => import('@/components/create-account/device-setup.vue'),
    Testimonials: () => import('@/components/create-account/testimonials.vue')
  }
})
export default class CreateAccountView extends Vue {
  TESTIMONIALS: {[userType: string]: Testimonial[]} = {
    'family': [
      {
        text: 'An invaluable peace of mind investment that keeps on giving. We have been so impressed by the customer service/support and informative online updates and helpful hints that have followed. Absolutely value for money. We would highly recommend',
        author: 'Abby Firth'
      },
      {
        text: 'Great products and service, knowledgeable staff who gave us excellent advice on keeping our kids safe online.',
        author: 'Ellie Gwilliam'
      },
      {
        text: 'Fantastic idea. Easy to use. I loved the illustration book that came with it. Enabled me to talk to my kids the internet and the things to be aware of in a way that they could understand.',
        author: 'Andrew Marshall'
      },
      {
        text: 'Easy to set up and does exactly what it says it would do',
        author: 'Nicola Currie'
      },
      {
        text: 'Its blocking things well for my kids that I want blocked. Its reducing their screen time successfully.  I can see what they\'ve been getting up to and its sparking some meaningful conversation about online activities. This family is happy.',
        author: 'Sharon Thomas'
      },
      {
        text: 'Amazing tool to keep my family safe',
        author: 'Nicola Popham'
      },
      {
        text: 'Awesome vision, awesome product, awesome service',
        author: 'Aurore Dawson'
      },
      {
        text: 'Safe Surfer was recommended to me by a family member and it’s great. Easy to install with and comes with clear instructions',
        author: 'Kyle Weedon'
      },
      {
        text: 'Very good easy to use app',
        author: 'Clifford Nigel Drake'
      },
      {
        text: 'Ensuring your whole family’s devices are protected by monitoring and filtering software is a crucial first step in making sure your child is safe online. Safe Surfer is our recommended service provider.',
        author: 'Christy Herselman'
      },
      {
        text: 'We live in the dark age for what our children can access, even in the privacy of their own bedrooms. A modern family without internet is no longer feasible, so to have the provision of quality filtering, even sacrificing the odd site we may not have filtered out, is literally a “God send”.'
      },
      {
        text: 'Loving safe surfer it\'s an awesome service I love being able to let my son use the Internet without stressing about porn coming up on Searches! Thanks guys'
      },
      {
        text: 'I was really pleased to have finally found Safe Surfer, as I had been wanting something like this for years as my children were growing up, to protect them from harmful images, but I am really not tech-savvy and was a bit clueless as to what to do. I installed it last week and was pleasantly surprised that I could actually do it! Me!'
      },
    ],
    'individual': [
    ]
  }

  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly subStatus: string | undefined
  /**
   * Whether the status text is active.
   */
  statusActive = true
  /**
   * Type of status text to show.
   */
  status: 'NONE' | 'DANGER_TEXT' = 'NONE'
  /**
   * Status text to show if applicable.
   */
  statusText = ''
  /**
   * The name of the referer, if any.
   */
  referrerName = ''
  subscriptionCreateArgs: CreateChargebeeSubscriptionArgs | null = null
  nextBill = 0
  /**
   * The the latest invoice estimate is free, don't prompt for payment methods.
   */
  isFree = false

  /**
   * Requests.
   */
  getRefererName = new GetRefererName()
  getChargebeeSubscriptionCheckoutRedirect = new GetChargebeeSubscriptionCheckoutRedirect()
  getSubscription = new GetSubscription()
  postSubscription = new PostSubscription()

  mounted () {
    if (this.refererID) {
      this.getRefererName.handle(this.refererID).then(name => {
        this.referrerName = name
        this.$emit('update:loading', false)
      })
    } else {
      this.$emit('update:loading', false)
    }
    if (!document.getElementById('cb-script')) {
      const el = document.createElement("script")
      el.setAttribute('src', 'https://js.chargebee.com/v2/chargebee.js')
      el.setAttribute('data-cb-site', getChargebeeSite())
      el.setAttribute('id', 'cb-script')
      document.body.appendChild(el)
    }
  }

  /**
   * @returns The ID of the referer.
   */
  get refererID (): number {
    if (typeof this.$route.query.referer === 'string') {
      return parseInt(this.$route.query.referer)
    }
    return 0
  }

  /**
   * Called when the account has been created.
   */
  onCreateAccount (result: AuthResult) {
    localStorage.setItem(TOKEN_STORAGE_NAME, result.token)
    localStorage.setItem(EMAIL_STORAGE_NAME, result.email)
    // Special case: if the user type is already defined, we should skip the step where a user type is selected.
    if (typeof this.$route.query['user-type'] === 'string') {
      this.userType = this.$route.query['user-type'] as UserType
      this.$router.push({
        name: this.$route.name as string,
        query: assign(cloneDeep(this.$route.query), {
          'settings-step': '2'
        })
      })
    }
    if (plausible) {
      plausible('Account created' + this.plausibleSuffix)
    }
    this.currStep++
  }

  /**
   * At this point, we have been signed in. But still need to add card details.
   */
  create () {
    if (!this.userType) {
      this.userType = 'family'
    }
    // Dynamically load the chargebee script
    this.$emit('update:loading', true)
    this.getSubscription.handle({refresh: true}).then(sub => {
      this.nextBill = sub.spec.nextBill
      if (sub.spec.chargebeeSubscription && sub.spec.chargebeeSubscription.customerCardStatus === 'valid') {
        this.addedPayment = true
      }
      this.$emit('update:subStatus', sub.spec.status)
      this.currStep++
      if (plausible && !this.signedIn) {
        plausible('Set settings' + this.plausibleSuffix)
      }
    })
  }

  /**
   * Show a dialog to add a payment method.
   */
  addPayment () {
    if (!this.subscriptionCreateArgs) {
      return
    }
    this.$emit('update:loading', true)
    const finish = () => {
      this.currStep++
      this.noChangeUserType = true
      this.addedPayment = true
      this.$emit('update:loading', false)
    }
    // Function to open chargebee when done
    const openChargebee = () => {
      if (this.isFree) {
        this.getSubscription.handle({refresh: true}).then(sub => {
          this.nextBill = sub.spec.nextBill
          this.$emit('update:subStatus', sub.spec.status)
          if (plausible && !this.signedIn) {
            plausible('Add payment method' + this.plausibleSuffix)
          }
          finish()
        })
        return
      }
      // Skip checkout if the user is already on chargebee with a valid card
      if (this.isResubscribe && this.addedPayment) {
        finish()
        return
      }
      // Wait for the chargebee global to show up
      const interval = setInterval(() => {
        if (Chargebee) {
          // Connect to chargebee
          Chargebee.init({
            site: getChargebeeSite()
          })
          clearInterval(interval)
          this.$emit('update:loading', false)
          const chargebeeInstance = Chargebee.getInstance()
          chargebeeInstance.openCheckout({
            hostedPage: () => new Promise((resolve, reject) => {
              this.getChargebeeSubscriptionCheckoutRedirect.handle().then(page => resolve(page.spec)).catch(err => reject(err))
            }),
            success: () => {
              // Refresh the token to have the new payment status
              this.$emit('update:loading', true)
              this.getSubscription.handle({refresh: true}).then(sub => {
                this.nextBill = sub.spec.nextBill
                this.$emit('update:subStatus', sub.spec.status)
                if (plausible && !this.signedIn) {
                  plausible('Add payment method' + this.plausibleSuffix)
                }
                finish()
              })
            },
            error: () => {
              // For some reason this will fail on ios. As a workaround, try redirecting to the subscriptions page instead.
              this.$router.push({
                name: 'AccountSettings',
                query: {
                  section: 'payment'
                }
              })
            }
          })
        }
      }, 500)
    }
    if (this.noChangeUserType) {
      openChargebee()
    } else {
      this.noChangeUserType = true
      this.postSubscription.handle({
        resubscribe: this.isResubscribe,
        chargebee: this.subscriptionCreateArgs
      }).then(() => {
        openChargebee()
      }).catch(code => {
        this.handleErr(code)
      })
    }
  }

  handleErr (reason: any) {
    if (reason && reason.meta && reason.meta.message) {
      this.$buefy.dialog.alert({
        message: reason.meta.message,
        type: 'is-danger'
      })
    }
  }

  get planId (): string {
    return ''
  }

  get planPeriod (): string {
    return ''
  }

  get planPriceId (): string {
    return ''
  }

  get planPrefix (): string {
    let suffix = this.selectedPlan ? '' : '-annual'
    if (this.userType === 'business' || this.userType === 'school') {
      return 'business' + suffix
    }
    return getChargebeeDefaultPlan() + suffix
  }

  get isResubscribe (): boolean {
    return this.$route.query.resubscribe === '1'
  }

  /**
   * Redirect to home page once finished.
   */
  onFinish () {
    let redirectPath = '/'
    if (typeof this.$route.query.redirect === 'string') {
      redirectPath = this.$route.query.redirect
    }
    if (!this.addedPayment && plausible && !this.signedIn) {
      plausible('Proceed without trial')
    }
    this.$router.push({
      path: redirectPath
    })
  }

  @Watch('currStep') checkFinished (newStep: number) {
    if (newStep >= 4 || (this.signedIn && newStep >= 2)) {
      this.onFinish()
    }
  }

  get currStep (): number {
    const q = this.$route.query['step']
    if (typeof q === 'string') {
      return parseInt(q)
    } else if (typeof q === 'number') {
      return q
    }
    return 0
  }

  set currStep (step: number) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'step': step + '' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }

  get plausibleSuffix (): string {
    if (this.$route.query['ref-follow'] && plausible) {
      return '-with-orig-ref-' + this.$route.query['ref-follow']
    }
    return ''
  }

  get signedIn (): boolean {
    return this.$route.query['signed-in'] === '1'
  }

  get selectedPlan (): number {
    const q = this.$route.query.period
    if (typeof q === 'string') {
      if (q === 'monthly') {
        return 1
      }
    }
    return 0
  }

  set userType (u: UserType) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'user-type': u + '' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }

  get userType (): UserType {
    const q = this.$route.query['user-type']
    if (typeof q === 'string') {
      return q as UserType
    }
    return ''
  }

  set noChangeUserType (u: boolean) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'no-change-user-type': u ? '1' : '0' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }

  get noChangeUserType (): boolean {
    return this.$route.query['no-change-user-type'] === '1'
  }

  set addedPayment (u: boolean) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'added-payment': u ? '1' : '0' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }

  get addedPayment (): boolean {
    return this.$route.query['added-payment'] === '1'
  }

  selectPlan (idx: number) {
    if (this.noChangeUserType) {
      this.$buefy.toast.open({
        message: 'Sorry, you have already selected the other plan.',
        type: 'is-danger',
        position: 'is-bottom',
        duration: 5000
      })
      return
    }
    this.subscriptionCreateArgs = null
    this.$router.push({
      name: this.$route.name as string,
      query: assign(cloneDeep(this.$route.query), {
        period: idx === 0 ? 'annual' : 'monthly'
      })
    })
  }
}
</script>

<style scoped>
.create-account {
  min-height: 100vh;
}

.clip-width-smaller {
  max-width: 550px;
  margin: auto;
}

.clip-width {
  max-width: 780px;
  margin: auto;
}

.box {
  padding: 30px;
  margin: 15px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  -6px -6px 11px #d9d9d9, 
              6px 6px 11px #ffffff;
}

.faded {
  opacity: 0.5;
}

.plan-selection-button {
  position: absolute;
  border-radius: 200px;
}

@media screen and (max-width: 600px) {
  .box {
    box-shadow: none;
    background: none;
    padding: 0px;
  }
}
</style>
