<template>
  <div :class="{ faded: loading }" class="outer">
    <div
      class="top-container px-4 py-3 has-text-black is-flex is-align-items-center"
      v-if="!noTitleBar"
    >
      <div>
        <div class="is-family-secondary has-text-weight-semibold is-size-5">Registration</div>
      </div>
    </div>
    <div
      :class="{
        'shifted-up': noTitleBar
      }"
    >
      <div v-if="resolvingQuota">
        <resolve-device-quota
          :quota="quota"
          :auth="lastAuthToken"
          @done="deviceQuotaResolved"
        />
      </div>
      <div v-else>
        <auth
          :loading="loading"
          @update:loading="$emit('update:loading', $event)"
          :fixedEmail="emailDisabled ? email : undefined"
          :startEmail="!emailDisabled ? email : undefined"
          @done="authDone"
          @password="password = $event"
          @code="twofactorCode = $event"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Post2FAToken from '@/requests/user-v2/post-2fa-token'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import PostAuthToken from '@/requests/user-v2/post-auth-token'
import { AppIfc, Result } from './DeviceRegistration.vue'
import PostDevice, { NewDeviceOs, NewDeviceType } from '@/requests/devices/post-device'
import GetDeviceDNSToken from '@/requests/devices/get-device-dns-token'
import GetQuota, { Quota } from '@/requests/quotas/get-quota'
import { getTokenPrimaryRole, isDevEnvironment, parseClaims } from '@/helpers/functions'
import DeleteDevice from '@/requests/devices-v2/delete-device'
import Auth, { AuthResult } from '@/components/common/auth.vue'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import { MetaResp } from '@/requests/request'
import PostKnoxDevice, { PostDeviceResponse } from '@/requests/knox-api/post-device'
declare let SSApp: AppIfc

@Component({
  components: {
    Auth,
    ResolveDeviceQuota: () => import('@/components/device-setup/resolve-device-quota.vue')
  }
})
export default class DeviceReauth extends Vue {
  @Prop() readonly loading: boolean | undefined

  email = ''
  password = ''
  twofactorCode = ''
  lastAuthToken = ''

  quota: Quota | null = null
  resolvingQuota = false

  /**
   * Requests.
   */
  postAuthToken = new PostAuthToken()
  postDevice = new PostDevice()
  getDeviceDnsToken = new GetDeviceDNSToken()
  getQuota = new GetQuota()
  deleteDevice = new DeleteDevice()
  postKnoxDevice = new PostKnoxDevice()

  mounted () {
    this.$emit('update:loading', false)
    if (typeof this.$route.query.email === 'string') {
      this.email = this.$route.query.email
    }
  }

  deviceQuotaResolved () {
    this.resolvingQuota = false
  }

  expectedAccountIdErr () {
    this.$buefy.dialog.alert({
      type: 'is-danger',
      message: 'Please enter the details for the account the device was originally registered to.',
      confirmText: 'OK',
      onConfirm: () => {
        window.location.reload()
      },
      onCancel: () => {
        window.location.reload()
      },
    })
  }

  authDone (authResult: AuthResult) {
    const expectedAccountId = this.expectedAccountId
    if (expectedAccountId) {
      if (!authResult) {
        this.expectedAccountIdErr()
        return
      } else {
        try {
          const claims = parseClaims(authResult.token)
          if (claims.id !== expectedAccountId) {
            this.expectedAccountIdErr()
            return
          }
        } catch (err) {
          this.expectedAccountIdErr()
          return
        }
      }
    }
    this.postDevice.setAuth(authResult.token)
    this.getDeviceDnsToken.setAuth(authResult.token)
    this.getQuota.setAuth(authResult.token)
    this.deleteDevice.setAuth(authResult.token)
    this.postKnoxDevice.setAuth(authResult.token)
    this.lastAuthToken = authResult.token
    // Try to sign in as the device again
    this.postAuthToken.handle({
      username: authResult.email,
      password: this.password,
      'enable-sub': true,
      'device-id': this.deviceID
    }).then(token => {
      if (getTokenPrimaryRole(token.spec.token) === 'complete-twofactor') {
        // 2fa enabled, try using the same code as before
        const r = new Post2FAToken(false)
        r.setAuth(token.spec.token)
        r.handle(this.twofactorCode).then(token => {
          // Success - use this token
          this.setResult({
            skipped: false,
            registered: false,
            deviceID: '',
            dnsToken: '',
            authToken: token.spec.token,
            metadata: {},
            email: ''
          })
        }).catch(resp => {
          if (resp.status === 401) {
            this.err('Login timed out')
          } else if (resp.data && resp.data.meta && resp.data.meta.code === 400) {
            const msg = resp.data.meta.message
            if (typeof msg === 'string') {
              if (msg.includes('Invalid device')) {
                this.reRegister(authResult.email)
              } else if (msg.includes('Invalid token')) {
                this.err('Login timed out')
              }
            } else {
              this.err('Unknown error')
            }
          } else {
            this.err('Unknown error')
          }
          this.$emit('update:loading', false)
        })
      } else {
        // Success - use this token
        this.setResult({
          skipped: false,
          registered: false,
          deviceID: '',
          dnsToken: '',
          authToken: token.spec.token,
          metadata: {},
          email: ''
        })
      }
    }).catch((resp: MetaResp<any> | undefined) => {
      if (resp && resp.meta && resp.meta.code === 401) {
        this.reRegister(authResult.email)
        return
      }
      this.$emit('update:loading', false)
      if (resp && resp.meta && resp.meta.code === 429) {
        this.err('Making too many attempts, try again later')
      } else {
        this.err('Unknown error while signing in')
      }
    })
  }

  // Create a new device and return its details
  reRegister (email: string) {
    this.$emit('update:loading', true)
    // Get the devices quota to see if we can create one
    this.getQuota.handle('devices').then(quota => {
      this.quota = quota.spec
      if (quota.spec.currentValue >= quota.spec.maxValue) {
        this.resolvingQuota = true
        this.$emit('update:loading', false)
        return
      }
      this.resolvingQuota = false
      // OK, can create device
      this.registerDevice().then(result => {
        // OK - get an auth token for the device
        this.postAuthToken.handle({
          username: email,
          password: this.password,
          'device-id': result.createdId,
          'enable-sub': true
        }).then(token => {
          const getDnsTokenAndFinish = (authToken: string) => {
            this.getDeviceDnsToken.handle(result.createdId).then(dnsToken => {
              this.setResult({
                skipped: false,
                registered: true,
                deviceID: result.createdId,
                dnsToken: dnsToken,
                authToken: authToken,
                email: '',
                metadata: {}
              })
            })
          }
          const role = getTokenPrimaryRole(token.spec.token)
          if (role === 'complete-twofactor') {
            // Need to submit 2fa again
            const req = new Post2FAToken(false)
            req.setAuth(token.spec.token)
            req.handle(this.twofactorCode).then(token => {
              getDnsTokenAndFinish(token.spec.token)
            }).catch(() => {
              // Delete the created device, or user ends up in infinite loop when devices is maxed
              // out and 2fa is active
              this.deleteDevice.handle({
                id: result.createdId,
                mac: ''
              }).then(() => {
                this.err('Invalid code, try again')
                this.$emit('update:loading', false)
              })
            })
          } else {
            getDnsTokenAndFinish(token.spec.token)
          }
        }).catch(() => {
          // Only way this happens is if the password was wrong to begin with. Prompt to enter
          // password again.
          this.$router.push({
            name: 'DeviceReauth',
            query: assign(cloneDeep(this.$route.query), {
              'auth-steps': JSON.stringify([0]),
              'auth-step': '0'
            })
          })
          this.err('Invalid password')
        })
      }).catch(err => {
        if (!err || !err.meta || !err.meta.message) {
          this.err('Couldn\'t create device')
        } else {
          if (err.meta.message.includes('quota')) {
            this.err('Update your subscription at safesurfer.io/subscription with the Kid-Safe Devices Add-on to register this device')
          } else {
            this.err('Couldn\'t create device')
          }
        }
      })
    }).catch(() => {
      this.err('Couldn\'t create device')
    })
  }

  err (err: string) {
    this.$emit('update:loading', false)
    this.$buefy.snackbar.open({
      type: 'is-danger',
      message: err,
      duration: 20000
    })
  }

  parseMetadata (): {[key: string]: string} {
    const q = this.$route.query['device-metadata']
    if (typeof q !== 'string') {
      return {}
    }
    return JSON.parse(q)
  }

  // Register either a regular device or a knox device if that metadata is set.
  registerDevice (): Promise<PostDeviceResponse> {
    const meta = this.parseMetadata()
    if (meta['knox-serial'] !== undefined) {
      // Do the knox signup process.
      return new Promise<PostDeviceResponse>((resolve, reject) => {
        // Check quota
        this.postKnoxDevice.handle({
          imei: meta['knox-imei'],
          serial: meta['knox-serial'],
          name: this.name,
          'form-factor': meta['form-factor']
        }).then(resp => {
          resolve(resp.spec)
        }).catch(err => {
          // Unknown err
          reject(err)
        })
      })
    } else {
      return new Promise<PostDeviceResponse>((resolve, reject) => {
        this.postDevice.handle({
          type: this.type as NewDeviceType,
          name: this.name,
          os: this.os as NewDeviceOs
        }).then(deviceID => {
          resolve({
            createdId: deviceID,
            metadata: {},
          })
        }).catch(() => reject())
      })
    }
  }

  get deviceID (): string {
    const q = this.$route.query['device-id']
    if (typeof q === 'string') {
      return q
    }
    throw new Error('undefined param')
  }

  get type (): string {
    const q = this.$route.query.type
    if (typeof q === 'string') {
      return q
    }
    throw new Error('undefined param')
  }

  get os (): string {
    const q = this.$route.query.os
    if (typeof q === 'string') {
      return q
    }
    throw new Error('undefined param')
  }

  get name (): string {
    const q = this.$route.query.name
    if (typeof q === 'string') {
      return q
    }
    throw new Error('undefined param')
  }

  get expectedAccountId (): string {
    const q = this.$route.query['expected-account-id']
    if (typeof q === 'string') {
      return q 
    } else if (typeof q === 'number') {
      return ''+q
    }
    return ''
  }

  get emailDisabled (): boolean {
    if (this.expectedAccountId) {
      return false
    }
    return true
  }

  setResult (result: Result) {
    if (isDevEnvironment()) {
      console.log('result')
      console.log(result)
    }
    const windowAny = window as any
    if (windowAny.SSApp) {
      SSApp.result(JSON.stringify(result))
    } else if (windowAny.webkit && windowAny.webkit.messageHandlers && windowAny.webkit.messageHandlers.authResultHandler &&
                windowAny.webkit.messageHandlers.authResultHandler.postMessage) {
      const func = (windowAny.webkit.messageHandlers.authResultHandler.postMessage as (result: Result) => void).bind(windowAny.webkit.messageHandlers.authResultHandler)
      func(result)
    }
  }

  get noTitleBar (): boolean {
    return this.$route.query.titlebar === '0'
  }

  get isTablet (): boolean {
    const meta = this.parseMetadata()
    return meta['form-factor'] === 'tablet'
  }
}
</script>

<style scoped>
.top-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.8;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.faded {
  opacity: 0.4;
}

.outer {
  max-width: 500px;
  margin: auto;
}

.shifted-up {
  margin-top: -60px;
}
</style>
