<template>
  <div v-if="!loading">
    <div v-if="quota.currentValue < quota.maxValue">
      <page-top
        :title="modalComponent ? $route.query['setup-name'] : 'Device setup'"
        :mobile="mobile"
        :float="true"
        floatslot=""
      >
        <!-- Back button if on a specific device -->
        <b-button
          @click="modalComponent = null"
          v-if="modalComponent"
          slot="left-icon"
          type="is-primary"
          icon-left="arrow-left"
          rounded
          outlined
        />
      </page-top>
      <br>
      <b-message
        v-if="!modalComponent"
        type="is-primary"
      >
        Find the best way to protect a device with Safe Surfer.
      </b-message>
      <div v-if="!modalComponent">
        <setup-option-picker
          :config="setupOptions"
          :mobile="mobile"
          title="Protect a device"
          id="all"
          @back="checkQuota"
        />
        <recommended-options/>
      </div>
      <!-- Show setup otherwise -->
      <component :is="modalComponent" v-else style="padding-top: 20px;"/>
    </div>
    <div v-else>
      <resolve-device-quota
        :quota="quota"
        :showMoreInfo="true"
        @done="checkQuota"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import { Prop } from 'vue-property-decorator'
import SetupOptionPicker from '@/components/device-setup/setup-option-picker.vue'
import {
  SetupOption,
  getAllSetupOptions,
  getPromoSetupOptions
} from '@/helpers/constants'
import GetQuota, { Quota } from '@/requests/quotas/get-quota'
import GetData from '@/requests/user-v2/get-data'
import { getChargebeeDefaultPlan, isDevEnvironment } from '@/helpers/functions'
import GetPlan, { Plan } from '@/requests/user-v2/get-plan'
import GetSubscription, { Subscription } from '@/requests/user-v2/get-subscription'

@Component({
  components: {
    PageTop,
    SetupOptionPicker,
    ResolveDeviceQuota: () => import('@/components/device-setup/resolve-device-quota.vue')
  }
})
export default class DeviceSetup extends Vue {
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  /**
   * Whether the user has reached their devices quota and must
   * resolve.
   */
  quota: Quota | null = null

  plan: Plan | null = null
  subscription: Subscription | null = null

  /**
   * Requests.
   */
  getQuota = new GetQuota()
  getData = new GetData()
  getPlan = new GetPlan()
  getSubscription = new GetSubscription()

  mounted () {
    this.checkQuota()
  }

  checkQuota () {
    Promise.all([
      this.getQuota.handle('devices').then(quota => {
        this.quota = quota.spec
      }),
      new Promise<void>((resolve, reject) => {
        this.getSubscription.handle({refresh: false}).then(sub => {
          this.subscription = sub.spec
          if (sub.spec && sub.spec.chargebeePlan) {
            this.plan = sub.spec.chargebeePlan
            resolve()
          } else {
            this.getPlan.handle({ prefix: getChargebeeDefaultPlan(), 'id': null, period: null, "price-id": null }).then(plan => {
              this.plan = plan.spec
              resolve()
            }).catch(err => reject(err))
          }
        }).catch(err => reject(err))
      })
    ]).then(() => {
      this.$emit('update:loading', false)
    })
  }

  get setupOptions (): SetupOption[] {
    if (this.loading) {
      return []
    }
    if (this.subscription && this.subscription.chargebeePlan && this.subscription.chargebeePlan.id.includes('promo')) {
      return getPromoSetupOptions()
    }
    return getAllSetupOptions(this.plan, true)
  }

  set modalComponent (newVal: string | null) {
    if (newVal === null) {
      this.$router.push({
        name: 'DeviceSetup'
      })
    } else {
      this.$router.push({
        name: 'DeviceSetup',
        query: {
          modal: newVal
        }
      })
    }
  }

  /**
   * @returns The component to display in a modal, or null if none.
   */
  get modalComponent (): string | null {
    const modal = this.$route.query.modal
    if (typeof modal === 'string') {
      return modal
    }
    return null
  }
}
</script>
