<template>
  <div>
    <page-top
      title="Devices"
      class="page-top"
    />
    <devices-component
      :devices="devices"
      :isPro="isPro"
      :immersive="immersive"
      @refresh="loadData"
      @update:loading="$emit('update:loading', $event)"
    />
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import PageTop from '@/components/common/page-top.vue'
import GetDevices, { APIDevice } from '@/requests/devices/get-devices'
import { Prop } from 'vue-property-decorator'
import DevicesComponent from '@/components/my-devices/devices.vue'

@Component({
  components: {
    PageTop,
    DevicesComponent
  }
})
export default class Devices extends Vue {
  @Prop() readonly isPro: boolean | undefined
  /**
   * Whether we are in immersive mode.
   */
  @Prop() readonly immersive: boolean | undefined
  /**
   * The devices.
   */
  devices: APIDevice[] | null = null

  /**
   * Requests.
   */
  getDevices = new GetDevices()

  mounted () {
    this.loadData()
  }

  /**
   * Load or reload the devices.
   */
  loadData () {
    this.devices = null
    this.$emit('update:loading', true)
    this.getDevices.handle().then(devices => {
      this.devices = []
      // Show most recently seen devices first
      if (devices.lifeguards) {
        this.devices = this.devices?.concat(devices.lifeguards) as APIDevice[]
        devices.lifeguards = devices.lifeguards.sort((a, b) => b.lastUpdated - a.lastUpdated)
      }
      if (devices.mobile) {
        this.devices = this.devices?.concat(devices.mobile) as APIDevice[]
        devices.mobile = devices.mobile.sort((a, b) => b.lastUpdated - a.lastUpdated)
      }
      if (devices.dns) {
        this.devices = this.devices?.concat(devices.dns) as APIDevice[]
        devices.dns = devices.dns.sort((a, b) => b.lastUpdated - a.lastUpdated)
      }
      this.devices?.sort((a, b) => b.lastUpdated - a.lastUpdated)
      this.$emit('update:loading', false)
    })
  }
}
</script>

<style scoped>
.top-tabs {
  margin-bottom: -20px;
}

.bottom-tabs {
  position: relative;
  top: -45px;
}

li {
  margin-left: 20px;
}

ul {
  list-style-type: disc;
}
</style>
