<template>
  <div v-if="device">
    <page-top
      :title="device.name"
      class="page-top"
    >
      <b-icon
        slot="left-icon"
        :icon="icon"
      />
      <b-field slot="right">
        <p class="control" v-if="device.type === 'ios-device'">
          <!-- iOS device that has been supervised before, there may be multiple options -->
          <b-dropdown
            v-if="device.type === 'ios-device' && device.metadata"
            position="is-bottom-left"
          >
            <template #trigger>
              <b-button
                label="Prevent Uninstall"
                rounded
                type="is-primary"
                icon-left="lock-outline"
                icon-right="menu-down"
              />
            </template>
            <b-dropdown-item
              v-if="device.metadata['is_supervised']"
              custom
            >
              <router-link
                :to="{
                  name: 'IosUnSupervise',
                  query: {
                    'device-id': device.id
                  }
                }"
              >
                Un-supervise device
              </router-link>
            </b-dropdown-item>
            <b-dropdown-item
              v-else
              custom
            >
              <router-link
                :to="{
                  name: 'IosPreventUninstall',
                  query: {
                    'device-id': device.id
                  }
                }"
              >
                Re-supervise device
              </router-link>
            </b-dropdown-item>
            <b-dropdown-item
              v-if="device.metadata['is_supervised']"
              custom
            >
              <router-link
                :to="{
                  name: 'IosSupervisionComplete',
                  query: {
                    'device-id': device.id
                  }
                }"
              >
                Allow/block factory reset
              </router-link>
            </b-dropdown-item>
            <b-dropdown-item
              v-if="device.metadata['_reserved_ios_removal_password']"
              @click="showingRemovalPasswordFor = device.id"
            >
              Show removal password
            </b-dropdown-item>
          </b-dropdown>
          <!-- iOS device, hasn't been supervised yet -->
          <b-button
            rounded
            v-else-if="device.type === 'ios-device'"
            label="Prevent Uninstall"
            icon-left="lock-outline"
            type="is-primary"
            tag="router-link"
            :to="{
              name: 'IosPreventUninstall',
              query: {
                'device-id': device.id
              }
            }"
          />
        </p>
        <p class="control">
          <b-dropdown
            position="is-bottom-left"
            :value="null"
            @input="handleDropdownItem($event)"
          >
            <!-- Three dots trigger -->
            <b-button
              slot="trigger"
              type="is-primary"
              rounded outlined
            >
              <b-icon icon="dots-horizontal" size="is-small"/>
            </b-button>
            <!-- Items -->
            <b-dropdown-item
              v-if="!device.mac || screentimeSupported(device)"
              value="rename"
            >
              Rename
            </b-dropdown-item>
            <b-dropdown-item value="logout" v-if="device.type !== 'dns-device'"> Log out </b-dropdown-item>
            <!-- Allow self-service for everything but lifeguard router -->
            <b-dropdown-item
              v-if="screentimeSupported(device) && !(device.type === 'op-device' && !device.mac)"
              value="self-service"
            >
              Self-service
            </b-dropdown-item>
            <b-dropdown-item
              v-if="!device.mac || screentimeSupported(device)"
              value="delete"
            >
              Delete
            </b-dropdown-item>
          </b-dropdown>
        </p>
      </b-field>
    </page-top>
    <div class="pt-5">
      <home-item
        title="Device vitals"
        :loading="loadingVitals"
        :class="{
          'kid-safe-phone': isKidSafePhone()
        }"
      >
        <div class="pl-2 is-size-7" v-if="!loadingVitals">
          <div class="mt-1">
            <strong>Last internet activity:</strong>
            <span v-if="isPro">
              {{ lastActiveStr }}
            </span>
            <span v-else>
              <router-link
                :to="{
                  name: 'AccountSettings',
                  query: {
                    section: 'payment'
                  } 
                }"
              >
                Become a Pro Surfer 
              </router-link> to see when this device was last online.
            </span>
          </div>
          <div class="mt-1">
            <strong>Device type:</strong> {{ deviceTypeStr }}
          </div>
          <div v-if="device.type !== 'op-device'" class="mt-1">
            <strong>Registered:</strong> {{ registeredStr }}
          </div>
          <div v-if="device.ip" class="mt-1">
            <strong>Last Known IP:</strong> {{ device.ip }}
          </div>
          <div v-if="device.ip6" class="mt-1">
            <strong>Last Known IPv6 Address:</strong> {{ device.ip6 }}
          </div>
          <div v-if="device.mac" class="mt-1">
            <strong>MAC Address:</strong> {{ device.mac }}
          </div>
          <div v-if="device.version" class="mt-1">
            <strong>Version:</strong> {{ device.version }} <span v-if="device.nextVersion">(Updating to {{ device.nextVersion }})</span>
          </div>
          <div
            class="mt-2 is-size-6"
            v-if="device.type === 'dns-device'"
          >
            <action text="Connection info" @click="linkedIP = device.ip; linkedIP6 = device.ip6; connect(device.id)"/>
          </div>
          <!-- Dynamic actions -->
          <div
            class="mt-2 is-size-6"
            v-for="shortcut in shortcuts"
            :key="shortcut.name"
          >
            <action :text="shortcut.name" :route="shortcut.route"/>
          </div>
        </div>
      </home-item>
      <home-item
        title="Update available"
        v-if="isKidSafePhone() && device.version && !(device.version.startsWith('3.7.12') || device.version.startsWith('3.7.14'))"
      >
        <div class="content ml-2">
          <p>The latest Kid-Safe Experience includes:</p>
          <ul>
            <li>
              Bugfixes
            </li>
            <li>
              Improved performance & battery usage
            </li>
            <li>
              Improved accuracy for Text/Social Media monitoring and Nudity detection
            </li>
            <li>
              Add a Data Saver option
            </li>
          </ul>
        </div>
        <b-button
          :label="device.metadata && device.metadata['knox-profile'] ? 'Update now' : 'Select a profile to update'"
          class="ml-2"
          :disabled="!device.metadata || !device.metadata['knox-profile']"
          type="is-primary"
          @click="updating = true"
        />
      </home-item>
      <home-item
        title="Profile"
        v-if="isKidSafePhone()"
      >
        <kid-safe-phone-profile
          ref="profile-selector"
          class="px-2"
          :tablet="device.metadata && device.metadata['form-factor'] === 'tablet'"
          :value="device.metadata && device.metadata['knox-profile'] ? device.metadata['knox-profile'] : null"
          :mobile="mobile"
          :device="device"
          @refresh="load"
          @update:loading="$emit('update:loading', $event)"
        />
      </home-item>
      <alerts-item
        :isPro="isPro"
        :settings="alertSettings"
        :num="10"
      />
      <div v-if="device.devices && device.devices.length && !device.mac">
        <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 mt-1">
          Connected Devices
        </div>
        <lifeguard-device-card
          v-for="clientDevice in device.devices.slice(CLIENT_DEVICES_PER_PAGE*(clientDevicePage-1), CLIENT_DEVICES_PER_PAGE*(clientDevicePage-1)+CLIENT_DEVICES_PER_PAGE)"
          :key="clientDevice.mac"
          :device="clientDevice"
          :lifeguardID="clientDevice.id"
          :showRenameDelete="screentimeSupported(clientDevice)"
          :showSelfService="screentimeSupported(clientDevice)"
          :isPro="isPro"
          @update:loading="$emit('update:loading', $event)"
          @onDelete="load"
          @selfService="selfServiceDevice = { 'device-id': device.id, 'mac': clientDevice.mac}"
        />
        <b-pagination
          class="mt-3"
          :total="device.devices.length"
          :per-page="CLIENT_DEVICES_PER_PAGE"
          :current.sync="clientDevicePage"
        />
      </div>
    </div>
    <!-- Self-service config -->
    <self-service-config
      v-if="isPro"
      :device="selfServiceDevice"
      @update:loading="$emit('update:loading', $event)"
    />
    <!-- Modal for showing connection params -->
    <b-modal
      :active="true"
      v-if="dohConnection"
      @update:active="dohConnection = ''; load();"
    >
      <div class="card px-5 py-5" ref="modal">
        <connect
          :token="token"
          :blockedCategories="blockedCategories"
          :dohConnection="dohConnection"
          :dotConnection="dotConnection"
          :connectingDevice="connectingDevice"
          :ip="ip"
          :ip6="ip6"
          :linkedIP.sync="linkedIP"
          :linkedIP6.sync="linkedIP6"
          :servers="servers"
          @help="dohConnection = ''; showLinkedIpHelp = true;"
        />
      </div>
    </b-modal>
    <b-modal
      v-if="showLinkedIpHelp"
      :active="true"
      @update:active="showLinkedIpHelp = false"
    >
      <linked-ip-warning/>
    </b-modal>
    <b-modal
      v-if="updating"
      :active="true"
      @update:active="updating = false"
    >
      <div class="card p-3">
        <kid-safe-phone-update
          :device="device"
          @done="updating = false; load();"
        />
      </div>
    </b-modal>
    <b-modal
      v-if="showingRemovalPasswordFor"
      :active="true"
      @update:active="showingRemovalPasswordFor = null"
    >
      <div class="card px-3 py-5">
        <div class="is-flex is-justify-content-center mb-4">
          <p>
            Here's your removal password. You can use it to uninstall the profile from the device, or
            <router-link
              :to="{
                name: 'IosUnSupervise',
                query: {
                  'device-id': showingRemovalPasswordFor
                }
              }"
            >un-supervise</router-link> it.
          </p>
        </div>
        <div class="is-flex is-justify-content-center">
          <div
            class="has-background-grey-lighter px-2 py-1 is-size-3"
            style="font-family: monospace"
          >
            {{ device.metadata['_reserved_ios_removal_password'] }}
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import GetDevice from '@/requests/devices/get-device'
import { APIDevice, APILifeguardDevice } from '@/requests/devices/get-devices'
import PageTop from '@/components/common/page-top.vue'
import PutDeviceName from '@/requests/devices/put-device-name'
import HomeItem from '@/components/account-home/home-item.vue'
import GetLastActivity from '@/requests/usage-v2/get-last-activity'
import dayjs from 'dayjs'
import AlertsItem from '@/components/account-home/alerts-item.vue'
import LifeguardDeviceCard from '@/components/my-devices/lifeguard-device-card.vue'
import { Prop, Watch } from 'vue-property-decorator'
import Action from '@/components/common/action.vue'
import { GetCategoriesRulesOptions } from '@/requests/categories-v2/get-categories-rules'
import SelfServiceConfig from '@/components/my-devices/self-service-config.vue'
import { DeviceShortcut, getBlockedBaseCategories, getDeviceShortcuts, getDohURL, getDotHost, PlainDnsServers, screentimeSupported } from '@/helpers/functions'
import cloneDeep from 'lodash/cloneDeep'
import assign from 'lodash/assign'
import { Route } from 'vue-router'
import { AlertsFilterSettings } from '@/requests/alerts-v2/get-alerts-with-filter'
import LinkedIpWarning from '@/components/my-devices/linked-ip-warning.vue'
import GetDeviceDNSToken from '@/requests/devices/get-device-dns-token'
import GetIP from '@/requests/account/get-ip'
import Connect from '@/components/my-devices/connect.vue'
import GetIP6 from '@/requests/account/get-ip6'
import DeleteDevice from '@/requests/devices-v2/delete-device'
import KidSafePhoneProfile from '@/components/my-devices/kid-safe-phone-profile.vue'
import { getBestPlainDnsServers } from '@/helpers/functions'
import LogoutDevice from '@/requests/devices-v2/logout-device'

@Component({
  components: {
    PageTop,
    HomeItem,
    AlertsItem,
    LifeguardDeviceCard,
    Action,
    SelfServiceConfig,
    LinkedIpWarning,
    Connect,
    KidSafePhoneProfile: () => import('@/components/my-devices/kid-safe-phone-profile.vue'),
    KidSafePhoneUpdate: () => import('@/components/my-devices/kid-safe-phone-update.vue')
  }
})
export default class Device extends Vue {
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly mobile: boolean | undefined
  readonly CLIENT_DEVICES_PER_PAGE = 5
  /**
   * The loaded device.
   */
  device: APIDevice | null = null
  /**
   * Whether we are loading device vitals.
   */
  loadingVitals = true
  /**
   * Last timestamp of when the device was active on the internet.
   */
  lastActive = 0
  /**
   * The device we're configuring self-service for.
   */
  selfServiceDevice: GetCategoriesRulesOptions | null = null
  /**
   * The URL to connect to DOH.
   */
  dohConnection = ''
  /**
   * The URL to connect to DOT.
   */
  dotConnection = ''
  /**
   * Our current IP.
   */
  token = ''
  blockedCategories: number[] = []
  ip = ''
  ip6 = ''
  linkedIP = ''
  linkedIP6 = ''
  servers: PlainDnsServers | null = null
  /**
   * Whether to show modal with help text for failed linking IP.
   */
  showLinkedIpHelp = false
  showingRemovalPasswordFor: string | null = null
  /**
   * The ID of the device we're showing the connect dialog for.
   */
  connectingDevice = ''
  deleteAfterProfileDone = false
  // For Kid-Safe Smartphone updates.
  updating = false

  /**
   * Requests.
   */
  getDevice = new GetDevice()
  putDeviceName = new PutDeviceName()
  getLastActivity = new GetLastActivity()
  getDeviceDNSToken = new GetDeviceDNSToken()
  getIP = new GetIP()
  getIP6 = new GetIP6()
  deleteDeviceReq = new DeleteDevice()
  logoutDeviceReq = new LogoutDevice()

  mounted () {
    this.load()
  }

  load () {
    this.$emit('update:loading', true)
    this.getDevice.handle({
      'device-id': this.$route.query['device-id'] as string,
      'mac': this.$route.query['mac'] as string
    }).then(device => {
      this.device = device
      if (this.deleteAfterProfileDone) {
        this.deleteDevice()
      }
      this.$emit('update:loading', false)
      this.loadVitals()
      this.deleteAfterProfileDone = this.$route.query['ksp-delete'] == '1'
    })
  }

  get shortcuts (): DeviceShortcut[] {
    if (!this.device) {
      return []
    }
    return getDeviceShortcuts(this.device, this.isPro, true)
  }

  loadVitals () {
    const device = this.device
    if (!device) {
      return
    }
    this.getLastActivity.handle({
      'device-id': device.id,
      'mac': device.mac
    }).then(lastActive => {
      this.lastActive = lastActive.spec
    }).finally(() => {
      this.loadingVitals = false
    })
  }

  /**
   * @returns A string describing when the device was last active.
   */
  get lastActiveStr (): string {
    if (this.lastActive === 0) {
      return 'Never (or over 90 days ago)'
    }
    return dayjs.unix(this.lastActive).fromNow()
  }

  /**
   * @returns A string of when the device was registered.
   */
  get registeredStr (): string {
    if (!this.device) {
      return ''
    }
    return dayjs.unix(this.device.registeredTime).fromNow()
  }

  /**
   * @returns A string of the device of device this is.
   */
  get deviceTypeStr (): string {
    if (!this.device) {
      return ''
    }
    if (this.isKidSafePhone()) {
      if (this.device.metadata && this.device.metadata['form-factor'] === 'tablet') {
        return 'Kid-Safe Tablet'
      } else {
        return 'Kid-Safe Smartphone'
      }
    }
    switch (this.device.type) {
      case 'android-device':
        return 'Android'
      case 'ios-device':
        return 'iOS'
      case 'windows-device':
        return 'Windows'
      case 'dns-device':
        return 'DNS'
      case 'op-device':
        return this.device.mac ? 'Lifeguard Client' : 'Lifeguard'
    }
  }

  /**
   * @returns The icon for this device.
   */
  get icon (): string {
    if (!this.device) {
      return ''
    }
    if (this.device.metadata && this.device.metadata['form-factor'] === 'tablet') {
      return 'tablet'
    } else if (this.isKidSafePhone()) {
      return 'cellphone-lock'
    }
    switch (this.device.type) {
      case 'android-device':
        return 'cellphone'
      case 'ios-device':
        return 'cellphone'
      case 'windows-device':
        return 'laptop'
      case 'dns-device':
        return 'dns'
      case 'op-device':
        return 'router-wireless'
    }
  }

  /**
   * @returns Alert settings to show all activity for this device.
   */
  get alertSettings (): AlertsFilterSettings | null {
    if (!this.device) {
      return null
    }
    if (!this.device.mac) {
      return {
        allDevices: false,
        deviceId: this.device.id,
        categories: {},
        devices: {
          implicitExclude: true,
          includedDevices: {}
        },
        dataSources: []
      } as AlertsFilterSettings
    } else {
      const includedDevices: {[compoundID: string]: boolean} = {}
      includedDevices[this.device.id + '/' + this.device.mac] = true
      return {
        allDevices: false,
        deviceId: '',
        categories: {},
        dataSources: [],
        devices: {
          implicitExclude: true,
          includedDevices: includedDevices
        }
      } as AlertsFilterSettings
    }
  }

  /**
   * Show the user a prompt to log out.
   */
  logoutDevice (device: APIDevice) {
    this.$buefy.dialog.confirm({
      message: 'Revoke any access this device has to your account. For some functions to work properly, you will need to sign in again.',
      confirmText: 'Log out of ' + device.name,
      type: 'is-warning',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.logoutDeviceReq.handle(device.id).then(() => {
          this.$emit('update:loading', false)
          this.$buefy.toast.open({
            message: 'Logged out of ' + device.name,
            type: 'is-success',
            position: 'is-bottom',
            duration: 3000
          })
        })
      }
    })
  }

  /**
   * Show the user a prompt to delete particular device.
   */
  deleteDevice () {
    const device = this.device
    if (!device) {
      return
    }
    if (this.isKidSafePhone() && device.metadata && device.metadata['knox-profile'] && !this.deleteAfterProfileDone) {
      this.deleteAfterProfileDone = true
      const selector = this.$refs['profile-selector'] as KidSafePhoneProfile
      selector.setUnrestrictedExternal()
    } else {
      this.deleteAfterProfileDone = false
      if (device.type === 'ios-device' && device.metadata && device.metadata['is_supervised']) {
        this.$buefy.dialog.confirm({
          message: 'The device has been supervised, please un-supervise it before deleting',
          confirmText: 'Un-supervise',
          type: 'is-primary',
          onConfirm: () => {
            this.$router.push({
              name: 'IosUnSupervise',
              query: {
                'device-id': device.id
              }
            })
          }
        })
        return
      }
      const messageSuffix = device.type === 'op-device' && !device.mac ?
        'This will delete all data related to the device, including connected devices and blocked sites. Please make sure the device is no longer in use.' :
        'This will delete all data related to the device, including blocked sites and history. If any device is still connected, they will be reset to the default settings.'
      this.$buefy.dialog.confirm({
        message: 'Are you sure you want to delete <strong>' + device.name + '</strong>? ' + messageSuffix,
        type: 'is-danger',
        onConfirm: () => {
          this.$emit('update:loading', true)
          this.deleteDeviceReq.handle({
            id: device.id,
            mac: device.mac
          }).then(() => {
            if (device.mac) {
              this.$router.push({
                name: 'Device',
                query: {
                  'device-id': device.id
                }
              })
            } else {
              this.$router.push({
                name: 'Devices'
              })
            }
          })
        }
      })
    }
  }

  /**
   * Show the user a prompt to change a device name.
   */
  changeDeviceName () {
    const device = this.device
    if (!device) {
      return
    }
    this.$buefy.dialog.prompt({
      message: 'Enter a new name for <strong>' + device.name + '</strong>.',
      onConfirm: newName => {
        this.$emit('update:loading', true)
        this.putDeviceName.handle({
          id: device.id,
          mac: device.mac,
          name: newName
        }).then(() => {
          this.$set(device, 'name', newName)
          this.$emit('update:loading', false)
        })
      }
    })
  }

  handleDropdownItem (event: 'rename' | 'delete' | 'self-service' | 'logout') {
    if (!this.device) {
      return
    }
    switch (event) {
      case 'rename':
        this.changeDeviceName(); break;
      case 'delete':
        this.deleteDevice(); break;
      case 'logout':
        this.logoutDevice(this.device)
        break
      case 'self-service':
        this.selfServiceDevice = { 'device-id': this.device.id, 'mac': this.device.mac ? this.device.mac : '' }; break;
    }
  }

  @Watch('$route', { deep: true }) updateDevice (newRoute: Route, oldRoute: Route) {
    if (newRoute && oldRoute && newRoute.query && oldRoute.query && (
        newRoute.query['device-id'] !== oldRoute.query['device-id'] ||
        newRoute.query['mac'] !== oldRoute.query['mac']
      )) {
      this.device = null
      this.load()
    }
  }

  /**
   * @returns Whether screentime features are supported for the device.
   */
  screentimeSupported (device: APIDevice): boolean {
    return screentimeSupported(device)
  }

  get clientDevicePage (): number {
    if (typeof this.$route.query['page'] === 'string') {
      let page = parseInt(this.$route.query['page'])
      // Check this is actually a valid page
      if (page < 1) {
        page = 1
      } else if (this.device && (this.device as APILifeguardDevice).devices) {
        const maxPage = Math.ceil((this.device as APILifeguardDevice).devices.length / this.CLIENT_DEVICES_PER_PAGE)
        if (page > maxPage) {
          page = maxPage
        }
      }
      return page
    }
    return 1
  }

  set clientDevicePage (newPage: number) {
    const name = this.$route.name
    if (!name) {
      return
    }
    const currQuery = cloneDeep(this.$route.query)
    assign(currQuery, {
      'page': newPage + ''
    })
    this.$router.push({
      name: name,
      query: currQuery
    })
  }

  /**
   * Given a device ID, show its dohConnection parameters.
   */
  connect (id: string) {
    this.connectingDevice = id
    this.$emit('update:loading', true)
    Promise.all([
      this.getDeviceDNSToken.handle(id).then(token => {
        this.token = token
        this.dohConnection = getDohURL() + token
        this.dotConnection = token + '.' + getDotHost()
      }),
      this.getIP.handle().then(ip => {
        this.ip = ip
      }),
      this.getIP6.handle().then(ip6 => {
        this.ip6 = ip6
      }).catch(() => {
        this.ip6 = ''
      }),
      getBestPlainDnsServers().then(servers => {
        this.servers = servers
      }),
      getBlockedBaseCategories(id).then(categories => {
        this.blockedCategories = categories
      })
    ]).then(() => {
      this.$emit('update:loading', false)
    })
  }

  isKidSafePhone(): boolean {
    if (this.device && this.device.metadata && this.device.metadata['knox-serial'] !== undefined) {
      return true
    }
    return false
  }
}
</script>

<style scoped>
.kid-safe-phone {
  background-color: rgba(25, 118, 210, 0.04) !important;
  border: 1px solid rgba(25, 118, 210, 0.5);
}
</style>
