<template>
  <div>
    <div v-if="!accepted">
      <div class="is-size-5 has-text-weight-semibold is-family-secondary mb-3">
        Advanced Users Only
      </div>
      <p>
        This information is technical and shouldn't be needed. It may be useful for advanced users, or for support
        to use for debugging.
      </p>
      <b-button
        class="mt-3"
        @click="accepted = true"
      >
        View Anyway
      </b-button>
    </div>
    <div v-else>
      <b-field label="Account ID">
        <p>
          {{ accountID }}
        </p>
      </b-field>
      <b-field label="See which account/device rules are being used">
        <b-tabs>
          <b-tab-item label="Bash">
            <p class="is-family-monospace">
              dig +short -t txt account.safesurfer
            </p>
          </b-tab-item>
          <b-tab-item label="PowerShell">
            <p class="is-family-monospace">
              Resolve-DNSName -Type TXT account.safesurfer
            </p>
          </b-tab-item>
        </b-tabs>
      </b-field>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { TOKEN_STORAGE_NAME } from '@/helpers/constants'
import { parseClaims } from '@/helpers/functions'

@Component
export default class Diagnostics extends Vue {
  /**
   * Whether the user has accepted the prompt.
   */
  accepted = false

  mounted () {
    this.$emit('update:loading', false)
  }

  /**
   * @returns The user's account ID.
   */
  get accountID (): string {
    const jwt = localStorage.getItem(TOKEN_STORAGE_NAME)
    if (!jwt) {
      return ''
    }
    const claims = parseClaims(jwt)
    if (typeof claims.id === 'string') {
      return claims.id
    }
    return ''
  }
}
</script>
