<template>
  <div class="page-root">
    <page-top
      title="Blocking"
      subtitle="What would you like to block?"
      :float="true"
      :mobile="mobile"
      floatslot="right"
    >
      <!-- Devices to select -->
      <device-selector
        v-if="devices !== null"
        v-model="deviceSelection"
        :devices="devices"
        lifeguardPlaceholder="Select a device"
        slot="bottom"
      />
      <b-field slot="right" v-if="deviceSelection.id !== 'undefined'">
        <p class="control">
          <!-- Show descriptions button -->
          <b-button
            v-if="!dirty"
            @click="expanded = !expanded"
            slot="right"
            rounded
          >
            {{ expanded ? 'Hide descriptions' : 'Show descriptions' }}
          </b-button>
          <!-- Save button -->
          <b-button
            v-if="dirty"
            type="is-primary"
            @click="save"
            :loading="saving"
            slot="right"
            rounded
          >
            Save
          </b-button>
        </p>
        <p class="control">
          <b-dropdown position="is-bottom-left">
            <template #trigger="{ active }">
              <b-button
                :type="active ? 'is-primary' : undefined"
                icon-left="dots-vertical"
              />
            </template>
            <b-dropdown-item @click="reset" v-if="deviceSelection.id && deviceSelectionValidator.selectionIsValid(deviceSelection)">
              Reset to defaults
            </b-dropdown-item>
          </b-dropdown>
        </p>
      </b-field>
    </page-top>
    <b-message
      v-if="getDeviceMetadata() && (getDeviceMetadata()['knox-profile'] === 'basic' || getDeviceMetadata()['knox-profile'] === 'basic-tablet')"
      :title="getDeviceMetadata() ? ('Kid-Safe ' + (getDeviceMetadata()['form-factor'] === 'tablet' ? 'Tablet' : 'Phone')) : ''"
      icon="alert-octagon"
      class="mt-4"
      type="is-light"
      :has-icon="true"
    >
      This device is using the Essentials profile. As the device is not allowed to access web browsers, many of these settings will have no visible effect.
      <br/><br/>
      <b-field>
        <p class="control">
          <b-button
            type="is-primary"
            label="Block apps"
            tag="a"
            href="#apps"
          />
        </p>
        <p class="control">
          <b-button
            tag="router-link"
            :to="{
              name: 'Device',
              query: {
                'device-id': deviceSelection.id
              }
            }"
            label="Edit profile"
          />
        </p>
      </b-field>
    </b-message>
    <!-- For editing the rules -->
    <categories-rules-editor
      v-if="valid && !loading"
      :value="loadedRules[deviceSelection.id + '/' + deviceSelection.mac]"
      @input="updateRules($event)"
      :showEnable="deviceSelection.id !== ''"
      :expanded="expanded"
      :deviceID="deviceSelection.id"
      :mac="deviceSelection.mac"
      :isPro="isPro"
      :disableIfNotPro="true"
      @displayDevices="displayingDevices = $event"
    />
    <b-modal
      v-if="displayingDevices"
      @update:active="displayingDevices = null"
      :active="true"
    >
      <div class="card p-3">
        <b-table
          :data="Object.keys(displayingDevices).map(id => { return {id: id} })"
        >
          <b-table-column
            label="Device"
            v-slot="props"
          >
            <div class="is-flex is-align-items-center">
              <router-link
                :to="{
                  name: 'Device',
                  query: {
                    'device-id': props.row.id
                  }
                }"
              >
                {{ getDeviceName(props.row.id) }}
              </router-link>
              <b-button
                class="ml-3"
                icon-right="check"
                label="Select"
                @click="deviceSelection = {id: props.row.id, mac: ''}; displayingDevices = null;"
              />
            </div>
          </b-table-column>
        </b-table>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GetDevices, { APIDevice, APIDevices } from '@/requests/devices/get-devices'
import GetCategoriesRules, { CategoriesRules } from '@/requests/categories-v2/get-categories-rules'
import PatchCategoriesRules from '@/requests/categories-v2/patch-categories-rules'
import {  Prop } from 'vue-property-decorator'
import DeviceSelector, { DeviceSelection, DeviceSelectionValidator } from '@/components/common/device-selector.vue'
import CategoriesRulesEditor from '@/components/blocked-categories/categories-rules-editor.vue'
import PageTop from '@/components/common/page-top.vue'
import GetTimeBasedCategoryRulesets from '@/requests/categories-v2/get-time-based-category-rulesets'

@Component({
  components: {
    PageTop,
    DeviceSelector,
    CategoriesRulesEditor
  },
  // Prevent accidental route navigation.
  beforeRouteLeave (to, from, next) {
    if ((this as any).dirty) {
      const answer = window.confirm('Do you really want to leave? You will lose unsaved changes.')
      if (answer) {
        next()
      } else {
        next(false)
      }
    } else {
      next()
    }
  }
})
export default class EditBlockedCategories extends Vue {
  @Prop() readonly isPro: boolean | undefined
  /**
   * Whether data is loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined

  displayingDevices: {[id: string]: boolean} | null = null

  /**
   * Selectable devices.
   */
  devices: APIDevices | null = null
  /**
   * Whether the user has a valid device currently selected.
   */
  valid = true

  /**
   * Loaded device rules so that we can lazy-load them. Map from deviceID + '/' + mac to
   * the rules.
   */
  loadedRules: {[id: string]: CategoriesRules} = {}

  /**
   * Map from deviceID + '/' + mac to true if the named device needs to be saved.
   */
  devicesToSave: {[id: string]: true} = {}
  /**
   * Whether we are currently saving.
   */
  saving = false

  /**
   * Whether to show descriptions.
   */
  expanded = false

  /**
   * Requests.
   */
  getDevices = new GetDevices()
  getCategoriesRules = new GetCategoriesRules()
  patchCategoriesRules = new PatchCategoriesRules()
  getTimeBasedCategoryRulesets = new GetTimeBasedCategoryRulesets()

  mounted () {
    this.setup()
  }

  /**
   * Setup the initial data.
   */
  setup () {
    const selection = this.deviceSelection
    // Get the devices and initial rules
    Promise.all(
      [
        this.getDevices.handle().then(devices => {
          if (!devices.mobile) {
            devices.mobile = []
          }
          devices.mobile.unshift({
            id: '',
            mac: '',
            name: 'Defaults'
          } as APIDevice)
          this.devices = devices
          this.deviceSelectionValidator = new DeviceSelectionValidator(devices, false)
          this.valid = this.deviceSelectionValidator.selectionIsValid(selection)
        }),
        this.doGetRules(selection.id, selection.mac)
      ]
    ).then(() => {
      this.$emit('update:loading', false)
    }).catch(() => {
      this.$emit('update:loading', false)
    })
  }

  /**
   * Given a set of rules, apply them to the currently selected device.
   */
  updateRules (rules: CategoriesRules) {
    const selection = this.deviceSelection
    if (selection.id === '') {
      // Account-wide rules, should always be enabled even though toggle isn't shown
      rules.hasRules = true
    }
    const concatID = selection.id + '/' + selection.mac
    this.$set(this.loadedRules, concatID, rules)
    this.$set(this.devicesToSave, concatID, true)
  }

  /**
   * Get the rules for the given device ID and mac.
   */
  getRules (deviceID: string, mac: string) {
    if (!this.valid || this.loadedRules[deviceID + '/' + mac] !== undefined) {
       return
    }
    this.$emit('update:loading', true)
    this.valid = false
    this.doGetRules(deviceID, mac).then(() => {
      this.$emit('update:loading', false)
      this.valid = true
    })
  }

  /**
   * @returns A promise resolving when the rules for the specified device have been fetched.
   */
  doGetRules (deviceID: string, mac: string): Promise<any> {
    return this.getCategoriesRules.handle({
      'device-id': deviceID,
      mac: mac
    }).then(rules => {
      rules.spec.hasRules = true
      this.$set(this.loadedRules, deviceID + '/' + mac, rules.spec)
    })
  }

  /**
   * @returns The current device selection.
   */
  get deviceSelection (): DeviceSelection {
    const selection: DeviceSelection = { id: 'undefined', mac: '' }
    if (typeof this.$route.query['device-id'] === 'string') {
      selection.id = this.$route.query['device-id']
    }
    if (typeof this.$route.query['mac'] === 'string') {
      selection.mac = this.$route.query['mac']
    }
    return selection
  }

  private deviceSelectionValidator: DeviceSelectionValidator | undefined

  /**
   * Select a particular device.
   */
  set deviceSelection (selection: DeviceSelection) {
    if (!this.deviceSelectionValidator) {
      return
    }
    this.valid = this.deviceSelectionValidator.selectionIsValid(selection)
    this.$router.push({
      name: 'BlockCategories',
      query: {
        'device-id': selection.id,
        mac: selection.mac
      }
    })
    this.$nextTick(() => {
      this.getRules(selection.id, selection.mac)
    })
  }

  /**
   * @returns Whether any state needs to be saved.
   */
  get dirty (): boolean {
    return Object.keys(this.devicesToSave).length > 0
  }

  /**
   * Save any device rules that need to be saved.
   */
  save (): Promise<void> {
    return new Promise((resolve, reject) => {
      this.saving = true
      const rulesToSave = Object.keys(this.devicesToSave).map(concatID => {
        const [deviceID, mac] = concatID.split('/')
        const rules = this.loadedRules[concatID]
        return {
          'device-id': deviceID,
          mac: mac,
          rules: rules
        }
      })
      Promise.all(rulesToSave.map(rulesObj => this.patchCategoriesRules.handle(rulesObj))).then(() => {
        this.saving = false
        this.devicesToSave = {}
        this.$buefy.toast.open({
          message: 'Saved ' + rulesToSave.length + ' device(s)',
          position: 'is-bottom',
          type: 'is-success'
        })
        resolve()
      }).catch(e => reject(e))
    })
  }

  reset () {
    this.$buefy.dialog.confirm({
      message: 'Are you sure you wish to reset the block settings of this device to your defaults? This with also erase any allowlist/blocklist settings.',
      type: 'is-warning',
      confirmText: 'Reset',
      onConfirm: () => {
        const compoundId = this.deviceSelection.id + '/' + this.deviceSelection.mac
        const rules = this.loadedRules[compoundId]
        rules.hasRules = false
        this.updateRules(rules)
        this.save().then(() => {
          delete this.loadedRules[compoundId]
          this.getRules(this.deviceSelection.id, this.deviceSelection.mac)
        })
      }
    })
  }

  getDeviceName (id: string): string {
    // Only mobile devices are supported
    if (!this.devices) {
      return ''
    }
    if (!this.devices.mobile) {
      return ''
    }
    for (let i = 0; i < this.devices.mobile.length; i++) {
      const device = this.devices.mobile[i]
      if (device.id === id) {
        return device.name
      }
    }
    return ''
  }

  getDeviceMetadata (): {[key: string]: string} | undefined {
    // Only mobile devices are supported
    if (!this.devices) {
      return undefined
    }
    if (!this.devices.mobile) {
      return undefined
    }
    for (let i = 0; i < this.devices.mobile.length; i++) {
      const device = this.devices.mobile[i]
      if (device.id === this.deviceSelection.id) {
        return device.metadata
      }
    }
    return undefined
  }
}

</script>
