<template>
  <div class="page-root">
    <page-top
      title="Prevent Uninstall"
      :mobile="mobile"
      :overrideBottom="true"
    >
      <b-dropdown
        slot="bottom"
        position="is-bottom-left"
        v-model="supervisedDeviceId"
        :class="{ 'dropdownOpen': 'overNav' }"
        :disabled="supervisedDeviceId !== null"
      >
        <b-button
          type="is-primary"
          rounded
          :disabled="supervisedDeviceId !== null"
          slot="trigger"
          :label="devices[supervisedDeviceId] ? devices[supervisedDeviceId] : 'Select a device'"
          icon-left="menu-down"
        />
        <b-dropdown-item
          v-for="key in Object.keys(devices)"
          :key="key"
          :value="key"
        >{{ devices[key] }}</b-dropdown-item>
      </b-dropdown>
    </page-top>
    <div v-if="!supervisedDeviceId" class="px-3 mt-4">
      Oops! It looks like this page opened in a different browser. Select the device that just completed supervision.
    </div>
    <div
      v-else-if="done"
      class="is-flex is-align-items-center is-flex-direction-column mt-6"
    >
      <b-icon
        icon="check"
        size="is-large"
      />
      <p class="is-size-4 mt-3">
        Supervision Complete
      </p>
      <p class="is-size-6 mt-2 mb-4 has-text-grey px-2 has-text-centered">
        To finish preventing uninstallation, scan the QR code using the camera app and 
        install the new profile.
      </p>
      <b-field label="Disable factory reset" style="width: 250px">
        <b-switch
          v-model="disableFactoryReset"
          :disabled="loading"
        />
      </b-field>
      <img v-if="qrUrl" :src="qrUrl" width="250px"/>
      <ios-profile-carousel class="mt-4"/>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PostIosRemovalPassword from '@/requests/devices-v2/post-ios-removal-password'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector from '@/components/common/device-selector.vue'
import PutDeviceMetadata from '@/requests/devices-v2/put-device-metadata'
import GetDevices from '@/requests/devices/get-devices'
import Collapse from '@/components/common/collapse.vue'
import CopyText from '@/components/common/copy-text.vue'
import GetDeviceDNSToken from '@/requests/devices/get-device-dns-token'
import { Prop, Watch } from 'vue-property-decorator'
import IosProfileCarousel from '@/components/device-setup/ios-profile-carousel.vue'
import GetAppleMobileConfigQr from '@/requests/devices-v2/get-apple-mobileconfig-qr'
import GetDevice from '@/requests/devices/get-device'

@Component({
  components: {
    PageTop,
    DeviceSelector,
    Collapse,
    CopyText,
    IosProfileCarousel
  }
})
export default class IosSupervisionComplete extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined

  devices: {[deviceID: string]: string} = {}
  done = false
  supervisedDeviceId = localStorage.getItem('supervised-device')
  @Watch('supervisedDeviceId', { immediate: true })
  updateSupervisedDevice (newValue: string | null, oldValue: string | null) {
    if (newValue && !oldValue) {
      this.finish()
    }
  }
  qrUrl = ''

  disableFactoryReset = false
  @Watch('disableFactoryReset', { immediate: true })
  updateQr () {
    const deviceId = this.supervisedDeviceId
    if (!deviceId) {
      return
    }
    this.getLinks(deviceId)
  }
  
  postIosRemovalPassword = new PostIosRemovalPassword()
  putDeviceMetadata = new PutDeviceMetadata()
  getDevices = new GetDevices()
  getDevice = new GetDevice()
  getDnsToken = new GetDeviceDNSToken()
  getAppleMobileConfigQr = new GetAppleMobileConfigQr()

  mounted () {
    let skipInit = false
    if (typeof this.$route.query['device-id'] === 'string') {
      this.supervisedDeviceId = this.$route.query['device-id']
      skipInit = true
    }
    this.getDevices.handle().then(devices => {
      // We only care about mobile devices
      if (devices.mobile) {
        devices.mobile.filter(d => d.type === 'ios-device').forEach(device => {
          this.$set(this.devices, device.id, device.name)
        })
      }
      if (skipInit) {
        this.getLinks(this.supervisedDeviceId as string)
      } else {
        this.finish()
      }
    })
  }

  finish () {
    const udid = this.$route.query['udid']
    if (!this.supervisedDeviceId || typeof udid !== 'string') {
      this.$emit('update:loading', false)
      return
    }
    const deviceId = this.supervisedDeviceId
    this.$emit('update:loading', true)
    this.putDeviceMetadata.handle({
      id: deviceId,
      key: 'is_supervised',
      val: '1'
    }).then(() => {
      this.postIosRemovalPassword.handle({
        deviceID: deviceId,
        udid: udid
      }).then(() => {
        this.getLinks(deviceId)
      }).catch(err => {
        if (!err || !err.meta) {
          return
        }
        if (err.meta.errorCode === 'already_set') {
          // This error is okay, just means we've done this before
          this.getLinks(deviceId)
        }
      })
    }).catch(err => {
      if (err === 404) {
        this.supervisedDeviceId = null
        this.$emit('update:loading', false)
      }
    })
  }

  getLinks (deviceId: string) {
    this.$emit('update:loading', true)
    this.getDnsToken.handle(deviceId).then(dnsToken => {
      this.getDevice.handle({
        'device-id': deviceId,
        mac: ''
      }).then(device => {
        if (!device || !device.metadata) {
          return
        }
        const removalPassword = device.metadata['_reserved_ios_removal_password']
        if (!removalPassword) {
          return
        }
        this.getAppleMobileConfigQr.handle({
          'dns-token': dnsToken,
          'profile-name': this.disableFactoryReset ? 'iOsSupervisedDisableFactoryReset' : 'iOsSupervised',
          'removal-password': removalPassword
        }).then(qr => {
          this.qrUrl = URL.createObjectURL(qr)
          this.done = true
          this.$emit('update:loading', false)
        })
      })
    })
  }
}
</script>
