<template>
  <div class="page-root">
    <page-top
      title="Un-supervise device"
      :mobile="mobile"
      :overrideBottom="true"
    >
      <b-dropdown
        slot="bottom"
        position="is-bottom-left"
        v-model="unSupervisedDeviceId"
        :class="{ 'dropdownOpen': 'overNav' }"
        :disabled="unSupervisedDeviceId !== null"
      >
        <b-button
          type="is-primary"
          rounded
          :disabled="unSupervisedDeviceId !== null"
          slot="trigger"
          :label="devices[unSupervisedDeviceId] ? devices[unSupervisedDeviceId] : 'Select a device'"
          icon-left="menu-down"
        />
        <b-dropdown-item
          v-for="key in Object.keys(devices)"
          :key="key"
          :value="key"
        >{{ devices[key] }}</b-dropdown-item>
      </b-dropdown>
    </page-top>
    <div v-if="!unSupervisedDeviceId" class="px-3 mt-4">
      Oops! It looks like this page opened in a different browser. Select the device that just completed un-supervision.
    </div>
    <div
      v-else-if="done"
      class="is-flex is-align-items-center is-flex-direction-column mt-6"
    >
      <b-icon
        icon="check"
        size="is-large"
      />
      <p class="is-size-4 mt-3">
        Un-supervision Complete
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import DeleteDeviceMetadata from '@/requests/devices-v2/delete-metadata'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector from '@/components/common/device-selector.vue'
import { Prop, Watch } from 'vue-property-decorator'
import GetDevices from '@/requests/devices/get-devices'

@Component({
  components: {
    PageTop,
    DeviceSelector,
  }
})
export default class IosSupervisionComplete extends Vue {
  @Prop() readonly mobile: boolean | undefined

  devices: {[deviceID: string]: string} = {}
  done = false
  unSupervisedDeviceId = localStorage.getItem('unsupervised-device')
  @Watch('unSupervisedDeviceId', { immediate: true })
  updateSupervisedDevice (newValue: string | null, oldValue: string | null) {
    if (newValue && !oldValue) {
      this.finish()
    }
  }
  
  deleteDeviceMetadata = new DeleteDeviceMetadata()
  getDevices = new GetDevices()

  mounted () {
    this.getDevices.handle().then(devices => {
      // We only care about mobile devices
      if (devices.mobile) {
        devices.mobile.filter(d => d.type === 'ios-device' && d.metadata && d.metadata['is_supervised'] === '1').forEach(device => {
          this.$set(this.devices, device.id, device.name)
        })
      }
      this.finish()
    })
  }

  finish () {
    if (!this.unSupervisedDeviceId || this.done) {
      this.$emit('update:loading', false)
      return
    }
    const deviceId = this.unSupervisedDeviceId
    this.$emit('update:loading', true)
    this.deleteDeviceMetadata.handle({
      deviceId: deviceId,
      key: 'is_supervised',
    }).then(() => {
      this.done = true
      this.$emit('update:loading', false)
    })
  }
}
</script>
