<template>
  <div class="page-root">
    <page-top
      title="Un-supervise device"
      :mobile="mobile"
      :overrideBottom="true"
    >
      <b-dropdown
        slot="bottom"
        position="is-bottom-left"
        v-model="selectedDevice"
        :class="{ 'dropdownOpen': 'overNav' }"
      >
        <b-button
          type="is-primary"
          rounded
          slot="trigger"
          :label="devices[selectedDevice] ? devices[selectedDevice] : 'Select a device'"
          icon-left="menu-down"
        />
        <b-dropdown-item
          v-for="key in Object.keys(devices)"
          :key="key"
          :value="key"
        >{{ devices[key] }}</b-dropdown-item>
      </b-dropdown>
    </page-top>
    <div v-if="os === 'Windows' || os === 'macOS'" class="px-2 mt-4">
      By connecting your iPhone/iPad to your computer, you can take your device out of <a href="https://support.apple.com/en-nz/102291" target="blank">supervised mode</a>,
      which allows uninstallation of Safe Surfer features. Unlike the usual method of device un-supervision, <strong>this does not erase
      your data</strong>.
      <br/><br/>
      <b-message type="is-primary" v-if="os === 'Windows'" class="mb-3" icon="microsoft-windows" :has-icon="true">
        On Windows, iTunes must be installed first. You can download it <a href="https://apps.microsoft.com/detail/9pb2mz1zmb1s" target="blank">here</a>.
        <br/>
        After iTunes opens, you can close it and open the Safe Surfer un-supervision app.
      </b-message>
      Download our un-supervision app and <strong>Open</strong> it to get started. Your removal password is
      <copy-text :text="removalPasswords[selectedDevice]"/>
      <div v-if="os === 'Windows'" class="mt-3">
        <b-button
          class="mt-3"
          type="is-primary"
          tag="a"
          href="https://files.safesurfer.io/files/apps/supervise/1.0.0/SafeSurfer-unsupervise-windows.exe"
        >
          Download for Windows
        </b-button>
      </div>
      <div v-else>
        <b-dropdown
          v-model="selectedOptionMac"
          position="is-bottom-right"
          class="mt-3"
        >
          <b-field slot="trigger">
            <p class="control">
              <b-button
                type="is-primary"
                tag="a"
                :href="OPTIONS_MACOS[selectedOptionMac].link"
                @click="$event.stopPropagation()"
              >
                Download for Mac ({{ OPTIONS_MACOS[selectedOptionMac].type }})
              </b-button>
            </p>
            <p class="control">
              <b-button
                icon-right="menu-down"
              />
            </p>
          </b-field>
          <b-dropdown-item
            v-for="(option, idx) in OPTIONS_MACOS"
            :key="idx"
            :value="idx"
          >
            <div>
              <h3>
                {{ option.type }}
              </h3>
              <small>
                {{ option.help }}
              </small>
            </div>
          </b-dropdown-item>
        </b-dropdown>
        <p class="mb-4 mt-1">
          <a
            class="has-text-link"
            target="blank"
            href="https://support.apple.com/en-nz/116943">
            Which version should I choose?
          </a>
        </p>
      </div>
    </div>
    <div
      v-else
      class="is-flex is-align-items-center is-flex-direction-column mt-6"
    >
      <b-icon
        icon="cellphone-off"
        size="is-large"
      />
      <p class="is-size-4 mt-3">
        Unavailable
      </p>
      <p class="is-size-6 mt-2 has-text-grey px-2 has-text-centered">
        De-supervision steps can only be completed from a Windows or MacOS computer with a USB connection.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector from '@/components/common/device-selector.vue'
import { getOS } from '@/helpers/constants'
import { Prop } from 'vue-property-decorator'
import CopyText from '@/components/common/copy-text.vue'
import GetDevices from '@/requests/devices/get-devices'

@Component({
  components: {
    PageTop,
    DeviceSelector,
    CopyText
  }
})
export default class IosPreventUninstall extends Vue {
  @Prop() readonly mobile: boolean | undefined

  devices: {[deviceID: string]: string} = {}
  removalPasswords: {[deviceID: string]: string} = {}
  readonly OPTIONS_MACOS = [
    {
      type: 'Apple Silicon',
      help: 'Newer Macs with an "M" processor (M1, M2, etc.)',
      link: 'https://files.safesurfer.io/files/apps/supervise/1.0.0/SafeSurfer-unsupervise-mac-arm64.tar.gz'
    },
    {
      type: 'Intel',
      help: 'Older Macs using Intel processors',
      link: 'https://files.safesurfer.io/files/apps/supervise/1.0.0/SafeSurfer-unsupervise-mac-x64.tar.gz'
    },
  ]

  os = getOS()
  selectedOptionMac = 0

  getDevices = new GetDevices()

  mounted () {
    this.getDevices.handle().then(devices => {
      // We only care about mobile devices
      if (devices.mobile) {
        devices.mobile.filter(d => d.type === 'ios-device' && d.metadata && d.metadata['is_supervised'] === '1').forEach(device => {
          this.$set(this.devices, device.id, device.name)
          if (device.metadata && device.metadata['_reserved_ios_removal_password']) {
            this.$set(this.removalPasswords, device.id, device.metadata['_reserved_ios_removal_password'])
          }
        })
      }
      this.$emit('update:loading', false)
    })
    const selection = this.selectedDevice
    if (selection) {
      localStorage.setItem('unsupervised-device', selection)
    }
  }

  /**
   * @returns The selected device ID from the URL.
   */
  get selectedDevice (): string {
    if (typeof this.$route.query['device-id'] === 'string') {
      return this.$route.query['device-id']
    }
    return ''
  }

  /**
   * Store the selected device ID in the URL.
   */
  set selectedDevice (selected: string) {
    this.$router.push({
      name: 'IosUnSupervise',
      query: {
        'device-id': selected
      }
    })
  }
}
</script>
