<template>
  <div v-if="!loading">
    <b-steps
      v-model="step"
      has-navigation
    >
      <b-step-item
        :label="'New cost ' + plan.price.period"
        icon="credit-card-clock-outline"
        clickable
      >
        <div
          class="mt-5"
          v-if="estimate"
        >
          <b-field label="Next Invoice" message="May include one-off discounts or credits"/>
          <invoice-summary
            :invoice="estimate.nextRenewalCosts"
            :isRecurring="true"
            :plan="plan"
          />
        </div>
        <spinner v-else/>
      </b-step-item>
      <b-step-item label="Due now" icon="credit-card-lock-outline" clickable v-if="estimate && estimate.immediateCosts">
        <invoice-summary
          v-if="estimate"
          :invoice="estimate.immediateCosts"
          :plan="plan"
        />
      </b-step-item>
      <div slot="navigation">
        <b-button
          :label="step === 0 ? 'Cancel' : ''"
          @click="step === 0 ? $emit('close', true) : step--"
          :icon-left="step === 0 ? '' : 'chevron-left'"
          class="ml-3 mr-2"
        />
        <b-button
          :disabled="!estimate"
          type="is-primary"
          :loading="checkingOut"
          :label="nextLabel"
          @click="(step === 0 && !(estimate && !estimate.immediateCosts)) ? step++ : checkout()"
          :icon-right="(step === 0 && !(estimate && !estimate.immediateCosts)) ? 'chevron-right' : 'check'"
        />
      </div>
    </b-steps>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import GetPlan, { Plan } from '@/requests/user-v2/get-plan'
import { ChangeSubscriptionEstimate } from '@/requests/user-v2/post-subscription-estimate'
import InvoiceSummaryComponent from '@/components/create-account/invoice-summary.vue'
import Spinner from '@/components/common/spinner.vue'
import { getChargebeeDefaultPlan } from '@/helpers/functions'
import PutChargebeePlan from '@/requests/user-v2/put-chargebee-plan'
import PostChangeChargebeePlanEstimate from '@/requests/user-v2/post-change-chargebee-plan-estimate'

@Component({
  components: {
    InvoiceSummary: InvoiceSummaryComponent,
    Spinner
  }
})
export default class KsePromoSwitch extends Vue {
  @Prop() readonly loading: boolean | undefined

  plan: Plan | undefined
  estimate: ChangeSubscriptionEstimate | null = null
  step = 0
  checkingOut = false

  getPlan = new GetPlan()
  putChargebeePlan = new PutChargebeePlan()
  postChangeChargebeePlanEstimate = new PostChangeChargebeePlanEstimate()

  mounted () {
    this.getPlan.handle({
      id: '',
      "price-id": '',
      period: '',
      prefix: 'pro-2021-2-annual'
    }).then(plan => {
      this.plan = plan.spec
      this.postChangeChargebeePlanEstimate.handle({
        planID: plan.spec.id
      }).then(estimate => {
        this.estimate = estimate.spec
        this.$emit('update:loading', false)
      }).catch(err => this.handleErr(err))
    })
  }

  checkout () {
    if (!this.plan) {
      return
    }
    this.checkingOut = true
    this.putChargebeePlan.handle({
      planID: this.plan.id
    }).then(() => {
      this.checkingOut = false
      this.$buefy.toast.open({
        message: 'Subscription updated',
        type: 'is-success',
        duration: 5000,
        position: 'is-bottom'
      })
      this.$router.push({
        name: 'DeviceSetup'
      })
    }).catch(err => this.handleErr(err))
  }

  handleErr (reason: any) {
    this.checkingOut = false
    this.estimate = null
    if (reason && reason.meta && reason.meta.message) {
      if (reason.meta.message.includes('no valid card on file')) {
        this.$buefy.dialog.confirm({
          message: 'Cannot change the subscription as there is no valid card on file',
          type: 'is-primary',
          confirmText: 'Add payment method',
          onConfirm: () => {
            this.$router.push({
              name: 'AccountSettings',
              query: {
                section: 'payment',
              },
            })
          }
        })
      } else {
        this.$buefy.dialog.alert({
          message: reason.meta.message,
          type: 'is-danger'
        })
        this.$emit('close', true)
      }
    }
  }

  get nextLabel (): string {
    if (this.step === 0 && !(this.estimate && !this.estimate.immediateCosts)) {
      return 'Confirm'
    }
    if (!this.estimate || !this.plan) {
      return ''
    }
    let checkoutText = ''
    if (this.estimate.immediateCosts && this.estimate.immediateCosts.total) {
      checkoutText = 'Pay ' + (this.plan as Plan).price.currencySymbol + this.estimate.immediateCosts.total
    } else {
      checkoutText = 'Confirm'
    }
    if (this.estimate.trialEnd) {
      checkoutText += ' and end trial'
    } else if (this.estimate.subscriptionStart) {
      checkoutText += ' and start '
      if (this.plan.price.period.includes('year')) {
        checkoutText += 'yearly '
      } else if (this.plan.price.period.includes('month')) {
        checkoutText += 'monthly '
      } else if (this.plan.price.period.includes('week')) {
        checkoutText += 'weekly '
      } else if (this.plan.price.period.includes('day')) {
        checkoutText += 'daily '
      }
      checkoutText += 'subscription'
    } else {
      checkoutText += ' and checkout'
    }
    return checkoutText
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}
</style>
