<template>
  <div>
    <page-top
      title="Location"
      :mobile="mobile"
      :float="true"
      floatslot="right"
      :noBottomCenter="true"
    >
      <b-field
        slot="right"
      >
        <p class="control">
          <!-- Devices to select -->
          <b-dropdown
            slot="bottom"
            position="is-bottom-left"
            v-model="selectedDevice"
            :class="{ 'dropdownOpen': 'overNav' }"
          >
            <button class="button is-primary is-rounded" slot="trigger">
              <span>{{ devices[selectedDevice] }}</span>
              <b-icon icon="menu-down"></b-icon>
            </button>
            <b-dropdown-item
              v-for="key in Object.keys(devices)"
              :key="key"
              :value="key"
            >{{ devices[key] }}</b-dropdown-item>
          </b-dropdown>
        </p>
        <p class="control">
          <b-dropdown
            position="is-bottom-left"
            :value="null"
            custom
          >
            <!-- Three dots trigger -->
            <b-button
              icon-left="dots-vertical"
              slot="trigger"
              type="is-primary"
              rounded outlined
            />
            <div class="py-2 px-4">
              <router-link
                :to="{
                  name: 'ClearHistory',
                  query: {
                    'device-id': selectedDevice
                  } 
                }"
              >
                Clear history
              </router-link>
            </div>
          </b-dropdown>
        </p>
      </b-field>
      <b-tabs
        slot="bottom"
        :value="selectedPositionId === -1 ? 0 : 1"
        @input="setViewType($event)"
        class="mt-4"
        type="is-boxed"
      >
        <b-tab-item label="Overview" icon="map">
          <div class="is-flex has-text-grey is-align-items-center">
            <span class="mr-3">
              Showing data since
            </span>
            <b-datepicker
              :value="new Date(startTimestamp * 1000)"
              @input="startTimestamp = $event.getTime()/1000; load(selectedDevice)"
            />
          </div>
        </b-tab-item>
        <b-tab-item label="Timeline" icon="timeline-clock">
          <div class="is-flex is-align-items-center">
            <b-button
              icon-left="menu-left"
              size="is-medium"
              @click="earlier"
              :disabled="loading"
            />
            <b-carousel-list
              class="mx-4"
              :value="selectedPositionIndex"
              @input="setPosition($event)"
              :items-to-show="1"
              :data="positions"
              :arrow="false"
            >
              <template #item="list">
                <div class="p-3 ml-4 is-flex is-flex-wrap-wrap">
                  <span class="is-inline-flex">
                    <b-icon
                      type="is-secondary"
                      class="mr-2"
                      :icon="list.networkType === 0 ? 'map-marker' : list.networkType === 1 ? 'network-strength-outline' : 'wifi'"
                    />
                    <span>
                      {{ formatTime(list.time) }}
                    </span>
                  </span>
                  <b-tooltip
                    v-if="list.accuracy > 200"
                    label="You can enable High accuracy from the Safe Surfer app"
                    position="is-right"
                    :class="{'mt-2': mobile, 'ml-3': !mobile}"
                  >
                    <b-tag
                      icon="map-marker-radius"
                      type="is-warning"
                      size="is-small"
                    >
                      Low Accuracy
                    </b-tag>
                  </b-tooltip>
                </div>
              </template>
            </b-carousel-list>
            <b-button
              icon-right="menu-right"
              size="is-medium"
              :disabled="selectedPositionIndex >= positions.length-1 || loading"
              @click="later"
            />
          </div>
        </b-tab-item>
      </b-tabs>
    </page-top>
    <div>
      <div v-if="!devices[selectedDevice] || !selectedDevice">
        <div class="is-flex is-align-items-center is-flex-direction-column mt-5">
          <b-icon
            icon="map-marker-alert"
            size="is-large"
          />
          <p class="is-size-4 mt-3">
            Not Supported.
          </p>
          <p class="is-size-6 mt-2 has-text-grey">
            Location tracking is only supported for <router-link
              :to="{
                name: 'DeviceSetup',
                query: {
                  'selected-options-all': '[1,0]'
                }
              }"
            >
              Kid-Safe Devices.
            </router-link>
          </p>
        </div>
      </div>
      <div v-else-if="!positions.length">
        <div class="is-flex is-align-items-center is-flex-direction-column mt-5">
          <b-icon
            icon="map-search"
            size="is-large"
          />
          <p class="is-size-4 mt-3">
            No location history yet.
          </p>
          <p class="is-size-6 mt-2 has-text-grey">
            Make sure it's enabled by opening the Safe Surfer app on the device, or try adjusting
            the search filters.
          </p>
        </div>
      </div>
      <div v-show="devices[selectedDevice] && selectedDevice && (loading || positions.length)">
        <div style="width: 100%; height: 480px;" ref="map"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GetLocationHistory, { Location as LocationObj } from '@/requests/location/get-location-history'
import DeleteLocationHistory from '@/requests/location/delete-location-history'
import { Prop, Watch } from 'vue-property-decorator'
import GetDevices from '@/requests/devices/get-devices'
import PageTop from '@/components/common/page-top.vue'
import '@/helpers/maps'
import dayjs from 'dayjs'

@Component({
  components: {
    PageTop
  }
})
export default class Location extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  
  map: any | null = null
  devices: {[deviceID: string]: string} = {}
  toRemove: any[] = []
  selectedPositionIndex = -1
  selectedPositionId = -1
  positions: LocationObj[] = []
  markers: HTMLElement[] = []
  circles: any[] = []

  getDevices = new GetDevices()
  getLocationHistory = new GetLocationHistory()
  deleteLocationHistory = new DeleteLocationHistory()

  mounted () {
    const windowAny = window as any
    windowAny.google.maps.importLibrary("maps").then((lib: any) => {
      const { Map } = lib
      this.map = new Map(this.$refs['map'] as HTMLElement, {
        center: { lat: 0, lng: 0 },
        zoom: 2,
        mapId: '6356c654975bc7fe'
      })
      this.getDevices.handle().then(devices => {
        this.$set(this.devices, '', 'Select a device')
        if (devices.mobile) {
          devices.mobile.forEach(device => {
            if (device.type === 'android-device') {
              if (device.metadata && device.metadata['knox-serial'] !== undefined) {
                this.$set(this.devices, device.id, device.name)
              }
            }
          }) 
        }
        this.load(this.selectedDevice)
      })
    })
  }

  load (device: string, onDone?: () => void) {
    this.$emit('update:loading', true)
    if (!this.devices[device]) {
      this.$emit('update:loading', false)
      return
    }
    this.getLocationHistory.handle({
      'device-id': this.selectedDevice,
      'start-timestamp': this.startTimestamp
    }).then(async (history) => {
      this.toRemove.forEach(it => it.setMap(null))
      this.toRemove = []
      this.markers = []
      this.circles = []
      if (!history.spec.devices[this.selectedDevice]) {
        history.spec.devices[this.selectedDevice] = []
      }
      const windowAny = window as any
      const { AdvancedMarkerElement } = await windowAny.google.maps.importLibrary("marker")
      const positions: any[] = []
      const markerBounds = new windowAny.google.maps.LatLngBounds()
      let newIdx = -1
      history.spec.devices[this.selectedDevice].forEach((location, i) => {
        const pos = { lat: location.lat, lng: location.lon }
        const circle = new windowAny.google.maps.Circle({
          map: this.map,
          center: pos,
          radius: location.accuracy,
          strokeColor: "#FF0000",
          strokeOpacity: 0.4,
          strokeWeight: 2,
          fillColor: "#FF0000",
          fillOpacity: 0.05,      
        })
        this.circles[i] = circle
        const marker = new AdvancedMarkerElement({
          map: this.map,
          position: pos,
          content: this.createMarkerElement(i, location),
        })
        marker.addListener('click', () => {
          this.markers.forEach(marker => marker.classList.add('map-marker-invisible'))
          this.circles.forEach(circle => circle.setMap(null))
          this.setPosition(i)
        })
        positions.push(pos)
        this.toRemove.push(marker)
        this.toRemove.push(circle)
        this.extendBoundsWithAccuracy(markerBounds, location)
        if (location.id === this.selectedPositionId) {
          newIdx = i
        }
      })
      const flightPath = new windowAny.google.maps.Polyline({
        map: this.map,
        path: positions,
        geodesic: true,
        strokeColor: "#1976d2",
        strokeOpacity: 1.0,
        strokeWeight: 2,
      });
      this.toRemove.push(flightPath)
      this.positions = history.spec.devices[this.selectedDevice]
      if (newIdx != -1) {
        this.setPosition(newIdx)
      } else {
        this.map.fitBounds(markerBounds, 150)
      }
      this.$emit('update:loading', false)
      if (onDone) {
        this.$nextTick(() => onDone())
      }
    })
  }

  createMarkerElement (idx: number, location: LocationObj): HTMLElement {
    const el = document.createElement('div')
    const icon = document.createElement('i')
    icon.className = 'mdi '
    if (location.networkType === 2) {
      icon.className += 'mdi-wifi'
    } else if (location.networkType === 1) {
      icon.className += 'mdi-network-strength-outline'
    }
    icon.style.margin = '5px'
    const text = document.createElement('span')
    text.innerHTML = this.formatTime(location.time)
    el.appendChild(icon)
    el.appendChild(text)
    el.className = 'map-marker map-marker-regular'
    this.markers[idx] = el
    return el
  }

  /**
   * @returns The selected device ID from the URL.
   */
  get selectedDevice (): string {
    if (typeof this.$route.query['device-id'] === 'string') {
      return this.$route.query['device-id']
    }
    return '' // Default
  }

  /**
   * Store the selected device ID in the URL.
   */
  set selectedDevice (selected: string) {
    this.$router.push({
      name: 'Location',
      query: {
        'device-id': selected,
        'start-timestamp': this.startTimestamp + ''
      }
    })
  }

  get startTimestamp(): number {
    const q = this.$route.query['start-timestamp']
    if (typeof q === 'string') {
      return parseInt(q)
    }
    return dayjs().subtract(1, 'days').unix()
  }

  set startTimestamp(t: number) {
    this.$router.push({
      name: 'Location',
      query: {
        'device-id': this.selectedDevice,
        'start-timestamp': t + ''
      }
    })
  }

  @Watch('selectedDevice') loadFromDeviceChange(newSelection: string) {
    this.load(newSelection)
  }

  formatTime (t: number): string {
    if (dayjs.unix(t).isBefore(dayjs().subtract(5, 'hours'))) {
      return dayjs.unix(t).format('ddd D MMM h:mma')
    }
    return dayjs.unix(t).fromNow()
  }

  viewType = 0

  setViewType(viewType: number, noSetPosition?: boolean) {
    if (!viewType) {
      // Overview
      this.selectedPositionId = -1
      if (!this.positions.length || !this.map) {
        return
      }
      const windowAny = window as any
      const markerBounds = new windowAny.google.maps.LatLngBounds()
      this.positions.forEach(location => {
        this.extendBoundsWithAccuracy(markerBounds, location)
      })
      this.markers.forEach(marker => marker.classList.remove('map-marker-invisible'))
      this.circles.forEach(circle => circle.setMap(this.map))
      this.map.fitBounds(markerBounds, 150)
    } else {
      // Timeline
      this.markers.forEach(marker => marker.classList.add('map-marker-invisible'))
      this.circles.forEach(circle => circle.setMap(null))
      if (!noSetPosition) {
        this.setPosition(this.positions.length-1)
      }
    }
    this.viewType = viewType
  }

  earlier () {
    if (this.loading) {
      return
    }
    if (this.selectedPositionIndex === 0) {
      this.startTimestamp = this.startTimestamp - 60*60*24
      this.load(this.selectedDevice, () => {
        if (this.selectedPositionIndex === 0) {
          this.$buefy.snackbar.open({
            message: 'No more location history'
          })
          this.setViewType(this.viewType, true)
          this.setPosition(this.selectedPositionIndex)
        } else {
          this.earlier()
        }
      })
    } else {
      this.setPosition(this.selectedPositionIndex-1)
    }
  }

  later () {
    this.setPosition(this.selectedPositionIndex+1)
  }

  setPosition (idx: number) {
    if (!this.map || idx < 0) {
      return
    }
    const windowAny = window as any
    const prev = this.markers[this.selectedPositionIndex]
    if (prev) {
      prev.classList.remove('map-marker-highlighted')
      prev.classList.add('map-marker-invisible')
    }
    const prevCircle = this.circles[this.selectedPositionIndex]
    if (prevCircle) {
      prevCircle.setMap(null)
    }
    const prevPrev = this.markers[this.selectedPositionIndex-1]
    if (prevPrev) {
      prevPrev.classList.add('map-marker-invisible')
    }
    const prevPrevCircle = this.circles[this.selectedPositionIndex-1]
    if (prevPrevCircle) {
      prevPrevCircle.setMap(null)
    }
    this.selectedPositionIndex = idx
    const newMarker = this.markers[idx]
    if (newMarker) {
      newMarker.classList.add('map-marker-highlighted')
      newMarker.classList.remove('map-marker-invisible')
    }
    const newMarkerCircle = this.circles[idx]
    if (newMarkerCircle) {
      newMarkerCircle.setMap(this.map)
    }
    const newMarkerPrev = this.markers[idx-1]
    if (newMarkerPrev) {
      newMarkerPrev.classList.remove('map-marker-invisible')
    }
    const newMarkerPrevCircle = this.circles[idx-1]
    if (newMarkerPrevCircle) {
      newMarkerPrevCircle.setMap(this.map)
    }
    const position = this.positions[this.selectedPositionIndex]
    this.selectedPositionId = position.id
    const markerBounds = new windowAny.google.maps.LatLngBounds()
    this.extendBoundsWithAccuracy(markerBounds, position)
    if (idx === 0 && this.positions.length > 1) {
      const position = this.positions[this.selectedPositionIndex+1]
      this.extendBoundsWithAccuracy(markerBounds, position)
    } else if (this.positions.length > 1) {
      const position = this.positions[this.selectedPositionIndex-1]
      this.extendBoundsWithAccuracy(markerBounds, position)
    }
    this.map.fitBounds(markerBounds, 150)
  }

  extendBoundsWithAccuracy(markerBounds: any, loc: LocationObj) {
    const windowAny = window as any
    const r = 6378
    const d = loc.accuracy
    const dLat = (d / r) * (180 / Math.PI) / 1000
    const dLon = (d / r) * (180 / Math.PI) / Math.cos(loc.lat * Math.PI/180) / 1000
    markerBounds.extend(new windowAny.google.maps.LatLng(loc.lat, loc.lon))
    markerBounds.extend(new windowAny.google.maps.LatLng(loc.lat+dLat, loc.lon))
    markerBounds.extend(new windowAny.google.maps.LatLng(loc.lat-dLat, loc.lon))
    markerBounds.extend(new windowAny.google.maps.LatLng(loc.lat, loc.lon+dLon))
    markerBounds.extend(new windowAny.google.maps.LatLng(loc.lat, loc.lon-dLon))
  }
}
</script>

<style>
.map-marker {
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
}

.map-marker-invisible {
  opacity: 0;
}

.map-marker-accuracy {
  background-color: rgba(255, 0, 0, 0.1);
}

.map-marker::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.map-marker-regular {
  background-color: #1976d2;
}

.map-marker-regular::after {
  border-top: 8px solid #1976d2;
}

.map-marker-highlighted {
  background-color: #FFC35C !important;
}

.map-marker-highlighted::after {
  border-top: 8px solid #FFC35C !important;
}
</style>
