<template>
  <div>
    <page-top
      title="Texts & Social Media"
      :float="true"
      :mobile="mobile"
      floatslot="right"
    >
      <b-button
        slot="left-icon"
        icon-left="arrow-left"
        tag="router-link"
        :to="{ name: 'NotificationLog' }"
        rounded
      />
      <b-button
        slot="right"
        type="is-danger"
        icon-left="delete"
        :loading="deleting"
        @click="doDelete"
        rounded
      >
        Delete
      </b-button>
    </page-top>
    <notification
      v-if="!loading"
      :notif="notification"
      :keywords="notification.keywords"
      :name="name"
      :appName="appNames[notification.appID] ? appNames[notification.appID] : notification.appID"
      @update:loading="$emit('update:loading', $event)"
      @filter-device="$router.push({
        name: 'NotificationLog',
        query: {
          'device-id': $event
        }
      })"
      @filter-app="$router.push({
        name: 'NotificationLog',
        query: {
          'app-id': JSON.stringify([$event])
        }
      })"
      @filter-keyword="$router.push({
        name: 'NotificationLog',
        query: {
          'keyword': JSON.stringify([$event])
        }
      })"
    />
  </div>
</template>

<script lang="ts">
import GetDeviceName from '@/requests/devices/get-device-name'
import GetNotification, { LoggedNotification as LoggedNotificationSpec } from '@/requests/notificationslog/get-notification'
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import Notification from '@/components/notificationlog/notification.vue'
import { Prop } from 'vue-property-decorator'
import DeleteNotification from '@/requests/notificationslog/delete-notification'
import GetAppBlockingMetadata from '@/requests/blocking/get-app-blocking-metadata'

@Component({
  components: {
    PageTop,
    Notification
  }
})
export default class LoggedNotification extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  /**
   * The notification.
   */
  notification: LoggedNotificationSpec | null = null
  /**
   * The name of the device sending the notification.
   */
  name: string | null = null
  /**
   * Whether we are deleting the notification.
   */
  deleting = false
  /**
   * Map from app ID to name, when available.
   */
  appNames: {[id: string]: string} = {}

  /**
   * Requests.
   */
  getNotification = new GetNotification()
  getDeviceName = new GetDeviceName()
  deleteNotification = new DeleteNotification()
  getAppBlockingMetadata = new GetAppBlockingMetadata()

  mounted () {
    const fail = () => {
      this.$buefy.toast.open({
        message: 'Couldn\'t get notification',
        type: 'is-danger',
        position: 'is-bottom'
      })
      this.$emit('update:loading', false)
    }
    if (typeof this.$route.query.id !== 'string') {
      fail()
      return
    }
    this.getNotification.handle(parseInt(this.$route.query.id)).then(notification => {
      this.notification = notification.spec
      this.getDeviceName.handle(notification.spec.deviceID).then(name => {
        this.name = name
        this.getAppBlockingMetadata.handle('').then(apps => {
          if (!apps.spec || !apps.spec.appData) {
            return
          }
          Object.keys(apps.spec.appData).forEach(app => {
            if (!app.startsWith('android/')) {
              return
            }
            const appData = apps.spec.appData[app]
            this.appNames[app.slice(8)] = appData.name
          })
          this.$emit('update:loading', false)
        })
      }).catch(() => {
        fail()
      })
    }).catch(() => {
      fail()
    })
  }

  doDelete () {
    if (!this.notification) {
      return
    }
    this.deleting = true
    this.deleteNotification.handle(this.notification.id).then(() => {
      this.deleting = false
      this.$router.push({
        name: 'NotificationLog'
      })
    })
  }
}
</script>
