<template>
  <div class="home px-4">
    <b-message
      v-if="showAnnouncement"
      @update:active="dismissAnnouncement"
      type="is-primary"
      title="New Features"
    >
      New usage features are live now! Including:
      <ul>
        <li>
          Full lookup history and insights.
        </li>
        <li>
          Activity levels for individual devices.
        </li>
        <li>
          View stats for your whole account.
        </li>
        <li>
          Delete account/device history.
        </li>
        <li>
          More privacy settings.
        </li>
        <li>
          Improved speed.
        </li>
      </ul>
    </b-message>
    <div class="mt-3">
      <auth
        :loading="loading"
        :checkRegenTwofactorRecoveryCodes="true"
        signinFormName="home-sign-in-main"
        @err="status = 'DANGER_TEXT'; statusText = $event; statusActive = true;"
        @update:loading="$emit('update:loading', $event)"
        @update:subStatus="$emit('update:subStatus', $event)"
        @update:isPromo="$emit('update:isPromo', $event)"
        @done="redirect"
      >
        <div
          class="is-family-secondary has-text-centered has-text-weight-semibold is-size-5 mb-3"
          slot="signin-top"
        >
          Log in to continue
        </div>
        <div class="has-text-centered mt-4" slot="signin-bottom">
          <router-link
            :to="{
              name: 'CreateAccount',
              query: {
                redirect: typeof this.$route.query.redirect === 'string' ? this.$route.query.redirect : undefined,
                'ref-follow': typeof this.$route.query['ref-follow'] === 'string' ? this.$route.query['ref-follow'] : undefined
              }
            }"
          >
            <b-button
              class="button"
            >
              Get an account
            </b-button>
          </router-link>
        </div>
      </auth>
    </div>
    <self-service-page class="mt-5" :card="true"/>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import dayjs from 'dayjs'
import { DISMISSED_ANNOUNCEMENTS_STORAGE_NAME, EMAIL_STORAGE_NAME, TOKEN_STORAGE_NAME } from '@/helpers/constants'
import SelfServicePage from '@/components/home/self-service-page.vue'
import Auth, { AuthResult } from '@/components/common/auth.vue'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {
    SelfServicePage,
    Auth
  }
})
export default class Login extends Vue {
  @Prop() readonly loading: boolean | undefined

  /**
   * The announcement ID, if any.
   */
  announcementID = 0

  mounted () {
    this.$emit('update:loading', false)
  }

  /**
   * Dismiss the current announcement.
   */
  dismissAnnouncement() {
    const announcementID = this.announcementID + ''
    const dismissedStr = localStorage.getItem(DISMISSED_ANNOUNCEMENTS_STORAGE_NAME)
    if (!dismissedStr) {
      localStorage.setItem(DISMISSED_ANNOUNCEMENTS_STORAGE_NAME, JSON.stringify({
        announcementID: true
      }))
      return
    }
    const dismissed = JSON.parse(dismissedStr)
    dismissed[announcementID] = true
    localStorage.setItem(DISMISSED_ANNOUNCEMENTS_STORAGE_NAME, dismissed)
  }

  /**
   * @returns Whether to show the announcement or not.
   */
  get showAnnouncement(): boolean {
    if (this.announcementID === 0) {
      return false
    }
    // If there is an announcement ID, check if we have dismissed it
    const dismissedStr = localStorage.getItem(DISMISSED_ANNOUNCEMENTS_STORAGE_NAME)
    if (!dismissedStr) {
      return true
    }
    const dismissed = JSON.parse(dismissedStr)
    return dismissed[this.announcementID + '']
  }

  /**
   * @returns A string of when maintenance starts.
   */
  get maintenanceStart(): string {
    return dayjs.unix(1611014400).format('dddd D MMMM h:mm a')
  }

  /**
   * @returns A string of when maintenance ends.
   */
  get maintenanceEnd(): string {
    return dayjs.unix(1611014400).add(4, 'hour').format('dddd D MMMM h:mm a')
  }

  redirect (result: AuthResult) {
    localStorage.setItem(TOKEN_STORAGE_NAME, result.token)
    localStorage.setItem(EMAIL_STORAGE_NAME, result.email)
    let redirectPath = '/'
    // If user has a promo plan but no payment method yet, take them to add one
    if (result.subscription && result.subscription.isActive &&
      result.subscription.chargebeeSubscription && result.subscription.chargebeeSubscription.customerCardStatus !== 'valid' &&
      result.subscription.chargebeePlan.id.includes('promo')
    ) {
      redirectPath = '/account-settings?section=payment&snackbar=1'
    } else if (typeof this.$route.query.redirect === 'string') {
      redirectPath = this.$route.query.redirect
    }
    if (result.needRegenTwofactorRecoveryCodes) {
      this.$buefy.dialog.confirm({
        type: 'is-danger',
        message: 'You have no two-factor recovery codes remaining. To avoid losing access to your account, regenerate them now.',
        confirmText: 'Regenerate',
        cancelText: 'Ignore',
        onConfirm: () => {
          this.$router.push({
            name: 'AccountSettings',
            query: {
              section: 'security',
              'regenerate-codes': '1'
            }
          })
        }
      })
    }
    this.$router.push({
      path: redirectPath
    })
  }
}
</script>

<style scoped>
.home {
  max-width: 550px;
  margin: auto;
  min-height: 100vh;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
</style>
