<template>
  <div>
    <!-- Top bar for controls -->
    <page-top
      title="Texts & social media"
      :float="true"
      floatslot="right"
      :mobile="mobile"
    >
      <!-- If notifications are selected, show option to delete and select/deselect all -->
      <b-field v-if="notificationsSelected > 0" slot="right">
        <p class="control">
          <b-button
            type="is-danger"
            icon-left="delete"
            :loading="deleting"
            @click="deleteSelected"
            rounded
          >
            Delete
          </b-button>
        </p>
        <p class="control">
          <b-tooltip position="is-bottom" label="Deselect All" v-if="notificationsSelected === notifications.length">
            <b-button
              icon-left="select-off"
              @click="selectedNotifications = {}"
              rounded
            />
          </b-tooltip>
          <b-tooltip position="is-bottom" label="Select All" v-else>
            <b-button
              icon-left="select-all"
              @click="selectAll"
              rounded
            />
          </b-tooltip>
        </p>
      </b-field>
      <!-- If no filters are active, show option to filter + enable notifications -->
      <b-field v-else-if="numFilters === 0" slot="right">
        <p class="control">
          <b-button
            @click="doShowFilter"
            icon-left="filter-outline"
            rounded
          >
           Filter
          </b-button>
        </p>
        <p class="control">
          <b-tooltip label="Enable notifications" position="is-bottom">
            <b-dropdown
              position="is-bottom-left"
            >
              <template #trigger>
                <b-button
                  icon-left="bell"
                  rounded
                />
              </template>
              <b-dropdown-item
                custom
              >
                <i>
                  Get notified when there are new notifications from a monitored device:
                </i>
              </b-dropdown-item>
              <b-dropdown-item
                custom
              >
                <enable-notifications/>
              </b-dropdown-item>
            </b-dropdown>
          </b-tooltip>
        </p>
      </b-field>
      <!-- If filters are active, show filters dialog button and option to clear -->
      <b-field v-else slot="right">
        <p class="control">
          <b-button
            type="is-primary"
            icon-left="filter-outline"
            @click="doShowFilter"
            rounded
          >
            {{ numFilters }} filters
          </b-button>
        </p>
        <p class="control">
          <b-tooltip label="Clear filters" position="is-bottom">
            <b-button
              icon-left="filter-off-outline"
              rounded
              @click="$router.push({
                name: 'NotificationLog'
              })"
            />
          </b-tooltip>
        </p>
      </b-field>
    </page-top>
    <!-- Main panel for the notifications -->
    <div>
      <b-message
        class="mt-3"
        v-if="!(notifications && notifications.length) && !loading && numFilters === 0"
        type="is-primary"
        :closable="false"
        title="No detections yet"
        icon="lightbulb"
        :has-icon="true"
      >
        Protect a device with the Android app to monitor notifications for keywords.
      </b-message>
      <div
        v-else-if="!(notifications && notifications.length) && numFilters > 0"
        class="has-text-grey has-text-centered mt-5"
      >
        Nothing found
      </div>
      <div v-else>
        <notification
          v-for="notification in notifications"
          :key="notification.id"
          :notif="notification"
          :keywords="filter.keyword && filter.keyword.length ? filter.keyword : notification.keywords"
          :name="deviceIDToName[notification.deviceID]"
          :appName="appNames[notification.appID] ? appNames[notification.appID] : notification.appID"
          :devicefilteractive="filter['device-id'] === notification.deviceID"
          @filter-device="filter = {'device-id': $event, 'page': 0}"
          :appfilteractive="filter['app-id'].includes(notification.appID)"
          @filter-app="filter = {'app-id': $event ? [$event] : undefined, 'page': 0}"
          @filter-keyword="filter = {'keyword': $event ? [$event] : undefined, 'page': 0}"
          @update:loading="$emit('update:loading', $event)"
          :selectable="true"
          :selected="selectedNotifications[notification.id] ? true : false"
          @update:selected="$set(selectedNotifications, notification.id, $event)"
        />
      </div>
    </div>
    <!-- Pagination -->
    <div class="is-flex p-5" v-if="notifications && notifications.length">
      <b-button
        @click="filter = { 'page': filter.page - 1 }"
        :disabled="filter.page === 0 || loading"
        icon-left="arrow-left"
      >
        Newer
      </b-button>
      <div style="flex-grow: 1"/>
      <p class="has-text-grey pt-2">
        Page {{ filter.page + 1 }}
      </p>
      <div style="flex-grow: 1"/>
      <b-button
        @click="filter = { 'page': filter.page + 1 }"
        :disabled="!more || loading"
        icon-right="arrow-right"
      >
        Older
      </b-button>
    </div>
    <!-- Modal for filters -->
    <b-modal
      :active="true"
      v-if="showFilter"
      @update:active="showFilter = false"
    >
      <div class="card p-3">
        <b-field label="Device">
          <b-select
            :value="filter['device-id']"
            @input="filter = {'device-id': $event, 'page': 0}"
            icon="cellphone"
          >
            <option :value="''">
              Any
            </option>
            <option
              v-for="deviceID in Object.keys(deviceIDToName)"
              :key="deviceID"
              :value="deviceID"
            >
              {{ deviceIDToName[deviceID] }}
            </option>
          </b-select>
        </b-field>
        <b-field label="Time">
          <b-checkbox
            :value="filter['start-timestamp'] !== 0 || filter['end-timestamp'] !== 0"
            @input="updateTimeRange"
          >
            Specific range
          </b-checkbox>
        </b-field>
        <b-field label="Time range" v-if="filter['start-timestamp'] !== 0 || filter['end-timestamp'] !== 0">
          <select-date-range
            :startDate="filter['start-timestamp']"
            :endDate="filter['end-timestamp']"
            @update:startDate="filter = {'start-timestamp': $event, 'page': 0}"
            @update:endDate="filter = {'end-timestamp': $event, 'page': 0}"
          />
        </b-field>
        <!-- Select apps -->
        <b-field label="App" grouped group-multiline>
          <b-checkbox
            v-for="app in apps"
            :key="app"
            :value="filter['app-id'].includes(app)"
            @input="setAppFilter(app, $event)"
            class="pr-2 pb-1 mb-3"
          >
            <div class="is-flex" v-if="COMMON_APPS[app]">
              {{ COMMON_APPS[app].name }}
            </div>
            <div class="is-flex" v-else>
              {{ appNames[app] ? appNames[app] : app }}
              <a
                :href="'https://play.google.com/store/apps/details?id=' + app"
                target="blank"
                class="ml-1"
              >
                (View)
              </a>
            </div>
          </b-checkbox>
        </b-field>
        <!-- Select keywords -->
        <b-field label="Keywords" grouped group-multiline>
          <b-checkbox
            v-for="keyword in keywords"
            :key="keyword"
            :value="filter['keyword'].includes(keyword)"
            @input="setKeywordFilter(keyword, $event)"
            class="pr-2 pb-1 mb-3"
          >
            {{ keyword }}
          </b-checkbox>
        </b-field>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import { Prop, Watch } from 'vue-property-decorator'
import GetNotifications, { GetNotificationsParams } from '@/requests/notificationslog/get-notifications'
import { LoggedNotification } from '@/requests/notificationslog/get-notification'
import Notification from '@/components/notificationlog/notification.vue'
import GetDevices from '@/requests/devices/get-devices'
import SelectDateRange from '@/components/usage/select-date-range.vue'
import GetApps from '@/requests/notificationslog/get-notification-apps'
import GetKeywords from '@/requests/notificationslog/get-notification-keywords'
import DeleteNotification from '@/requests/notificationslog/delete-notification'
import EnableNotifications from '@/components/account-home/enable-notifications.vue'
import assign from 'lodash/assign'
import dayjs from 'dayjs'
import { COMMON_APPS } from '@/helpers/constants'
import GetAppBlockingMetadata from '@/requests/blocking/get-app-blocking-metadata'

@Component({
  components: {
    PageTop,
    Notification,
    SelectDateRange,
    EnableNotifications
  }
})
export default class NotificationLog extends Vue {
  /**
   * There's no good API for getting the name/icon of apps, so just put some common ones here.
   */
  readonly COMMON_APPS = COMMON_APPS
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  /**
   * Whether we are loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether to show the filter dialog.
   */
  showFilter = false
  /**
   * Whether there are more notifications to load.
   */
  more = false
  /**
   * The current notifications.
   */
  notifications: LoggedNotification[] | null = null
  /**
   * Map from device ID to name.
   */
  deviceIDToName: {[deviceID: string]: string} = {}
  /**
   * All apps that have logged notifications.
   */
  apps: string[] | null = null
  /**
   * All keywords.
   */
  keywords: string[] | null = null
  /**
   * Which notifications are selected.
   */
  selectedNotifications: {[id: string]: boolean} = {}
  /**
   * Whether we are deleting the selected notifications.
   */
  deleting = false
  /**
   * Map from app ID to name, when available.
   */
  appNames: {[id: string]: string} = {}

  /**
   * Requests.
   */
  getNotifications = new GetNotifications()
  deleteNotification = new DeleteNotification()
  getDevices = new GetDevices()
  getApps = new GetApps()
  getAppBlockingMetadata = new GetAppBlockingMetadata()
  getKeywords = new GetKeywords()

  mounted () {
    this.$emit('update:loading', true)
    Promise.all([
      this.getDevices.handle().then(devices => {
        if (devices.mobile) {
          devices.mobile.forEach(device => {
            if (device.type === 'android-device') {
              this.deviceIDToName[device.id] = device.name
            }
          })
        }
      }),
      this.loadNotifications(),
      this.getAppBlockingMetadata.handle('').then(apps => {
        if (!apps.spec || !apps.spec.appData) {
          return
        }
        Object.keys(apps.spec.appData).forEach(app => {
          if (!app.startsWith('android/')) {
            return
          }
          const appData = apps.spec.appData[app]
          this.appNames[app.slice(8)] = appData.name
        })
      })
    ]).then(() => this.$emit('update:loading', false))
  }

  /**
   * @returns The current filter object.
   */
  get filter (): GetNotificationsParams {
    const q = this.$route.query
    const deviceID =        typeof q['device-id'] === 'string'        ? q['device-id']                        : ''
    const startTimestamp =  typeof q['start-timestamp'] === 'string'  ? parseInt(q['start-timestamp'])        : 0
    const endTimestamp =    typeof q['end-timestamp'] === 'string'    ? parseInt(q['end-timestamp'])          : 0
    const page =            typeof q['page'] === 'string'             ? parseInt(q['page'])                   : 0
    const numPerPage =      typeof q['num-per-page'] === 'string'     ? parseInt(q['num-per-page'])           : 20
    const keywords =        typeof q['keyword'] === 'string'          ? JSON.parse(q['keyword']) as string[]  : []
    const appIDs =          typeof q['app-id'] === 'string'           ? JSON.parse(q['app-id']) as string[]   : []
    return {
      'device-id': deviceID,
      'start-timestamp': startTimestamp,
      'end-timestamp': endTimestamp,
      'app-id': appIDs,
      'keyword': keywords.map(keyword => keyword.toLowerCase()),
      'page': page,
      'num-per-page': numPerPage
    }
  }

  /**
   * Set the new filter. Not every parameter has to be specified, these override those already present.
   */
  set filter (newFilter: GetNotificationsParams) {
    const newObj = this.filter
    assign(newObj, newFilter)
    this.$router.push({
      name: 'NotificationLog',
      query: {
        'device-id': newObj['device-id'],
        'start-timestamp': newObj['start-timestamp'] + '',
        'end-timestamp': newObj['end-timestamp'] + '',
        'app-id': JSON.stringify(newObj['app-id']),
        'keyword': JSON.stringify(newObj['keyword']),
        page: newObj.page + '',
        'num-per-page': newObj['num-per-page'] + ''
      }
    })
  }

  /**
   * @returns The amount of active filters.
   */
  get numFilters (): number {
    const filter = this.filter
    let num = 0
    if (filter['device-id'] !== '') {
      num++
    }
    if (filter['start-timestamp'] !== 0) {
      num++
    }
    if (filter['end-timestamp'] !== 0) {
      num++
    }
    if (filter['app-id'].length) {
      num++
    }
    if (filter['keyword'].length) {
      num++
    }
    return num // Don't count page/num per page
  }

  loadNotifications (): Promise<void> {
    return new Promise((resolve, reject) => {
      this.getNotifications.handle(this.filter).then(notifications => {
        this.more = notifications.spec.more
        this.notifications = notifications.spec.notifications
        resolve()
      }).catch(() => {
        this.$buefy.toast.open({
          message: 'Couldn\'t get notifications',
          type: 'is-danger',
          position: 'is-bottom' 
        })
        reject()
      })
    })
  }

  @Watch('$route', { deep: true }) loadNotificationsFromFilter () {
    this.$emit('update:loading', true)
    this.loadNotifications().finally(() => {
      this.$emit('update:loading', false)
    })
  }

  updateTimeRange (specificRange: boolean) {
    if (specificRange) {
      this.filter = {
        'start-timestamp': dayjs().subtract(7, 'days').unix(),
        'end-timestamp': dayjs().unix(),
        'page': 0
      } as GetNotificationsParams
    } else {
      this.filter = {
        'start-timestamp': 0,
        'end-timestamp': 0,
        'page': 0
      } as GetNotificationsParams
    }
  }

  /**
   * Load some stuff before showing the filter dialog.
   */
  doShowFilter () {
    if (this.apps === null || this.keywords === null) {
      this.$emit('update:loading', true)
      Promise.all([
        this.getApps.handle().then(apps => {
          this.apps = apps.spec
        }),
        this.getKeywords.handle().then(keywords => {
          this.keywords = keywords.spec
        })
      ]).then(() => {
        this.$emit('update:loading', false)
        this.showFilter = true
      })
    } else {
      this.showFilter = true
    }
  }

  /**
   * Given an app and whether to include it, update the filter.
   */
  setAppFilter (app: string, include: boolean) {
    // Find the index of the app
    const filterBefore = this.filter['app-id']
    const idx = filterBefore.indexOf(app)
    if (include && idx !== -1) {
      // Already included
      return
    }
    if (!include && idx === -1) {
      // Already excluded
      return
    }
    if (include) {
      filterBefore.push(app)
    } else {
      filterBefore.splice(idx, 1)
    }
    this.filter = { 'app-id': filterBefore, 'page': 0 } as GetNotificationsParams
  }

  /**
   * Given a keyword and whether to include it, update the filter.
   */
  setKeywordFilter (keyword: string, include: boolean) {
    // Find the index of the app
    const filterBefore = this.filter['keyword']
    const idx = filterBefore.indexOf(keyword)
    if (include && idx !== -1) {
      // Already included
      return
    }
    if (!include && idx === -1) {
      // Already excluded
      return
    }
    if (include) {
      filterBefore.push(keyword)
    } else {
      filterBefore.splice(idx, 1)
    }
    this.filter = { 'keyword': filterBefore, 'page': 0 } as GetNotificationsParams
  }

  /**
   * @returns Whether any notifications are selected.
   */
  get notificationsSelected (): number {
    return Object.keys(this.selectedNotifications)
      .filter(id => this.selectedNotifications[id])
      .length
  }

  /**
   * Select all notifications on the page.
   */
  selectAll () {
    if (!this.notifications) {
      return
    }
    this.notifications.forEach(notification => {
      this.$set(this.selectedNotifications, notification.id, true)
    })
  }

  /**
   * Delete the selected notifications.
   */
  deleteSelected () {
    this.deleting  = true
    Promise.all(
      Object.keys(this.selectedNotifications).map(id => this.deleteNotification.handle(parseInt(id)))
    ).then(() => {
      this.deleting = false
      this.selectedNotifications = {}
      this.loadNotifications()
    })
  }
}
</script>
