<template>
  <div :class="{ faded: loading }" class="outer">
    <div
      class="top-container px-4 py-3 has-text-black is-flex is-align-items-center"
    >
      <div>
        <div class="is-family-secondary has-text-weight-semibold is-size-5">Safe Surfer: Install protection</div>
      </div>
    </div>
    <div v-if="type === 'ios'">
      <ios-profile-instructions
        :token="token"
        :blockedCategories="blockedCategories"
      />
    </div>
    <div v-else-if="type === 'mac'">
      <mac-profile-instructions
        :token="token"
        :blockedCategories="blockedCategories"
      />
    </div>
    <div v-else-if="type === 'android-private-dns'">
      <android-private-dns-instructions
        :token="token"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import IosProfileInstructions from '@/components/device-setup/ios-profile-instructions.vue'
import MacProfileInstructions from '@/components/device-setup/mac-profile-instructions.vue'
import AndroidPrivateDnsInstructions from '@/components/device-setup/android-private-dns-instructions.vue'

@Component({
  components: {
    IosProfileInstructions,
    MacProfileInstructions,
    AndroidPrivateDnsInstructions
  }
})
export default class ProfileSetup extends Vue {
  @Prop() readonly loading: boolean | undefined

  mounted () {
    this.$emit('update:loading', false)
  }

  get type (): string {
    const q = this.$route.query.type
    if (typeof q === 'string') {
      return q
    }
    return ''
  }

  get token (): string {
    const q = this.$route.query.token
    if (typeof q === 'string') {
      return q
    }
    return ''
  }

  get blockedCategories (): number[] {
    const q = this.$route.query['blocked-categories']
    if (typeof q === 'string') {
      try {
        return JSON.parse(q) as number[]
      } catch (e) {
        return []
      }
    }
    return []
  }
}
</script>

<style scoped>
.top-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.8;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.faded {
  opacity: 0.4;
}

.outer {
  max-width: 500px;
  margin: auto;
}

.shifted-up {
  margin-top: -60px;
}
</style>
