<template>
  <div>
    <div class="top-container px-4 py-3 has-text-black">
      <div>
        <div class="is-family-secondary has-text-weight-semibold">Lifeguard Registration</div>
      </div>
    </div>
    <resolve-device-quota
      v-if="resolvingQuota"
      :quota="quota"
      :showMoreInfo="true"
      @done="resolvingQuota = false"
    />
    <div v-else>
      <b-message
        type="is-primary"
        class="max-width-middle"
      >
        This page may refresh and show "not secure" during setup.
        Your account details are only sent over a secure connection.
      </b-message>
      <div v-if="loading === false">
        <div if="showSteps">
          <!-- Step for naming the device -->
          <b-steps
            v-model="currStep"
            class="max-width-middle"
            :has-navigation="false"
          >
            <b-step-item label="Name" :clickable="true" icon="router-wireless" v-if="deviceID === ''">
              <div class="is-flex is-align-items-center has-text-grey">
                <b-icon
                  size="is-medium"
                  icon="router-wireless"
                />
                <div class="px-5 my-3">
                  Link your Safe Surfer account to block sites and watch activity for devices on this network.
                </div>
              </div>
              <b-field label="Name" message="How this lifeguard will show in the dashboard (Optional).">
                <form autocomplete="off" name="router-registration-name">
                  <b-input
                    v-model="deviceName"
                    type="text"
                    autocomplete="off"
                    ref="deviceName"
                    @keyup.native="$event.key === 'Enter' && currStep++"
                  />
                  <!-- Prevent implicit submission of the form -->
                  <button type="submit" disabled style="display: none" aria-hidden="true"/>
                </form>
              </b-field>
              <div class="is-flex is-justify-content-center">
                <b-button
                  type="is-primary"
                  icon-left="arrow-right"
                  @click="currStep++"
                >
                  Next
                </b-button>
              </div>
            </b-step-item>
            <b-step-item label="PIN" :clickable="true" icon="lock">
              <div class="is-flex is-align-items-center has-text-grey">
                <b-icon
                  size="is-medium"
                  icon="lock"
                />
                <div class="px-5 my-3">
                  Set a PIN for this lifeguard. You will need this to change WiFi/System settings for the lifeguard.
                </div>
              </div>
              <form autocomplete="off" name="router-registration-pin">
                <b-field label="PIN Code" v-bind="getPINState()">
                  <b-input
                    v-model="pin"
                    type="password"
                    autocomplete="off"
                    @keyup.native="$event.key === 'Enter' && register()"
                    :maxlength="128"
                    password-reveal
                  />
                </b-field>
                <!-- Prevent implicit submission of the form -->
                <button type="submit" disabled style="display: none" aria-hidden="true"/>
              </form>
              <div class="is-flex is-justify-content-center">
                <b-button
                  type="is-primary"
                  icon-left="check"
                  @click="register"
                >
                  {{ deviceID === '' ? 'Add Lifeguard' : 'Done' }}
                </b-button>
              </div>
            </b-step-item>
          </b-steps>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { getLoginRoute, getRouterRole, hasValidAuth, routerReturnURLAllowed } from '@/helpers/functions'
import NotFound from '@/components/router-registration/not-found.vue'
import GrantRemoteAuth from '@/requests/user-v2/grant-remote-auth'
import { EMAIL_STORAGE_NAME } from '@/helpers/constants'
import GetQuota, { Quota } from '@/requests/quotas/get-quota'

const QUERY_DEVICE_ID_NAME = 'device-id'
const LOCAL_STORAGE_NAME_NAME = 'router-registration-name'
const LOCAL_STORAGE_PIN_NAME = 'router-registration-pin'
const QUERY_KEY_NAME = 'key'
const QUERY_NEEDS_PIN_RESET = 'needs-pin-reset'

@Component({
  components: {
    NotFound,
    ResolveDeviceQuota: () => import('@/components/device-setup/resolve-device-quota.vue')
  }
})
export default class RouterRegistration extends Vue {
  @Prop({ default: true }) readonly loading: boolean | undefined

  /**
   * The current step in registration.
   */
  currStep = 0
  /**
   * The device name for registration.
   */
  deviceName = ''
  /**
   * The PIN code for registration.
   */
  pin = ''
  /**
   * Whether to show the registration steps.
   */
  showSteps = false

  quota: Quota | null = null
  resolvingQuota = false

  /**
   * Requests.
   */
  grantRemoteAuth = new GrantRemoteAuth()
  getQuota = new GetQuota()

  mounted () {
    if (!hasValidAuth()) {
      this.$router.push(getLoginRoute(this.$route, this.$route.fullPath))
      return
    }
    if (this.$route.query['api-register'] === '1') {
      this.grantRemoteAuth.handle({
        key: this.regKey,
        role: getRouterRole(),
        pin: this.savedPIN,
        name: this.savedName
      }).then(resp => {
        const returnURL = this.$route.query['ret']
        if (typeof returnURL === 'string' && routerReturnURLAllowed(returnURL)) {
          // We have a return URL for the router. Give it the hmac secret and the email.
          let email = localStorage.getItem(EMAIL_STORAGE_NAME)
          if (email === null) {
            email = ''
          }
          window.location.href = returnURL + '?save-secret=' + resp.spec.hmacSecret + '&save-email=' + encodeURIComponent(email)
        } else {
          this.$router.push({
            name: 'Device',
            query: {
              'device-id': resp.spec.deviceID
            }
          })
        }
      }).catch(() => {
        this.handleError()
      })
    } else {
      this.checkInitialAction()
    }
  }

  /**
   * @returns The device ID from the URL.
   */
  get deviceID(): string {
    const deviceID = this.$route.query[QUERY_DEVICE_ID_NAME]
    if (typeof deviceID !== 'string') {
      return ''
    }
    return deviceID
  }

  /**
   * @returns The user's last entered PIN.
   */
  get savedPIN(): string {
    const pin = localStorage.getItem(LOCAL_STORAGE_PIN_NAME)
    if (pin === null) {
      return ''
    }
    return pin
  }

  set savedPIN(pin: string) {
    localStorage.setItem(LOCAL_STORAGE_PIN_NAME, pin)
  }

  /**
   * @returns The user's last entered name for the device.
   */
  get savedName(): string {
    const name = localStorage.getItem(LOCAL_STORAGE_NAME_NAME)
    if (name === null) {
      return ''
    }
    return name
  }

  set savedName(name: string) {
    localStorage.setItem(LOCAL_STORAGE_NAME_NAME, name)
  }

  /**
   * @returns The router-generated remote auth key.
   */
  get regKey(): string {
    const key = this.$route.query[QUERY_KEY_NAME]
    if (typeof key !== 'string') {
      return ''
    }
    return key
  }

  /**
   * @returns Whether the user needs the PIN reset. Otherwise, does reauth immediately.
   */
  get needsPINReset(): boolean {
    return this.$route.query[QUERY_NEEDS_PIN_RESET] === '1'
  }

  /**
   * @returns Display params to validate the PIN.
   */
  getPINState(): { type: string, message: string } {
    if (this.pin.length === 0) {
      return {
        type: '',
        message: 'Required. May contain letters/symbols/characters.'
      }
    }
    if (this.pin.length < 4) {
      return {
        type: 'is-danger',
        message: 'Must be at least 4 characters.'
      }
    }
    return {
      type: 'is-success',
      message: ''
    }
  }

  // Check the router connection, then check what we need to do from there.
  checkInitialAction() {
    if (!this.needsPINReset && this.deviceID !== '') {
      // This is a reauth, and the PIN doesn't need to be reset. We can just do reauth immediately.
      this.register()
    } else {
      this.getQuota.handle('devices').then(quota => {
        this.quota = quota.spec
        if (this.quota.currentValue >= this.quota.maxValue) {
          this.resolvingQuota = true
        }
        this.showSteps = true
        this.$emit('update:loading', false)
      })
    }
  }

  /**
   * Save the info the user has entered and navigate to register the lifeguard.
   */
  register() {
    if (this.needsPINReset || this.deviceID === '') {
      const pinParams = this.getPINState()
      if (pinParams.type !== 'is-success') {
        this.$buefy.toast.open({
          type: 'is-danger',
          position: 'is-bottom',
          duration: 5000,
          message: 'Please set a PIN'
        })
        return
      }
    }
    this.savedPIN = this.pin
    this.savedName = this.deviceName
    this.startRemoteAuthRequest()
  }

  /**
   * Navigate to the URL to start the remote auth request.
   */
  startRemoteAuthRequest () {
    const returnURL = this.$route.query['ret']
    if (typeof returnURL === 'string' && routerReturnURLAllowed(returnURL)) {
      window.location.replace(returnURL + '?start-remote-auth=1')
    }
  }

  handleError() {
    this.$buefy.toast.open({
      position: 'is-bottom',
      type: 'is-danger',
      duration: 5000,
      message: 'Error, check lifeguard connection'
    })
    this.$router.push({
      name: 'AccountHome'
    })
  }
}
</script>

<style scoped>
.max-width-middle {
  max-width: 500px;
  margin: auto;
}

.top-container {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  opacity: 0.8;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}
</style>
