<template>
  <div>
    <page-top
      title="Content detections"
      :float="true"
      :mobile="mobile"
      floatslot="right"
    >
      <b-button
        type="is-primary"
        slot="left-icon"
        icon-left="arrow-left"
        tag="router-link"
        :to="{ name: 'Screencasts' }"
        rounded
        outlined
      />
      <b-button
        slot="right"
        type="is-danger"
        icon-left="delete"
        :disabled="!canDelete"
        @click="deleteEvents"
        rounded
        outlined
      >
        Delete selected
      </b-button>
    </page-top>
    <div v-if="eventsTotal > 0" :class="{ faded: tableLoading }">
      <!-- Card for each event -->
      <br>
      <b-message
      type="is-primary"
      >
      Safe Surfer uses custom-built AI technology to safely detect inappropriate content.
      AI technology can make mistakes, so detections might not be 100% accurate.
      </b-message>
      <div
        class="card is-inline-block mr-6 my-4"
        style="width: 275px; border-radius: 20px; overflow: hidden;"
        v-for="event in events"
        :key="event.id"
      >
        <img
          v-if="imgBlobs[event.id]"
          :src="imgBlobs[event.id]"
          :style="{filter: 'blur(' + (15 * (imgBlurs[event.id] === undefined ? 100 : imgBlurs[event.id]) / 100) + 'px)'}"
          style="width: 275px;"
        />
        <div class="px-5 py-4">
          <div class="is-flex is-justify-content-space-between">
            <p class="has-text-weight-semibold is-size-6">
              {{ event.time }}
            </p>
            <b-checkbox
              type="is-danger"
              slot="top-right"
              :value="selectedRows[event.id]"
              @input="$event ? $set(selectedRows, event.id, true) : $set(selectedRows, event.id, false)"
            />
          </div>
          <b-field label="Blur level" class="mt-4" v-if="event.image">
            <b-slider
              :value="imgBlurs[event.id] === undefined ? 100 : imgBlurs[event.id]"
              @input="$set(imgBlurs, event.id, $event)"
              type="is-primary"
              :max="100"
            />
          </b-field>
        </div>
      </div>
      <b-pagination
        :total="eventsTotal"
        :per-page="NUM_PER_PAGE"
        :current="currPage"
        @update:current="loadPage"
      />
    </div>
    <!-- Show explainer if there are no screencasts yet. -->
    <template v-else-if="!tableLoading">
      <br>
      <b-message>
        No content detections have occured. If any content is found during
        the detection session, it will appear here.
      </b-message>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import GetDevices from '@/requests/devices/get-devices'
import GetCastEvents, { APICastEvent } from '@/requests/screencasts/get-events'
import DeleteCastEvent from '@/requests/screencasts/delete-cast-event'
import GetEventImage from '@/requests/screencasts/get-event-image'
import dayjs from 'dayjs'
import { Prop } from 'vue-property-decorator'
import { titleCase } from '@/helpers/functions'
import ButtonFieldCard from '@/components/common/button-field-card.vue'

/**
 * Event type that's actually displayed.
 */
interface EventDisplay {
  id: number;
  time: string;
  confidence: string;
  device: string;
  category: string;
  levels: {[catID: number]: number};
  image: boolean;
}

@Component({
  components: {
    PageTop,
    ButtonFieldCard
  },
  beforeRouteLeave (to, from, next) {
    try {
      (this as Screencasts).cleanUp()
    } catch (ignored) {}
    next()
  }
})
export default class Screencasts extends Vue {
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  
  /**
   * Map from device ID to device name.
   */
  devices: {[deviceID: string]: string} = {}
  /**
   * Whether we are loading.
   */
  loading = true
  /**
   * The events to display on the current page.
   */
  events: EventDisplay[] = []
  /**
   * Amount of events available total.
   */
  eventsTotal = 0
  /**
   * Whether the table is loading data.
   */
  tableLoading = true
  /**
   * Table rows that are selected.
   */
  selectedRows: {[eventID: number]: true} = {}
  /**
   * The current page.
   */
  currPage = 0
  imgBlobs: {[eventID: number]: string} = {}
  imgBlurs: {[eventID: number]: number} = {}

  /**
   * Amount of events to display on a page.
   */
  readonly NUM_PER_PAGE = 6

  /**
   * Requests.
   */
  getDevices = new GetDevices()
  getCastEvents = new GetCastEvents()
  getEventImage = new GetEventImage()
  deleteCastEvent = new DeleteCastEvent()

  mounted () {
    // Get devices
    this.getDevices.handle().then(devices => {
      // We only care about mobile devices
      this.$set(this.devices, 'all', 'All Devices')
      devices.mobile.forEach(device => {
        this.$set(this.devices, device.id, device.name)
      })
    }).then(() => {
      this.loading = false
      this.loadPage(1)
    })
  }

  cleanUp () {
    this.imgBlurs = {}
    Object.keys(this.imgBlobs).forEach(key => {
      URL.revokeObjectURL(this.imgBlobs[parseInt(key)])
    })
  }

  beforeDestroy () {
    this.cleanUp()
  }

  /**
   * Load a particular page.
   */
  loadPage (pageNum: number): void {
    this.tableLoading = true
    this.cleanUp()
    this.$emit('update:loading', true)
    // Get the events
    this.getCastEvents.handle({
      castID: this.castID,
      page: pageNum,
      'num-per-page': this.NUM_PER_PAGE,
    }).then(events => {
      if (events.events) {
        // There are events
        this.events = this.convertEvents(events.events)
        this.eventsTotal = events.available
      } else {
        // No events
        this.events = []
      }
      Promise.all(
        this.events
          .filter(it => it.image)
          .map(event => this.getEventImage.handle({
              castID: this.castID,
              eventID: event.id
            }).then(data => {
              // Create a new URL
              this.imgBlobs[event.id] = URL.createObjectURL(data)
            }).catch(() => {})
          )
      ).finally(() => {
        this.tableLoading = false
        this.$emit('update:loading', false)
        this.currPage = pageNum
      })
    })
  }

  /**
   * @returns Events to display, converted from the returned format.
   */
  convertEvents (orig: APICastEvent[]): EventDisplay[] {
    return orig.map(event => {
      return {
        id: event.id,
        time: dayjs.unix(event.timestamp).fromNow(),
        device: this.devices[event.deviceID],
        category: event.category,
        confidence: titleCase(event.confidence),
        levels: event.levels,
        image: event.image
      }
    })
  }

  /**
   * Delete all selected events.
   */
  deleteEvents () {
    const toDelete = this.eventsToDelete
    Promise.all(toDelete.map(id => this.deleteCastEvent.handle({
      eventID: id,
      castID: this.castID
    }))).then(() => {
      // Toast when all are removed
      this.$buefy.toast.open({
        message: 'Content detection(s) deleted',
        type: 'is-success',
        position: 'is-bottom'
      })
    })
    // Show them being removed immediately
    if (this.events) {
      // Remove selected
      const origNumRows = this.events ? this.events.length : 0
      this.events = this.events.filter(row => !toDelete.includes(row.id))
      // Update how many are available
      this.eventsTotal -= origNumRows - this.events.length
      this.selectedRows = {}
    }
  }

  /**
   * @returns The list of event IDs to delete.
   */
  get eventsToDelete (): number[] {
    return Object.keys(this.selectedRows).map(id => parseInt(id)).filter(id => this.selectedRows[id])
  }

  /**
   * @returns Whether we can press delete to delete anything.
   */
  get canDelete (): boolean {
    return this.eventsToDelete.length > 0
  }

  /**
   * @returns The cast ID from the URL.
   */
  get castID (): number {
    if (typeof this.$route.query.id === 'string') {
      return parseInt(this.$route.query.id)
    }
    return 0
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}
</style>
