<template>
  <div>
    <page-top title="Timers" :float="true" floatslot="bottom">
      <!-- Devices to select -->
      <device-selector
        v-if="devices !== null"
        v-model="deviceSelection"
        :devices="devices"
        placeholder="Select a device"
        lifeguardPlaceholder="Select a device"
        slot="bottom"
      />
    </page-top>
    <div v-if="!loading">
      <div v-if="!deviceSelection.id || !valid">
        <br>
        <b-message>
          Select a device that you would like to apply timer rules for.
        </b-message>
      </div>
      <div v-else>
        <div
          v-if="!timers.length && !Object.keys(blockInternetTimers).filter(key => blockInternetTimers[key]).length"
          class="is-flex is-align-items-center is-flex-direction-column mb-5 mt-5"
        >
          <!-- Placeholder if nothing found -->
          <b-icon
            icon="timer-off-outline"
            size="is-large"
          />
          <p class="is-size-4 mt-3">
            No timers yet.
          </p>
          <p class="is-size-6 mt-2 has-text-grey">
            Timers allow access to sites for an amount of time per day.
          </p>
        </div>
        <b-message
          type="is-primary"
          v-else
        >
          The user of the device can stop/start their timer in the Safe Surfer app Screentime menu.
        </b-message>
        <div>
          <div class="mt-3 is-flex is-justify-content-center">
            <b-field>
              <p class="control">
                <b-button
                  type="is-danger"
                  icon-left="block-helper"
                  @click="modalType = 'INTERNET'; add()"
                  outlined rounded
                >
                  Limit internet
                </b-button>
              </p>
              <p class="control">
                <b-button
                  type="is-primary"
                  icon-left="web"
                  :disabled="timers && timers.length >= maxTimers"
                  @click="modalType = 'SITE'; add()"
                  outlined rounded
                >
                  Limit sites/apps
                </b-button>
              </p>
            </b-field>
          </div>
          <start-stop-timers
            :timers="timers"
            :blockInternetTimers="blockInternetTimers"
            :tz="tz"
            :editable="true"
            @editBlockInternet="editBlockInternet($event)"
            @deleteBlockInternet="deleteBlockInternet($event)"
            @edit="edit($event)"
            @delete="doDelete($event)"
          />
        </div>
      </div>
    </div>
    <!-- Self-service config -->
    <self-service-config
      :device="selfServiceDevice"
      @update:loading="$emit('update:loading', $event)"
    />
    <!-- Modal for adding/editing -->
    <b-modal
      v-if="adding || editingTimer"
      @update:active="adding = false; editingTimer = false; editingDay = ''; editingIdx = -1;"
      :active="true"
    >
      <div class="card p-3 is-flex is-flex-direction-column" style="max-height: 500px;">
        <b-steps
          v-model="modalStep"
          :type="modalType === 'INTERNET' ? 'is-danger' : 'is-primary'"
        >
          <b-step-item label="Time" :clickable="true" icon="timer-outline">
            <b-numberinput
              type="is-grey"
              :value="Math.floor(modalMaxTimeSecs/60/60)"
              @input="updateModalTimerHours($event)"
              :editable="false"
              size="is-small"
              controls-position="compact"
              class="timer-element mr-3"
              style="width: 100px;"
              :min="0"
              :max="23"
              :step="1"
            />
            <span
              class="timer-element timer-element-text mr-3"
            >
              hours and
            </span>
            <b-numberinput
              type="is-grey"
              :value="Math.floor((modalMaxTimeSecs - Math.floor(modalMaxTimeSecs/60/60)*60*60) / 60)"
              @input="updateModalTimerMinutes($event)"
              :editable="false"
              size="is-small"
              controls-position="compact"
              class="timer-element mr-3"
              style="width: 100px;"
              :min="0"
              :max="59"
              :step="15"
            />
            <span
              class="timer-element timer-element-text mr-3"
            >
              minutes on
            </span>
            <!-- Dropdown for which day -->
            <b-select
              v-model="modalDay"
              class="mr-3 mt-2"
            >
              <option
                v-for="day in ALL_DAYS_ORDERED"
                :key="day"
                :value="day"
              >
                {{ DAY_TO_NAME[day] }}
              </option>
            </b-select>
          </b-step-item>
          <b-step-item
            :label="'Allowed ' + '(' + (modalCustomRules.apps.length + modalCustomRules.categories.length + modalCustomRules.restrictions.length + modalCustomRules.whitelist.length) + ')'"
            v-if="modalType === 'SITE'"
            :clickable="true"
            icon="eye-check-outline"
          >
            <div style="overflow-y: scroll; max-height: 300px;">
              <custom-rules-actions-editor
                v-model="modalCustomRules"
                :baseRules="baseRules"
                :allowAllow="true"
                :deviceID="deviceSelection.id"
              />
            </div>
          </b-step-item>
          <b-step-item label="Confirm" :clickable="true" icon="check">
            <div>
              <start-stop-timers
                :editable="false"
                :disableStartStop="true"
                :timers="modalType === 'INTERNET' ? [] : [
                  {
                    id: -1,
                    customRules: modalCustomRules,
                    day: modalDay,
                    maxTimeSecs: modalMaxTimeSecs
                  }
                ]"
                :blockInternetTimers="modalType === 'INTERNET' ? modalBlockInternetObj() : {}"
              />
            </div>
            <b-button
              class="mt-4"
              @click="applyModal"
              type="is-primary"
              :label="adding ? 'Confirm' : 'Update'"
            />
          </b-step-item>
        </b-steps>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector, { DeviceSelection, DeviceSelectionValidator } from '@/components/common/device-selector.vue'
import { Prop } from 'vue-property-decorator'
import GetDevices, { APIDevice, APIDevices } from '@/requests/devices/get-devices'
import GetTimers from '@/requests/categories-v2/get-timers'
import GetTimer, { Timer } from '@/requests/categories-v2/get-timer' 
import { BlockInternetTimer } from '@/requests/blockinternet/get-timer'
import GetBlockInternetTimer from '@/requests/blockinternet/get-timer'
import GetCategoriesRules, { CategoriesRules, GetCategoriesRulesOptions } from '@/requests/categories-v2/get-categories-rules'
import DeleteTimer from '@/requests/categories-v2/delete-timer'
import DeleteBlockInternetTimer from '@/requests/blockinternet/delete-timer'
import PutTimer from '@/requests/categories-v2/put-timer'
import PostTimer from '@/requests/categories-v2/post-timer'
import PostBlockInternetTimer from '@/requests/blockinternet/post-timer'
import StartStopTimers from '@/components/screentime-timers/start-stop-timers.vue'
import GetTimezone from '@/requests/user-v2/get-timezone'
import PutTimezone from '@/requests/user-v2/put-timezone'
import { getTimezone, screentimeSupported } from '@/helpers/functions'
import SelfServiceConfig from '@/components/my-devices/self-service-config.vue'
import CustomRulesActionsEditor from '@/components/screentime-timers/custom-rules-actions-editor.vue'
import GetQuota from '@/requests/quotas/get-quota'

@Component({
  components: {
    PageTop,
    DeviceSelector,
    StartStopTimers,
    SelfServiceConfig,
    CustomRulesActionsEditor
  },
})
export default class ScreentimeLimits extends Vue {
  readonly DAY_TO_NAME = {
    '0': 'Saturday',
    '1': 'Sunday',
    '2': 'Monday',
    '3': 'Tuesday',
    '4': 'Wednesday',
    '5': 'Thursday',
    '6': 'Friday',
    '*': 'All days',
    'weekend': 'Weekend days',
    'weekday': 'Weekdays',
  }
  readonly ALL_DAYS_ORDERED = ['*', 'weekend', 'weekday', '2', '3', '4', '5', '6', '0', '1']

  /**
   * Whether data is loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined

  /**
   * Selectable devices.
   */
  devices: APIDevices | null = null
  /**
   * Whether the user has a valid device currently selected.
   */
  valid = false
  /**
   * Whether we are currently saving.
   */
  saving = false
  /**
   * Whether we are adding.
   */
  adding = false
  /**
   * Whether we are editing a single timer.
   */
  editingTimer = false
  /**
   * The index of the timer we're editing, if any.
   */
  editingIdx = -1
  /**
   * The day we're editing, if any.
   */
  editingDay = ''
  /**
   * The type of rule we're adding.
   */
  modalType: 'INTERNET' | 'SITE' = 'SITE'
  /**
   * The day of the timer we're adding.
   */
  modalDay = '*'
  /**
   * The custom rules of the timer we're adding, if any.
   */
  modalCustomRules: CategoriesRules = {
    hasRules: true,
    apps: [],
    categories: [],
    restrictions: [],
    whitelist: [],
    blacklist: []
  }
  /**
   * The max time of the timer we're adding.
   */
  modalMaxTimeSecs = 60*60
  /**
   * The current modal step.
   */
  modalStep = 0
  /**
   * The regular timers.
   */
  timers: Timer[] | null = null
  /**
   * The block internet timers.
   */
  blockInternetTimers: {[day: string]: BlockInternetTimer | null} | null = null
  /**
   * The base rules, used to provide a list of categories/restrictions.
   */
  baseRules: CategoriesRules | null = null
  /**
   * The user's timezone.
   */
  tz: string | null = null
  /**
   * The device we are configuring self-service for.
   */
  selfServiceDevice: GetCategoriesRulesOptions | null = null
  /**
   * Whether we're currently making a request.
   */
  gettingData = false
  /**
   * Max amount of timers to allow.
   */
  maxTimers = 0

  /**
   * Requests.
   */
  getCategoriesRules = new GetCategoriesRules()
  getDevices = new GetDevices()
  getTimers = new GetTimers()
  getTimer = new GetTimer()
  getTimezone = new GetTimezone()
  getBlockInternetTimer = new GetBlockInternetTimer()
  postTimer = new PostTimer()
  putTimer = new PutTimer()
  postBlockInternetTimer = new PostBlockInternetTimer()
  deleteTimer = new DeleteTimer()
  deleteBlockInternetTimer = new DeleteBlockInternetTimer()
  putTimezone = new PutTimezone()
  getQuota = new GetQuota()

  mounted () {
    const selection = this.deviceSelection
    Promise.all([
      this.getDevices.handle().then(devices => {
        const retDevices: APIDevices = {
          lifeguards: [],
          mobile: [],
          dns: []
        }
        if (devices.lifeguards) {
          retDevices.lifeguards = devices.lifeguards.filter(device => screentimeSupported(device))
        }
        if (devices.mobile) {
          retDevices.mobile = devices.mobile.filter(device => screentimeSupported(device))
        }
        if (devices.dns) {
          retDevices.dns = devices.dns.filter(device => screentimeSupported(device))
        }
        this.devices = retDevices
        this.deviceSelectionValidator = new DeviceSelectionValidator(retDevices, false)
        this.valid = this.deviceSelectionValidator.selectionIsValid(selection)
      }),
      this.getTimezone.handle().then(tz => {
        if (!tz.spec) {
          this.tz = "UTC"
        } else {
          this.tz = tz.spec
        }
      })
    ]).then(() => {
      return Promise.all([
        this.getTimersReq(selection.id, selection.mac).then(timers => {
          this.timers = timers[0]
          this.blockInternetTimers = timers[1]
        }),
        this.getCategoriesRules.handle({
          'device-id': selection.id,
          'mac': selection.mac
        }).then(rules => {
          this.baseRules = rules.spec
        }),
        this.getQuota.handle('screentime_timers_per_device').then(quota => {
          this.maxTimers = quota.spec.maxValue
        })
      ])
    }).then(() => {
      this.$emit('update:loading', false)
    }).catch(() => {
      this.$emit('update:loading', false)
    })
  }

  /**
   * @returns The current device selection.
   */
  get deviceSelection(): DeviceSelection {
    const selection = { id: '', mac: '', valid: this.valid }
    if (typeof this.$route.query['device-id'] === 'string') {
      selection.id = this.$route.query['device-id']
    }
    if (typeof this.$route.query['mac'] === 'string') {
      selection.mac = this.$route.query['mac']
    }
    return selection
  }

  private deviceSelectionValidator: DeviceSelectionValidator | undefined

  set deviceSelection (selection: DeviceSelection) {
    if (!this.deviceSelectionValidator) {
      return
    }
    this.valid = this.deviceSelectionValidator.selectionIsValid(selection)
    this.$router.push({
      name: 'ScreentimeTimers',
      query: {
        'device-id': selection.id,
        mac: selection.mac
      }
    })
    this.$nextTick(() => {
      this.doGetTimers(selection.id, selection.mac)
    })
  }

  /**
   * @returns A promise resolving once the user's timezone has been set, if necessary.
   */
  setTimezoneIfUnset(): Promise<void> {
    return new Promise((resolve, reject) => {
      this.getTimezone.handle().then(tz => {
        if (tz.spec === '' || tz.spec === 'UTC') {
          // Unset
          this.putTimezone.handle(getTimezone()).then(() => {
            resolve()
          }).catch(err => {
            reject(err)
          })
        } else {
          resolve()
        }
      })
    })
  }

  doGetTimers (deviceID: string, mac: string) {
    if (!this.valid) {
      this.$emit('update:loading', false)
      return
    }
    if (this.gettingData) {
      if (this.loading) {
        this.$emit('update:loading', false)
      }
      return
    }
    this.gettingData = true
    this.$emit('update:loading', true)
    this.getTimersReq(deviceID, mac).then(timers => {
      this.timers = timers[0]
      this.blockInternetTimers = timers[1]
      this.$emit('update:loading', false)
      this.gettingData = false
    }).catch(() => {
      this.$emit('update:loading', false)
      this.gettingData = false
    })
  }

  getTimersReq (deviceID: string, mac: string): Promise<[Timer[], {[day: string]: BlockInternetTimer | null}]> {
    let retTimers: Timer[]
    let retBlockinternetTimers: {[day: string]: BlockInternetTimer | null}
    return new Promise((resolve, reject) => {
      Promise.all([
        this.getCategoryTimersReq(deviceID, mac).then(timers => {
          retTimers = timers
        }),
        this.getBlockInternetTimersReq(deviceID, mac).then(blockInternetTimers => {
          retBlockinternetTimers = blockInternetTimers
        })
      ]).then(() => {
        resolve([retTimers, retBlockinternetTimers])
      }).catch(e => reject(e))
    })
  }

  getCategoryTimersReq (deviceID: string, mac: string): Promise<Timer[]> {
    return new Promise((resolve, reject) => {
      this.getTimers.handle({
        'device-id': deviceID,
        'mac': mac
      }).then(timers => {
        if (!timers.spec) {
          resolve([])
        }
        timers.spec.forEach(timer => {
          timer.customRules.hasRules = true
          if (!timer.customRules.categories) {
            timer.customRules.categories = []
          }
          if (!timer.customRules.restrictions) {
            timer.customRules.restrictions = []
          }
          if (!timer.customRules.whitelist) {
            timer.customRules.whitelist = []
          }
          if (!timer.customRules.apps) {
            timer.customRules.apps = []
          }
        })
        resolve(timers.spec)
      }).catch(e => reject(e))
    })
  }

  getBlockInternetTimersReq (deviceID: string, mac: string): Promise<{[day: string]: BlockInternetTimer | null}> {
    const toReturn: {[day: string]: BlockInternetTimer | null} = {}
    return new Promise((resolve, reject) => {
      Promise.all(Object.keys(this.DAY_TO_NAME).map(day => this.getBlockInternetTimer.handle({
        'device-id': deviceID,
        'mac': mac,
        day: day
      }).then(timer => {
        toReturn[day] = timer.spec
      }).catch(code => {
        if (code === 404) {
          toReturn[day] = null
        }
      }))).then(() => {
        resolve(toReturn)
      }).catch(e => reject(e))
    })
  }

  add () {
    this.adding = true
    this.editingTimer = false
    this.editingIdx = -1
    this.editingDay = ''
    this.modalDay = '*'
    this.resetCustomRules()
    this.modalMaxTimeSecs = 60*60
    this.modalStep = 0
  }

  editBlockInternet (day: string) {
    if (!this.blockInternetTimers) {
      return
    }
    const currTimer = this.blockInternetTimers[day]
    if (!currTimer) {
      return
    }
    this.adding = false
    this.editingTimer = true
    this.editingIdx = -1
    this.editingDay = day
    this.modalDay = day
    this.resetCustomRules()
    this.modalMaxTimeSecs = currTimer.maxTimeSecs
    this.modalType = 'INTERNET'
    this.modalStep = 0
  }

  deleteBlockInternet (day: string) {
    if (!this.blockInternetTimers) {
      return
    }
    this.$buefy.dialog.confirm({
      type: 'is-danger',
      message: 'Are you sure you wish to delete this timer?',
      confirmText: 'Delete',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteBlockInternetTimer.handle({
          'device-id': this.deviceSelection.id,
          'mac': this.deviceSelection.mac,
          'day': day
        }).then(() => {
          this.getTimersReq(this.deviceSelection.id, this.deviceSelection.mac).then(timers => {
            this.timers = timers[0]
            this.blockInternetTimers = timers[1]
            this.$emit('update:loading', false)
          })
        })
      }
    })
  }

  edit (idx: number) {
    if (!this.timers) {
      return
    }
    this.adding = false
    this.editingTimer = true
    this.editingIdx = idx
    this.editingDay = ''
    this.modalDay = this.timers[idx].day
    this.modalCustomRules = this.timers[idx].customRules
    this.modalMaxTimeSecs = this.timers[idx].maxTimeSecs
    this.modalType = 'SITE'
    this.modalStep = 0
  }

  doDelete (idx: number) {
    if (!this.timers) {
      return
    }
    const timers = this.timers
    this.$buefy.dialog.confirm({
      type: 'is-danger',
      message: 'Are you sure you wish to delete this timer?',
      confirmText: 'Delete',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteTimer.handle(timers[idx].id).then(() => {
          this.getTimersReq(this.deviceSelection.id, this.deviceSelection.mac).then(timers => {
            this.timers = timers[0]
            this.blockInternetTimers = timers[1]
            this.$emit('update:loading', false)
          })
        })
      }
    })
  }

  applyModal () {
    const selection = this.deviceSelection
    if (!this.blockInternetTimers || !this.timers) {
      return
    }
    let applyProm: Promise<any>
    if (this.adding) {
      if (this.modalType === 'INTERNET') {
        applyProm = this.postBlockInternetTimer.handle({
          day: this.modalDay,
          timer: {
            deviceID: selection.id,
            mac: selection.mac,
            maxTimeSecs: this.modalMaxTimeSecs,
            lastStart: -1,
            secsSoFar: 0,
            isRunning: false
          }
        })
      } else {
        applyProm = this.postTimer.handle({
          id: 0,
          customRules: this.modalCustomRules,
          day: this.modalDay,
          deviceID: selection.id,
          mac: selection.mac,
          maxTimeSecs: this.modalMaxTimeSecs,
          lastStart: -1,
          secsSoFar: 0,
          isRunning: false
        })
      }
    } else {
      // Was editing
      if (this.modalType === 'INTERNET') {
        applyProm = this.postBlockInternetTimer.handle({
          day: this.modalDay,
          timer: {
            deviceID: selection.id,
            mac: selection.mac,
            maxTimeSecs: this.modalMaxTimeSecs,
            lastStart: -1,
            secsSoFar: 0,
            isRunning: false
          }
        })
      } else {
        const editingTimer = this.timers[this.editingIdx]
        applyProm = this.putTimer.handle({
          id: editingTimer.id,
          customRules: this.modalCustomRules,
          day: this.modalDay,
          deviceID: selection.id,
          mac: selection.mac,
          maxTimeSecs: this.modalMaxTimeSecs,
          lastStart: editingTimer.lastStart,
          secsSoFar: editingTimer.secsSoFar,
          isRunning: editingTimer.isRunning
        })
      }
    }
    this.adding = false
    this.editingTimer = false
    this.$emit('update:loading', true)
    applyProm.then(() => {
      this.setTimezoneIfUnset().then(() => {
        this.getTimersReq(selection.id, selection.mac).then(timers => {
          this.timers = timers[0]
          this.blockInternetTimers = timers[1]
          this.$emit('update:loading', false)
        })
      })
    })
  }

  resetCustomRules () {
    this.modalCustomRules = {
      hasRules: true,
      apps: [],
      categories: [],
      restrictions: [],
      whitelist: [],
      blacklist: []
    }
  }

  updateModalTimerHours (hours: number) {
    const currHours = Math.floor(this.modalMaxTimeSecs/60/60)
    this.modalMaxTimeSecs += (hours - currHours)*60*60
  }

  updateModalTimerMinutes (minutes: number) {
    const currMinutes = Math.floor((this.modalMaxTimeSecs - Math.floor(this.modalMaxTimeSecs/60/60)*60*60) / 60)
    this.modalMaxTimeSecs += (minutes - currMinutes) * 60
  }

  modalBlockInternetObj (): {[day: string]: BlockInternetTimer} {
    const toReturn: {[day: string]: BlockInternetTimer} = {}
    toReturn[this.modalDay] = {
      maxTimeSecs: this.modalMaxTimeSecs
    } as BlockInternetTimer
    return toReturn
  }

  get selectedDevice (): APIDevice | null {
    if (!this.devices) {
      return null
    }
    return (this.devices.mobile ? this.devices.mobile : []).concat(this.devices.dns ? this.devices.dns : [])
      .filter(device => device.id === this.deviceSelection.id)[0]
  }

  /**
   * @returns Whether there are any block internet timers.
   */
  get numBlockInternetTimers (): number {
    if (!this.blockInternetTimers) {
      return 0
    }
    const blockInternetTimers = this.blockInternetTimers
    return Object.keys(blockInternetTimers).filter(day => blockInternetTimers[day]).length
  }
}
</script>

<style scoped>
.timer-element {
  display: inline-flex;
  vertical-align: center;
}

.timer-element-text {
  line-height: 40px;
}

.card {
  overflow: visible;
}

.inline-actions-editor {
  height: 400px;
  overflow-y: scroll;
}

.faded {
  opacity: 0.5;
}

.slide-down-enter-active {
  transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);;
}
.slide-down-leave-active {
  transition: all 0s cubic-bezier(0.4, 0.0, 1, 1);;
}

.slide-down-enter, .slide-down-leave-to
/* .slide-down-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}

.category {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.category-top-row {
  display: flex;
  align-items: center;
}

.category-block {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
