<template>
  <div>
    <page-top
      title="Nudity detection"
      :float="true"
      :mobile="mobile"
      floatslot="bottom"
    >
      <enable-notifications slot="right" class="top-notifications" v-if="!immersive && !mobile"/>
      <b-dropdown
        slot="bottom"
        position="is-bottom-left"
        v-model="selectedDevice"
        :class="{ 'dropdownOpen': 'overNav' }"
      >
        <button class="button is-primary is-rounded" slot="trigger">
          <span>{{ devices[selectedDevice] }}</span>
          <b-icon icon="menu-down"></b-icon>
        </button>
        <b-dropdown-item
          v-for="key in Object.keys(devices)"
          :key="key"
          :value="key"
        >{{ devices[key] }}</b-dropdown-item>
      </b-dropdown>
    </page-top>
    <enable-notifications class="lower-notifications mt-3" v-if="!immersive && mobile"/>
    <div v-if="castsTotal > 0" :class="{ 'faded': tableLoading }">
      <!-- A card for each cast -->
      <button-field-card
        v-for="cast in casts"
        :key="cast.id"
        :title="devices[cast.deviceID] + (cast.endTimestamp ? ' (ended)': ' (active)')"
        :titleClass="cast.endTimestamp ? '' : 'has-text-primary'"
        :icon="cast.endTimestamp ? 'television-stop' : 'television-play'"
        :fields="[
          ['Started: ', formatStarted(cast.startTimestamp)],
          ['Ended: ', formatEnded(cast.endTimestamp)],
          ['Last detection: ', formatLastDetection(cast.lastEventTimestamp)]
        ]"
        :buttons="cast.numEvents ? [
          ['detections', 'View ' + cast.numEvents + ' detection(s)']
        ] : undefined"
        :buttonLinks="{
          detections: {
            name: 'ScreencastEvents',
            query: {
              id: cast.id + ''
            }
          }
        }"
      >
        <b-dropdown slot="top-right" position="is-bottom-left" @input="deleteCast(cast.id)">
          <b-button
            slot="trigger"
            icon-right="dots-vertical"
            size="is-small"
            type="is-primary"
            rounded outlined
          />
          <b-dropdown-item
            value="delete"
          >
            Delete
          </b-dropdown-item>
        </b-dropdown>
      </button-field-card>
      <!-- Pagination -->
      <b-pagination
        :total="castsTotal"
        :current="currPage"
        :per-page="NUM_PER_PAGE"
        @update:current="loadPage"
      />
    </div>
    <!-- Show explainer if there are no screencasts yet. -->
    <b-message
      v-else-if="!tableLoading"
      has-icon
      icon="lightbulb"
    >
      You don't have any detections yet.<br/>
      <div v-if="!immersive">
        Protect a device with the Android/iOS app to remotely monitor a device screen for objectionable content.<br/>
      </div>
    </b-message>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import GetDevices from '@/requests/devices/get-devices'
import GetCasts, { Cast } from '@/requests/screencasts/get-casts'
import dayjs from 'dayjs'
import { Prop, Watch } from 'vue-property-decorator'
import ButtonFieldCard from '@/components/common/button-field-card.vue'
import EnableNotifications from '@/components/account-home/enable-notifications.vue'
import DeleteCast from '@/requests/screencasts/delete-cast'

@Component({
  components: {
    PageTop,
    ButtonFieldCard,
    EnableNotifications
  }
})
export default class Screencasts extends Vue {
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  /**
   * Whether we are embedded in the mobile app.
   */
  @Prop() readonly immersive: boolean | undefined

  /**
   * Map from device ID to device name.
   */
  devices: {[deviceID: string]: string} = {}
  /**
   * Whether we are loading.
   */
  loading = true
  /**
   * The casts to display on the current page.
   */
  casts: Cast[] = []
  /**
   * Amount of casts available total.
   */
  castsTotal = 0
  /**
   * Whether the table is loading data.
   */
  tableLoading = true
  /**
   * The current page.
   */
  currPage = 0

  /**
   * Amount of events to display on a page.
   */
  readonly NUM_PER_PAGE = 15

  /**
   * Requests.
   */
  getDevices = new GetDevices()
  getCasts = new GetCasts()
  deleteCastReq = new DeleteCast()

  mounted () {
    // Get devices
    this.getDevices.handle().then(devices => {
      // We only care about mobile devices
      this.$set(this.devices, 'all', 'All devices')
      if (devices.mobile) {
        devices.mobile.forEach(device => {
          this.$set(this.devices, device.id, device.name)
        })
      }
    }).then(() => {
      this.loading = false
      this.loadPage(1)
    })
  }

  /**
   * Load a particular page.
   */
  loadPage (pageNum: number): void {
    this.tableLoading = true
    this.$emit('update:loading', true)
    // Get the events
    this.getCasts.handle({
      page: pageNum,
      'num-per-page': this.NUM_PER_PAGE,
      device: this.selectedDevice
    }).then(casts => {
      if (casts.casts) {
        // There are casts
        this.casts = casts.casts
        this.castsTotal = casts.available
      } else {
        // No events
        this.casts = []
      }
      this.tableLoading = false
      this.$emit('update:loading', false)
      this.currPage = pageNum
    })
  }

  /**
   * Refresh the table when the selected device changes.
   */
  @Watch('selectedDevice') refreshSelected () {
    this.loadPage(1)
  }

  deleteCast(id: number) {
    this.$buefy.dialog.confirm({
      type: 'is-danger',
      message: 'Are you sure you want to delete this detection session and any accompanying events?',
      confirmText: 'Delete',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteCastReq.handle(id).then(() => {
          this.loadPage(this.currPage)
        })
      }
    })
  }

  /**
   * @returns The selected device ID from the URL.
   */
  get selectedDevice (): string {
    if (typeof this.$route.query.device === 'string') {
      return this.$route.query.device
    }
    return 'all' // Default
  }

  /**
   * Store the selected device ID in the URL.
   */
  set selectedDevice (selected: string) {
    this.$router.push({
      name: 'Screencasts',
      query: {
        device: selected
      }
    })
  }

  /**
   * @returns A string of how long the timestamp is ago.
   */
  formatLastDetection (timestamp: number): string {
    if (timestamp === 0) {
      return 'Never'
    }
    return dayjs.unix(timestamp).fromNow()
  }

  /**
   * Format how long ago a cast was started.
   */
  formatStarted (timestamp: number): string {
    return dayjs.unix(timestamp).fromNow()
  }

  /**
   * Format how long ago a cast was ended.
   */
  formatEnded (timestamp: number): string {
    if (timestamp === 0) {
      return 'Not applicable'
    }
    return dayjs.unix(timestamp).fromNow()
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}

.lower-notifications {
  display: none;
}

@media screen and (max-width: 700px) {
  .lower-notifications {
    display: block;
    margin-bottom: 20px;
  }

  .top-notifications {
    display: none;
  }
}
</style>
