<template>
  <div style="overflow-y: visible !important;">
    <page-top
      title="Timetables"
      :float="true"
      :mobile="mobile"
      floatslot="right"
    >
      <!-- Devices to select -->
      <device-selector
        v-if="devices !== null"
        :value="deviceSelection"
        @input="deviceSelection = $event;"
        :devices="devices"
        placeholder="Select a device"
        lifeguardPlaceholder="Select a device"
        slot="bottom"
      />
    </page-top>
    <div v-if="valid && (deviceSelection.id || deviceSelection.mac) && !loading && !hadError">
      <!-- Non-editable weekly overview -->
      <overview
        class="mt-3"
        :rulesets="timetables"
        :editingIdx="editingIdx"
        :ruleIDToColor="idToColor"
        @view="startEditById($event)"
      />
      <!-- View/Select from different rules -->
      <div class="mt-5">
        <div
          v-for="(ruleset, idx) in timetables"
          :key="'r' + ruleset.id"
        >
          <div
            v-if="ruleset.customRules.hasRules"
            class="ruleset pt-2 pb-3 is-flex is-align-items-center"
          >
            <div class="color-dot ml-2 mr-3" :class="'has-background-' + idToColor[ruleset.id]"/>
            <span>
              {{ ruleset.id === 0 ? 'Internet blocked' + getSummary(ruleset) : getSummary(ruleset) }}
            </span>
            <div style="flex-grow: 1"/>
            <div>
              <b-field v-if="ruleset.id !== 0">
                <p class="control">
                  <b-button @click="startEdit(idx)" rounded>
                    Edit
                  </b-button>
                </p>
                <p class="control">
                  <b-tooltip label="Delete">
                    <b-button
                      @click="deleteTimetable(idx)"
                      icon-left="delete"
                      rounded
                    >
                    </b-button>
                  </b-tooltip>
                </p>
              </b-field>
              <!-- Make the process simpler for block internet rules, which cannot be deleted. -->
              <b-button
                v-else-if="!Object.keys(ruleset.activeTimes).some(key => ruleset.activeTimes[key].some(isActive => isActive))"
                type="is-danger"
                label="Block internet"
                rounded
                outlined
                @click="startEdit(idx)"
              />
              <b-button
                v-else
                label="Edit"
                rounded
                outlined
                @click="startEdit(idx)"
              />
            </div>
          </div>
        </div>
      </div>
      <b-tooltip
        label="Block specific sites instead of all internet"
      >
        <b-button
          label="Add layer"
          type="is-primary"
          icon-left="plus"
          class="mt-2"
          @click="add"
          :disabled="timetables.filter(tbl => tbl.id && tbl.customRules.hasRules).length >= maxTimetables"
        />
      </b-tooltip>
    </div>
    <template v-if="!loading && !deviceSelection.id && !deviceSelection.mac">
    <br>
      <b-message>
        Select a device that you would like to apply timetable rules for.
      </b-message>
    </template>
    <!-- Modal for editing timetables -->
    <b-modal
      v-if="adding || editingIdx !== -1"
      :active="true"
      @update:active="adding = false; editingIdx = -1; editingTbl = null; currModalStep = 0;"
    >
      <div class="card p-2">
        <b-steps style="margin-top: -40px;" v-model="currModalStep">
          <template
                #navigation="{previous, next}">
            <b-field class="px-3 py-2">
              <p class="control">
                <b-button
                  icon-left="arrow-left"
                  :disabled="previous.disabled"
                  @click.prevent="previous.action"
                />
              </p>
              <p class="control">
                <!-- Confirm blocked sites -->
                <b-button
                  v-if="editingTbl && editingTbl.id && currModalStep === 0"
                  :type="'is-' + modalHighlight"
                  :label="
                    (modalType === 'BLOCK' ? ('Block ' + numEditedSites) : ('Allow ' + numEditedSites)) +
                    (numEditedSites === 1 ? ' site' : ' sites')
                  "
                  icon-right="arrow-right"
                  :disabled="next.disabled"
                  @click.prevent="next.action"
                />
                <!-- Confirm times -->
                <b-button
                  v-else-if="editingTbl && ((editingTbl.id && currModalStep === 1) || (!editingTbl.id && currModalStep === 0))"
                  :type="'is-' + modalHighlight"
                  label="Confirm blocked times"
                  icon-right="arrow-right"
                  :disabled="next.disabled"
                  @click.prevent="next.action"
                />
                <!-- Confirm all -->
                <b-button
                  v-else-if="editingTbl && ((editingTbl.id && currModalStep === 2) || (!editingTbl.id && currModalStep === 1))"
                  type="is-primary"
                  :label="adding ? 'Add timetable' : 'Confirm timetable'"
                  icon-right="check"
                  @click="applyModal"
                />
              </p>
            </b-field>
          </template>
          <b-step-item
            v-if="editingTbl && editingTbl.id"
            headerClass="is-hidden"
          >
            <div style="overflow-y: scroll; max-height: 400px;">
              <custom-rules-actions-editor
                :value="editingTbl.customRules"
                @input="$set(editingTbl, 'customRules', $event)"
                :baseRules="baseRules"
                :allowBlock="true"
                :deviceID="deviceSelection.id"
              />
            </div>
          </b-step-item>
          <b-step-item
            :label="modalType === 'BLOCK' ? 'Blocked Times' : 'Allowed Times'"
            :clickable="true"
            headerClass="is-hidden"
          >
            <div style="overflow-y: auto; max-height: 350px;">
              <active-times-editor
                :value="[ editingTbl ]"
                @input="$set(editingTbl, 'activeTimes', $event[0].activeTimes)"
                :editingRuleset="editingTbl.id"
                :editingRulesetIdx="0"
                :idToColor="(() => {
                  x = {};
                  x[editingTbl.id] = modalHighlight;
                  return x;
                })()"
              />
            </div>
          </b-step-item>
          <b-step-item
            label="Confirm"
            :clickable="true"
            headerClass="is-hidden"
          >
            <div
              class="ruleset pt-2 is-flex is-align-items-center"
            >
              <div class="color-dot m-2" :class="'has-background-' + modalHighlight"/>
              <span>
                {{ editingTbl.id === 0 ? 'Internet blocked' + getSummary(editingTbl) : getSummary(editingTbl) }}
              </span>
            </div>
          </b-step-item>
        </b-steps>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import { Prop, Watch } from 'vue-property-decorator'
import DeviceSelector, { DeviceSelection, DeviceSelectionValidator } from '@/components/common/device-selector.vue'
import GetDevices, { APIDevice, APIDevices } from '@/requests/devices/get-devices'
import GetTimeBasedCategoryRulesets from '@/requests/categories-v2/get-time-based-category-rulesets'
import GetBlockInternetTimetable from '@/requests/blockinternet/get-timetable'
import ActiveTimesEditor from '@/components/time-based-category-rules/active-times-editor.vue'
import { TimeBasedRules } from '@/requests/categories-v2/post-time-based-category-ruleset'
import PutBlockInternetTimetable from '@/requests/blockinternet/put-timetable'
import Overview from '@/components/time-based-category-rules/overview.vue'
import GetTimeBasedCategoryRuleset from '@/requests/categories-v2/get-time-based-category-ruleset'
import PostTimetable from '@/requests/categories-v2/post-time-based-category-ruleset'
import PutTimetable from '@/requests/categories-v2/put-time-based-category-ruleset'
import GetCategoriesRules, { CategoriesRules } from '@/requests/categories-v2/get-categories-rules'
import { getTimeBasedRulesSummary, getTimezone, screentimeSupported } from '@/helpers/functions'
import cloneDeep from 'lodash/cloneDeep'
import fill from 'lodash/fill'
import CategoriesRulesEditor from '@/components/blocked-categories/categories-rules-editor.vue'
import GetTimezone from '@/requests/user-v2/get-timezone'
import PutTimezone from '@/requests/user-v2/put-timezone'
import DeleteTimeBasedCategoryRuleset from '@/requests/categories-v2/delete-time-based-category-ruleset'
import PatchCategoriesRules from '@/requests/categories-v2/patch-categories-rules'
import CustomRulesActionsEditor from '@/components/screentime-timers/custom-rules-actions-editor.vue'
import GetQuota from '@/requests/quotas/get-quota'

export const generateEmptyRule = (id: number, rules: CategoriesRules): TimeBasedRules => {
  return {
    id: id,
    deviceID: '',
    mac: '',
    customRules: {
      apps: [],
      categories: [],
      restrictions: [],
      blacklist: [],
      whitelist: [],
      hasRules: true
    },
    activeTimes: {
      '*': fill(new Array(96), false),
      'weekend': fill(new Array(96), false),
      'weekday': fill(new Array(96), false),
      '0': fill(new Array(96), false),
      '1': fill(new Array(96), false),
      '2': fill(new Array(96), false),
      '3': fill(new Array(96), false),
      '4': fill(new Array(96), false),
      '5': fill(new Array(96), false),
      '6': fill(new Array(96), false)
    }
  }
}

@Component({
  components: {
    PageTop,
    DeviceSelector,
    ActiveTimesEditor,
    Overview,
    CategoriesRulesEditor,
    CustomRulesActionsEditor
  },
  // Prevent accidental route navigation.
  beforeRouteLeave (to, from, next) {
    if ((this as any).dirty && (this as any).editing && to.name !== from.name) {
      const answer = window.confirm('Do you really want to leave? You will lose unsaved changes.')
      if (answer) {
        next()
      } else {
        next(false)
      }
    } else {
      next()
    }
  }
})
export default class ScreentimeTimetables extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined

  /**
   * Referencing colors.scss - what colors to assign to each rule.
   */
  readonly RULE_COLORS = ['pink', 'purple', 'primary', 'cyan', 'teal', 'orange', 'green', 'deep-purple', 'light-green', 'indigo']

  /**
   * Selectable devices.
   */
  devices: APIDevices | null = null
  /**
   * Whether the user has a valid device currently selected.
   */
  valid = false
  /**
   * The timetables. As a bit of a hack, we'll convert the block internet timetable to one of these with an ID of 0.
   */
  timetables: TimeBasedRules[] = []
  /**
   * The index of the timetable we're currently editing.
   */
  editingIdx = -1
  /**
   * The current base rules.
   */
  baseRules: CategoriesRules | null = null
  /**
   * Whether we are adding.
   */
  adding = false
  /**
   * The table we're currently adding/editing.
   */
  editingTbl: TimeBasedRules | null = null
  /**
   * What type of table we're adding according to the modal.
   */
  modalType: 'ALLOW' | 'BLOCK' = 'BLOCK'
  /**
   * The current step within the modal.
   */
  currModalStep = 0
  /**
   * The current id to add new timetables with.
   */
  currAddId = -1
  /**
   * Whether we're currently getting data.
   */
  gettingData = false
  /**
   * Whether the last request to get data had an error. This will happen if an invalid
   * device/mac combo was selected.
   */
  hadError = false
  /**
   * Max timetables per device quota.
   */
  maxTimetables = 0

  /**
   * Requests.
   */
  getDevices = new GetDevices()
  getTimeBasedCategoryRulesets = new GetTimeBasedCategoryRulesets()
  getTimeBasedCategoryRuleset = new GetTimeBasedCategoryRuleset()
  deleteTimeBasedCategoryRuleset = new DeleteTimeBasedCategoryRuleset()
  getBlockInternetTimetable = new GetBlockInternetTimetable()
  putBlockInternetTimetable = new PutBlockInternetTimetable()
  postTimetable = new PostTimetable()
  putTimetable = new PutTimetable()
  getCategoriesRules = new GetCategoriesRules()
  getTimezone = new GetTimezone()
  putTimezone = new PutTimezone()
  getQuota = new GetQuota()

  mounted () {
    const selection = this.deviceSelection
    this.getDevices.handle().then(devices => {
      const retDevices: APIDevices = {
        lifeguards: [],
        mobile: [],
        dns: []
      }
      if (devices.lifeguards) {
        retDevices.lifeguards = devices.lifeguards.filter(device => screentimeSupported(device))
      }
      if (devices.mobile) {
        retDevices.mobile = devices.mobile.filter(device => screentimeSupported(device))
      }
      if (devices.dns) {
        retDevices.dns = devices.dns.filter(device => screentimeSupported(device))
      }
      this.devices = retDevices
      this.deviceSelectionValidator = new DeviceSelectionValidator(retDevices, false)
      this.valid = this.deviceSelectionValidator.selectionIsValid(selection)
    }).then(() => {
      this.$nextTick(() => {
        this.getData(selection.id, selection.mac)
      })
    })
  }

  /**
   * @returns The current device selection.
   */
  get deviceSelection(): DeviceSelection {
    const selection = { id: '', mac: '' }
    if (typeof this.$route.query['device-id'] === 'string') {
      selection.id = this.$route.query['device-id']
    }
    if (typeof this.$route.query['mac'] === 'string') {
      selection.mac = this.$route.query['mac']
    }
    return selection
  }

  private deviceSelectionValidator: DeviceSelectionValidator | undefined

  set deviceSelection (selection: DeviceSelection) {
    if (!this.deviceSelectionValidator) {
      return
    }
    this.valid = this.deviceSelectionValidator.selectionIsValid(selection)
    this.$router.push({
      name: 'ScreentimeTimetables',
      query: {
        'device-id': selection.id,
        mac: selection.mac
      }
    })
    this.$nextTick(() => {
      this.getData(selection.id, selection.mac)
    })
  }

  getData (deviceID: string, mac: string) {
    if (!this.valid) {
      this.$emit('update:loading', false)
      return
    }
    if (this.gettingData) {
      if (this.loading) {
        this.$emit('update:loading', false)
      }
      return
    }
    this.gettingData = true
    this.timetables = []
    this.editingIdx = -1
    this.baseRules = null
    this.hadError = false
    this.$emit('update:loading', true)
    // Get the base rules and block internet timetable
    Promise.all([
      new Promise<void>((resolve, reject) => {
        this.getCategoriesRules.handle({
          'device-id': deviceID,
          'mac': mac
        }).then(rules => {
          if (!rules.spec.categories) {
            rules.spec.categories = []
          }
          if (!rules.spec.restrictions) {
            rules.spec.restrictions = []
          }
          if (!rules.spec.whitelist) {
            rules.spec.whitelist = []
          }
          if (!rules.spec.blacklist) {
            rules.spec.blacklist = []
          }
          if (!rules.spec.apps) {
            rules.spec.apps = []
          }
          this.baseRules = rules.spec
          rules.spec.hasRules = true
          resolve()
        }).catch(code => {
          if (code === 400) {
            this.hadError = true
            resolve()
          } else {
            reject()
          }
        })
      }),
      new Promise<void>((resolve, reject) => {
        this.getBlockInternetTimetable.handle({
          'device-id': deviceID,
          'mac': mac
        }).then(timetable => {
          this.timetables.push({
            id: 0,
            customRules: {
              hasRules: true,
              apps: [],
              categories: [],
              restrictions: [],
              whitelist: [],
              blacklist: []
            },
            deviceID: deviceID,
            mac: mac,
            activeTimes: timetable.spec.activeTimes
          })
          resolve()
        }).catch(code => {
          if (code === 404) {
            this.hadError = true
            resolve() /* Occurs when we are in an invalid state then refresh the page */ 
          } else {
            reject(code)
          }
        })
      }),
      this.getTimeBasedCategoryRulesets.handle({
        'device-id': deviceID,
        'mac': mac
      }).then(timetables => {
        if (!timetables.spec) {
          return
        }
        this.timetables = this.timetables.concat(timetables.spec.map(timetable => {
          if (!timetable.customRules.categories) {
            timetable.customRules.categories = []
          }
          if (!timetable.customRules.restrictions) {
            timetable.customRules.restrictions = []
          }
          if (!timetable.customRules.whitelist) {
            timetable.customRules.whitelist = []
          }
          if (!timetable.customRules.blacklist) {
            timetable.customRules.blacklist = []
          }
          if (!timetable.customRules.apps) {
            timetable.customRules.apps = []
          }
          timetable.customRules.hasRules = true
          return timetable
        }))
      }),
      this.getQuota.handle('screentime_timetables_per_device').then(quota => {
        this.maxTimetables = quota.spec.maxValue
      })
    ]).then(() => {
      this.gettingData = false
      this.$emit('update:loading', false)
    })
  }

  /**
   * @returns A summary of what a time based ruleset does.
   */
  getSummary (rules: TimeBasedRules): string {
    // Diff the blocked categories
    if (!this.baseRules) {
      return ''
    }
    return getTimeBasedRulesSummary(rules, rules.id === 0, false)
  }

  /**
   * Save the current state.
   */
  save () {
    if (!this.timetables || !this.baseRules) {
      return
    }
    const selection = this.deviceSelection
    const rulesets = this.timetables.filter(ruleset => ruleset.id).map(ruleset => ruleset)
    const blockTimetable = this.timetables.filter(ruleset => !ruleset.id)[0]
    this.$emit('update:loading', true)
    this.setTimezoneIfUnset().then(() => {
      // Delete first or we may reach the limit for rules
      const deleteRulesets = rulesets.filter(ruleset => !ruleset.customRules.hasRules && ruleset.id > 0)
      const deletePromises = deleteRulesets.map(ruleset => this.deleteTimeBasedCategoryRuleset.handle(ruleset.id))
      // The block internet timetable isn't affected, so may as well do it now
      if (blockTimetable) {
        deletePromises.push(this.putBlockInternetTimetable.handle({
          'deviceID': selection.id,
          'mac': selection.mac,
          'activeTimes': blockTimetable.activeTimes
        }))
      }
      // Do the requests
      Promise.all(deletePromises).then(() => {
        // Adding/updating can be done concurrently
        const addPromises: Promise<any>[] = rulesets
          .filter(ruleset => ruleset.id < 0 && ruleset.customRules.hasRules)
          .map(ruleset => {
            ruleset.deviceID = selection.id
            ruleset.mac = selection.mac
            // Need to assign the new ID or we'll try to add again
            return this.postTimetable.handle(ruleset)
          })
        const updatePromises: Promise<any>[] = rulesets
          .filter(ruleset => ruleset.id > 0 && ruleset.customRules.hasRules)
          .map(ruleset => this.putTimetable.handle(ruleset))
        Promise.all(addPromises.concat(updatePromises)).then(() => {
          this.$emit('update:loading', false)
          this.editingIdx = 0
          this.$buefy.toast.open({
            message: 'Saved',
            position: 'is-bottom',
            type: 'is-success'
          })
          this.getData(selection.id, selection.mac)
        })
      })
    })
  }

  /**
   * Add a timetable.
   */
  add () {
    if (!this.baseRules) {
      return
    }
    this.editingTbl = generateEmptyRule(this.currAddId--, this.baseRules)
    this.adding = true
    this.currModalStep = 0
    this.editingIdx = -1
    this.modalType = 'BLOCK'
  }

  /**
   * Start editing a particular timetable.
   */
  startEdit (idx: number) {
    if (!this.baseRules) {
      return
    }
    this.editingTbl = cloneDeep(this.timetables[idx])
    this.adding = false
    this.currModalStep = 0
    this.editingIdx = idx
    this.modalType = this.editingTbl.customRules.categories.some(c => c.action === 1) ? 'ALLOW' : 'BLOCK'
  }

  /**
   * Start editing a particular timetable by its ID.
   */
  startEditById(id: number) {
    for (let i = 0; i < this.timetables.length; i++) {
      if (this.timetables[i].id === id) {
        this.startEdit(i)
        return
      }
    }
  }

  /**
   * Add/update the current timetable.
   */
  applyModal () {
    if (!this.editingTbl) {
      return
    }
    if (this.adding) {
      this.timetables.push(this.editingTbl)
    } else {
      // Need to update
      this.timetables.splice(this.editingIdx, 1, this.editingTbl)
    }
    this.adding = false
    this.editingIdx = -1
    this.save()
  }

  /**
   * @returns The color that the modal should be.
   */
  get modalHighlight (): string {
    if (!this.editingTbl) {
      return ''
    }
    if (!this.editingTbl.id) {
      return 'danger'
    } else if (this.adding) {
      return this.RULE_COLORS[this.timetables.filter(tbl => tbl.id && tbl.customRules.hasRules).length]
    } else {
      return this.idToColor[this.editingTbl.id]
    }
  }

  deleteTimetable (idx: number) {
    this.$buefy.dialog.confirm({
      message: 'Are you sure you wish to delete this timetable?',
      confirmText: 'Delete',
      type: 'is-danger',
      onConfirm: () => {
        if (this.editingIdx === idx) {
          this.editingIdx = 0
        }
        const newTbl = cloneDeep(this.timetables[idx])
        newTbl.customRules.hasRules = false
        this.timetables.splice(idx, 1, newTbl)
        this.save()
      }
    })
  }

  /**
   * Map from ruleset ID to its color.
   */
  get idToColor (): {[id: number]: string} {
    if (!this.timetables || !this.RULE_COLORS) {
      return {}
    }
    const ruleColors = this.RULE_COLORS
    let currIdx = 0
    const idToColor: {[id: number]: string} = {}
    this.timetables.forEach(ruleset => {
      if (!ruleset.id) {
        idToColor[ruleset.id] = 'danger-dark'
      } else if (ruleset.customRules.hasRules) {
        idToColor[ruleset.id] = ruleColors[currIdx++]
      }
    })
    return idToColor
  }

  get selectedDevice (): APIDevice | null {
    if (!this.devices) {
      return null
    }
    return (this.devices.mobile ? this.devices.mobile : []).concat(this.devices.dns ? this.devices.dns : [])
      .concat(this.devices.lifeguards ? this.devices.lifeguards : [])
      .filter(device => device.id === this.deviceSelection.id)[0]
  }

  /**
   * @returns A promise resolving once the user's timezone has been set, if necessary.
   */
  setTimezoneIfUnset(): Promise<void> {
    return new Promise((resolve, reject) => {
      this.getTimezone.handle().then(tz => {
        if (tz.spec === '' || tz.spec === 'UTC') {
          // Unset
          this.putTimezone.handle(getTimezone()).then(() => {
            resolve()
          }).catch(err => {
            reject(err)
          })
        } else {
          resolve()
        }
      })
    })
  }

  get numEditedSites (): number {
    if (!this.editingTbl) {
      return 0
    }
    return this.editingTbl.customRules.categories.length +
            this.editingTbl.customRules.restrictions.length +
            this.editingTbl.customRules.whitelist.length +
            this.editingTbl.customRules.blacklist.length +
            this.editingTbl.customRules.apps.length
  }
}
</script>

<style scoped>
.category {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.category-top-row {
  display: flex;
  align-items: center;
}

.category-block {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.color-dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  flex-shrink: 0;
}

.color-bar {
  height: 20px;
  width: 5px;
  flex-shrink: 0;
}

.modal-root {
  max-height: 500px;
}

.modal-ruleset-desc {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
