<template>
  <div>
    <page-top
      title="Security Alerts (Trial)"
      :mobile="mobile"
      :float="true"
      floatslot="bottom"
    >
      <!-- Devices to select -->
      <device-selector
        v-if="devices !== null"
        v-model="deviceSelection"
        :devices="devices"
        placeholder="All devices"
        lifeguardPlaceholder="All devices"
        slot="bottom"
      />
      <b-dropdown
        position="is-bottom-left"
        slot="right"
        :value="null"
        custom
      >
        <!-- Three dots trigger -->
        <b-button
          icon-left="dots-vertical"
          slot="trigger"
          type="is-primary"
          rounded outlined
        />
        <div class="py-2 px-4">
          <router-link
            :to="{
              name: 'SecurityAlerts',
              query: {
                section: 'ignore-rules'
              }
            }"
          >
            Ignore rules
          </router-link>
        </div>
        <div class="py-2 px-4">
          <router-link
            :to="{
              name: 'ClearHistory',
              query: {
                'device-id': deviceSelection.id,
                'mac': deviceSelection.mac
              }
            }"
          >
            Clear history
          </router-link>
        </div>
        <div class="py-2 px-4">
          <router-link
            :to="{
              name: 'SecurityAlerts',
              query: {
                'section': 'usage-quota-history'
              }
            }"
          >
            Usage Quota History
          </router-link>
        </div>
        <!-- <div class="py-2 px-4">
          <router-link
            :to="{
              name: 'SecurityAlerts',
              query: {
                'section': 'billing'
              }
            }"
          >
            Billing
          </router-link>
        </div> -->
      </b-dropdown>
    </page-top>
    <div
      class="mt-5"
      v-if="!loading"
    >
      <div v-if="!quota.maxValue" class="is-flex is-align-items-center is-flex-direction-column mt-6">
        <b-icon
          icon="bug"
          size="is-large"
        />
        <p class="is-size-4 mt-3">
          Not enabled
        </p>
        <p class="is-size-6 mt-2 has-text-grey" v-if="quota.imposedBy !== 'grant'">
          Upgrade your plan to get notified of security concerns on your network.
        </p>
        <p class="is-size-4 mt-3" v-if="quota.imposedBy !== 'grant'">
          <b-button
            label="Upgrade Plan"
            type="is-primary"
            icon-left="credit-card"
            tag="router-link"
            :to="{
              name: 'SecurityAlerts',
              query: {
                section: 'billing'
              }
            }"
          />
        </p>
      </div>
      <div v-else>
        <select-date-range
          :startDate.sync="startDate"
          :endDate.sync="endDate"
        ></select-date-range>
        <collapse title="Filter" class="mt-4">
          <b-field
            label="Threat Types"
          >
            <b-select
              v-model="threatType"
            >
              <option value="all">All</option>
              <option value="mid">Mid-Severity or Higher</option>
              <option value="high">High Severity</option>
              <option value="custom">Custom</option>
            </b-select>
          </b-field>
          <div v-if="threatType === 'custom'">
            <b-field label="All Threat Types">
            </b-field>
            <b-field
              v-for="threat in allThreats"
              :key="threat.id"
            >
              <b-checkbox
                :value="threats.includes(threat.id)"
                @input="setThreatIncluded(threat.id, $event)"
              >
                <b-tooltip
                  :type="threat.severity >= 4 ? 'is-danger' : (threat.severity === 3 ? 'is-orange' : 'is-primary')"
                  :label="threat.description"
                  position="is-right"
                >
                  {{ threat.title }}
                  <b-icon
                    icon="help-circle"
                    size="is-small"
                  />
                  <b-tag
                    class="ml-1"
                    :type="threat.severity >= 4 ? 'is-danger' : (threat.severity === 3 ? 'is-orange' : 'is-primary')"
                    rounded
                  >
                    {{ threat.severity >= 4 ? 'High' : (threat.severity === 3 ? 'Medium' : 'Low') }}
                  </b-tag>
                </b-tooltip>
              </b-checkbox>
            </b-field>
          </div>
        </collapse>
        <div v-if="!alerts || !alerts.length" class="is-flex is-align-items-center is-flex-direction-column mt-6">
          <b-icon
            icon="bug"
            size="is-large"
          />
          <p class="is-size-4 mt-3">
            Nothing found
          </p>
          <p class="is-size-6 mt-2 has-text-grey">
            Can't find any security alerts.
          </p>
        </div>
        <div v-else-if="!loading" class="mt-5">
          <b-table
            :data="alerts"
            detailed
            detail-key="idx"
            :opened-detailed.sync="detailedRows"
            :show-detail-icon="true"
          >
            <b-table-column
              label="Device"
              v-slot="props"
            >
              <router-link
                :to="{
                  name: 'Device',
                  query: {
                    'device-id': props.row.deviceID,
                    'mac': props.row.mac
                  }            
                }"
              >
                {{ deviceIDToDevice[props.row.deviceID + '/' + props.row.mac] ?
                    deviceIDToDevice[props.row.deviceID + '/' + props.row.mac].name :
                    '' }}
              </router-link>
            </b-table-column>
            <b-table-column
              label="Threat"
              v-slot="props"
            >
              <a @click="detailedRows.includes(props.row.idx) ? detailedRows.splice(detailedRows.indexOf(props.row.idx), 1) : detailedRows.push(props.row.idx)">
                {{ props.row.threatTitle }}
              </a>
              <b-tag
                class="ml-1"
                :type="props.row.severity >= 4 ? 'is-danger' : (props.row.severity === 3 ? 'is-orange' : 'is-primary')"
                rounded
              >
                {{ props.row.severity >= 4 ? 'High severity' : (props.row.severity === 3 ? 'Medium severity' : 'Low severity') }}
              </b-tag>
            </b-table-column>
            <b-table-column
              label="Domain"
              v-slot="props"
            >
              {{ props.row.domain }}
            </b-table-column>
            <b-table-column
              label="Time"
              v-slot="props"
            >
              {{ formatTime(props.row.timestamp) }}
            </b-table-column>
            <b-table-column
              label="Detected App"
              v-slot="props"
            >
              {{ props.row.detectionKey ? props.row.detectionKey : 'None' }}
            </b-table-column>
            <b-table-column
              v-slot="props"
            >
              <b-dropdown
                :value="null"
                @input="handleEventDropdown(props.row, $event)"
                position="is-bottom-left"
              >
                <template #trigger="{  }">
                  <b-button
                    size="is-small"
                    type="is-danger"
                    icon-right="dots-vertical"
                    rounded outlined />
                </template>
                <b-dropdown-item value="delete">Delete</b-dropdown-item>
                <b-dropdown-item value="ignore">Ignore in future</b-dropdown-item>
                <b-dropdown-item value="deleteAndIgnore">Delete and ignore in future</b-dropdown-item>
              </b-dropdown>
            </b-table-column>
            <template #detail="props">
              {{ props.row.threatDescription }}
            </template>
          </b-table>
          <!-- Pagination -->
          <div class="is-flex p-5">
            <b-button
              @click="page = page - 1"
              :disabled="page === 0 || loading"
              icon-left="arrow-left"
            >
              Prev
            </b-button>
            <div style="flex-grow: 1"/>
            <p class="has-text-grey pt-2">
              Page {{ page + 1 }}
            </p>
            <div style="flex-grow: 1"/>
            <b-button
              @click="page = page + 1"
              :disabled="!moreAlerts || loading"
              icon-right="arrow-right"
            >
              Next
            </b-button>
          </div>
        </div>
      </div>
      <div class="is-flex is-justify-content-center mt-6">
        <div class="card py-3 px-4 is-family-secondary is-flex is-align-items-center">
          <a
            href="https://alphasoc.com"
            target="blank"
          >
            <img src="@/assets/alphasoc.png" class="mr-3 mt-1" width="24px"/>
          </a>
          <div>
            <div>
              Powered by <a href="https://alphasoc.com" target="blank" class="">AlphaSOC</a>
            </div>
            <div class="is-size-7">
              <a @click="alphasocInfo">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      v-if="modalAction"
      :active="true"
      @update:active="modalAction = null; modalAlert = null;"
    >
      <div class="card p-4">
        <spinner v-if="modalLoading"/>
        <div v-else>
          <div v-if="modalAction === 'delete'">
            <b-field label="Delete...">
            </b-field>
            <b-checkbox
              type="is-danger"
              v-model="selectedJustThis"
            >
              Just this alert
            </b-checkbox>
            <div class="mb-5 mt-4" v-if="!selectedJustThis">
              <b-field label="This and other alerts with:">
                <b-checkbox
                  type="is-danger"
                  v-model="selectedDevice"
                >
                  This device ({{ deviceIDToDevice[modalAlert.deviceID + '/' + modalAlert.mac].name }})
                </b-checkbox>
                <b-checkbox
                  type="is-danger"
                  v-model="selectedDomain"
                >
                  This domain ({{ modalAlert.domain }})
                </b-checkbox>
                <b-checkbox
                  type="is-danger"
                  v-model="selectedThreat"
                >
                  This threat ({{ modalAlert.threatTitle }})
                </b-checkbox>
                <b-checkbox
                  v-if="modalAlert.detectionKey"
                  type="is-danger"
                  v-model="selectedDetectionKey"
                >
                  This app ({{ modalAlert.detectionKey }})
                </b-checkbox>
              </b-field>
            </div>
            <b-field class="mt-2">
              <b-button
                :disabled="!selectedJustThis && !selectedDevice && !selectedDomain && !selectedThreat && (!modalAlert.detectionKey || !selectedDetectionKey)"
                type="is-danger"
                :label="deleteLabel"
                @click="deleteAlert"
              />
            </b-field>
          </div>
          <div v-else-if="modalAction === 'ignore'">
            <b-field label="Ignore alerts in future with:">
              <b-checkbox
                type="is-warning"
                v-model="selectedDevice"
              >
                This device ({{ deviceIDToDevice[modalAlert.deviceID + '/' + modalAlert.mac].name }})
              </b-checkbox>
              <b-checkbox
                type="is-warning"
                v-model="selectedDomain"
              >
                This domain ({{ modalAlert.domain }})
              </b-checkbox>
              <b-checkbox
                type="is-warning"
                v-model="selectedThreat"
              >
                This threat ({{ modalAlert.threatTitle }})
              </b-checkbox>
              <b-checkbox
                v-if="modalAlert.detectionKey"
                type="is-warning"
                v-model="selectedDetectionKey"
              >
                This app ({{ modalAlert.detectionKey }})
              </b-checkbox>
            </b-field>
            <b-field class="mt-2">
              <b-button
                :disabled="!selectedDevice && !selectedDomain && !selectedThreat && (!modalAlert.detectionKey || !selectedDetectionKey)"
                type="is-warning"
                :label="ignoreLabel"
                @click="ignoreAlert"
              />
            </b-field>
          </div>
          <div v-else-if="modalAction === 'deleteAndIgnore'">
            <b-field label="Delete alerts with these features and ignore in future:">
              <b-checkbox
                type="is-danger"
                v-model="selectedDevice"
              >
                This device ({{ deviceIDToDevice[modalAlert.deviceID + '/' + modalAlert.mac].name }})
              </b-checkbox>
              <b-checkbox
                type="is-danger"
                v-model="selectedDomain"
              >
                This domain ({{ modalAlert.domain }})
              </b-checkbox>
              <b-checkbox
                type="is-danger"
                v-model="selectedThreat"
              >
                This threat ({{ modalAlert.threatTitle }})
              </b-checkbox>
              <b-checkbox
                v-if="modalAlert.detectionKey"
                type="is-danger"
                v-model="selectedDetectionKey"
              >
                This app ({{ modalAlert.detectionKey }})
              </b-checkbox>
            </b-field>
            <b-field class="mt-2">
              <b-button
                :disabled="!selectedDevice && !selectedDomain && !selectedThreat && (!modalAlert.detectionKey || !selectedDetectionKey)"
                type="is-danger"
                :label="deleteAndIgnoreLabel"
                @click="deleteAndIgnoreAlert"
              />
            </b-field>
          </div>
        </div>
      </div>
    </b-modal>
    <b-modal
      v-if="section"
      :active="true"
      @update:active="section = ''"
    >
      <div class="card p-4">
        <spinner v-if="modalLoading"/>
        <div v-else>
          <div v-if="section === 'ignore-rules'">
            <b-table
              v-if="ignoreRules && ignoreRules.length"
              :data="ignoreRules"
            >
              <b-table-column
                label="Device"
                v-slot="props"
              >
                <router-link
                  v-if="props.row.deviceID"
                  :to="{
                    name: 'Device',
                    query: {
                      'device-id': props.row.deviceID,
                      'mac': props.row.mac
                    }            
                  }"
                >
                  {{ deviceIDToDevice[props.row.deviceID + '/' + props.row.mac] ?
                      deviceIDToDevice[props.row.deviceID + '/' + props.row.mac].name :
                      '' }}
                </router-link>
                <span v-else>
                  Any
                </span>
              </b-table-column>
              <b-table-column
                label="Threat"
                v-slot="props"
              >
                {{ props.row.threatTitle ? props.row.threatTitle : 'Any' }}
              </b-table-column>
              <b-table-column
                label="Domain"
                v-slot="props"
              >
                {{ props.row.domain ? props.row.domain : 'Any' }}
              </b-table-column>
              <b-table-column
                label="Detected App"
                v-slot="props"
              >
                {{ props.row.detectionKey ? props.row.detectionKey : 'Any' }}
              </b-table-column>
              <b-table-column
                v-slot="props"
              >
                <b-button
                  size="is-small"
                  icon-left="delete"
                  type="is-danger"
                  @click="deleteIgnoreRule(props.row)"
                  rounded
                />
              </b-table-column>
            </b-table>
            <div v-else>
              You have no ignore rules yet.
            </div>
          </div>
          <div v-else-if="section === 'usage-quota-history'">
            <canvas ref="canvas" v-if="usageHistory && usageHistory.length"/>
            <p v-else>
              You have no usage history yet. Make sure devices are connected and your plan
              has Security Alerts enabled.
            </p>
          </div>
          <div v-else-if="section === 'billing'">
            <div v-if="subscription">
              <addon-checkout
                v-if="checkoutArgs"
                v-model="checkoutArgs"
                :plan="subscription.chargebeePlan"
                @close="section = ''; initialLoad();"
                @paymentmethod="goToPayment"
              />
              <b-message
                v-else-if="subscription.googlePlaySubscription && subscription.canSubscribeChargebee"
              >
                <p>
                  You have a Google Play subscription. To use Security Alerts, switch to a
                  Web subscription.
                </p>
                <b-button
                  class="mt-2"
                  type="is-primary"
                  tag="router-link"
                  label="View Other Plans"
                  icon-left="play"
                  :to="{
                    name: 'CreateAccount',
                    query: {
                      'signed-in': '1',
                      'resubscribe': '1'
                    }
                  }"
                />
              </b-message>
              <b-message
                v-else-if="subscription && subscription.chargebeePlan && subscription.chargebeePlan.channel === 'app_store'"
              >
                <div v-if="subscription.chargebeeSubscription.status === 'non_renewing' || subscription.chargebeeSubscription.status === 'cancelled'">
                  You have a Apple App Store subscription. To use Security Alerts, switch to a
                  Web subscription.
                  <b-button
                    type="is-primary"
                    tag="router-link"
                    label="View Other Plans"
                    icon-left="play"
                    :to="{
                      name: 'CreateAccount',
                      query: {
                        'signed-in': '1',
                        'resubscribe': '1'
                      }
                    }"
                  />
                </div>
                <div v-else>
                  You have a Apple App Store subscription. To use Security Alerts, first cancel the subscription from
                  an Apple device, then come back here to switch to a web subscription.
                </div>
              </b-message>
              <b-message
                v-else
              >
                Sorry, your plan cannot use Security Alerts.
              </b-message>
            </div>
            <spinner v-else/>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop, Watch } from 'vue-property-decorator'
import GetDevices, { APIDevice, APIDevices } from '@/requests/devices/get-devices'
import SelectDateRange from '@/components/usage/select-date-range.vue'
import dayjs from 'dayjs'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector, { DeviceSelection } from '@/components/common/device-selector.vue'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import GetQuota, { Quota } from '@/requests/quotas/get-quota'
import DeleteIgnoreRule from '@/requests/security-alerts/delete-ignore-rule'
import DeleteSecurityAlerts from '@/requests/security-alerts/delete-security-alerts'
import GetIgnoreRules, { IgnoreRule } from '@/requests/security-alerts/get-ignore-rules'
import GetSecurityAlerts, { SecurityAlert } from '@/requests/security-alerts/get-security-alerts'
import GetThreats, { Threat } from '@/requests/security-alerts/get-threats'
import GetUsageHistory, { UsageHistoryItem } from '@/requests/security-alerts/get-usage-history'
import PostIgnoreRule from '@/requests/security-alerts/post-ignore-rule'
import GetLoggingEnabled from '@/requests/user-v2/get-logging-enabled'
import GetFullHistoryEnabled from '@/requests/user-v2/get-fullhistory-enabled'
import Collapse from '@/components/common/collapse.vue'
import Spinner from '@/components/common/spinner.vue'
import { Route } from 'vue-router'
import { Chart, LineController, LineElement, PointElement } from 'chart.js'
import GetSubscription, { ChargebeeSubscriptionAddon, Subscription } from '@/requests/user-v2/get-subscription'
import { Addon } from '@/requests/user-v2/get-plan'
import AddonCheckout, { AddonCheckoutArgs } from '@/components/account-settings/addon-checkout.vue'

Chart.register(LineController, PointElement, LineElement)

type ThreatType = 'any' | 'mid' | 'high' | 'custom'
type ModalAction = 'delete' | 'ignore' | 'deleteAndIgnore'

@Component({
  components: {
    PageTop,
    SelectDateRange,
    DeviceSelector,
    Collapse,
    Spinner,
    AddonCheckout
  }
})
export default class SecurityAlerts extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined

  deviceIDToDevice: {[deviceID: string]: APIDevice} | null = null
  devices: APIDevices | null = null
  quota: Quota | null = null
  alerts: SecurityAlert[] = []
  moreAlerts = false
  allThreats: Threat[] = []
  detailedRows: number[] = []
  modalAction: ModalAction | null = null
  modalAlert: SecurityAlert | null = null
  modalLoading = false
  usageHistory: UsageHistoryItem[] | null = null
  ignoreRules: IgnoreRule[] | null = null
  selectedJustThis = true
  selectedDevice = true
  selectedDomain = true
  selectedThreat = true
  selectedDetectionKey = true
  subscription: Subscription | null = null
  checkoutArgs: AddonCheckoutArgs | null = null

  /**
   * Requests
   */
  getDevices = new GetDevices()
  getQuota = new GetQuota()
  deleteIgnoreRuleReq = new DeleteIgnoreRule()
  deleteSecurityAlerts = new DeleteSecurityAlerts()
  getIgnoreRules = new GetIgnoreRules()
  getSecurityAlerts = new GetSecurityAlerts()
  getThreats = new GetThreats()
  getUsageHistory = new GetUsageHistory()
  postIgnoreRule = new PostIgnoreRule()
  getLoggingEnabled = new GetLoggingEnabled()
  getFullHistoryEnabled = new GetFullHistoryEnabled()
  getSubscription = new GetSubscription()

  mounted () {
    this.initialLoad()
  }

  initialLoad () {
    let loggingEnabled = true
    let fullHistoryEnabled = true
    Promise.all([
      this.loadRequest(),
      this.getDevices.handle().then(devices => {
        this.devices = devices
      }),
      this.getQuota.handle('security_alert_endpoints_per_hour').then(quota => {
        this.quota = quota.spec
      }),
      this.getLoggingEnabled.handle().then(r => {
        loggingEnabled = r.spec
      }),
      this.getFullHistoryEnabled.handle().then(r => {
        fullHistoryEnabled = r.spec
      }),
      this.getThreats.handle().then(threats => {
        this.allThreats = threats.spec.sort((t1, t2) => t1.severity - t2.severity)
      }),
      this.getUsageHistory.handle().then(history => {
        this.usageHistory = history.spec
      })
    ]).then(() => {
      if (!this.quota) {
        return
      }
      const quota = this.quota
      if (!loggingEnabled || !fullHistoryEnabled) {
        this.$buefy.dialog.confirm({
          type: 'is-danger',
          message: 'Your privacy settings don\'t allow Security Alerts to work. Until they are updated, you will not receive new Security Alerts.',
          confirmText: 'Update settings',
          onConfirm: () => {
            this.$router.push({
              name: 'AccountSettings',
              query: {
                section: 'privacy'
              }
            })
          } 
        })
      } else if (this.usageHistory && this.usageHistory.filter(u => u.wasLimited && u.maxQuantity >= quota.maxValue).length > 0) {
        this.$buefy.dialog.confirm({
          type: 'is-warning',
          message: 'In the past week, you have exceeded the amount of devices that your plan allows you check Security Alerts for. To ensure you don\'t miss anything, upgrade your plan.',
          confirmText: 'Upgrade plan',
          onConfirm: () => {
            this.$router.push({
              name: 'SecurityAlerts',
              query: {
                section: 'billing'
              }
            })
          }
        })
      }
      if (!this.devices) {
        return
      }
      const deviceIDToDevice: {[deviceID: string]: APIDevice} = {}
      if (this.devices.lifeguards) {
        this.devices.lifeguards.forEach(lifeguard => {
          if (lifeguard.devices) {
            lifeguard.devices.forEach(lifeguardDevice => {
              deviceIDToDevice[lifeguard.id + '/' + lifeguardDevice.mac] = lifeguardDevice
            })
          }
        })
      }
      if (this.devices.mobile) {
        this.devices.mobile.forEach(device => {
          deviceIDToDevice[device.id + '/'] = device
        })
      }
      if (this.devices.dns) {
        this.devices.dns.forEach(device => {
          deviceIDToDevice[device.id + '/'] = device
        })
      }
      this.deviceIDToDevice = deviceIDToDevice
      this.$emit('update:loading', false)
      this.loadSection()
    })
  }

  loadRequest (): Promise<any> {
    return this.getSecurityAlerts.handle({
      'device-id': this.deviceSelection.id,
      mac: this.deviceSelection.mac,
      'num-per-page': 50,
      page: this.page,
      threats: this.threatsToRequest(),
      'start-timestamp': this.startDate,
      'end-timestamp': this.endDate,
    }).then(alerts => {
      if (!alerts.spec.alerts) {
        this.alerts = []
      } else {
        this.alerts = alerts.spec.alerts.map((alert, idx) => {
          alert.idx = idx
          return alert
        })
      }
      this.moreAlerts = alerts.spec.more
    })
  }

  threatsToRequest (): string[] {
    switch (this.threatType) {
      case 'mid':
        return this.allThreats.filter(t => t.severity >= 3).map(t => t.id)
      case 'high':
        return this.allThreats.filter(t => t.severity >= 4).map(t => t.id)
      case 'custom':
        return this.threats
      default:
        return []
    }
  }

  load () {
    this.$emit('update:loading', true)
    this.loadRequest().then(() => {
      this.$emit('update:loading', false)
    })
  }

  alphasocInfo () {
    this.$buefy.dialog.alert({
      type: 'is-primary',
      message: 'AlphaSOC are a network security analytics provider helping hundreds of businesses to discover threats in their network. Safe Surfer runs their Analytics Engine ourselves to discover threats, meaning your browsing history is never sent to any third-party.'
    })
  }

  /**
   * @returns A formatted time given a timestamp.
   */
  formatTime (timestamp: number): string {
    return dayjs.unix(timestamp).format('h:mma MMM D')
  }

  setThreatIncluded(threatID: string, included: boolean) {
    if (included) {
      const threats = this.threats
      threats.push(threatID)
      this.threats = threats
    } else {
      const threats = this.threats
      threats.splice(threats.indexOf(threatID), 1)
      this.threats = threats
    }
  }

  handleEventDropdown (alert: SecurityAlert, action: ModalAction) {
    this.modalAlert = alert
    this.modalAction = action
  }

  deleteAlert () {
    if (!this.modalAlert) {
      return
    }
    this.modalLoading = true
    const alert = cloneDeep(this.modalAlert)
    if (!this.selectedJustThis) {
      alert.timestamp = 0
      if (!this.selectedDevice) {
        alert.deviceID = ''
        alert.mac = ''
      }
      if (!this.selectedDomain) {
        alert.domain = ''
      }
      if (!this.selectedThreat) {
        alert.threat = ''
      }
      if (!this.selectedDetectionKey) {
        alert.detectionKey = ''
      }
    }
    this.deleteSecurityAlerts.handle(alert).then(() => {
      this.modalLoading = false
      this.modalAlert = null
      this.modalAction = null
      this.selectedJustThis = true
      this.selectedDevice = true
      this.selectedDomain = true
      this.selectedThreat = true
      this.selectedDetectionKey = true
      this.load()
    })
  }

  deleteAndIgnoreAlert () {
    if (!this.modalAlert) {
      return
    }
    this.modalLoading = true
    const alert = cloneDeep(this.modalAlert)
    alert.timestamp = 0
    if (!this.selectedDevice) {
      alert.deviceID = ''
      alert.mac = ''
    }
    if (!this.selectedDomain) {
      alert.domain = ''
    }
    if (!this.selectedThreat) {
      alert.threat = ''
    }
    if (!this.selectedDetectionKey) {
      alert.detectionKey = ''
    }
    Promise.all([
      this.postIgnoreRule.handle({
        id: 0,
        deviceID: alert.deviceID,
        mac: alert.mac,
        domain: alert.domain,
        threat: alert.threat,
        threatTitle: '',
        detectionKey: alert.detectionKey
      }),
      this.deleteSecurityAlerts.handle(alert)
    ]).then(() => {
      this.modalLoading = false
      this.modalAlert = null
      this.modalAction = null
      this.selectedJustThis = true
      this.selectedDevice = true
      this.selectedDomain = true
      this.selectedThreat = true
      this.selectedDetectionKey = true
      this.load()
    })
  }

  ignoreAlert () {
    if (!this.modalAlert) {
      return
    }
    this.modalLoading = true
    const alert = cloneDeep(this.modalAlert)
    alert.timestamp = 0
    if (!this.selectedDevice) {
      alert.deviceID = ''
      alert.mac = ''
    }
    if (!this.selectedDomain) {
      alert.domain = ''
    }
    if (!this.selectedThreat) {
      alert.threat = ''
    }
    if (!this.selectedDetectionKey) {
      alert.detectionKey = ''
    }
    this.postIgnoreRule.handle({
      id: 0,
      deviceID: alert.deviceID,
      mac: alert.mac,
      domain: alert.domain,
      threat: alert.threat,
      threatTitle: '',
      detectionKey: alert.detectionKey
    }).then(() => {
      this.modalLoading = false
      this.modalAlert = null
      this.modalAction = null
      this.selectedJustThis = true
      this.selectedDevice = true
      this.selectedDomain = true
      this.selectedThreat = true
      this.selectedDetectionKey = true
      this.load()
    })
  }

  loadSection () {
    const section = this.section
    if (section === 'ignore-rules') {
      this.modalLoading = true
      this.getIgnoreRules.handle().then(ignoreRules => {
        this.ignoreRules = ignoreRules.spec
        this.modalLoading = false
      })
    } else if (section === 'usage-quota-history') {
      this.$nextTick(() => {
        if (!this.usageHistory) {
          return
        }
        const canvasEl = this.$refs.canvas as HTMLCanvasElement
        const ctx = canvasEl.getContext('2d') as CanvasRenderingContext2D
        const chart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: this.usageHistory.map((h, idx) => idx % 12 === 0 ? dayjs.unix(h.timestamp).format('ha ddd') : ''),
            datasets: [
              {
                label: 'Devices',
                data: this.usageHistory.map(h => h.quantity),
                borderColor: '#1976d2',
              },
              {
                label: 'Max Devices Allowed',
                data: this.usageHistory.map(h => h.maxQuantity),
                borderColor: '#e53935'
              }
            ]
          }
        })
      })
    } else if (section === 'billing') {
      this.subscription = null
      this.getSubscription.handle({ refresh: true }).then(sub => {
        this.subscription = sub.spec
        this.checkoutArgs = null
        if (this.subscription.chargebeePlan) {
          if (this.subscription.chargebeePlan.addons) {
            for (let i = 0; i < this.subscription.chargebeePlan.addons.length; i++) {
              const currAddon = this.subscription.chargebeePlan.addons[i]
              if (currAddon.id.startsWith('security-alerts')) {
                if (this.subscription.chargebeeSubscription) {
                  if (this.subscription.chargebeeSubscription.addons) {
                    let subAddon = this.subscription.chargebeeSubscription.addons.filter(a => a.id === currAddon.id)[0]
                    if (subAddon) {
                      this.checkoutArgs = [{
                        addon: currAddon,
                        quantity: subAddon.quantity
                      }]
                    } else {
                      this.checkoutArgs = [{
                        addon: currAddon,
                        quantity: 10
                      }]
                    }
                  } else {
                    this.checkoutArgs = [{
                      addon: currAddon,
                      quantity: 10
                    }]
                  }
                }
                break
              }
            }
          }
        }
      })
    }
  }

  deleteIgnoreRule (rule: IgnoreRule) {
    this.$buefy.dialog.confirm({
      type: 'is-danger',
      message: 'Delete ignore rule?',
      confirmText: 'Delete',
      onConfirm: () => {
        this.modalLoading = true
        this.deleteIgnoreRuleReq.handle(rule.id).then(() => {
          this.loadSection()
        })
      }
    })
  }

  get deleteAndIgnoreLabel (): string {
    if (!this.modalAlert) {
      return ''
    }
    if (!this.selectedDevice && !this.selectedDomain && !this.selectedThreat && (!this.modalAlert.detectionKey || !this.selectedDetectionKey)) {
        return 'Choose a type of alert to delete ignore'
    }
    let str = 'Delete and ignore future alerts with this'
    let andPrefix = false
    if (this.selectedDevice) {
      str += ' device '
      andPrefix = true
    }
    if (this.selectedDomain) {
      if (andPrefix) str += 'and'
      str += ' domain '
      andPrefix = true
    }
    if (this.selectedThreat) {
      if (andPrefix) str += 'and'
      str += ' threat '
      andPrefix = true
    }
    if (this.selectedDetectionKey && this.modalAlert.detectionKey) {
      if (andPrefix) str += 'and'
      str += ' app '
    }
    return str
  }

  get ignoreLabel (): string {
    if (!this.modalAlert) {
      return ''
    }
    if (!this.selectedDevice && !this.selectedDomain && !this.selectedThreat && (!this.modalAlert.detectionKey || !this.selectedDetectionKey)) {
        return 'Choose a type of alert to ignore'
    }
    let str = 'Ignore future alerts with this'
    let andPrefix = false
    if (this.selectedDevice) {
      str += ' device '
      andPrefix = true
    }
    if (this.selectedDomain) {
      if (andPrefix) str += 'and'
      str += ' domain '
      andPrefix = true
    }
    if (this.selectedThreat) {
      if (andPrefix) str += 'and'
      str += ' threat '
      andPrefix = true
    }
    if (this.selectedDetectionKey && this.modalAlert.detectionKey) {
      if (andPrefix) str += 'and'
      str += ' app '
    }
    return str
  }

  get deleteLabel (): string {
    if (!this.modalAlert) {
      return ''
    }
    if (this.selectedJustThis) {
      return 'Delete this alert'
    } else {
      if (!this.selectedJustThis && !this.selectedDevice && !this.selectedDomain && !this.selectedThreat &&
        (!this.modalAlert.detectionKey || !this.selectedDetectionKey)) {
          return 'Choose a type of alert to delete'
      }
      let str = 'Delete this alert and others with this'
      let andPrefix = false
      if (this.selectedDevice) {
        str += ' device '
        andPrefix = true
      }
      if (this.selectedDomain) {
        if (andPrefix) str += 'and'
        str += ' domain '
        andPrefix = true
      }
      if (this.selectedThreat) {
        if (andPrefix) str += 'and'
        str += ' threat '
        andPrefix = true
      }
      if (this.selectedDetectionKey && this.modalAlert.detectionKey) {
        if (andPrefix) str += 'and'
        str += ' app '
      }
      return str
    }
  }

  set section (section: string) {
    let currQuery = cloneDeep(this.$route.query)
    if (!currQuery) {
      currQuery = {}
    }
    this.$router.push({
      name: this.$route.name as string,
      query: assign(currQuery, {
        'section': section + '',
      })
    })
  }

  get section (): string {
    const q = this.$route.query['section']
    if (typeof q === 'string') {
      return q
    }
    return ''
  }

  set threatType (typ: ThreatType) {
    let currQuery = cloneDeep(this.$route.query)
    if (!currQuery) {
      currQuery = {}
    }
    this.$router.push({
      name: this.$route.name as string,
      query: assign(currQuery, {
        'threat-type': typ,
        'page': 0
      })
    })
    this.loadRequest()
  }

  get threatType (): ThreatType {
    const q = this.$route.query['threat-type']
    if (typeof q === 'string') {
      return q as ThreatType
    }
    return 'any'
  }

  get threats (): string[] {
    const q = this.$route.query.threats
    if (typeof q === 'string') {
      return JSON.parse(q) as string[]
    }
    return this.allThreats.map(threat => threat.id)
  }

  set threats (newThreats: string[]) {
    let currQuery = cloneDeep(this.$route.query)
    if (!currQuery) {
      currQuery = {}
    }
    this.$router.push({
      name: this.$route.name as string,
      query: assign(currQuery, {
        'threats': JSON.stringify(newThreats),
        'page': 0
      })
    })
    this.loadRequest()
  }

  get page (): number {
    const q = this.$route.query.page
    if (typeof q === 'string') {
      return parseInt(q)
    }
    return 0
  }

  set page (newPage: number) {
    let currQuery = cloneDeep(this.$route.query)
    if (!currQuery) {
      currQuery = {}
    }
    this.$router.push({
      name: this.$route.name as string,
      query: assign(currQuery, {
        'page': newPage + ''
      })
    })
    window.scrollTo(0, 0)
    this.load()
  }

  /**
   * @returns The current device selection.
   */
  get deviceSelection(): DeviceSelection {
    const selection = { id: '', mac: '' }
    if (typeof this.$route.query['device-id'] === 'string') {
      selection.id = this.$route.query['device-id']
    }
    if (typeof this.$route.query['mac'] === 'string') {
      selection.mac = this.$route.query['mac']
    }
    return selection
  }

  set deviceSelection (selection: DeviceSelection) {
    this.$router.push({
      name: 'SecurityAlerts',
      query: assign(cloneDeep(this.$route.query), {
        'device-id': selection.id,
        mac: selection.mac,
        'page': 0
      })
    })
    this.load()
  }

  /**
   * Store the selected start timestamp in the url.
   */
  set startDate (newStart: number) {
    this.$router.push({
      name: 'SecurityAlerts',
      query: assign(cloneDeep(this.$route.query), {
        start: newStart,
        'page': 0
      })
    })
    this.load()
  }

  /**
   * Get the selected start timestamp from the url.
   */
  get startDate (): number {
    if (typeof this.$route.query.start === 'string') {
      return parseInt(this.$route.query.start)
    } else if (typeof this.$route.query.start === 'number') {
      return this.$route.query.start
    }
    return dayjs().subtract(6, 'd').startOf('day').unix()
  }

  /**
   * Store the selected end timestamp in the url.
   */
  set endDate (newEnd: number) {
    this.$router.push({
      name: 'SecurityAlerts',
      query: assign(cloneDeep(this.$route.query), {
        end: newEnd,
        'page': 0
      })
    })
    this.load()
  }

  /**
   * Get the selected end timestamp from the url.
   */
  get endDate (): number {
    if (typeof this.$route.query.end === 'string') {
      return parseInt(this.$route.query.end)
    } else if (typeof this.$route.query.end === 'number') {
      return this.$route.query.end
    }
    return dayjs().endOf('day').unix()
  }

  @Watch('$route', { deep: true }) watchRoute (to: Route, from: Route) {
    // Only update when certain params change, those used below
    const differs = (key: string) => to.query[key] != from.query[key]
    if (differs('end') || differs('start') || differs('device-id') || differs('mac') || differs('page') || differs('threats') || differs('threat-type')) {
      this.load()
    } else if (differs('section')) {
      this.loadSection()
    }
  }

  goToPayment () {
    this.$router.push({
      name: 'AccountSettings',
      query: {
        section: 'payment',
      },
    })
  }
}
</script>

<style scoped>
</style>
