<template>
  <div
    class="outer"
    :class="{
      'shifted-up': !showTitlebar
    }"
  >
    <div class="top-container px-4 py-3 has-text-black" v-if="showTitlebar">
      <div>
        <div class="is-family-secondary has-text-weight-semibold">My access</div>
      </div>
      <div style="flex-grow: 1"/>
      <b-field>
        <p class="control">
          <b-button
            icon-left="refresh"
            label="Refresh"
            @click="loadData"
            rounded
          />
        </p>
        <p class="control">
          <b-dropdown position="is-bottom-left">
            <template #trigger="{ active }">
              <b-button
                :type="active ? 'is-primary' : undefined"
                icon-left="dots-vertical"
                rounded
              />
            </template>
            <b-dropdown-item
              v-if="fromLogin"
              @click="$router.push({
                name: 'Login'
              })"
            >
              Back to Login
            </b-dropdown-item>
            <b-dropdown-item
              v-else
              @click="$router.push({
                name: 'AccountHome'
              })"
            >
              Back home
            </b-dropdown-item>
          </b-dropdown>
        </p>
      </b-field>
    </div>
    <div v-if="!loading && failed401">
      <b-message>
        Can't find this page anymore. It may have been disabled by an admin.
        <router-link
          :to="{
            name: 'Login'
          }"
        >
          Back to login.
        </router-link>
      </b-message>
    </div>
    <div v-else-if="!loading && !isProtected">
      <b-message type="is-danger">
        It doesn't look like protection is working! Please check with an admin to enable it.<br/>
        <b-button @click="isProtected = true" class="mt-2">
          Show anyway
        </b-button>
      </b-message>
    </div>
    <div v-else-if="!loading && tzMismatch">
      <b-message type="is-warning">
        It looks like you're in a different timezone to the account you're connected to.
        The times you see here might not be accurate.<br/>
        <b-button @click="tzMismatch = false" class="mt-2">
          Show anyway
        </b-button>
      </b-message>
    </div>
    <div v-else-if="!loading" class="mb-5">
      <div class="mb-5 has-text-centered is-family-secondary has-text-weight-semibold">
        <div class="py-3">
          Here's what's going on with your device:
        </div>
      </div>
      <!-- Show the impact of block internet timetables/deadlines if necessary -->
      <div
        v-if="blockInternetSummary.applicable && blockInternetSummary.hasTransition"
        class="card py-3 px-4"
      >
        <div v-if="blockInternetSummary.isBlocked">
          <strong class="has-text-danger">Internet blocked.</strong> Will be unblocked {{ blockInternetSummary.nextTransitionRelative }}
          ({{ blockInternetSummary.nextTransition }}).
        </div>
        <div v-else>
          <strong class="has-text-danger">Internet will be blocked</strong> {{ blockInternetSummary.nextTransitionRelative }}
          ({{ blockInternetSummary.nextTransition }}).
        </div>
      </div>
      <!-- Show deadlines -->
      <stop-start-access-list
        :deadlines="deadlines"
      />
      <!-- Show any timers -->
      <start-stop-timers
        :timers="timers"
        :blockInternetTimers="blockInternetTimers"
        :tz="timezone"
        :selfService="true"
        :deviceID="deviceID"
        :mac="mac"
        :token="token"
      />
      <!-- Show any time based rules -->
      <div
        v-for="timetable in timetables"
        :key="timetable.id"
        class="card is-flex mt-4"
      >
        <div class="py-3 px-4">
          {{ formatTimetable(timetable) }}
        </div>
        <div style="flex-grow: 1;"/>
        <div
          v-if="timetableIsActive(timetable)"
          class="has-background-primary py-4 px-3 has-text-white is-size-7"
        >
          Active
        </div>
        <div
          class="has-background-grey-lighter py-4 px-3 is-size-7"
          v-else
        >
          Inactive
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GetTimezoneSelfService from '@/requests/categories-v2/get-timezone-self-service'
import GetBlockInternetTimerSelfService from '@/requests/blockinternet/get-timer-self-service'
import GetTimersSelfService from '@/requests/categories-v2/get-timers-self-service'
import GetTimerSelfService from '@/requests/categories-v2/get-timer-self-service'
import GetBlockInternetTimetableSelfService from '@/requests/blockinternet/get-timetable-self-service'
import GetTimeBasedCategoryRulesetsSelfService from '@/requests/categories-v2/get-time-based-category-rulesets-self-service'
import GetTimeBasedCategoryRulesetSelfService from '@/requests/categories-v2/get-time-based-category-ruleset-self-service'
import GetCategoriesRulesSelfService, { GetCategoriesRulesSelfServiceArgs } from '@/requests/categories-v2/get-categories-rules-self-service'
import { Prop } from 'vue-property-decorator'
import { getTimeBasedRulesSummary, getTimezone } from '@/helpers/functions'
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc'
import timezone from 'dayjs/plugin/timezone'
import { BlockInternetTimer } from '@/requests/blockinternet/get-timer'
import { Timer } from '@/requests/categories-v2/get-timer'
import { BlockInternetTimetable } from '@/requests/blockinternet/get-timetable'
import { TimeBasedRules } from '@/requests/categories-v2/post-time-based-category-ruleset'
import { CategoriesRules } from '@/requests/categories-v2/get-categories-rules'
import StartStopTimers from '@/components/screentime-timers/start-stop-timers.vue'
import GetPlain from '@/requests/proto/get-plain'
import GetDOT from '@/requests/proto/get-dot'
import GetDOH from '@/requests/proto/get-doh'
import GetDNSCrypt from '@/requests/proto/get-dnscrypt'
import GetBlockInternetDeadlineSelfService, { BlockInternetDeadline } from '@/requests/blockinternet/get-deadline-self-service'
import GetDeadlinesSelfService from '@/requests/categories-v2/get-deadlines-self-service'
import GetDeadlineSelfService, { Deadline } from '@/requests/categories-v2/get-deadline-self-service'
import StopStartAccessList from '@/components/stop-start-access/stop-start-access-list.vue'

dayjs.extend(utc)
dayjs.extend(timezone)

interface BlockInternetSummary {
  applicable: boolean; // Whether this device is blocked at any point
  isBlocked: boolean; // Whether this device is currently blocked
  nextTransitionRelative: string; // When this device will be blocked/unblocked in relative time
  nextTransition: string; // When this device will be blocked/unblocked in absolute time (string)
  nextTransitionTime: dayjs.Dayjs; // When this device will be blocked/unblocked in absolute time (object)
  hasTransition: boolean;
}

@Component({
  components: {
    StartStopTimers,
    StopStartAccessList
  }
})
export default class SelfService extends Vue {
  @Prop() readonly loading: boolean | undefined
  /**
   * The timezone of the account we're connected to.
   */
  timezone = ''
  /**
   * Whether this computer has a different timezone than the account it's connected to.
   */
  tzMismatch = false
  /**
   * Whether a request failed with 401, indicating this isn't a valid page.
   */
  failed401 = false
  /**
   * The block internet timers.
   */
  blockInternetTimers: {[day: string]: BlockInternetTimer} = {}
  /**
   * Regular timers.
   */
  timers: Timer[] = []
  /**
   * The block internet timetable.
   */
  blockInternetTimetable: BlockInternetTimetable | null = null
  /**
   * The category timetables.
   */
  timetables: TimeBasedRules[] = []
  /**
   * The block internet deadline.
   */
  blockInternetDeadline: BlockInternetDeadline | null = null
  /**
   * The deadlines.
   */
  deadlines: Deadline[] = []
  /**
   * The current day, string 0-6.
   */
  currDay = 0
  /**
   * The currently relevant days.
   */
  relevantDays: string[] = []
  /**
   * The current hour/quarter, updated every minute.
   */
  currHour = 0
  currQuarter = 0
  /**
   * The interval for updating the hour and quarter.
   */
  intervalID = 0
  /**
   * Whether each protocol type resolved.
   */
  plainResolved = false
  dotResolved = false
  dohResolved = false
  dnsCryptResolved = false
  isProtected = false

  /**
   * Requests.
   */
  getTimezoneSelfService = new GetTimezoneSelfService()
  getBlockInternetTimerSelfService = new GetBlockInternetTimerSelfService()
  getTimersSelfService = new GetTimersSelfService()
  getTimerSelfService = new GetTimerSelfService()
  getBlockInternetTimetableSelfService = new GetBlockInternetTimetableSelfService()
  getTimeBasedCategoryRulesetsSelfService = new GetTimeBasedCategoryRulesetsSelfService()
  getTimeBasedCategoryRulesetSelfService = new GetTimeBasedCategoryRulesetSelfService()
  getCategoriesRulesSelfService = new GetCategoriesRulesSelfService()
  getBlockInternetDeadlineSelfService = new GetBlockInternetDeadlineSelfService()
  getDeadlinesSelfService = new GetDeadlinesSelfService()
  getDeadlineSelfService = new GetDeadlineSelfService()
  getPlain = new GetPlain()
  getDOT = new GetDOT()
  getDOH = new GetDOH()
  getDnsCrypt = new GetDNSCrypt()

  mounted () {
    this.intervalID = setInterval(this.updateHourAndQuarter.bind(this), 60*1000)
    window.addEventListener('focus', this.updateHourAndQuarter.bind(this))
    this.loadData()
  }

  destroy () {
    clearInterval(this.intervalID)
  }

  /**
   * Load the initial data.
   */
  loadData () {
    this.$emit('update:loading', true)
    this.failed401 = false
    this.tzMismatch = false
    this.blockInternetTimers = {}
    this.timers = []
    this.blockInternetTimetable = null
    this.timetables = []
    this.plainResolved = false
    this.dotResolved = false
    this.dohResolved = false
    this.dnsCryptResolved = false
    this.isProtected = false
    this.blockInternetDeadline = null
    this.deadlines = []
    // Do an initial request to check protection
    Promise.all([,
      this.getPlain.handle().then(() => {
        this.plainResolved = true
      }, () => { return }),
      this.getDOT.handle().then(() => {
        this.dotResolved = true
      }, () => { return }),
      this.getDOH.handle().then(() => {
        this.dohResolved = true
      }, () => { return }),
      this.getDnsCrypt.handle().then(() => {
        this.dnsCryptResolved = true
      }, () => { return })
    ]).then(() => {
      this.isProtected = this.plainResolved || this.dotResolved || this.dohResolved || this.dnsCryptResolved
      // Do an initial request for the timezone
      return this.getTimezoneSelfService.handle({
        'device-id': this.deviceID,
        'mac': this.mac,
        'token': this.token
      }).then(tz => {
        this.timezone = tz.spec
        if (!this.timezone.length) {
          this.timezone = 'UTC'
        }
        this.tzMismatch = this.timezone !== getTimezone()
      }).catch(code => {
        if (code === 401) {
          this.failed401 = true
        } else {
          throw new Error('error getting timezone ' + code)
        }
      })
    }).then(() => {
      if (this.failed401) {
        return
      }
      this.updateHourAndQuarter()
      // Calculate the days that could contain relevant info
      this.currDay = dayjs().tz(this.timezone).day() + 1
      if (this.currDay >= 7) {
        this.currDay = 0
      }
      this.relevantDays = ['*'] // The days that could apply to the current day, priority first
      if (this.currDay >= 2) {
        this.relevantDays.unshift('weekday')
      } else {
        this.relevantDays.unshift('weekend')
      }
      this.relevantDays.unshift('' + this.currDay)
      // At this point we know this is a valid self-service page. Add a shortcut to it.
      this.addToLocalStorage()
      // Get all the possibly relevant info
      return Promise.all(
        // Get block internet timers
        this.relevantDays.map(day => this.getBlockInternetTimerSelfService.handle({
          'device-id': this.deviceID,
          'mac': this.mac,
          'day': day,
          'token': this.token
        }).then(timer => {
          this.$set(this.blockInternetTimers, day, timer.spec)
        }).catch(code => {
          if (code === 404) {
            // OK
          } else {
            throw new Error('error getting block internet timers ' + code)
          }
        }) as Promise<unknown>).concat(
          // Get regular timers
          this.getTimersSelfService.handle({
            'device-id': this.deviceID,
            'mac': this.mac,
            'token': this.token
          }).then(timers => {
            if (!timers.spec) {
              return
            }
            this.timers = timers.spec.map(timer => {
              timer.customRules.hasRules = true
              if (!timer.customRules.categories) {
                timer.customRules.categories = []
              }
              if (!timer.customRules.restrictions) {
                timer.customRules.restrictions = []
              }
              if (!timer.customRules.whitelist) {
                timer.customRules.whitelist = []
              }
              if (!timer.customRules.apps) {
                timer.customRules.apps = []
              }
              return timer
            })
          }),
          // Get block internet timetable
          this.getBlockInternetTimetableSelfService.handle({
            'device-id': this.deviceID,
            'mac': this.mac,
            'token': this.token
          }).then(timetable => {
            this.blockInternetTimetable = timetable.spec
          }),
          // Get category timetables
          this.getTimeBasedCategoryRulesetsSelfService.handle({
            'device-id': this.deviceID,
            'mac': this.mac,
            'token': this.token
          }).then(timetables => {
            if (!timetables.spec) {
              this.timetables = []
              return
            }
            this.timetables = timetables.spec.map(timetable => {
              if (!timetable.customRules.categories) {
                timetable.customRules.categories = []
              }
              if (!timetable.customRules.restrictions) {
                timetable.customRules.restrictions = []
              }
              if (!timetable.customRules.whitelist) {
                timetable.customRules.whitelist = []
              }
              if (!timetable.customRules.blacklist) {
                timetable.customRules.blacklist = []
              }
              if (!timetable.customRules.apps) {
                timetable.customRules.apps = []
              }
              return timetable
            })
          }),
          // Block internet deadline
          this.getBlockInternetDeadlineSelfService.handle({
            'device-id': this.deviceID,
            'mac': this.mac,
            'token': this.token
          }).then(deadline => {
            this.blockInternetDeadline = deadline.spec
          }).catch(code => {
            if (code === 404) {
              this.blockInternetDeadline = null
            } else {
              throw new Error('error getting block internet deadline ' + code)
            }
          }),
          // Deadlines
          this.getDeadlinesSelfService.handle({
            'device-id': this.deviceID,
            'mac': this.mac,
            'token': this.token
          }).then(deadlines => {
            if (!deadlines.spec) {
              this.deadlines = []
              return
            }
            this.deadlines = deadlines.spec.map(deadline => {
              if (!deadline.customRules.apps) {
                deadline.customRules.apps = []
              }
              if (!deadline.customRules.blacklist) {
                deadline.customRules.blacklist = []
              }
              if (!deadline.customRules.categories) {
                deadline.customRules.categories = []
              }
              if (!deadline.customRules.restrictions) {
                deadline.customRules.restrictions = []
              }
              if (!deadline.customRules.whitelist) {
                deadline.customRules.whitelist = []
              }
              return deadline
            })
          })
        ) as Promise<unknown>[]
      )
    }).then(() => {
      this.$emit('update:loading', false)
    })
  }

  /**
   * Update the current hour and quarter.
   */
  updateHourAndQuarter () {
    if (!this.timezone) {
      return
    }
    const currTime = dayjs().tz(this.timezone)
    this.currHour = currTime.hour()
    this.currQuarter = Math.floor(currTime.minute() / 60 * 4)
  }

  /**
   * @param startTime If specified, start looking at the this time instead of the current time.
   * @returns A summary of the block timetable does to this device.
   */
  getTimetableBlockInternetSummary (startTime?: dayjs.Dayjs): BlockInternetSummary {
    const summary: BlockInternetSummary = {
      applicable: false,
      isBlocked: false,
      hasTransition: false,
      nextTransitionRelative: '',
      nextTransition: '',
      nextTransitionTime: dayjs()
    }
    if (!this.blockInternetTimetable) {
      return summary
    }
    const tbl = this.blockInternetTimetable
    // If no times are blocked, also is irrelevant
    if (!Object.keys(tbl.activeTimes).some(day => tbl.activeTimes[day].some(active => active))) {
      return summary
    }
    summary.applicable = true
    // Find whether we're blocked currently by overlaying all the applicable days onto one array
    let currTime = (startTime ? startTime : dayjs()).tz(this.timezone)
    let currDay = startTime ? currTime.day() + 1 : this.currDay
    if (currDay >= 7) {
      currDay = 0
    }
    const currQuarter = startTime ? Math.floor(currTime.minute() / 60 * 4) : this.currQuarter
    const currHour = startTime ? currTime.hour() : this.currHour
    const currDayOverlay = this.createOverlay(tbl, currDay)
    // Round the minutes back to the current quarter
    currTime = currTime.subtract(currTime.minute() - currQuarter*15, 'minutes')
    const currIdx = currHour*4 + currQuarter
    summary.isBlocked = currDayOverlay[currIdx] === true
    // Now find when the block status will change. To do this, we'll have to create an overlay for every day and loop starting from the current time.
    // We will do this by creating a mega-array of all the quarters of an hour in a week added together, and loop in a circular fashion, converting
    // back to the individual day, hour, and quarter once we find what we're looking for.
    const eachDayOverlay: (boolean | undefined)[][] = new Array(7)
    for (let i = 0; i < 7; i++) {
      if (i === currDay) {
        eachDayOverlay[i] = currDayOverlay
      } else {
        eachDayOverlay[i] = this.createOverlay(tbl, i)
      }
    }
    const weekQuarters = eachDayOverlay.reduce((prev, curr) => prev.concat(curr), [])
    const startIdx = currDay*24*4 + currHour*4 + currQuarter
    let numQuarters = 0
    for (let i = 0; i < 7*96; i++) {
      let currIdx = startIdx + i
      if (currIdx >= 7*96) {
        currIdx -= 7*96
      }
      if ((summary.isBlocked && weekQuarters[currIdx] !== true) || (!summary.isBlocked && weekQuarters[currIdx] === true)) {
        // The timetable transitions here
        break
      }
      numQuarters++
    }
    if (numQuarters >= 7*96) {
      // Timetable is completely full
      return summary
    }
    // Add the amount of time before we found the transition
    summary.nextTransitionTime = currTime.add(numQuarters*15, 'minutes')
    summary.hasTransition = true
    return summary
  }

  /**
   * @returns A summary of the effect of the block internet deadline on the device.
   */
  getDeadlineBlockInternetSummary (): BlockInternetSummary {
    const summary: BlockInternetSummary = {
      applicable: false,
      isBlocked: false,
      hasTransition: false,
      nextTransitionRelative: '',
      nextTransition: '',
      nextTransitionTime: dayjs()
    }
    if (!this.blockInternetDeadline) {
      return summary
    }
    const deadline = this.blockInternetDeadline
    summary.applicable = true
    summary.isBlocked = !deadline.allow
    summary.nextTransitionTime = dayjs.unix(this.blockInternetDeadline.expiry)
    summary.hasTransition = true
    return summary
  }

  /**
   * @returns A summary of what the block timetable/deadline does to this device.
   */
  get blockInternetSummary (): BlockInternetSummary {
    const tblSummary = this.getTimetableBlockInternetSummary()
    const deadlineSummary = this.getDeadlineBlockInternetSummary()
    const summary: BlockInternetSummary = {
      applicable: false,
      isBlocked: false,
      nextTransitionRelative: '',
      nextTransition: '',
      hasTransition: false,
      nextTransitionTime: dayjs()
    }
    summary.applicable = tblSummary.applicable || deadlineSummary.applicable
    if (tblSummary.isBlocked && deadlineSummary.isBlocked) {
      // Both blocked, transition time is the last to become unblocked
      summary.isBlocked = true
      if (!tblSummary.hasTransition) {
        // Block internet timetable is completely full so will never change
        summary.hasTransition = false
      } else {
        summary.nextTransitionTime = tblSummary.nextTransitionTime.isBefore(deadlineSummary.nextTransitionTime) ?
          deadlineSummary.nextTransitionTime :
          tblSummary.nextTransitionTime
        summary.hasTransition = true
      }
    } else if (tblSummary.isBlocked) {
      // Timetable blocked, but this may be overridden
      if (deadlineSummary.applicable && !deadlineSummary.isBlocked) {
        summary.isBlocked = false
        summary.hasTransition = deadlineSummary.nextTransitionTime.isBefore(tblSummary.nextTransitionTime)
        if (summary.hasTransition) {
          summary.nextTransitionTime = deadlineSummary.nextTransitionTime
        }
      } else {
        summary.isBlocked = true
        summary.nextTransitionTime = tblSummary.nextTransitionTime
        summary.hasTransition = tblSummary.hasTransition
      }
    } else if (deadlineSummary.isBlocked) {
      // Only the deadline is blocked currently - but what happens when it expires depends
      // on the timetable.
      summary.isBlocked = true
      const tblSummaryNew = this.getTimetableBlockInternetSummary(deadlineSummary.nextTransitionTime)
      if (!tblSummaryNew.isBlocked) {
        // Unblocked after our deadline expires - so the end of the deadline is a transition
        summary.nextTransitionTime = deadlineSummary.nextTransitionTime
        summary.hasTransition = true
      } else {
        // Still blocked after our deadline expires - use the fast-forwarded timetable as transition time
        summary.nextTransitionTime = tblSummaryNew.nextTransitionTime
        summary.hasTransition = tblSummaryNew.hasTransition
      }
    } else {
      // Both unblocked currently
      if (tblSummary.applicable && deadlineSummary.applicable) {
        // Both applicable - deadline overrides. The next transition will be after the deadline ends.
        summary.isBlocked = false
        const tblSummaryNew = this.getTimetableBlockInternetSummary(deadlineSummary.nextTransitionTime)
        if (tblSummaryNew.isBlocked) {
          // Blocked after our deadline expires - use the deadline as transition time
          summary.nextTransitionTime = deadlineSummary.nextTransitionTime
          summary.hasTransition = true
        } else {
          // Still unblocked after our deadline expires - use the fast-forwarded timetable as transition time
          summary.nextTransitionTime = tblSummaryNew.nextTransitionTime
          summary.hasTransition = tblSummaryNew.hasTransition
        }
      } else if (tblSummary.applicable) {
        // Only table summary applies
        summary.isBlocked = tblSummary.isBlocked
        summary.nextTransitionTime = tblSummary.nextTransitionTime
        summary.hasTransition = tblSummary.hasTransition
      } else if (deadlineSummary.applicable) {
        // Only deadline summary applies
        summary.isBlocked = deadlineSummary.isBlocked
        summary.nextTransitionTime = deadlineSummary.nextTransitionTime
        summary.hasTransition = deadlineSummary.hasTransition
      } else {
        // Neither are applicable
      }
    }
    if (summary.hasTransition) {
      summary.nextTransitionRelative = summary.nextTransitionTime.fromNow()
      summary.nextTransition = summary.nextTransitionTime.format('dddd h:mma')
    }
    return summary
  }

  /**
   * Given the block internet timetable and a specific day, overlay the active times for
   * each day that could apply upon a length 96 array, flat indexed by hour and quarter.
   */
  createOverlay (tbl: BlockInternetTimetable, day: number): (boolean | undefined)[] {
    const relevantDays = ['*']
    if (day >= 2) {
      relevantDays.unshift('weekday')
    } else {
      relevantDays.unshift('weekend')
    }
    relevantDays.unshift('' + day)
    const overlay: (boolean | undefined)[] = new Array(96) // This will have holes
    relevantDays.forEach(currDay => {
      tbl.activeTimes[currDay].forEach((active, i) => {
        if (active) {
          overlay[i] = true
        }
      })
    })
    return overlay
  }

  formatTimetable (timetable: TimeBasedRules): string {
    return getTimeBasedRulesSummary(timetable, false, false)
  }

  timetableIsActive (timetable: TimeBasedRules): boolean {
    return this.createOverlay(timetable, this.currDay)[this.currHour*4+this.currQuarter] === true
  }

  /**
   * Add the current page to local storage to visit later.
   */
  addToLocalStorage () {
    localStorage.setItem('my-ss-self-service-page', JSON.stringify({
      'device-id': this.deviceID,
      'mac': this.mac,
      'token': this.token
    }))
  }

  get deviceID(): string {
    return typeof this.$route.query['device-id'] === 'string' ? this.$route.query['device-id'] : ''
  }

  get mac(): string {
    return typeof this.$route.query.mac === 'string' ? this.$route.query.mac : ''
  }

  get token(): string {
    return typeof this.$route.query.token === 'string' ? this.$route.query.token : ''
  }

  get fromLogin(): boolean {
    return this.$route.query['from-login'] === '1'
  }

  get showTitlebar(): boolean {
    return this.$route.query['titlebar'] !== '0'
  }
}
</script>

<style scoped>
.outer {
  max-width: 750px;
  margin: auto;
}

.top-container {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  opacity: 0.8;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.shifted-up {
  margin-top: -60px;
}
</style>
