<template>
  <div>
    <page-top title="Pause internet" :float="true" floatslot="right">
      <!-- Devices to select -->
      <device-selector
        v-if="devices !== null"
        v-model="deviceSelection"
        :devices="devices"
        placeholder="Select a device"
        lifeguardPlaceholder="Select a device"
        slot="bottom"
      />
      <b-field
        slot="right"
        v-if="valid && deviceSelection.id && !loading"
      >
        <b-button
          icon-left="refresh"
          @click="doGetDeadlines(deviceSelection.id, deviceSelection.mac)"
          rounded
        />
      </b-field>
    </page-top>
    <div v-if="!loading && valid">
      <div v-if="!deviceSelection.id">
        <br>
        <b-message>
          Select a device that you would like to pause internet on.
        </b-message>
      </div>
      <div v-else>
        <div v-if="(!deadlines || !deadlines.length) && !blockInternetDeadline" class="is-flex is-align-items-center is-flex-direction-column mt-5 px-2">
          <b-icon
            icon="pause"
            size="is-large"
          />
          <p class="is-size-4 mt-3">
            No rules yet
          </p>
          <p class="is-size-6 mt-2 has-text-grey">
            Add one below to allow or block something for an amount of time for this device.
          </p>
          <p class="is-size-6 mt-2 has-text-grey">
            Overrides all other settings.
          </p>
        </div>
        <div v-if="mobile" class="mt-4 px-2">
          <b-button
            type="is-danger"
            label="Block internet"
            icon-left="block-helper"
            @click="ruleType = 'INTERNET_BLOCK'; add()"
            :disabled="deadlines && deadlines.length >= maxDeadlines"
            rounded outlined
            class="mr-2 mb-3"
          />
          <b-button
            type="is-success"
            label="Allow internet"
            icon-left="web"
            @click="ruleType = 'INTERNET_ALLOW'; add()"
            :disabled="deadlines && deadlines.length >= maxDeadlines"
            rounded outlined
            class="mr-2 mb-3"
          />
          <b-button
            type="is-primary"
            label="Site/app access"
            icon-left="web"
            @click="ruleType = 'CATEGORIES'; add()"
            :disabled="deadlines && deadlines.length >= maxDeadlines"
            rounded outlined
            class="mr-2 mb-3"
          />
        </div>
        <div class="is-flex is-justify-content-center mt-4" v-else>
          <b-field>
            <p class="control">
              <b-button
                type="is-danger"
                label="Block Internet"
                icon-left="block-helper"
                @click="ruleType = 'INTERNET_BLOCK'; add()"
                :disabled="deadlines && deadlines.length >= maxDeadlines"
                rounded outlined
              />
            </p>
            <p class="control">
              <b-button
                type="is-success"
                label="Allow Internet"
                icon-left="web"
                @click="ruleType = 'INTERNET_ALLOW'; add()"
                :disabled="deadlines && deadlines.length >= maxDeadlines"
                rounded outlined
              />
            </p>
            <p class="control">
              <b-button
                type="is-primary"
                label="Site/App Access"
                icon-left="web"
                @click="ruleType = 'CATEGORIES'; add()"
                :disabled="deadlines && deadlines.length >= maxDeadlines"
                rounded outlined
              />
            </p>
          </b-field>
        </div>
        <stop-start-access-list
          class="mt-4"
          :blockInternetDeadline="blockInternetDeadline"
          :deadlines="deadlines"
          :editable="true"
          @editBlockInternet="editBlockInternet"
          @deleteBlockInternet="deleteBlockInternet"
          @editDeadline="editDeadline($event)"
          @deleteDeadline="doDeleteDeadline($event)"
        />
      </div>
    </div>
    <!-- Modal for adding/editing -->
    <b-modal
      v-if="adding || editing"
      @update:active="adding = false; editing = false; editingIdx = -1;"
      :active="true"
    >
      <div class="card p-3 is-flex is-flex-direction-column" style="max-height: 500px;">
        <b-steps
          v-model="currStep"
          :type="getStepsType()"
        >
          <b-step-item label="Duration" :clickable="true" icon="timer-outline">
            <b-field class="p-2">
              <b-select
                v-model="expiry"
              >
                <option
                  v-for="duration in durations"
                  :key="duration[1]"
                  :value="duration[0]"
                >
                  {{ duration[1] }}
                </option>
              </b-select>
            </b-field>
          </b-step-item>
          <b-step-item
            :label="'Settings' + ' (' + (customRules.apps.length + customRules.categories.length + customRules.restrictions.length + customRules.whitelist.length + customRules.blacklist.length) + ')'"
            v-if="ruleType === 'CATEGORIES'"
            :clickable="true"
            icon="eye-circle-outline"
          >
            <div style="overflow-y: scroll; max-height: 300px;">
              <custom-rules-actions-editor
                v-model="customRules"
                :baseRules="baseRules"
                :allowBlock="true"
                :allowAllow="true"
                :deviceID="deviceSelection.id"
              />
            </div>
          </b-step-item>
          <b-step-item label="Confirm" :clickable="true" icon="check">
            <div>
              {{ modalSummary() }}
            </div>
            <b-button
              class="mt-2"
              @click="applyModal"
              type="is-primary"
              :label="adding ? 'Confirm' : 'Update'"
              :loading="applying"
            />
          </b-step-item>
        </b-steps>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector, { DeviceSelection, DeviceSelectionValidator } from '@/components/common/device-selector.vue'
import GetDevices, { APIDevice, APIDevices } from '@/requests/devices/get-devices'
import GetTimezone from '@/requests/user-v2/get-timezone'
import PutTimezone from '@/requests/user-v2/put-timezone'
import { getCustomRulesSummary, getTimezone, screentimeSupported } from '@/helpers/functions'
import DeleteBlockInternetDeadline from '@/requests/blockinternet/delete-deadline'
import GetBlockInternetDeadline from '@/requests/blockinternet/get-deadline'
import PostBlockInternetDeadline from '@/requests/blockinternet/post-deadline'
import DeleteDeadline from '@/requests/categories-v2/delete-deadline'
import GetDeadline from '@/requests/categories-v2/get-deadline'
import GetDeadlines from '@/requests/categories-v2/get-deadlines'
import PostDeadline from '@/requests/categories-v2/post-deadline'
import PutDeadline from '@/requests/categories-v2/put-deadline'
import { CategoriesRules } from '@/requests/categories-v2/get-categories-rules'
import { BlockInternetDeadline } from '@/requests/blockinternet/get-deadline-self-service'
import { Deadline } from '@/requests/categories-v2/get-deadline-self-service'
import CustomRulesActionsEditor from '@/components/screentime-timers/custom-rules-actions-editor.vue'
import GetCategoriesRules from '@/requests/categories-v2/get-categories-rules'
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc'
import timezone from 'dayjs/plugin/timezone'
import StopStartAccessList from '@/components/stop-start-access/stop-start-access-list.vue'
import GetQuota from '@/requests/quotas/get-quota'

dayjs.extend(utc)
dayjs.extend(timezone)

@Component({
  components: {
    PageTop,
    DeviceSelector,
    CustomRulesActionsEditor,
    StopStartAccessList
  }
})
export default class StartStopAccess extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined

  /**
   * Selectable devices.
   */
  devices: APIDevices | null = null
  /**
   * The current block internet deadline, if any.
   */
  blockInternetDeadline: BlockInternetDeadline | null = null
  /**
   * The other deadlines.
   */
  deadlines: Deadline[] = []
  /**
   * The base rules for this device.
   */
  baseRules: CategoriesRules | null = null
  /**
   * Whether the user has a valid device currently selected.
   */
  valid = true
  /**
   * Whether we are currently adding.
   */
  adding = false
  /**
   * Whether we are currently editing.
   */
  editing = false
  /**
   * The index of the deadline we're currently editing.
   */
  editingIdx = -1
  /**
   * What type of rule to add/edit.
   */
  ruleType: 'INTERNET_BLOCK' | 'INTERNET_ALLOW' | 'CATEGORIES' = 'INTERNET_ALLOW'
  /**
   * How far ahead for the rule to apply (in seconds).
   */
  expiry = 5*60
  /**
   * What the expiry was before we started editing it.
   */
  origExpiry = 0
  /**
   * The current step for the rule to apply.
   */
  currStep = 0
  /**
   * Whether we're currently adding/updating.
   */
  applying = false
  /**
   * The user's current timezone.
   */
  tz = ''
  /**
   * The category rules to add.
   */
  customRules: CategoriesRules = {
    hasRules: true,
    apps: [],
    categories: [],
    restrictions: [],
    whitelist: [],
    blacklist: []
  }
  /**
   * Whether we're currently getting data.
   */
  gettingData = false
  /**
   * The quota for deadlines per device.
   */
  maxDeadlines = 0

  /**
   * Requests.
   */
  getDevices = new GetDevices()
  getTimezone = new GetTimezone()
  putTimezone = new PutTimezone()
  deleteBlockInternetDeadline = new DeleteBlockInternetDeadline()
  getBlockInternetDeadline = new GetBlockInternetDeadline()
  postBlockInternetDeadline = new PostBlockInternetDeadline()
  deleteDeadline = new DeleteDeadline()
  getDeadline = new GetDeadline()
  getDeadlines = new GetDeadlines()
  postDeadline = new PostDeadline()
  putDeadline = new PutDeadline()
  getCategoriesRules = new GetCategoriesRules()
  getQuota = new GetQuota()

  mounted () {
    const selection = this.deviceSelection
    this.getTimezone.handle().then(tz => {
      if (tz.spec === '' || tz.spec === 'UTC') {
        this.tz = getTimezone()
      } else {
        this.tz = tz.spec
      }
      return this.getDevices.handle().then(devices => {
        const retDevices: APIDevices = {
          lifeguards: [],
          mobile: [],
          dns: []
        }
        if (devices.lifeguards) {
          retDevices.lifeguards = devices.lifeguards.filter(device => screentimeSupported(device))
        }
        if (devices.mobile) {
          retDevices.mobile = devices.mobile.filter(device => screentimeSupported(device))
        }
        if (devices.dns) {
          retDevices.dns = devices.dns.filter(device => screentimeSupported(device))
        }
        this.devices = retDevices
        this.deviceSelectionValidator = new DeviceSelectionValidator(retDevices, false)
        this.valid = this.deviceSelectionValidator.selectionIsValid(selection)
      })
    }).then(() => {
      this.doGetDeadlines(selection.id, selection.mac)
    })
  }

  /**
   * @returns The current device selection.
   */
  get deviceSelection(): DeviceSelection {
    const selection = { id: '', mac: '' }
    if (typeof this.$route.query['device-id'] === 'string') {
      selection.id = this.$route.query['device-id']
    }
    if (typeof this.$route.query['mac'] === 'string') {
      selection.mac = this.$route.query['mac']
    }
    return selection
  }

  private deviceSelectionValidator: DeviceSelectionValidator | undefined

  set deviceSelection (selection: DeviceSelection) {
    if (!this.deviceSelectionValidator) {
      return
    }
    this.valid = this.deviceSelectionValidator.selectionIsValid(selection)
    this.$router.push({
      name: 'StopStartAccess',
      query: {
        'device-id': selection.id,
        mac: selection.mac
      }
    })
    this.$nextTick(() => {
      this.doGetDeadlines(selection.id, selection.mac)
    })
  }

  /**
   * @returns A promise resolving once the user's timezone has been set, if necessary.
   */
  setTimezoneIfUnset(): Promise<void> {
    return new Promise((resolve, reject) => {
      this.getTimezone.handle().then(tz => {
        if (tz.spec === '' || tz.spec === 'UTC') {
          // Unset
          this.putTimezone.handle(getTimezone()).then(() => {
            resolve()
          }).catch(err => {
            reject(err)
          })
        } else {
          resolve()
        }
      })
    })
  }

  doGetDeadlines (deviceID: string, mac: string) {
    if (this.gettingData || this.devices === null) {
      return
    }
    const selection = this.deviceSelection
    this.gettingData = true
    this.$emit('update:loading', true)
    this.deadlines = []
    this.blockInternetDeadline = null
    Promise.all([
      this.getDeadlines.handle({
        'device-id': deviceID,
        'mac': mac
      }).then(deadlines => {
        if (!deadlines.spec) {
          return
        }
        this.deadlines = deadlines.spec.map(deadline => {
          if (!deadline.customRules.categories) {
            deadline.customRules.categories = []
          }
          if (!deadline.customRules.restrictions) {
            deadline.customRules.restrictions = []
          }
          if (!deadline.customRules.whitelist) {
            deadline.customRules.whitelist = []
          }
          if (!deadline.customRules.blacklist) {
            deadline.customRules.blacklist = []
          }
          if (!deadline.customRules.apps) {
            deadline.customRules.apps = []
          }
          return deadline
        })
      }),
      new Promise<void>((resolve, reject) => {
        this.getBlockInternetDeadline.handle({
          'device-id': deviceID,
          'mac': mac
        }).then(deadline => {
          this.blockInternetDeadline = deadline.spec
          resolve()
        }).catch(code => {
          if (code === 404) {
            this.blockInternetDeadline = null
            resolve()
          } else {
            reject('error getting block internet deadline ' + code)
          }
        })
      }),
      new Promise<void>((resolve, reject) => {
        this.getCategoriesRules.handle({
          'device-id': selection.id,
          'mac': selection.mac
        }).then(rules => {
          this.baseRules = rules.spec
          resolve()
        }).catch(code => {
          if (code === 400) {
            this.baseRules = null
            resolve()
          } else {
            reject(code)
          }
        })
      }),
      this.getQuota.handle('screentime_deadlines_per_device').then(quota => {
        this.maxDeadlines = quota.spec.maxValue
      })
    ]).then(() => {
      this.$emit('update:loading', false)
      this.gettingData = false
    })
  }

  add () {
    this.expiry = 5*60
    this.resetCustomRules()
    this.adding = true
    this.editing = false
    this.editingIdx = -1
    this.currStep = 0
  }

  editBlockInternet () {
    if (!this.blockInternetDeadline) {
      return
    }
    this.ruleType = this.blockInternetDeadline.allow ? 'INTERNET_ALLOW' : 'INTERNET_BLOCK'
    this.expiry = this.blockInternetDeadline.expiry - dayjs().unix()
    this.resetCustomRules()
    this.editing = true
    this.editingIdx = -1
    this.currStep = 0
    this.origExpiry = this.expiry
  }

  editDeadline (idx: number) {
    this.ruleType = 'CATEGORIES'
    this.expiry = this.deadlines[idx].expiry - dayjs().unix()
    this.customRules = this.deadlines[idx].customRules
    this.editing = true
    this.editingIdx = idx
    this.currStep = 0
    this.origExpiry = this.expiry
  }

  deleteBlockInternet () {
    if (!this.blockInternetDeadline) {
      return
    }
    const selection = this.deviceSelection
    this.$buefy.dialog.confirm({
      message: 'Delete rule?',
      type: 'is-danger',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteBlockInternetDeadline.handle({
          'device-id': selection.id,
          'mac': selection.mac
        }).then(() => {
          this.doGetDeadlines(selection.id, selection.mac)
        })
      }
    })
  }

  doDeleteDeadline (idx: number) {
    const selection = this.deviceSelection
    this.$buefy.dialog.confirm({
      message: 'Delete rule?',
      type: 'is-danger',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteDeadline.handle(this.deadlines[idx].id).then(() => {
          this.doGetDeadlines(selection.id, selection.mac)
        })
      }
    })
  }

  resetCustomRules () {
    this.customRules = {
      hasRules: true,
      apps: [],
      categories: [],
      restrictions: [],
      whitelist: [],
      blacklist: []
    }
  }

  applyModal () {
    this.applying = true
    const selection = this.deviceSelection
    const done = () => {
      this.applying = false
      this.adding = false
      this.editing = false
      this.editingIdx = -1
      this.currStep = 0
      this.doGetDeadlines(selection.id, selection.mac)
    }
    if (this.ruleType === 'INTERNET_BLOCK' || this.ruleType === 'INTERNET_ALLOW') {
      // Apply internet block rule
      this.postBlockInternetDeadline.handle({
        deviceID: selection.id,
        mac: selection.mac,
        expiry: dayjs().unix() + this.expiry,
        allow: this.ruleType === 'INTERNET_ALLOW'
      }).then(done)
    } else {
      if (this.adding || this.editingIdx === -1) {
        // Add normal rule
        this.postDeadline.handle({
          id: 0,
          deviceID: selection.id,
          mac: selection.mac,
          customRules: this.customRules,
          expiry: dayjs().unix() + this.expiry
        }).then(done)
      } else {
        // Update normal rule
        this.putDeadline.handle({
          id: this.deadlines[this.editingIdx].id,
          deviceID: selection.id,
          mac: selection.mac,
          customRules: this.customRules,
          expiry: dayjs().unix() + this.expiry
        }).then(done)
      }
    }
  }

  /**
   * @returns A human-readable summary of what adding/updating the current deadline rule will do.
   */
  modalSummary (): string {
    let sentence = ''
    const getTimeStr = () => {
      const options = this.durations
      for (let i = 0; i < options.length; i++) {
        const option = options[i]
        if (this.expiry === option[0] && i === options.length -1) {
          return 'until ' + option[1]
        } else if (this.expiry === option[0]) {
          return 'for ' + option[1]
        }
      }
      return ''
    }
    switch (this.ruleType) {
      case 'INTERNET_BLOCK':
        return 'Block internet ' + getTimeStr()
      case 'INTERNET_ALLOW':
        return 'Allow internet ' + getTimeStr()
      case 'CATEGORIES':
        return getCustomRulesSummary(this.customRules) + ' ' + getTimeStr()
      default:
        return ''
    }
  }

  getStepsType (): string {
    switch (this.ruleType) {
      case 'INTERNET_BLOCK':
        return 'is-danger'
      case 'INTERNET_ALLOW':
        return 'is-success'
      case 'CATEGORIES':
        return 'is-primary'
    }
  }

  get selectedDevice (): APIDevice | null {
    if (!this.devices) {
      return null
    }
    return (this.devices.mobile ? this.devices.mobile : []).concat(this.devices.dns ? this.devices.dns : [])
      .concat(this.devices.lifeguards ? this.devices.lifeguards : [])
      .filter(device => device.id === this.deviceSelection.id)[0]
  }

  /**
   * @returns The options for duration. [durationSeconds, name]
   */
  get durations (): [number, string][] {
    // Generate dynamic one (until the end of the day)
    const currTime = dayjs().tz(this.tz)
    const currHour = currTime.hour()
    const minute = currTime.minute()
    const hourDiff = 23 - currHour
    const minDiff = 59 - minute
    const secDiff = hourDiff*60*60 + minDiff*60
    const durations: [number, string][] = [
      [5*60, '5 minutes'],
      [15*60, '15 minutes'],
      [30*60, '30 minutes'],
      [60*60, '1 hour'],
      [2*60*60, '2 hours'],
      [3*60*60, '3 hours'],
      [4*60*60, '4 hours'],
      [5*60*60, '5 hours'],
      [6*60*60, '6 hours'],
      [7*60*60, '7 hours'],
      [8*60*60, '8 hours'],
      [9*60*60, '9 hours'],
      [10*60*60, '10 hours'],
      [11*60*60, '11 hours'],
      [12*60*60, '12 hours'],
      [secDiff, 'End of day']
    ]
    // If we're editing, the current expiry time may not match any of these. Add an option for the current expiry.
    if (this.editing) {
      durations.unshift([this.origExpiry, 'Current duration (expires ' + dayjs.unix(dayjs().unix() + this.origExpiry).fromNow() + ')'])
    }
    return durations
  }
}
</script>

<style scoped>
.category {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.category-top-row {
  display: flex;
  align-items: center;
}

.category-block {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
