<template>
  <div v-if="!loading">
    <page-top
      title="Two-factor authentication"
    />
    <div v-if="twofactorStatus === 2">
      <br />
      Two-factor authentication has already been enabled.
      <br />
      <br />
      <b-button
      tag="router-link"
      :to="{
        name: 'AccountSettings'
      }"
    >
    Go back to Account settings
    </b-button>
    </div>
    <div v-else>
      <b-steps class="mt-5" :value="currStep" :has-navigation="false">
        <b-step-item label="Get started" :clickable="false">
            Once you've enabled two-factor authentication, you'll need codes inside an authenticator app to sign in to your Safe Surfer account. On a mobile device you'd like to use, you can download the
              <a href="https://support.google.com/accounts/answer/1066447?hl=en&co=GENIE.Platform%3DAndroid" target="_blank">
              Google Authenticator</a> app in your app store for free. Alternatively, you could use a password manager, such as <a href="https://1password.com" target="_blank">1Password</a>.
              <br />
              <br />
              Inside the authenticator / password manager app, prepare to scan a QR code. We'll show this QR code in the next step.
              <div class="mt-3">
                <video controls width="250">
                  <source src="@/assets/authenticator.webm"
                    type="video/webm">
                  Sorry, your browser doesn't support embedded videos.
                </video>
              </div>
          <div class="is-flex is-justify-content-center">
            <b-button
              @click="changeStep(1)"
              icon-right="chevron-right"
              class="m-2"
              :loading="stepLoading"
              label="Next"
              type="is-primary"
            />
          </div>
        </b-step-item>
        <b-step-item label="Scan QR code" :clickable="false">
          <b-tabs>
            <b-tab-item label="Scan QR" icon="qrcode">
              Scan the following QR code with your authenticator / password manager app.
              <br />
              <br />
              <img :src="imageURL" width="250px"/>
            </b-tab-item>
            <b-tab-item label="Enter setup key" icon="pencil-outline" v-if="putStatusResponse">
              <b-message type="is-primary">
                If you can't scan a QR code, you can enter the code manually. This is usually labelled "Enter a setup key".
              </b-message>
              <b-field label="Account name">
                <copy-text text="Safe Surfer"/>
              </b-field>
              <b-field label="Your key">
                <copy-text :text="putStatusResponse.secret"/>
              </b-field>
            </b-tab-item>
          </b-tabs>
          <div class="is-flex is-justify-content-center">
            <b-button
              @click="changeStep(2)"
              icon-right="chevron-right"
              class="m-2"
              label="Next"
              type="is-primary"
            />
          </div>
        </b-step-item>
        <b-step-item label="Verify" :clickable="false">
          <b-message
            type="is-primary"
          >
            You should now have a six-digit code for Safe Surfer (which refreshes every 30 seconds). Enter the code to verify it.
            <br/>
            <br/>
            In the future, you'll need to enter a two-factor code after logging in to your Safe Surfer account.
          </b-message>
          <form autocomplete="on" name="two-factor-enrolment-code">
            <b-field label="Code">
              <b-input
                v-model="currCode"
                @keyup.native="$event.key === 'Enter' && changeStep(3)"
                autocomplete="one-time-code"
              />
            </b-field>
            <!-- Prevent implicit submission of the form -->
            <button type="submit" disabled style="display: none" aria-hidden="true"/>
          </form>
          <div class="is-flex is-justify-content-center">
            <b-field class="m-2">
              <p class="control">
                <b-button
                  @click="changeStep(1)"
                  icon-left="chevron-left"
                  label="Previous"
                  :disabled="stepLoading"
                />
              </p>
              <p class="control">
                <b-button
                  @click="changeStep(3)"
                  :loading="stepLoading"
                  icon-right="chevron-right"
                  label="Next"
                  type="is-primary"
                />
              </p>
            </b-field>
          </div>
        </b-step-item>
        <b-step-item label="Done" :clickable="false">
          <b-message
            type="is-success"
          >
          Two-factor authentication is now enabled!
          </b-message>
          <strong>Recovery codes</strong>
          <br />
          <br />
          <b-message
            type="is-danger"
          >
            <Strong>Important:</strong> Please download your recovery codes and store them in a safe place. You can use them to recover access to your account if you lose
            access to your two-factor codes.<br /><br />If you're using Google Authenticator, we strongly recommend <a href="https://support.google.com/accounts/answer/1066447?hl=en&co=GENIE.Platform%3DAndroid" target="_blank">syncing your two-factor codes to a Google account</a> in case something happens to your mobile device.
          </b-message>
          <recovery-codes :codes="recoveryCodes"/>
          <div class="is-flex is-justify-content-center">
            <b-button
              tag="router-link"
              :to="{
                name: 'AccountSettings'
              }"
              class="m-2"
              label="Done"
              type="is-primary"
            />
          </div>
        </b-step-item>
      </b-steps>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Get2FAStatus from '@/requests/user-v2/get-2fa-status'
import { Prop } from 'vue-property-decorator'
import PageTop from '@/components/common/page-top.vue'
import Put2FAStatus, { Put2FAStatusResp } from '@/requests/user-v2/put-2fa-status'
import Get2FARegistrationQRCode from '@/requests/user-v2/get-2fa-registration-qrcode'
import Get2FARecoveryCodes from '@/requests/user-v2/get-2fa-recovery-codes'
import CopyText from '@/components/common/copy-text.vue'
import RecoveryCodes from '@/components/account-settings/recovery-codes.vue'

@Component({
  components: {
    PageTop,
    CopyText,
    RecoveryCodes
  }
})
export default class TwofactorEnrolment extends Vue {
  @Prop() readonly loading: boolean | undefined

  /**
   * The current 2FA status.
   */
  twofactorStatus = 0
  /**
   * The current step.
   */
  currStep = 0
  /**
   * The current 2FA code.
   */
  currCode = ''
  /**
   * The response for starting to enable 2fa, contains the registration token.
   */
  putStatusResponse: Put2FAStatusResp | null = null
  /**
   * Blob URL for the currently loaded image.
   */
  imageURL = ''
  /**
   * Whether the next step is loading.
   */
  stepLoading = false
  /**
   * The current recovery codes.
   */
  recoveryCodes: string[] = []

  /**
   * Requests.
   */
  get2FAStatus = new Get2FAStatus()
  put2FAStatus = new Put2FAStatus()
  get2FARegistrationQRCode = new Get2FARegistrationQRCode()
  get2FARecoveryCodes = new Get2FARecoveryCodes()

  mounted () {
    this.$emit('update:loading', true)
    this.get2FAStatus.handle().then(status => {
      this.twofactorStatus = status.spec
      if (this.twofactorStatus === 1) {
        this.get2FARegistrationQRCode.handle().then(data => {
          this.imageURL = URL.createObjectURL(data)
          this.$emit('update:loading', false)
          this.currStep = 1
        })
      } else {
        this.$emit('update:loading', false)
      }
    })
  }

  /**
   * Change steps, taking some action if neccessary.
   */
  changeStep (idx: number) {
    if (this.stepLoading) {
      return // Don't allow changing when loading
    }
    if (idx === 1 && this.currStep === 0) {
      // Start enabling 2FA
      this.stepLoading = true
      this.put2FAStatus.handle({
        'status': 1,
        'token': ''
      }).then(statusUpdate => {
        this.putStatusResponse = statusUpdate.spec
      }).then(() => {
        this.get2FARegistrationQRCode.handle().then(data => {
          // Clean up from the last image
          if (this.imageURL) {
            URL.revokeObjectURL(this.imageURL)
          }
          // Create a new URL
          this.imageURL = URL.createObjectURL(data)
          this.stepLoading = false
          this.currStep = 1
        })
      })
    } else if (idx === 3 && this.currStep === 2) {
      // Finish enabling 2fa
      this.stepLoading = true
      this.put2FAStatus.handle({
        'status': 2,
        'token': this.currCode.replace(/\s+/g, '') // Remove whitespace
      }).then(() => {
        this.get2FARecoveryCodes.handle().then(codes => {
          this.recoveryCodes = codes.spec
          this.stepLoading = false
          this.currStep = 4
        })
      }).catch(code => {
        if (code === 400) {
          this.$buefy.toast.open({
            position: 'is-bottom',
            message: 'Invalid code, please try again',
            type: 'is-danger',
            duration: 5000
          })
          this.stepLoading = false
        }
      })
    } else {
      this.currStep = idx
    }
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
