<template>
  <div class="page-root">
    <page-top
      title="Browsing history"
      :mobile="mobile"
      :float="true"
      floatslot="bottom"
    >
      <!-- Devices to select -->
      <device-selector
        v-if="devices !== null"
        v-model="deviceSelection"
        :devices="devices"
        placeholder="All devices"
        lifeguardPlaceholder="All devices"
        slot="bottom"
      />
      <b-dropdown
        position="is-bottom-left"
        slot="right"
        :value="null"
        custom
      >
        <!-- Three dots trigger -->
        <b-button
          icon-left="dots-vertical"
          slot="trigger"
          type="is-primary"
          rounded outlined
        />
        <div class="py-2 px-4">
          <router-link
            :to="{
              name: 'AccountSettings',
              query: {
                section: 'privacy'
              }
            }"
          >
            Privacy settings
          </router-link>
        </div>
        <div class="py-2 px-4">
          <router-link
            :to="{
              name: 'ClearHistory',
              query: {
                'device-id': deviceSelection.id
              } 
            }"
          >
            Clear history
          </router-link>
        </div>
      </b-dropdown>
    </page-top>
    <!-- Show if no device has been selected -->
    <b-message
      v-if="!valid"
    >
      Select a device to view usage
    </b-message>
    <!-- Show main content if a device has been selected -->
    <div
      class="mt-5"
      v-if="devices !== null && valid"
    >
      <select-date-range
        :startDate.sync="startDate"
        :endDate.sync="endDate"
      ></select-date-range>
      <usage-tabs
        v-if="devices"
        :deviceID="selectedDeviceId"
        :mac="deviceSelection.mac"
        :startDate="startDate"
        :endDate="endDate"
        :loading="loading"
        :devices="devices"
        @update:loading="$emit('update:loading', $event)"
      ></usage-tabs>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GetDevices, { APIDevices } from '@/requests/devices/get-devices'
import SelectDateRange from '@/components/usage/select-date-range.vue'
import UsageTabs from '@/components/usage/usage-tabs.vue'
import dayjs from 'dayjs'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector, { DeviceSelection, DeviceSelectionValidator } from '@/components/common/device-selector.vue'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import { Prop } from 'vue-property-decorator'
import GetFullHistoryEnabled from '@/requests/user-v2/get-fullhistory-enabled'
import GetLoggingEnabled from '@/requests/user-v2/get-logging-enabled'
import { screentimeSupported } from '@/helpers/functions'

@Component({
  components: {
    PageTop,
    SelectDateRange,
    UsageTabs,
    DeviceSelector
  }
})
export default class Usage extends Vue {
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  /**
   * Global loading state.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * The selectable devices.
   */
  devices: APIDevices | null = null
  /**
   * Whether the selected device is valid.
   */
  valid = true

  /**
   * Requests
   */
  getDevices = new GetDevices()
  getLoggingEnabled = new GetLoggingEnabled()
  getFullHistoryEnabled = new GetFullHistoryEnabled()

  mounted () {
    this.getDevices.handle().then(devices => {
      this.devices = devices
    })
    let loggingEnabled = true
    let fullHistoryEnabled = true
    Promise.all([
      this.getLoggingEnabled.handle().then(r => {
        loggingEnabled = r.spec
      }),
      this.getFullHistoryEnabled.handle().then(r => {
        fullHistoryEnabled = r.spec
      })
    ]).then(() => {
      if (!loggingEnabled || !fullHistoryEnabled) {
        this.$buefy.snackbar.open({
          message: 'Your privacy settings don\'t allow displaying all data',
          type: 'is-warning',
          duration: 4000,
          actionText: 'Privacy settings',
          onAction: () => {
            this.$router.push({
              name: 'AccountSettings',
              query: {
                section: 'privacy'
              }
            })
          }
        })
      }
    })
  }

  /**
   * @returns The selected device ID. Will return blank if a lifeguard device is selected
   *          but is running too old firmware to give accurate info using the device ID.
   */
  get selectedDeviceId(): string {
    const deviceID = this.deviceSelection.id
    if (!deviceID) {
      return deviceID
    }
    if (this.devices && this.devices.lifeguards) {
      for (let i = 0; i < this.devices.lifeguards.length; i++) {
        if (this.devices.lifeguards[i].id === deviceID) {
          if (screentimeSupported(this.devices.lifeguards[i])) {
            return deviceID
          } else {
            return ''
          }
        }
      }
    }
    return deviceID
  }

  /**
   * @returns The current device selection.
   */
  get deviceSelection(): DeviceSelection {
    const selection = { id: '', mac: '' }
    if (typeof this.$route.query['device-id'] === 'string') {
      selection.id = this.$route.query['device-id']
    }
    if (typeof this.$route.query['mac'] === 'string') {
      selection.mac = this.$route.query['mac']
    }
    return selection
  }


  set deviceSelection (selection: DeviceSelection) {
    this.$router.push({
      name: 'Usage',
      query: assign(cloneDeep(this.$route.query), {
        'device-id': selection.id,
        mac: selection.mac
      })
    })
  }

  /**
   * Store the selected start timestamp in the url.
   */
  set startDate (newStart: number) {
    this.$router.push({
      name: 'Usage',
      query: assign(cloneDeep(this.$route.query), {
        start: newStart
      })
    })
  }

  /**
   * Get the selected start timestamp from the url.
   */
  get startDate (): number {
    if (typeof this.$route.query.start === 'string') {
      return parseInt(this.$route.query.start)
    } else if (typeof this.$route.query.start === 'number') {
      return this.$route.query.start
    }
    return dayjs().subtract(6, 'd').startOf('day').unix()
  }

  /**
   * Store the selected end timestamp in the url.
   */
  set endDate (newEnd: number) {
    this.$router.push({
      name: 'Usage',
      query: assign(cloneDeep(this.$route.query), {
        end: newEnd
      })
    })
  }

  /**
   * Get the selected end timestamp from the url.
   */
  get endDate (): number {
    if (typeof this.$route.query.end === 'string') {
      return parseInt(this.$route.query.end)
    } else if (typeof this.$route.query.end === 'number') {
      return this.$route.query.end
    }
    return dayjs().endOf('day').unix()
  }
}

</script>
