<template>
  <div>
    <!-- Spinner until loaded -->
    <spinner v-if="!loaded"></spinner>
    <div v-if="loaded">
      <!-- Top bar for selecting devices -->
      <top-with-dropdown
        :title="lifeguardName + ' - VPN Alerts'"
        :dropdownItems="devices"
        v-model="selectedMac"
      />
      <!-- Show if no attempts -->
      <b-message
        type="is-success"
        v-if="displayAttempts.length === 0"
      >
        Good news! No VPN Attempts detected.
        <a
          class="action"
          @click="showExplainer = true"
        >
          <span>What's this?</span>
        </a>
      </b-message>
      <!-- Show if attempts -->
      <b-message
        type="is-danger"
        v-if="displayAttempts.length !== 0"
      >
        {{ displayAttempts.length }} VPN Attempt{{ displayAttempts.length === 1 ? '' : 's' }} detected.
        <a
          class="action"
          @click="showExplainer = true"
        >
          <span>What's this?</span>
        </a>
      </b-message>
      <!-- Select all and delete buttons -->
      <div class="mb-4">
        <b-button
          @click="selectAll"
        >
          {{ Object.keys(deleteAttempts).length ? 'Deselect' : 'Select' }} All
        </b-button>
        <b-button
          type="is-danger"
          class="ml-3"
          @click="showDeleteDialog = true"
          :disabled="!Object.keys(deleteAttempts).length"
        >
          Delete {{ Object.keys(deleteAttempts).length }} items
        </b-button>
      </div>
      <!-- Show attempts, if any -->
      <div
        v-for="(attempt, idx) in displayAttempts"
        class="list-item"
        :class="{ 'top-item': idx === 0 }"
        :key="idx"
      >
        <!-- Print name and date and checkbox -->
        <span>
          <b-checkbox
            type="is-danger"
            :value="deleteAttempts[attempt.id] === true"
            @input="updateDelete(attempt.id, $event)"
          />
          <strong>{{ devices[attempt.mac] }}</strong> &middot; {{ formatTime(attempt.started) }}
        </span>
        <div style="flex-grow: 1"></div>
        <action text="More Info" @click="showMore = idx"/>
        <a class="action" @click="showMore = idx">
          <span>More Info</span>
          <b-icon icon="chevron-right" size="is-small"></b-icon>
        </a>
      </div>
    </div>
    <!-- VPN Explainer -->
    <vpn-explainer-modal
      v-if="showExplainer"
      v-on:new-active="showExplainer = $event"
    ></vpn-explainer-modal>
    <!-- Modal for finishing delete -->
    <b-modal
      v-if="showDeleteDialog"
      :active="true"
      @update:active="showDeleteDialog = false"
    >
      <div class="modal-inner">
        <b-field label="Flag Attempt(s) as innaccurate">
          <b-checkbox v-model="flagInnaccurate"/>
        </b-field>
        <b-button
          type="is-danger"
          @click="finishDelete"
          :loading="deleting"
        >
          Delete {{ Object.keys(deleteAttempts).length }} items
        </b-button>
      </div>
    </b-modal>
    <!-- Modal for all details -->
    <b-modal
      v-if="showMore !== null"
      :active="true"
      v-on:update:active="showMore = $event ? showMore : null"
      style="z-index: 100"
    >
      <div class="modal-inner">
        <!-- Show details in table -->
        <table>
          <tr class="top-item">
            <th>
              Protocol
            </th>
            <td>
              {{ displayAttempts[showMore].protocol }}
            </td>
          </tr>
          <tr>
            <th>
              Source IP
            </th>
            <td>
              {{ displayAttempts[showMore].sourceIP }}
            </td>
          </tr>
          <tr>
            <th>
              Destination IP
            </th>
            <td>
              {{ displayAttempts[showMore].destIP }}
            </td>
          </tr>
          <tr v-if="displayAttempts[showMore].sourcePort !== -1">
            <th>
              Source Port
            </th>
            <td>
              {{ displayAttempts[showMore].sourcePort }}
            </td>
          </tr>
          <tr v-if="displayAttempts[showMore].destPort !== -1">
            <th>
              Destination Port
            </th>
            <td>
              {{ displayAttempts[showMore].destPort }}
            </td>
          </tr>
          <tr v-if="displayAttempts[showMore].connectionSize !== -1">
            <th>
              Data Sent/Received
            </th>
            <td>
              {{ displayAttempts[showMore].connectionSize }} MB
            </td>
          </tr>
          <tr>
            <th>
              Time Started
            </th>
            <td>
              {{ formatTime(displayAttempts[showMore].started) }}
            </td>
          </tr>
        </table>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import TopWithDropdown from '@/components/common/top-with-dropdown.vue'
import GetDevices from '@/requests/devices/get-devices'
import GetVPNAttempts, { VPNAttempt } from '@/requests/vpns/get-attempts'
import VpnExplainerModal from '@/components/vpns/vpn-explainer-modal.vue'
import dayjs from 'dayjs'
import DeleteVPNAttempt from '@/requests/vpns/delete-attempt'

@Component({
  components: {
    TopWithDropdown,
    VpnExplainerModal
  }
})
export default class VpnAlerts extends Vue {
  /**
   * Whether the initial state has loaded.
   */
  loaded = false
  /**
   * Map from device MAC to display name.
   */
  devices: {[mac: string]: string} = {}
  /**
   * All VPN attempts. Not necessarily displayed,
   * that's a computed property.
   */
  allAttempts: VPNAttempt[] = []
  /**
   * Whether blocking of the VPNs is enabled.
   */
  blockVPNs: boolean | null = null
  /**
   * Whether we are showing the explainer.
   */
  showExplainer = false
  /**
   * Index of the device we're showing more
   * info for (or null, if we're not).
   */
  showMore: number | null = null
  /**
   * The name of the lifeguard we're viewing attempts for.
   */
  lifeguardName = ''
  /**
   * Map from attempt ID to whether to delete.
   */
  deleteAttempts: {[attemptID: number]: boolean} = {}
  /**
   * Whether to show deleting dialog.
   */
  showDeleteDialog = false
  /**
   * Whether to flag attempts as innaccurate.
   */
  flagInnaccurate = false
  /**
   * Whether we are currently deleting.
   */
  deleting = false

  /**
   * Requests
   */
  getDevices = new GetDevices()
  getVpnAttempts = new GetVPNAttempts()
  deleteVPNAttempt = new DeleteVPNAttempt()

  /**
   * Load the initial state.
   */
  mounted () {
    Promise.all([
      // Load devices
      this.getDevices.handle().then(devices => {
        this.devices = {}
        this.devices['all'] = 'All Devices'
        devices.lifeguards
          .filter(lifeguard => lifeguard.id === this.lifeguardID)
          .forEach(lifeguard => {
            this.lifeguardName = lifeguard.name
            lifeguard.devices.forEach(device => {
              this.devices[device.mac] = device.name
            })
          })
      }),
      // Load VPN Attempts
      this.getVpnAttempts.handle(this.lifeguardID).then(attempts => {
        this.allAttempts = attempts
      })
    ]).then(() => {
      // Load loading
      this.loaded = true
      this.$emit('update:loading', false)
    })
  }

  /**
   * Format a unix timestamp (seconds) to
   * a string.
   */
  formatTime (unix: number): string {
    return dayjs.unix(unix).format('dddd, MMMM D YYYY, h:mm:ss a')
  }

  /**
   * Update an attempt to be deleted or not.
   */
  updateDelete (attemptID: number, del: boolean) {
    if (del) {
      this.$set(this.deleteAttempts, attemptID, true)
    } else {
      // Use $set so vue notices and delete so it's actually gone
      this.$set(this.deleteAttempts, attemptID, false)
      delete this.deleteAttempts[attemptID]
    }
  }

  /**
   * Either select or deselect all.
   */
  selectAll () {
    if (Object.keys(this.deleteAttempts).length) {
      // Deselect all
      this.deleteAttempts = {}
    } else {
      // Select all
      this.displayAttempts.forEach(attempt => {
        this.$set(this.deleteAttempts, attempt.id, true)
      })
    }
  }

  /**
   * Actually delete the selected attempts.
   */
  finishDelete () {
    this.deleting = true
    Promise.all(
      Object.keys(this.deleteAttempts).map(attemptID => {
        this.deleteVPNAttempt.handle({
          id: parseInt(attemptID),
          innaccurate: this.flagInnaccurate
        })
      })
    ).then(() => {
      // Done, remove visually and reset state
      this.allAttempts = this.allAttempts.filter(attempt => !this.deleteAttempts[attempt.id])
      this.deleteAttempts = {}
      this.flagInnaccurate = false
      this.deleting = false
      this.showDeleteDialog = false
    })
  }

  /**
   * @returns The list of VPN attempts to display, sorted and filtered.
   */
  get displayAttempts (): VPNAttempt[] {
    if (this.allAttempts) {
      return this.allAttempts
        // Show only attempts for the current device, unless we are showing all
        .filter(attempt => this.selectedMac === 'all' || attempt.mac === this.selectedMac)
        // Sort by most recent first
        .sort((a, b) => b.started - a.started)
    } else {
      return []
    }
  }

  /**
   * Get the selected device MAC from the URL.
   */
  get selectedMac (): string {
    if (typeof this.$route.query.mac === 'string') {
      return this.$route.query.mac
    } else {
      return 'all'
    }
  }

  /**
   * Store the selected device MAC in the URL.
   */
  set selectedMac (newMac: string) {
    this.deleteAttempts = {}
    if (newMac !== this.selectedMac) {
      this.$router.push({
        name: 'VPNAlerts',
        query: {
          mac: newMac,
          id: this.lifeguardID
        }
      })
    }
  }

  get lifeguardID (): string {
    if (typeof this.$route.query.id === 'string') {
      return this.$route.query.id
    }
    return ''
  }
}

</script>

<style scoped>
.top-item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.modal-inner {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

table {
  margin: auto;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.blocking-toggle {
  display: flex;
  align-items: center;
}

.blocking-toggle span {
  margin-right: 10px;
}

.settings {
  cursor: pointer;
}
</style>
