<template>
  <div :class="{ faded: loading }" class="outer">
    <div
      class="top-container px-4 py-3 has-text-black is-flex is-align-items-center"
    >
      <div>
        <div class="is-family-secondary has-text-weight-semibold is-size-5">Registration</div>
      </div>
    </div>
    <resolve-device-quota
      v-if="resolvingQuota"
      :quota="quota"
      :showMoreInfo="true"
      @done="resolvingQuota = false"
    />
    <b-steps
      v-else
      :has-navigation="false"
      v-model="currStep"
    >
      <!-- Step for naming the device -->
      <b-step-item label="Device" :clickable="false" icon="cellphone-link">
        <div class="is-flex is-align-items-center has-text-grey">
          <b-icon
            size="is-medium"
            icon="cellphone-link"
          />
          <div class="px-5 my-3">
            Link your Safe Surfer account to block sites and watch this device's activity
            remotely.
          </div>
        </div>
        <b-field label="Name" message="How this device will show in the dashboard.">
          <b-input
            v-model="deviceName"
            type="text"
            autocomplete="off"
            ref="deviceName"
            @keyup.native="$event.key === 'Enter' && createDevice()"
          />
        </b-field>
        <div class="is-flex is-justify-content-center">
          <b-button
            type="is-primary"
            icon-left="arrow-right"
            @click="createDevice"
          >
            Next
          </b-button>
        </div>
      </b-step-item>
      <b-step-item label="Finish" :clickable="false" icon="check">
        <div class="is-flex is-align-items-center has-text-grey">
          <b-icon
            size="is-medium"
            icon="cellphone-link"
          />
          <div class="px-5 my-3">
            Device registered as <strong>{{ deviceName }}</strong>.
          </div>
        </div>
        <b-field message="Please select Open to finish logging in to the Safe Surfer app. You can close this tab once the app opens.">
          <b-button
            class="mt-3"
            type="is-primary"
            icon-left="check"
            label="Finish"
            @click="finish"
          />
        </b-field>
      </b-step-item>
    </b-steps>
  </div>
</template>

<script lang="ts">
import { getLoginRoute, hasValidAuth } from '@/helpers/functions'
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import PostDevice from '@/requests/devices/post-device'
import GetDeviceDnsToken from '@/requests/devices/get-device-dns-token'
import GetQuota, { Quota } from '@/requests/quotas/get-quota'

@Component({
  components: {
    ResolveDeviceQuota: () => import('@/components/device-setup/resolve-device-quota.vue')
  }
})
export default class WindowsRegistration extends Vue {
  @Prop() readonly loading: boolean | undefined;

  currStep = 0
  deviceName = ''
  deviceId = ''
  dnsToken = ''
  quota: Quota | null = null
  resolvingQuota = false

  postDevice = new PostDevice()
  getDeviceDnsToken = new GetDeviceDnsToken()
  getQuota = new GetQuota()

  mounted () {
    if (!hasValidAuth()) {
      this.$router.push(getLoginRoute(this.$route, this.$route.fullPath))
      return
    }
    if (typeof this.$route.query.name === 'string') {
      this.deviceName = this.$route.query.name
    }
    this.getQuota.handle('devices').then(quota => {
      this.quota = quota.spec
      if (this.quota.currentValue >= this.quota.maxValue) {
        this.resolvingQuota = true
      }
      this.$emit('update:loading', false)
    })
  }

  createDevice () {
    this.$emit('update:loading', true)
    this.postDevice.handle({
      type: 'desktop',
      os: 'windows',
      name: this.deviceName
    }).then(id => {
      this.deviceId = id
      this.getDeviceDnsToken.handle(id).then(token => {
        this.dnsToken = token
        this.currStep++
        this.$emit('update:loading', false)
      })
    })
  }

  finish () {
    const uri = 'safesurfer-app:' + btoa(JSON.stringify({
      DnsToken: this.dnsToken,
      Secret: this.$route.query.secret as string,
      DeviceId: this.deviceId
    }))
    console.log(uri)
    window.location.href = uri
  }
}
</script>

<style scoped>
.top-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.8;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.faded {
  opacity: 0.4;
}

.outer {
  max-width: 500px;
  margin: auto;
}

.shifted-up {
  margin-top: -60px;
}
</style>
