<template>
  <div>
    Mac DNS Setup
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'

@Component
export default class MacDNSSetup extends Vue {
}
</script>

<style scoped>

</style>
