<template>
  <generic-dns-device-setup
    @update:id="setID($event)"
    @update:token="token = $event"
    :showLinkedIpCheckbox="true"
    :linkIp.sync="linkIp"
    entityname="device or network"
    initname="Custom device"
  >
    <div slot="setup" v-if="servers">
      <strong>1. Change DNS Settings</strong><br/>
      <p>
        If the device can change its DNS settings using any common protocol, you can make it use
        Safe Surfer.<br/><br/>
      </p>
      <p>
        <strong>Plain DNS:</strong><br/>
        <span v-if="linkIp">
          Your current IP has been linked so that you can apply custom settings to this device
          using plain DNS.
        </span>
        Just change the primary/secondary servers to these:<br/><br/>
        Primary IPv4: <copy-text :text="servers.v4[0]"/><br/>
        Secondary IPv4: <copy-text :text="servers.v4[1]"/><br/>
        Primary IPv6: <copy-text :text="servers.v6[0]"/><br/>
        Secondary IPv6: <copy-text :text="servers.v6[1]"/><br/>
        <br/>
        If the device supports DoT (DNS over TLS) or DoH (DNS over HTTPS), we recommend using one of these instead.
        Paste your new custom link:<br/><br/>
        <strong>DOT:</strong><br/>
        <copy-text :text="token + '.' + BASE_DOT_URL"/><br/><br/>
        <strong>DOH:</strong><br/>
        <copy-text :text="DOH_URL + token"/><br/>
        <br/>
      </p>
      <strong>2. Done!</strong><br/>
      <p>
        Once the changes have been applied, you should now be protected. You can click the widget below
        to check if you are protected.<br/><br/>

        <protection :noDropdown="true" /><br/><br/>

        If you have any issues, please let us know at the <a href="https://helpdesk.safesurfer.io" target="blank">helpdesk</a>.
        <br/><br/>
      </p>
      <b-button
        type="is-primary"
        icon-left="check"
        @click="onDone"
      >
        Done
      </b-button>
      <b-modal
        v-if="linkedSourceIpErr !== null"
        :active="true"
        @update:active="linkedSourceIpErr = null"
      >
        <linked-ip-warning :reason="linkedSourceIpErr"/>
      </b-modal>
    </div>
  </generic-dns-device-setup>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import CopyText from '@/components/common/copy-text.vue'
import Protection from '@/components/common/protection.vue'
import { getBestPlainDnsServers, getDohURL, getDotHost, IpResults, linkSourceIp, LinkSourceIpResult, PlainDnsServers } from '@/helpers/functions'
import LinkedIpWarning from '@/components/my-devices/linked-ip-warning.vue'

@Component({
  components: {
    GenericDnsDeviceSetup,
    CopyText,
    Protection,
    LinkedIpWarning
  }
})
export default class AdvancedDnsSetup extends Vue {
  id = ''
  token = ''
  linkIp = false
  linkedSourceIpErr: LinkSourceIpResult | null = null
  linkIpResults: IpResults | null = null
  servers: PlainDnsServers | null = null

  BASE_DOT_URL = getDotHost()
  DOH_URL = getDohURL()

  onDone () {
    this.$emit('done', this.id)
  }

  setID (id: string) {
    this.id = id
    getBestPlainDnsServers().then(servers => {
      this.servers = servers
      if (this.linkIp) {
        linkSourceIp(id).then(result => {
          this.linkIpResults = result
          if (result.ip4 === LinkSourceIpResult.Conflict || result.ip4 === LinkSourceIpResult.Unknown) {
            this.linkedSourceIpErr = result.ip4
          } else if (result.ip6 === LinkSourceIpResult.Conflict || result.ip6 === LinkSourceIpResult.Unknown) {
            this.linkedSourceIpErr = result.ip6
          }
        })
      }
    })
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
