<template>
  <div>
    <spinner v-if="loading">

    </spinner>
    <div v-else>
      <strong>Tutorial guides</strong>
      <br/>
      <p>
        If you would like to read or watch a tutorial guide for the installation process, click an option below. Otherwise, continue with step 1.
      </p>
      <b-button type="is-success" tag="a" href="https://helpdesk.safesurfer.io/en-nz/article/protect-an-android-device-with-safe-surfer-1d7pmt5/" target="_blank" class="mt-3">Full tutorial guide (recommended)</b-button>
      <collapse
        title="Short tutorial video"
        class="mt-5"
      >
        <div>
          <video controls width="250">
            <source src="@/assets/setup-images/safesurfer-android-install.webmhd.webm"
              type="video/webm">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
      </collapse>
      <br/>
      <strong>Step 1: Download app</strong><br/>
      <p>
        Open the Play Store app on the device to be protected. Search for "safe surfer", then download and open the Safe Surfer app.
      </p>
      <br />
      <strong>Step 2: Install protection</strong><br/>
      <div v-if="showQr">
        <p class="mb-2">
          Inside the Safe Surfer app, after entering a name for the device to be protected, tap the Scan option in the login section and use the following QR code.
        </p>
        <img :src="qrUrl" width="250px"/>
        <b-field label="Lock account settings" message="Lock the new device out of your Safe Surfer account settings." v-if="showQr">
          <b-checkbox v-model="lockdownMode"/>
        </b-field>
      </div>
      <p v-else>
        Just log in using this account to complete setup.
        Watch the video below if you need help.
      </p>
      <wait-for-device-added
      class="mt-2"
      expectedDeviceGroup="mobile"
      expectedDeviceType="android-device"
      @done="$emit('done', $event)"
    />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import WaitForDeviceAdded from '@/components/device-setup/wait-for-device-added.vue'
import Collapse from '@/components/common/collapse.vue'
import { isDevEnvironment } from '@/helpers/functions'
import Spinner from '@/components/common/spinner.vue'
import PostQrSigninToken from '@/requests/user-v2/post-qr-signin-token'
import GetQrSigninTokenImage from '@/requests/user-v2/get-qr-signin-token-image'
import dayjs from 'dayjs'
import { Watch } from 'vue-property-decorator'

@Component({
  components: {
    WaitForDeviceAdded,
    Collapse,
    Spinner
  }
})
export default class AndroidAppSetup extends Vue {
  loading = true
  done = false
  id = ''
  qrUrl = ''
  timeoutRef = 0
  lockdownMode = true

  postQrSigninToken = new PostQrSigninToken()
  getQrSigninTokenImage = new GetQrSigninTokenImage()

  mounted () {
    if (this.showQr) {
      this.loadQr()
    } else {
      this.loading = false
    }
  }

  @Watch('lockdownMode') loadQr () {
    this.loading = true
    this.postQrSigninToken.handle(!this.lockdownMode ? { roles: [], metadata: {} } : { roles: ['android'], metadata: {} }).then(token => {
      clearTimeout(this.timeoutRef)
      this.timeoutRef = setTimeout(() => {
        this.loadQr()
      }, (token.spec.expiry - dayjs().unix()) * 1000)
      this.getQrSigninTokenImage.handle(token.spec.token).then(data => {
        this.qrUrl = URL.createObjectURL(data)
        this.loading = false
      })
    })
  }

  onDone () {
    this.$emit('done', this.id)
  }

  showDone (deviceID: string) {
    this.done = true
    this.id = deviceID
    this.$buefy.snackbar.open({
      message: 'Device added!',
      type: 'is-success',
      actionText: 'View',
      duration: 10000,
      onAction: () => {
        this.onDone()
      }
    })
  }

  get showQr (): boolean {
    return true
  }

  beforeDestroy () {
    clearTimeout(this.timeoutRef)
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
