<template>
  <div>
    <strong>1. Open Settings</strong>
      <p>
        <br/>Locate the search bar:<br/>
        <img src="@/assets/setup-images/android-private-dns/1.jpg" class="portrait-image mt-2"/>
      </p>
      <strong><br/>2. Search for "private dns" and select</strong><br/><br/>
      <p>
        <img src="@/assets/setup-images/android-private-dns/2.jpg" class="portrait-image"/>
      </p>
      <strong><br/>3. Select "Private DNS"</strong><br/><br/>
      <p>
        <img src="@/assets/setup-images/android-private-dns/3.jpg" class="portrait-image"/>
      </p>
      <strong><br/>4. Use Safe Surfer DNS</strong><br/>
      <p>
        <br/>Select "Private DNS provider hostname", then enter <copy-text :text="token + '.' + BASE_DOT_URL"/> and hit "Save".<br/><br/>
        <img src="@/assets/setup-images/android-private-dns/4.jpg" class="portrait-image"/>
      </p>
      <strong><br/>5. Test it out</strong><br/>
      <p>
        <br/>Once saved, wait a few seconds. The settings should now show the URL you entered.<br/><br/>
        <img src="@/assets/setup-images/android-private-dns/5.jpg" class="portrait-image"><br/><br/>
        Once the changes have been applied, you should now be protected. You can click the widget below
        to check if you are protected.<br/><br/>

        <protection :noDropdown="true" /><br/><br/>
      </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Protection from '@/components/common/protection.vue'
import { Prop } from 'vue-property-decorator'
import { getDotHost } from '@/helpers/functions'
import CopyText from '@/components/common/copy-text.vue'

@Component({
  components: {
    Protection,
    CopyText
  }
})
export default class AndroidPrivateDnsInstructions extends Vue {
  @Prop() readonly token: string | undefined

  BASE_DOT_URL = getDotHost()
}

</script>

<style scoped>
.portrait-image {
  height: 400px;
}
</style>
