<template>
  <generic-dns-device-setup
    @update:token="token = $event"
    @update:id="id = $event"
    entityname="device"
    initname="Android device"
  >
    <div slot="setup">
      <b-field label="What device would you like to protect?" class="mt-2">
        <b-radio
          v-model="thisDevice"
          :native-value="true"
        >
          This device
        </b-radio>
      </b-field>
      <b-field class="mb-4">
        <b-radio
          v-model="thisDevice"
          :native-value="false"
        >
          A different device
        </b-radio>
      </b-field>
      <div v-if="thisDevice" class="mb-4">
        <android-private-dns-instructions
          :token="token"
        />
      </div>
      <div v-else>
        <collapse
          title="Option 1: Scan QR code"
          :open="true"
        >
          Open the Camera app on the device that you'd like to protect, then scan the following QR code to open the protection link.
          <br />
          <br />
          <img v-if="qrUrl" :src="qrUrl" width="250px"/>
        </collapse>
        <collapse
          title="Option 2: Copy link"
        >
          Click the Copy link button, then send the link to the device that you'd like to protect.
          <br />
          <br />
          <copy-text
            :text="instructionsLink"
            button="Copy link"
          />
        </collapse>
      </div>
      <br />
      <b-button
        label="Done"
        type="is-primary"
        icon-left="check"
        @click="onDone"
      />
    </div>
  </generic-dns-device-setup>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import CopyText from '@/components/common/copy-text.vue'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import AndroidPrivateDnsInstructions from '@/components/device-setup/android-private-dns-instructions.vue'
import Collapse from '@/components/common/collapse.vue'
import qs from 'qs'
import GetProfileSetupQr from '@/requests/devices-v2/get-profile-setup-qr'
import { Watch } from 'vue-property-decorator'
import { getOS } from '@/helpers/constants'

@Component({
  components: {
    GenericDnsDeviceSetup,
    CopyText,
    AndroidPrivateDnsInstructions,
    Collapse
  }
})
export default class AndroidPrivateDnsSetup extends Vue {
  token = ''
  id = ''
  thisDevice = false
  qrUrl = ''

  getProfileSetupQr = new GetProfileSetupQr()

  mounted () {
    this.thisDevice = getOS() === 'Android'
  }

  /**
   * @returns The current URL.
   */
  get thisURL (): string {
    return window.location.href
  }

  onDone () {
    this.$emit('done', this.id)
  }

  @Watch('token') getQr (token: string) {
    this.getProfileSetupQr.handle({
      type: 'android-private-dns',
      token: token,
      'blocked-categories': ''
    }).then(qr => {
      this.qrUrl = URL.createObjectURL(qr)
    })
  }

  get instructionsLink (): string {
    return window.location.origin + '/profile-setup?' + qs.stringify({
      'type': 'android-private-dns',
      'token': this.token
    })
  }
}
</script>
