<template>
  <generic-dns-device-setup
    class="pt-3"
    @update:token="token = $event"
    @update:id="deviceID = $event"
    entityname="device"
    initname="Apple mobile device"
  >
    <div slot="setup" v-if="blockedCategories">
      <strong>Tutorial guides</strong>
      <br/>
      <p>
        If you would like to read a tutorial guide for the installation process, click the button below. Otherwise, continue with the following instructions.
      </p>
      <b-button type="is-success" tag="a" href="https://helpdesk.safesurfer.io/en-nz/article/install-safe-surfer-with-ios-dns-profile-jpkir8/#1-step-2-install-protection" target="_blank" class="mt-3">Full tutorial guide (recommended)</b-button>
      <br/>
      <br/>
      <b-field label="What device would you like to protect?" class="mt-2">
        <b-radio
          v-model="thisDevice"
          :native-value="true"
        >
          This device
        </b-radio>
      </b-field>
      <b-field class="mb-4">
        <b-radio
          v-model="thisDevice"
          :native-value="false"
        >
          A different device
        </b-radio>
      </b-field>
      <div v-if="thisDevice" class="mb-4">
        <ios-profile-instructions
          :token="token"
          :blockedCategories="blockedCategories"
        />
      </div>
      <div v-else class="mb-4">
        <collapse
          title="Option 1: Scan QR code"
          :open="true"
        >
          Open the Camera app on the device that you'd like to protect, then scan the following QR code to open the protection link.
          <img v-if="qrUrl" :src="qrUrl" width="250px"/>
        </collapse>
        <collapse
          title="Option 2: Copy link"
        >
          Click the Copy link button, then send the link to the device that you'd like to protect.
          <br />
          <br />
          <copy-text
            :text="instructionsLink"
            button="Copy link"
          />
        </collapse>
      </div>
      <b-button
        type="is-primary"
        icon-left="check"
        @click="onDone"
      >
        Done
      </b-button>
    </div>
  </generic-dns-device-setup>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import CopyText from '@/components/common/copy-text.vue'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import { getOS } from '@/helpers/constants'
import IosProfileInstructions from '@/components/device-setup/ios-profile-instructions.vue'
import Collapse from '@/components/common/collapse.vue'
import qs from 'qs'
import GetProfileSetupQr from '@/requests/devices-v2/get-profile-setup-qr'
import { Watch } from 'vue-property-decorator'
import { getBlockedBaseCategories } from '@/helpers/functions'

@Component({
  components: {
    CopyText,
    GenericDnsDeviceSetup,
    IosProfileInstructions,
    Collapse
  }
})
export default class AppleMobileconfigSetup extends Vue {
  token = ''
  blockedCategories: number[] | null = null
  deviceID = ''
  thisDevice = false
  qrUrl = ''

  getProfileSetupQr = new GetProfileSetupQr()

  mounted () {
    this.thisDevice = getOS() === 'iOS'
  }

  onDone () {
    this.$emit('done', this.deviceID)
  }

  @Watch('token') getQr (token: string) {
    getBlockedBaseCategories(this.deviceID).then(blockedCategories => {
      this.blockedCategories = blockedCategories
      this.getProfileSetupQr.handle({
        type: 'ios',
        token: token,
        'blocked-categories': JSON.stringify(this.blockedCategories)
      }).then(qr => {
        this.qrUrl = URL.createObjectURL(qr)
      })
    })
  }

  get instructionsLink (): string {
    return window.location.origin + '/profile-setup?' + qs.stringify({
      'type': 'ios',
      'token': this.token,
      'blocked-categories': JSON.stringify(this.blockedCategories)
    })
  }
}
</script>

<style scoped>
p {
  padding: 10px;
}

img {
  margin: 15px 0px 0px 0px;
}

li {
  list-style-type: disc;
}
</style>
