<template>
  <div>
    <b-button
      tag="a"
      :href="url"
      target="blank"
      class="mt-3"
      icon-left="download"
    >
      Download
    </b-button>
  </div>
</template>

<script lang="ts">
import { getBaseURL } from '@/helpers/functions'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import qs from 'qs'

@Component
export default class AppleMobileConfigDownload extends Vue {
  @Prop() readonly token: string | undefined
  @Prop() readonly profile: string | undefined
  @Prop() readonly blockedCategories: number[] | undefined  
  @Prop() readonly removalPassword: string | undefined

  get url (): string {
    if (!this.token || !this.profile) {
      return ''
    }
    return getBaseURL() + '/v2/devices/apple-mobileconfig?' + qs.stringify({
      'dns-token': this.token,
      'profile-name': this.profile,
      'blocked-categories': this.blockedCategories,
      'removal-password': this.removalPassword ? this.removalPassword : undefined
    }, {
      arrayFormat: 'repeat'
    })
  }
}
</script>
