<template>
  <generic-dns-device-setup
    @update:token="token = $event"
    @update:id="id = $event"
    entityname="browser"
    initname="Chrome browser app"
  >
  <!-- Enter firefox details -->
  <div slot="setup">
    <div ref="stepStart">
      <b-tabs>
        <b-tab-item icon="laptop" label="Desktop">
          <strong>1. Get Chrome</strong><br/>
          <p>
            If you don't have Chrome, download and install it from
            <a href="https://www.google.com/chrome/" target="blank">here</a>.
          </p>
          <strong>2. Open Chrome and click the menu icon at the top right</strong>
          <p>
            <br/>
            <img src="@/assets/setup-images/chrome/desktop-1.png"/>
          </p>
          <strong>3. Click "Settings"</strong>
          <p>
            <br/>
            <img src="@/assets/setup-images/chrome/desktop-2.png"/>
          </p>
          <strong>4. Scroll down to the Privacy and security section. Click the Security menu.</strong>
          <p>
            <br/>
            <img src="@/assets/setup-images/chrome/desktop-3.png"/>
          </p>
          <strong>5. Switch to Safe Surfer</strong><br/>
          <p>
            Scroll down to the "Advanced" section. Make sure:
            <ul>
              <li>
                "Use secure DNS" is enabled.
              </li>
              <li>
                "With Custom" is checked.
              </li>
            </ul>
            Then, copy the DoH link for this browser <copy-text :text="dohURL" button="Copy Link"/> and paste in the text field.<br/>
            <img src="@/assets/setup-images/chrome/desktop-4.png"/>
          </p>
          <b-button
            type="is-primary"
            icon-left="check"
            @click="onDone"
          >
            Done
          </b-button>
        </b-tab-item>
        <b-tab-item icon="android" label="Android">
          <strong>1. Open Chrome and and tap the menu icon at the top right.</strong>
          <p>
            <br/>
            <img src="@/assets/setup-images/chrome/android-1.png"/>
          </p>
          <strong>2. Tap the Settings button.</strong>
          <p>
            <br/>
            <img src="@/assets/setup-images/chrome/android-2.png"/>
          </p>
          <strong>3. Under Basics, tap Privacy.</strong>
          <p>
            <br/>
            <img src="@/assets/setup-images/chrome/android-3.png"/>
          </p>
          <strong>4. Tap the "Use secure DNS" menu.</strong>
          <p>
            <br/>
            <img src="@/assets/setup-images/chrome/android-4.png"/>
          </p>
          <strong>5. Switch to Safe Surfer</strong><br/>
          <p>
            Scroll down to the "Advanced" section. Make sure:
            <ul>
              <li>
                "Use secure DNS" is enabled.
              </li>
              <li>
                "Choose another provider" is checked.
              </li>
            </ul>
            Then, copy the DoH link for this browser <copy-text :text="dohURL" button="Copy Link"/> and paste in the text field.<br/>
            <img src="@/assets/setup-images/chrome/android-5.png"/>
          </p>
          <b-button
            type="is-primary"
            icon-left="check"
            @click="onDone"
          >
            Done
          </b-button>
        </b-tab-item>
      </b-tabs>
    </div>
  </div>
  </generic-dns-device-setup>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import CopyText from '@/components/common/copy-text.vue'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import { getDohURL } from '@/helpers/functions'

@Component({
  components: {
    CopyText,
    GenericDnsDeviceSetup
  }
})
export default class FirefoxDNSSetup extends Vue {
  /**
   * The DOH token allocated for the device.
   */
  token = ''
  id = ''

  BASE_DOH_URL = getDohURL()

  /**
   * @returns The built URL containing the user's token.
   */
  get dohURL (): string {
    return this.BASE_DOH_URL + this.token
  }

  onDone () {
    this.$emit('done', this.id)
  }
}
</script>

<style scoped>
p {
  padding: 10px;
}

img {
  margin: 15px 0px 0px 0px;
}

li {
  list-style-type: disc;
}
</style>
