<template>
  <generic-dns-device-setup
    @update:token="token = $event"
    @update:id="id = $event"
    entityname="device"
    initname="Chromebook device"
  >
  <!-- Enter firefox details -->
  <div slot="setup">
    <div ref="stepStart">
        <b-message
        type="is-warning"
        >
          If the Google account that your child uses on the Chromebook device is a school account (that is, a specific account provided for the child that is tied to the school, such as joe.bloggs@example.edu), the following steps are unlikely to be available.
          No problem—we can usually get this device to pick up at least some basic Safe Surfer protection from your home Wi-Fi. You can find out more by <a href="https://safesurfer.io/articles/guides/setup-internet-filtering-on-home-router/" target="_blank">clicking this link</a>.
          <br />
          <br />
          If you are using Google Family Link for your child's Google account, the following instructions won't work correctly. You'll first need to either <a href="https://support.google.com/families/answer/6286986?hl=en&co=GENIE.Platform%3DAndroid" target="_blank">remove Google Family Link control over your child's Google account</a> or <a href="https://safesurfer.io/articles/guides/setup-internet-filtering-on-home-router/" target="_blank">try installing our Wi-Fi filtering</a>.
        </b-message>
        <strong>Tutorial guides</strong>
        <br/>
        <p>
          If you would like to read a tutorial guide for the installation process, click the button below. Otherwise, continue with the following instructions.
        </p>
        <b-button type="is-success" tag="a" href="https://helpdesk.safesurfer.io/en-nz/article/protect-a-chromebook-device-with-safe-surfer-4eeo9/" target="_blank" class="mt-3">Full tutorial guide (recommended)</b-button>
        <br/>
        <br/>
          <strong>Step 1: Copy link</strong>
          <p>
		      Click the Copy link button. (If you're not on the Chromebook device itself, you'll need to send the link.)
          <br />
          <br />
          <copy-text :text="dohURL" button="Copy link" />
          <br />
          <br />
          </p>
          <strong>Step 2: Install protection</strong><br/>
          <p>
            Open the Launcher by clicking the Launcher button on the left-hand side of the shelf (that is, the taskbar). Click the Settings app, then click the Privacy and security menu on the left-hand sidebar.
            <br />
            <br />
            Under the <strong>Select DNS provider</strong> option, click the drop-down box, and select the <strong>Add custom DNS service provider</strong> option. Paste the link into the <strong>Enter custom DNS query URL</strong> text box by clicking the touchpad with two fingers > click Paste.
          </p>
          <br />
          <b-button
            type="is-primary"
            icon-left="check"
            @click="onDone"
          >
            Done
          </b-button>
    </div>
  </div>
  </generic-dns-device-setup>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import CopyText from '@/components/common/copy-text.vue'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import { getDohURL } from '@/helpers/functions'

@Component({
  components: {
    CopyText,
    GenericDnsDeviceSetup
  }
})
export default class FirefoxDNSSetup extends Vue {
  /**
   * The DOH token allocated for the device.
   */
  token = ''
  id = ''

  BASE_DOH_URL = getDohURL()

  /**
   * @returns The built URL containing the user's token.
   */
  get dohURL (): string {
    return this.BASE_DOH_URL + this.token
  }

  onDone () {
    this.$emit('done', this.id)
  }
}
</script>

<style scoped>
p {
  padding: 10px;
}

img {
  margin: 15px 0px 0px 0px;
}

li {
  list-style-type: disc;
}
</style>
