<template>
  <button-field-card
    v-if="device"
    :title="device.name"
    :loading="loading"
    :fields="loading ? [] : [
      [ 'Last Activity:', lastActiveStr ],
      [ 'Registered:', registeredStr ],
      [ 'Type:', deviceTypeStr ]
    ]"
    :buttons="showMoreInfo ? [
      [ 'info', 'More info' ],
      [ 'delete', 'Delete this device', 'is-danger' ]
    ] : [
      [ 'delete', 'Delete this device', 'is-danger' ]
    ]"
    :buttonLinks="{
      'info': {
        name: 'Device',
        query: {
          'device-id': device.id
        }
      }
    }"
    :icon="icon"
    @input-delete="deleteDevice"
  />
</template>

<script lang="ts">
import { APIDevice } from '@/requests/devices/get-devices'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import ButtonFieldCard from '@/components/common/button-field-card.vue'
import GetLastActivity from '@/requests/usage-v2/get-last-activity'
import dayjs from 'dayjs'
import DeleteDevice from '@/requests/devices-v2/delete-device'

@Component({
  components: {
    ButtonFieldCard
  }
})
export default class DeviceQuotaDetails extends Vue {
  @Prop() readonly device: APIDevice | undefined
  @Prop() readonly showMoreInfo: boolean | undefined
  @Prop() readonly auth: string | undefined

  loading = true
  lastActivity = 0

  getLastActivity = new GetLastActivity()

  mounted () {
    if (!this.device) {
      return
    }
    if (this.auth) {
      this.getLastActivity.setAuth(this.auth)
    }
    this.getLastActivity.handle({
      'device-id': this.device.id
    }).then(lastActivity => {
      this.lastActivity = lastActivity.spec
      this.loading = false
    })
  }

  deleteDevice () {
    if (!this.device) {
      return
    }
    const device = this.device
    const auth = this.auth
    this.$buefy.dialog.confirm({
      title: 'Delete device',
      message: 'Are you sure you want to delete ' + this.device.name + '? It cannot be recovered. Browsing history, blocked sites, and other data will be deleted for this device.',
      type: 'is-danger',
      confirmText: 'Delete ' + this.device.name,
      onConfirm: () => {
        this.loading = true
        const req = new DeleteDevice()
        if (this.auth) {
          req.setAuth(this.auth)
        }
        req.handle({
          id: device.id,
          mac: ''
        }).then(() => {
          this.$emit('done')
        })
      }
    })
  }

  /**
   * @returns A string describing when the device was last active.
   */
  get lastActiveStr (): string {
    if (this.lastActivity === 0) {
      return 'Never (or over 90 days ago)'
    }
    return dayjs.unix(this.lastActivity).fromNow()
  }

  /**
   * @returns A string of when the device was registered.
   */
  get registeredStr (): string {
    if (!this.device) {
      return ''
    }
    return dayjs.unix(this.device.registeredTime).fromNow()
  }

  /**
   * @returns A string of the device of device this is.
   */
  get deviceTypeStr (): string {
    if (!this.device) {
      return ''
    }
    switch (this.device.type) {
      case 'android-device':
        return 'Android'
      case 'ios-device':
        return 'iOS'
      case 'windows-device':
        return 'Windows'
      case 'dns-device':
        return 'DNS'
      case 'op-device':
        return this.device.mac ? 'Lifeguard Client' : 'Lifeguard'
    }
  }

  /**
   * @returns The icon for this device.
   */
  get icon (): string {
    if (!this.device) {
      return ''
    }
    switch (this.device.type) {
      case 'android-device':
        return 'cellphone'
      case 'ios-device':
        return 'cellphone'
      case 'windows-device':
        return 'laptop'
      case 'dns-device':
        return 'dns'
      case 'op-device':
        return 'router-wireless'
    }
  }
}
</script>