<template>
  <generic-dns-device-setup
    @update:id="id = $event"
    @update:token="token = $event"
    entityname="browser"
    initname="Edge browser app"
  >
  <!-- Enter edge details -->
  <div slot="setup">
    <div ref="stepStart">
      <strong>1. Get Edge</strong><br/>
      <p>
        If you don't have Edge, download and install it from
        <a href="https://www.microsoft.com/en-us/edge" target="blank">here</a>.
      </p>
      <strong>2. Open Edge and click the menu icon at the top right</strong>
      <p>
        <img src="@/assets/setup-images/edge/1.png"/>
      </p>
      <strong>3. Click "Settings"</strong>
      <p>
        <img src="@/assets/setup-images/edge/2.png"/>
      </p>
      <strong>4. Locate the search bar and type "DNS".</strong>
      <p>
        <img src="@/assets/setup-images/edge/3.png"/>
      </p>
      <strong>5. Switch to Safe Surfer</strong><br/>
      <p>
        Find the "Use secure DNS" section. Make sure:
        <ul>
          <li>
            "Use secure DNS" is enabled.
          </li>
          <li>
            "Choose a service provider" is checked.
          </li>
        </ul>
        Then, copy the DoH link for this browser <copy-text :text="dohURL" button="Copy Link"/> and paste in the text field.<br/>
        <img src="@/assets/setup-images/edge/4.png"/>
      </p>
      <b-button
        type="is-primary"
        icon-left="check"
        @click="onDone"
      >
        Done
      </b-button>
    </div>
  </div>
  </generic-dns-device-setup>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import CopyText from '@/components/common/copy-text.vue'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import { getDohURL } from '@/helpers/functions'

@Component({
  components: {
    CopyText,
    GenericDnsDeviceSetup
  }
})
export default class FirefoxDNSSetup extends Vue {
  /**
   * The DOH token allocated for the device.
   */
  token = ''
  id = ''

  BASE_DOH_URL = getDohURL()

  /**
   * @returns The built URL containing the user's token.
   */
  get dohURL (): string {
    return this.BASE_DOH_URL + this.token
  }

  onDone () {
    this.$emit('done', this.id)
  }
}
</script>

<style scoped>
p {
  padding: 10px;
}

img {
  margin: 15px 0px 0px 0px;
}

li {
  list-style-type: disc;
}
</style>
