<template>
  <div>
    <b-steps
      v-if="!loading"
      v-model="activeStep"
      :has-navigation="false"
    >
      <b-step-item icon="cog" :label="activeStep === 0 ? 'Compatibility' : ''" :clickable="false">
        <p class="mt-2">
          Scroll to the bottom of the Settings app on your Samsung device and check it has <strong>Knox</strong> and is running
          <strong>at least Android 11:</strong>
        </p>
        <b-carousel
          v-if="tablet"
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          :style="{width: mobile ? '250px' : '450px'}"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_compat_1.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_compat_2.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
        </b-carousel>
        <b-carousel
          v-else
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          style="width: 250px;"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_compat_1.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_compat_2.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_compat_3.jpg" width="250px" />
          </b-carousel-item>
        </b-carousel>
        <b-button
          class="mt-4"
          label="Confirm"
          icon-left="check"
          type="is-primary"
          @click="activeStep++;"
        />
      </b-step-item>
      <b-step-item icon="cogs" :label="activeStep === 1 ? 'Choose Profile' : ''" :clickable="false">
        <kid-safe-phone-profile-setup
          :tablet="tablet"
          @profile="profile = (tablet ? $event + '-tablet' : $event); activeStep++;"
        />
      </b-step-item>
      <b-step-item icon="cellphone-link" :label="activeStep === 2 ? 'Registration' : ''" :clickable="false">
        <p>
          Scroll to the bottom of the Settings app on your device again and locate its <strong>serial number</strong> and <strong>IMEI</strong>. 
        </p>
        <img v-if="tablet" class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_serial_1.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
        <b-carousel
          v-else
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          style="width: 250px;"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_serial_1.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_serial_2.jpg" width="250px" />
          </b-carousel-item>
        </b-carousel>
        <b-field
          label="Serial number"
          class="mt-2"
        >
          <b-input
            v-model="serial"
          />
        </b-field>
        <b-field
          label="IMEI"
          message="If your device has multiple IMEIs, only enter the first one. If it doesn't have one, leave this field blank."
        >
          <b-input
            v-model="imei"
          />
        </b-field>
        <b-button
          class="mb-4 mt-3"
          label="Confirm"
          icon-left="check"
          type="is-primary"
          @click="confirmSerial"
        />
      </b-step-item>
      <b-step-item icon="lock-reset" :label="activeStep === 3 ? 'Factory Reset' : ''" :clickable="false">
        <b-message
          title="Warning"
          type="is-danger"
          icon="alert-octagon"
        >
          Performing a factory reset will erase any apps and data currently on the device.
          <br/><br/>
          After this, it will be freshly set up as a new Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }}.
        </b-message>
        <p>
          To set up Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }}, factory reset the device by following the steps below:
        </p>
        <b-carousel
          v-if="tablet"
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          :style="{width: mobile ? '250px' : '450px'}"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_reset_1.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_reset_2.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_reset_3.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
        </b-carousel>
        <b-carousel
          v-else
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          style="width: 250px;"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_reset_1.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_reset_2.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_reset_3.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_reset_4.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_reset_5.jpg" width="250px" />
          </b-carousel-item>
        </b-carousel>
        <p class="mt-4">
          The factory reset will take a while. Once it's complete, your device should show its initial setup screen.
          <strong>Do not proceed to set up the device.</strong>
        </p>
        <p>
          Instead, hit the button below to see the next steps.
        </p>
        <b-button
          class="mt-4"
          label="Next"
          icon-right="arrow-right"
          type="is-primary"
          @click="activeStep++;"
        />
      </b-step-item>
      <b-step-item icon="cellphone-cog" :label="activeStep === 4 ? 'Setup' : ''" :clickable="false">
        <p>
          The initial setup screen should now be showing. To activate Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }}, <strong>draw a plus symbol</strong>
          in the middle of the screen as shown.
        </p>
        <p>
          Then, choose the option to scan a QR code.
        </p>
        <b-carousel
          v-if="tablet"
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          :style="{width: mobile ? '250px' : '450px'}"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_1.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_2.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_3.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
        </b-carousel>
        <b-carousel
          v-else
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          style="width: 250px;"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_1.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_2.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_3.jpg" width="250px" />
          </b-carousel-item>
        </b-carousel>
        <p>
          Once the QR code scanner is active, hit next.
        </p>
        <b-button
          class="mt-4"
          label="Next"
          icon-right="arrow-right"
          type="is-primary"
          @click="showProfileQr"
        />
      </b-step-item>
      <b-step-item icon="qrcode" :label="activeStep === 5 ? 'Scan' : ''" :clickable="activeStep > 5">
        <p class="mb-4">
          Scan the QR code to start setting up.
        </p>
        <kid-safe-phone-qr :profile="profile"/>
        <p class="mt-4">
          Once it's scanned, proceed through the following steps:
        </p>
        <b-carousel
          v-if="tablet"
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          :style="{width: mobile ? '250px' : '450px'}"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_4.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_5.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_6.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_7.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_8.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_9.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_10.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_11.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_12.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_13.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-tablet/existing_device_setup_14.jpg" v-bind="{width: mobile ? '250px' : '450px'}" />
          </b-carousel-item>
        </b-carousel>
        <b-carousel
          v-else
          class="mt-3"
          :autoplay="false"
          :indicator-background="true"
          :arrow-hover="false"
          indicator-position="is-top"
          style="width: 250px;"
        >
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_4.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_5.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_6.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_7.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_8.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_9.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_10.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_11.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_12.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_13.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_14.jpg" width="250px" />
          </b-carousel-item>
          <b-carousel-item>
            <img class="image" src="@/assets/setup-images/kid-safe-phone/existing_device_setup_15.jpg" width="250px" />
          </b-carousel-item>
        </b-carousel>
        <p class="mt-4">
          Hit next for the QR code needed by the Safe Surfer app.
        </p>
        <b-button
          class="mt-4"
          label="Next"
          icon-right="arrow-right"
          type="is-primary"
          @click="loadQr(true)"
        />
        <collapse
          class="mt-4"
          title="Help"
        >
          <ul>
            <li>
              If there are any errors during the enrolment process, hitting retry a few times will usually fix the issue.
            </li>
            <li>
              The device may appear to be usable for a minute or so before the setup process resumes.
            </li>
            <li>
              If the device stays on <span class="font-style: italic;">"Checking details..."</span> for more than a few minutes, try restarting the device
              and scanning the code again.
            </li>
            <li>
              If you get a message like <span class="font-style: italic;">"Your phone isn't registered to Safe Surfer or your Knox Configure profile wasn't authenticated."</span>,
              the Serial Number and/or IMEI were entered incorrectly. You will need to set the device up normally and repeat this guide.
            </li>
          </ul>
        </collapse>
      </b-step-item>
      <b-step-item icon="qrcode" :label="activeStep === 6 ? 'Scan' : ''" :clickable="false">
        <p class="mb-4">
          Scan the QR code to pair your Safe Surfer account. Then, enable the services you want to use
          to protect the device.
        </p>
        <div v-if="profile && profile.startsWith('intermediate')">
          <b-field label="Allow Samsung Internet (recommended)" message="Safe Surfer works with Samsung Internet to prevent workarounds. You may need to download this from the Galaxy Store.">
            <b-checkbox
              :value="unblockingArgs.unblockSBrowser"
              @input="$set(unblockingArgs, 'unblockSBrowser', $event)"
            />
          </b-field>
          <b-field label="Allow Google Chrome" message="Google Chrome is less safe for on-screen nudity detection scanning when compared with Samsung Internet.">
            <b-checkbox
              :value="unblockingArgs.unblockChrome"
              @input="$set(unblockingArgs, 'unblockChrome', $event)"
            />
          </b-field>
          <b-field label="Allow Galaxy Store" message="The Galaxy Store does not allow explicit content. Any downloaded apps will require further approval.">
            <b-checkbox
              :value="unblockingArgs.unblockGalaxyStore"
              @input="$set(unblockingArgs, 'unblockGalaxyStore', $event)"
            />
          </b-field>
          <b-field label="Allow Play Store" message="The Play Store may contain racy content in app previews. It's recommended to enable Play Store parental controls before allowing access. Any downloaded apps will require further approval.">
            <b-checkbox
              :value="unblockingArgs.unblockPlayStore"
              @input="$set(unblockingArgs, 'unblockPlayStore', $event)"
            />
          </b-field>
          <b-field
            label="YouTube Experience"
            message="Safe Vision is an app for supervised YouTube viewing, showing only parent-approved channels."
            class="mb-3"
          >
            <b-select
              :value="unblockingArgs.youtubeSetting"
              @input="$set(unblockingArgs, 'youtubeSetting', $event)"
            >
              <option
                :value="null"
              >
                No YouTube access
              </option>
              <option
                value="safe_vision"
              >
                Use Safe Vision App
              </option>
              <option
                :value="2"
              >
                YouTube App with Strict Automatic Filtering
              </option>
              <option
                :value="1"
              >
                YouTube App with Automatic Filtering
              </option>
              <option
                :value="0"
              >
                YouTube App with No Filtering
              </option>
            </b-select>
          </b-field>
        </div>
        <div v-if="profile && profile.startsWith('advanced')">
          <b-field label="Allow Facebook" message="Includes all versions of Messenger">
            <b-checkbox
              :value="unblockingArgs.unblockFacebook"
              @input="$set(unblockingArgs, 'unblockFacebook', $event)"
            />
          </b-field>
          <b-field label="Allow Instagram">
            <b-checkbox
              :value="unblockingArgs.unblockInstagram"
              @input="$set(unblockingArgs, 'unblockInstagram', $event)"
            />
          </b-field>
          <b-field label="Allow Reddit" message="Only the Reddit website is allowed, since the App allows explicit content.">
            <b-checkbox
              :value="unblockingArgs.unblockReddit"
              @input="$set(unblockingArgs, 'unblockReddit', $event)"
            />
          </b-field>
          <b-field label="Allow Snapchat">
            <b-checkbox
              :value="unblockingArgs.unblockSnapchat"
              @input="$set(unblockingArgs, 'unblockSnapchat', $event)"
            />
          </b-field>
          <b-field label="Allow TikTok">
            <b-checkbox
              :value="unblockingArgs.unblockTiktok"
              @input="$set(unblockingArgs, 'unblockTiktok', $event)"
            />
          </b-field>
          <b-field
            label="YouTube Experience"
            message="To keep using Safe Vision from the Explorer profile, select Blocked. This will not block the Safe Vision app."
            class="mb-3"
          >
            <b-select
              :value="unblockingArgs.youtubeSetting"
              @input="$set(unblockingArgs, 'youtubeSetting', $event)"
            >
              <option
                :value="null"
              >
                Blocked
              </option>
              <option
                :value="2"
              >
                Strict Automatic Filtering
              </option>
              <option
                :value="1"
              >
                Automatic Filtering
              </option>
              <option
                :value="0"
              >
                No Filtering
              </option>
            </b-select>
          </b-field>
        </div>
        <img :src="qrUrl" width="250px"/>
        <wait-for-device-added
          v-if="activeStep === 6"
          class="mt-3"
          expectedDeviceGroup="mobile"
          expectedDeviceType="android-device"
          @done="finalize($event)"
        />
      </b-step-item>
    </b-steps>
    <spinner v-else/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Spinner from '@/components/common/spinner.vue'
import Collapse from '@/components/common/collapse.vue'
import PostQrRequest from '@/requests/knox-api/post-qr-request'
import PostQrSigninToken from '@/requests/user-v2/post-qr-signin-token'
import GetQrSigninTokenImage from '@/requests/user-v2/get-qr-signin-token-image'
import WaitForDeviceAdded from '@/components/device-setup/wait-for-device-added.vue'
import dayjs from 'dayjs'
import { Prop } from 'vue-property-decorator'
import KidSafePhoneProfileSetup from './kid-safe-phone-profile-setup.vue'
import { Profile } from '@/requests/knox-api/put-device-profile'
import KidSafePhoneQr from './kid-safe-phone-qr.vue'
import { applyKspProfileSettings, UnblockingArgs } from '@/helpers/functions'

@Component({
  components: {
    Spinner,
    Collapse,
    WaitForDeviceAdded,
    KidSafePhoneProfileSetup,
    KidSafePhoneQr
  }
})
export default class ExistingKidSafePhoneSetup extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly tablet: boolean | undefined

  loading = false
  activeStep = 0
  imei = ''
  serial = ''
  qrUrl = ''
  timeoutRef = 0
  profile: Profile | null = null
  unblockingArgs: UnblockingArgs = {
    unblockSBrowser: true,
    unblockGalaxyStore: true,
    youtubeSetting: null
  }

  postQrRequest = new PostQrRequest()
  postQrSigninToken = new PostQrSigninToken()
  getQrSigninTokenImage = new GetQrSigninTokenImage()

  confirmSerial () {
    this.$buefy.dialog.confirm({
      type: 'is-primary',
      confirmText: 'Confirm',
      message: 'If the serial number or IMEI are incorrect, you will have to repeat this guide. Are you sure they are correct?',
      onConfirm: () => {
        this.activeStep++
      }
    })
  }

  showProfileQr () {
    if (!this.profile) {
      return
    }
    this.loading = true
    this.postQrRequest.handle({
      imei: this.imei.trim().replaceAll('/', ''),
      serial: this.serial.trim(),
      profile: this.profile
    }).then(resp => {
      this.activeStep++
    }).catch(resp => {
      if (resp && resp.meta && resp.meta.message === 'Couldn\'t post qr request: conflict') {
        this.$buefy.dialog.alert({
          message: 'Couldn\'t show QR code - either this device is already registered, or a pairing request is already in progress. Try deleting any Kid-Safe devices not in use, or waiting a while, then try again.',
          type: 'is-danger'
        })
      } else {
        this.$buefy.dialog.alert({
          message: 'Couldn\'t show QR code',
          type: 'is-danger'
        })
      }
    }).finally(() => {
      this.loading = false
    })
  }

  loadQr (incStep: boolean) {
    this.loading = true
    this.postQrSigninToken.handle({
      roles: ['android'],
      metadata: {
        'knox-imei': this.imei.trim().replaceAll('/', ''),
        'knox-serial': this.serial.trim(),
        'knox-profile': this.tablet ? 'basic-tablet' : 'basic',
        'form-factor': this.tablet ? 'tablet' : 'phone'
      }
    }).then(token => {
      clearTimeout(this.timeoutRef)
      this.timeoutRef = setTimeout(() => {
        this.loadQr(false)
      }, (token.spec.expiry - dayjs().unix()) * 1000)
      this.getQrSigninTokenImage.handle(token.spec.token).then(data => {
        this.qrUrl = URL.createObjectURL(data)
        this.loading = false
        if (incStep) {
          this.activeStep++
        }
      })
    })
  }

  finalize (deviceId: string) {
    if (!this.profile) {
      return
    }
    applyKspProfileSettings(this.profile, deviceId, this.unblockingArgs).then(() => {
      this.$emit('done', deviceId)
    })
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
