<template>
  <existing-kid-safe-device-setup
    :mobile="mobile"
    @done="$emit('done', $event)"
  />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import ExistingKidSafeDeviceSetup from '@/components/device-setup/existing-kid-safe-device-setup.vue'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {
    ExistingKidSafeDeviceSetup
  }
})
export default class ExistingKidSafePhoneSetup extends Vue {
  @Prop() readonly mobile: boolean | undefined
}
</script>
