<template>
  <generic-dns-device-setup
    @update:token="token = $event"
    @update:id="id = $event"
    entityname="browser"
    initname="Firefox browser app"
  >
  <!-- Enter firefox details -->
  <div slot="setup">
    <div ref="stepStart">
      <strong>1. Get Firefox</strong><br/>
      <p>
        If you don't have Firefox, download and install it from
        <a href="https://www.mozilla.org/en-US/firefox/new/" target="blank">here</a>.
      </p>
      <strong>2. Go to Settings</strong><br/>
      <p>
        Open Firefox and click the menu icon in the top right.<br/>
        <img src="@/assets/setup-images/firefox/1.png"/>
      </p>
      <p>
        Select the "settings" item.<br/>
        <img src="@/assets/setup-images/firefox/2.png"/>
      </p>
      <strong>3. Find DNS Settings</strong><br/>
      <p>
        In the search bar, type "dns".<br/>
        <img src="@/assets/setup-images/firefox/3.png"/>
      </p>
      <strong>4. Change DNS to Safe Surfer</strong><br/>
      <p>
        <ul>
          <li>
            Scroll down to the <strong>DNS over HTTPS</strong> section.
          </li>
          <li>
            Select the <strong>Increased Protection</strong> option.
          </li>
          <li>
            Choose <strong>custom</strong>.
          </li>
          <li>
            Paste your new link: <copy-text :text="dohURL"/><br/>
          </li>
          <li>
            Press <strong>Enter</strong>.
          </li>
        </ul>
        <img src="@/assets/setup-images/firefox/4.png"/>
      </p>
      <b-button
        type="is-primary"
        icon-left="check"
        @click="onDone"
      >
        Done
      </b-button>
    </div>
  </div>
  </generic-dns-device-setup>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import CopyText from '@/components/common/copy-text.vue'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import { getDohURL } from '@/helpers/functions'

@Component({
  components: {
    CopyText,
    GenericDnsDeviceSetup
  }
})
export default class FirefoxDNSSetup extends Vue {
  /**
   * The DOH token allocated for the device.
   */
  token = ''
  id = ''

  BASE_DOH_URL = getDohURL()

  /**
   * @returns The built URL containing the user's token.
   */
  get dohURL (): string {
    return this.BASE_DOH_URL + this.token
  }

  onDone () {
    this.$emit('done', this.id)
  }
}
</script>

<style scoped>
p {
  padding: 10px;
}

img {
  margin: 15px 0px 0px 0px;
}
</style>
