<template>
  <div class="is-flex is-justify-content-center is-align-items-center">
    <b-button
      type="is-primary" rounded outlined
      icon-left="arrow-left"
      :disabled="step === 0"
      @click="step--"
    />
    <b-carousel
      v-model="step"
      :autoplay="false"
      :indicator="false"
      :repeat="false"
      :arrow="false"
      style="width: 250px;"
      class="mx-4"
    >
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0001.png" width="250px" />
      </b-carousel-item>
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0002.png" width="250px" />
      </b-carousel-item>
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0003.png" width="250px" />
      </b-carousel-item>
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0004.png" width="250px" />
      </b-carousel-item>
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0005.png" width="250px" />
      </b-carousel-item>
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0006.png" width="250px" />
      </b-carousel-item>
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0007.png" width="250px" />
      </b-carousel-item>
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0008.png" width="250px" />
      </b-carousel-item>
      <b-carousel-item>
        <img class="image" src="@/assets/setup-images/ios-profile/IMG_0009.png" width="250px" />
      </b-carousel-item>
    </b-carousel>
    <b-button
      type="is-primary" rounded outlined
      icon-left="arrow-right"
      :disabled="step === 8"
      @click="step++"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class IosProfileCarousel extends Vue {
  step = 0
}
</script>
