<template>
  <div>
    <collapse
      title="Step 1: Download profile"
      :open="true"
    >
      <apple-mobile-config-download
        :token="token"
        profile="iOs"
        :blockedCategories="blockedCategories"
      />
    </collapse>
    <collapse
      title="Step 2: Activate profile"
    >
      <ios-profile-carousel/>
    </collapse>
    <collapse
      title="Step 3: Check protection"
    >
      <p>
        Once the changes have been applied, you should now be protected. You can click the widget below
        to check if you are protected.<br/><br/>

        <protection :noDropdown="true" /><br/><br/>

        If you have any issues, please let us know at the <a href="https://helpdesk.safesurfer.io" target="blank">helpdesk</a>.
        <br/><br/>
      </p>
    </collapse>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Collapse from '@/components/common/collapse.vue'
import { Prop } from 'vue-property-decorator'
import AppleMobileConfigDownload from '@/components/device-setup/apple-mobileconfig-download.vue'
import Protection from '@/components/common/protection.vue'
import IosProfileCarousel from '@/components/device-setup/ios-profile-carousel.vue'

@Component({
  components: {
    Collapse,
    AppleMobileConfigDownload,
    Protection,
    IosProfileCarousel
  }
})
export default class IosProfileInstructions extends Vue {
  @Prop() readonly token: string | undefined
  @Prop() readonly blockedCategories: number[] | undefined
}
</script>