<template>
  <div>
    <spinner v-if="loading">

    </spinner>
    <div v-else>
      <strong>Tutorial guides</strong>
      <br/>
      <p>
        If you would like to read a tutorial guide for the installation process, click the button below. Otherwise, continue with the following instructions.
      </p>
      <b-button type="is-success" tag="a" href="https://helpdesk.safesurfer.io/en-nz/article/protect-an-iphone-ipad-or-ipod-with-safe-surfer-1ao7qmo/" target="_blank" class="mt-3">Full tutorial guide (recommended)</b-button>
      <br/>
      <br/>
      <strong>Step 1: Download app</strong><br/>
      <p>
        Open the App Store on the device to be protected. Search for "safe surfer", then download and open the Safe Surfer app. 
      </p>
      <br/>
      <strong>Step 2: Install protection</strong><br/>
      <div v-if="showQr">
        <p class="mb-2">
          Inside the Safe Surfer app, after entering a name for the device to be protected, tap the Scan option in the login section and use the following QR code.
        </p>
        <img :src="qrUrl" width="250px"/>
      </div>
      <p v-else>
        Just log in using this account to complete setup.
        Watch the video below if you need help.
      </p>
      <wait-for-device-added
        expectedDeviceGroup="mobile"
        expectedDeviceType="ios-device"
        @done="$emit('done', $event)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import WaitForDeviceAdded from '@/components/device-setup/wait-for-device-added.vue'
import Collapse from '@/components/common/collapse.vue'
import { isDevEnvironment } from '@/helpers/functions'
import Spinner from '@/components/common/spinner.vue'
import PostQrSigninToken from '@/requests/user-v2/post-qr-signin-token'
import GetQrSigninTokenImage from '@/requests/user-v2/get-qr-signin-token-image'
import dayjs from 'dayjs'
import { Watch } from 'vue-property-decorator'

@Component({
  components: {
    WaitForDeviceAdded,
    Collapse,
    Spinner
  }
})
export default class IosAppSetup extends Vue {
  loading = true
  qrUrl = ''
  timeoutRef = 0

  postQrSigninToken = new PostQrSigninToken()
  getQrSigninTokenImage = new GetQrSigninTokenImage()

  mounted () {
    if (this.showQr) {
      this.loadQr()
    } else {
      this.loading = false
    }
  }

  loadQr () {
    this.loading = true
    this.postQrSigninToken.handle({ roles: [], metadata: {} }).then(token => {
      clearTimeout(this.timeoutRef)
      this.timeoutRef = setTimeout(() => {
        this.loadQr()
      }, (token.spec.expiry - dayjs().unix()) * 1000)
      this.getQrSigninTokenImage.handle(token.spec.token).then(data => {
        this.qrUrl = URL.createObjectURL(data)
        this.loading = false
      })
    })
  }

  get showQr (): boolean {
    return true
  }

  beforeDestroy () {
    clearTimeout(this.timeoutRef)
  }
}
</script>