<template>
  <div>
    <kid-safe-phone-subscription-check
      :tablet="tablet"
    >
      <template v-slot="result">
        <!-- The mobile view looks better here -->
        <kid-safe-phone-profile-selector
          :mobile="true"
          :basic="basic"
          :intermediate="intermediate"
          :advanced="advanced"
          :tablet="tablet"
          :disabled="result.result.issue || loading"
          @basic="reconcileProfile(result.result, 'basic')"
          @intermediate="reconcileProfile(result.result, 'intermediate')"
          @advanced="reconcileProfile(result.result, 'advanced')"
        />
      </template>
    </kid-safe-phone-subscription-check>
    <b-modal
      v-if="checkoutArgs"
      :active="true"
      @update:active="checkQuota(true)"
    >
      <div class="card px-4 py-3">
        <addon-checkout
          v-model="checkoutArgs"
          :plan="subscriptionResult.plan"
          @close="checkQuota(true);"
          @paymentmethod="goToPayment"
        />
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import GetQuota from '@/requests/quotas/get-quota'
import AddonCheckout, { AddonCheckoutArgs } from "../account-settings/addon-checkout.vue";
import { Prop } from "vue-property-decorator";
import KidSafePhoneSubscriptionCheck, { SubscriptionCheckResult } from '@/components/my-devices/kid-safe-phone-subscription-check.vue'
import KidSafePhoneProfileSelector from '@/components/my-devices/kid-safe-phone-profile-selector.vue'
import GetDevices from "@/requests/devices/get-devices";
import dayjs from 'dayjs'

@Component({
  components: {
    KidSafePhoneProfileSelector,
    KidSafePhoneSubscriptionCheck,
    AddonCheckout
  }
})
export default class KidSafePhoneProfileSetup extends Vue {
  @Prop() readonly tablet: boolean | undefined

  loading = false
  profileName = ''
  basic = false
  intermediate = false
  advanced = false
  subscriptionResult: SubscriptionCheckResult | null = null
  checkoutArgs: AddonCheckoutArgs | null = null

  getQuota = new GetQuota()
  getDevices = new GetDevices()

  resetValuesForCheckboxes () {
    this.basic = false
    this.intermediate = false
    this.advanced = false
  }

  reconcileProfile(subscriptionResult: SubscriptionCheckResult, profileName: 'basic' | 'intermediate' | 'advanced') {
    this.loading = true
    this.profileName = profileName
    this.subscriptionResult = subscriptionResult
    if (profileName === 'basic') {
      this.basic = true
    } else if (profileName === 'intermediate') {
      this.intermediate = true
    } else if (profileName === 'advanced') {
      this.advanced = true
    }
    this.checkQuota(false)
  }

  checkQuota (fromCheckout: boolean) {
    const profileName = this.profileName
    const subscriptionResult = this.subscriptionResult
    if (!profileName || !subscriptionResult) {
      this.resetValuesForCheckboxes()
      return
    }
    // Which quota will need to increase?
    this.getQuota.handle('kid_safe_phone').then(quota => {
      this.getDevices.handle().then(devices => {
        if (devices.mobile) {
          devices.mobile.forEach(device => {
            if (device.metadata && device.metadata['knox-addon-managed'] === '1') {
              const expiry = parseInt(device.metadata['knox-free-period-end'])
              if (expiry > dayjs().unix()) {
                quota.spec.currentValue++
              }
            }
          })
        }
        if (quota.spec.currentValue + 1 > quota.spec.maxValue) {
          // Would be exceeded. If this is after checkout, user must have aborted.
          // If this is before checkout, need to show checkout.
          if (fromCheckout) {
            this.profileName = ''
            this.dismissCheckout()
          } else {
            // If there are no addon parameters, user does not have a suitable subscription.
            if (subscriptionResult.addon == null) {
              this.$buefy.dialog.alert({
                message: "Couldn't get access to Kid-Safe " + (this.tablet ? 'Tablet' : 'Phone') + '. Please contact support for access, or create a new Safe Surfer account.',
              })
              this.profileName = ''
              this.dismissCheckout()
            } else {
              this.checkoutArgs = [{
                addon: subscriptionResult.addon,
                quantity: quota.spec.currentValue + 1,
                min: quota.spec.currentValue + 1
              }]
              this.resetValuesForCheckboxes()
            }
          }
        } else {
          // All good.
          this.$emit('profile', profileName)
          this.dismissCheckout()
        }
      })
    })
  }

  dismissCheckout () {
    this.resetValuesForCheckboxes()
    this.subscriptionResult = null
    this.loading = false
    this.checkoutArgs = null
    // Buefy modal glitch workaround
    this.$nextTick(() => {
      setTimeout(() => {
        document.documentElement.classList.remove('is-clipped')
      }, 3000)
    })
  }

  goToPayment () {
    this.$router.push({
      name: 'AccountSettings',
      query: {
        section: 'payment',
      },
    })
  }
}
</script>
