<template>
  <div>
    <div v-if="showDevQr">
      <img v-if="profile === 'basic-tablet'" src="@/assets/setup-images/kid-safe-tablet/qr_code_basic_staging.png" width="250px"/>
      <img v-else-if="profile === 'intermediate-tablet'" src="@/assets/setup-images/kid-safe-tablet/qr_code_intermediate_staging.png" width="250px"/>
      <img v-else-if="profile === 'advanced-tablet'" src="@/assets/setup-images/kid-safe-tablet/qr_code_advanced_staging.png" width="250px"/>
      <img v-else-if="profile === 'basic'" src="@/assets/setup-images/kid-safe-phone/qr_code_basic_staging.png" width="250px"/>
      <img v-else-if="profile === 'intermediate'" src="@/assets/setup-images/kid-safe-phone/qr_code_intermediate_staging.png" width="250px"/>
      <img v-else-if="profile === 'advanced'" src="@/assets/setup-images/kid-safe-phone/qr_code_advanced_staging.png" width="250px"/>
    </div>
    <div v-else>
      <img v-if="profile === 'basic-tablet'" src="@/assets/setup-images/kid-safe-tablet/qr_code_basic.png" width="250px"/>
      <img v-else-if="profile === 'intermediate-tablet'" src="@/assets/setup-images/kid-safe-tablet/qr_code_intermediate.png" width="250px"/>
      <img v-else-if="profile === 'advanced-tablet'" src="@/assets/setup-images/kid-safe-tablet/qr_code_advanced.png" width="250px"/>
      <img v-else-if="profile === 'basic'" src="@/assets/setup-images/kid-safe-phone/qr_code_basic.png" width="250px"/>
      <img v-else-if="profile === 'intermediate'" src="@/assets/setup-images/kid-safe-phone/qr_code_intermediate.png" width="250px"/>
      <img v-else-if="profile === 'advanced'" src="@/assets/setup-images/kid-safe-phone/qr_code_advanced.png" width="250px"/>
    </div>
  </div>
</template>

<script lang="ts">
import { isDevEnvironment } from '@/helpers/functions'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class KidSafePhoneQr extends Vue {
  @Prop() readonly profile: string | undefined

  get showDevQr(): boolean {
    return isDevEnvironment()
  }
}
</script>
