<template>
  <div>
    <collapse
      title="Step 1: Download profile"
      :open="true"
    >
      <apple-mobile-config-download
        :token="token"
        profile="macOs"
        :blockedCategories="blockedCategories"
      />
    </collapse>
    <collapse
      title="Step 2: Activate profile"
    >
      <b-carousel
        :autoplay="false"
        :indicator-inside="false"
      >
        <b-carousel-item>
          <img class="image" src="@/assets/setup-images/mac-profile/1.png" width="400px" />
        </b-carousel-item>
        <b-carousel-item>
          <img class="image" src="@/assets/setup-images/mac-profile/3.png" width="400px" />
        </b-carousel-item>
        <b-carousel-item>
          <img class="image" src="@/assets/setup-images/mac-profile/4.png" width="400px" />
        </b-carousel-item>
        <b-carousel-item>
          <img class="image" src="@/assets/setup-images/mac-profile/5.png" width="400px" />
        </b-carousel-item>
        <b-carousel-item>
          <img class="image" src="@/assets/setup-images/mac-profile/6.png" width="400px" />
        </b-carousel-item>
      </b-carousel>
    </collapse>
    <collapse
      title="Step 3: Check protection"
    >
      <p>
        Once the changes have been applied, you should now be protected. You can click the widget below
        to check if you are protected.<br/><br/>
        <protection :noDropdown="true" /><br/><br/>
      </p>
    </collapse>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Collapse from '@/components/common/collapse.vue'
import { Prop } from 'vue-property-decorator'
import AppleMobileConfigDownload from '@/components/device-setup/apple-mobileconfig-download.vue'
import Protection from '@/components/common/protection.vue'

@Component({
  components: {
    Collapse,
    AppleMobileConfigDownload,
    Protection
  }
})
export default class MacProfileInstructions extends Vue {
  @Prop() readonly token: string | undefined
  @Prop() readonly blockedCategories: number[] | undefined
}
</script>