<template>
  <generic-dns-device-setup
    class="pt-3"
    @update:token="token = $event"
    @update:id="deviceID = $event"
    entityname="device"
    initname="Mac device"
  >
    <!-- Enter edge details -->
    <div slot="setup" v-if="blockedCategories">
      <b-message
      type="is-primary"
      >
      <strong>System requirements:</strong> macOS 11 Big Sur or newer (<a href="https://support.apple.com/en-nz/109033" target="_blank">How can I check?</a>)
    </b-message>
      <b-message
      type="is-warning"
      >
      Safe Surfer doesn't support protecting Mac devices that are managed remotely by an organisation (that is, when you're using the device as a student or employee and the device isn't owned by you).
      </b-message>
      <strong>Tutorial guides</strong>
    <br/>
    If you would like to read a tutorial guide for the installation process, click the button below. Otherwise, continue with the following instructions.
    <b-button type="is-success" tag="a" href="https://helpdesk.safesurfer.io/en-nz/article/protect-a-mac-device-with-safe-surfer-1hle1v/" target="_blank" class="mt-3">Full tutorial guide (recommended)</b-button>
      <br/><br/>
      <b-field label="What device would you like to protect?" class="mt-2">
        <b-radio
          v-model="thisDevice"
          :native-value="true"
        >
          This device
        </b-radio>
      </b-field>
      <b-field class="mb-4">
        <b-radio
          v-model="thisDevice"
          :native-value="false"
        >
          A different device
        </b-radio>
      </b-field>
      <div v-if="thisDevice" class="mb-4">
        <mac-profile-instructions
          :token="token"
          :blockedCategories="blockedCategories"
        />
      </div>
      <div v-else class="mb-4">
        <collapse
          title="Copy link"
          :open="true"
        >
          Click the Copy link button, then send the download link to the device that you'd like to protect.
          <br />
          <br />
          <copy-text
            :text="instructionsLink"
            button="Copy link"
          />
        </collapse>
      </div>
      <strong>Installation process</strong>
      <br/>
        <p>
          Once the Safe Surfer file has been downloaded, open it, then open the System Settings app. Click the Profile Downloaded menu at the top of the left-hand sidebar. (If you can't see a menu called Profile Downloaded, try navigating to Privacy & Security > Profiles.)
          <br />
          <br />
          Once the profile has been installed, restart the Mac to complete the protection installation.
          <br />
          <br />
        </p>
      <b-button
        type="is-primary"
        icon-left="check"
        @click="onDone"
      >
        Done
      </b-button>
    </div>
  </generic-dns-device-setup>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import CopyText from '@/components/common/copy-text.vue'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import Collapse from '@/components/common/collapse.vue'
import qs from 'qs'
import GetProfileSetupQr from '@/requests/devices-v2/get-profile-setup-qr'
import { Watch } from 'vue-property-decorator'
import { getOS } from '@/helpers/constants'
import MacProfileInstructions from '@/components/device-setup/mac-profile-instructions.vue'
import { getBlockedBaseCategories } from '@/helpers/functions'

@Component({
  components: {
    CopyText,
    GenericDnsDeviceSetup,
    Collapse,
    MacProfileInstructions
  }
})
export default class AppleMobileconfigSetup extends Vue {
  token = ''
  blockedCategories: number[] | null = null
  deviceID = ''

  thisDevice = false
  qrUrl = ''

  getProfileSetupQr = new GetProfileSetupQr()

  mounted () {
    this.thisDevice = getOS() === 'macOS'
  }

  onDone () {
    this.$emit('done', this.deviceID)
  }

  @Watch('token') getQr (token: string) {
    getBlockedBaseCategories(this.deviceID).then(blockedCategories => {
      this.blockedCategories = blockedCategories
      this.getProfileSetupQr.handle({
        type: 'mac',
        token: token,
        'blocked-categories': JSON.stringify(this.blockedCategories)
      }).then(qr => {
        this.qrUrl = URL.createObjectURL(qr)
      })
    })
  }

  get instructionsLink (): string {
    return window.location.origin + '/profile-setup?' + qs.stringify({
      'type': 'mac',
      'token': this.token,
      'blocked-categories': JSON.stringify(this.blockedCategories)
    })
  }
}
</script>

<style scoped>
p {
  padding: 10px;
}

img {
  margin: 15px 0px 0px 0px;
}

li {
  list-style-type: disc;
}
</style>
