<template>
  <new-kid-safe-device-setup
    :tablet="true"
    :mobile="mobile"
    @done="$emit('done', $event)"
  />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import NewKidSafeDeviceSetup from '@/components/device-setup/new-kid-safe-device-setup.vue'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {
    NewKidSafeDeviceSetup
  }
})
export default class ExistingKidSafeTabletSetup extends Vue {
  @Prop() readonly mobile: boolean | undefined
}
</script>
