<template>
  <div>
    <spinner v-if="loading"/>
    <div v-else-if="quota">
      <b-message
        class="mt-3"
        title="Device Limit Reached"
        :closable="false"
        type="is-warning"
      >
        You have registered {{ quota.currentValue }} devices out of a maximum
        of {{ quota.maxValue }}<span v-if="quota.imposedBy === 'plan'"> for your plan</span>.
        <br/><br/>
        To register more devices, you can delete some current devices below<span v-if="quota.imposedBy === 'plan'"> or upgrade your plan</span>.
        <br/><br/>
        <div v-if="quota.imposedBy === 'plan'">
          <p v-if="hasGooglePlay">
            Open the Android app on the device you purchased Pro Surfer on, select "Manage Subscription", and switch
            to a plan that allows more devices.
          </p>
          <p v-if="hasGooglePlay && showMoreInfo">
            <br/>Or:<br/><br/> 
          </p>
          <p v-if="hasGooglePlay && !showMoreInfo">
            <br/>Or, log in to Safe Surfer on a web browser to switch to a web subscription.
          </p>
          <b-button
            v-if="showMoreInfo"
            tag="router-link"
            :to="{
              name: 'CreateAccount',
              query: {
                'signed-in': '1',
                'resubscribe': '1'
              }
            }"
            type="is-primary"
          >
            {{ hasGooglePlay ? 'Switch to a web subscription' : 'Upgrade Plan' }}
          </b-button>
        </div>
      </b-message>
      <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 mt-1">
        Current Devices
      </div>
      <div>
        <device-quota-details
          v-for="device in devices.slice(DEVICES_PER_PAGE*(devicePage-1), DEVICES_PER_PAGE*(devicePage-1)+DEVICES_PER_PAGE)"
          :key="device.id"
          :device="device"
          :showMoreInfo="showMoreInfo"
          :auth="auth"
          @done="quota.currentValue--; load()"
        />
      </div>
      <b-pagination
        class="mt-3"
        :total="devices.length"
        :per-page="DEVICES_PER_PAGE"
        :current.sync="devicePage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import GetDevices, { APIDevice } from '@/requests/devices/get-devices'
import { Quota } from '@/requests/quotas/get-quota'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import Spinner from '@/components/common/spinner.vue'
import DeviceQuotaDetails from '@/components/device-setup/device-quota-details.vue'
import { TOKEN_STORAGE_NAME } from '@/helpers/constants'
import { parseClaims } from '@/helpers/functions'

@Component({
  components: {
    Spinner,
    DeviceQuotaDetails
  }
})
export default class ResolveDeviceQuota extends Vue {
  DEVICES_PER_PAGE = 5

  @Prop() readonly quota: Quota | undefined
  @Prop() readonly showMoreInfo: boolean | undefined
  @Prop() readonly auth: string | undefined

  loading = true
  devicePage = 1
  devices: APIDevice[] | null = null

  getDevices = new GetDevices()

  mounted () {
    this.load()
  }

  load () {
    this.loading = true
    if (this.auth) {
      this.getDevices.setAuth(this.auth)
    }
    this.getDevices.handle().then(devices => {
      if (!this.quota) {
        return
      }
      this.devices = []
      // Show most recently seen devices first
      if (devices.lifeguards) {
        this.devices = this.devices?.concat(devices.lifeguards) as APIDevice[]
        devices.lifeguards = devices.lifeguards.sort((a, b) => b.lastUpdated - a.lastUpdated)
      }
      if (devices.mobile) {
        this.devices = this.devices?.concat(devices.mobile) as APIDevice[]
        devices.mobile = devices.mobile.sort((a, b) => b.lastUpdated - a.lastUpdated)
      }
      if (devices.dns) {
        this.devices = this.devices?.concat(devices.dns) as APIDevice[]
        devices.dns = devices.dns.sort((a, b) => b.lastUpdated - a.lastUpdated)
      }
      if (this.quota.currentValue < this.quota.maxValue) {
        this.$buefy.toast.open({
          position: 'is-bottom',
          type: 'is-success',
          message: 'Devices deleted, you can now register more',
          duration: 5000
        })
        this.$emit('done')
      } else {
        this.devices?.sort((a, b) => b.lastUpdated - a.lastUpdated)
      }
      this.loading = false
    })
  }

  get hasGooglePlay (): boolean {
    let token: string | undefined | null = this.auth
    if (!token) {
      token = localStorage.getItem(TOKEN_STORAGE_NAME)
    }
    if (!token) {
      return false
    }
    const claims = parseClaims(token)
    return claims.purchaseToken !== '' 
  }
}
</script>
