<template>
  <div>
    <b-steps
      v-model="activeStep"
      :has-navigation="false"
    >
      <b-step-item label="Name" :clickable="false">
        <div>
          <b-field label="Enter a name for the router. Make sure you're on the network you want to change now.">
            <b-input
              :disabled="token !== ''"
              v-model="name"
              @keyup.native="$event.key === 'Enter' && getToken()"
              autocomplete="off"
            />
          </b-field>
          <b-button
            type="is-primary"
            @click="token === '' ? getToken() : activeStep++"
            :loading="gettingToken"
          >
            Accept
          </b-button>
        </div>
      </b-step-item>
      <b-step-item :clickable="activeStep >= 1">
        <b-message
        type="is-warning"
        >
        If your router supports changing the DNS servers (which we'll help you perform), this will install our basic filtering (that is, enforcing SafeSearch filtering and blocking porn etc.).
        <br /><br />If you would like to use custom block settings, this process works best when you have what's called a <a href="https://ipstack.com/definition-of-static-ip-address" target="_blank">static IP address</a>. This usually costs money to request from your Internet service provider, so if you would like to do this, we generally recommend using our apps instead.
        </b-message>
        <collapse
          title="1. Access your router admin panel"
        >
          <p>
            Check the rear or the bottom of your home router for an information sticker. It should list one or both of the following items:
          </p>
          <p>
            <ul class="mt-1">
              <li>
                Default username and password (e.g. admin; admin). This is different to the Wifi password!
              </li>
              <li>
                Default gateway address (e.g. 192.168.1.254)
              </li>
            </ul>
          </p>
          <p class="mt-2">
            If you can't find this information, try some of the following common addresses:
            <ul class="mt-1">
              <li>
                <a href="http://192.168.1.1" target="blank">192.168.1.1</a>
              </li>
              <li>
                <a href="http://192.168.8.1" target="blank">192.168.8.1</a>
              </li>
              <li>
                <a href="http://192.168.1.254" target="blank">192.168.1.254</a>
              </li>
            </ul>
          </p>
          <p class="mt-2">
            Once you've found your router's admin panel, log in using the username and password you found earlier. If you couldn't
            find the username/password, try some of these common passwords with the username "admin":
            <ul class="mt-1">
              <li>
                <copy-text text="admin"/>
              </li>
              <li>
                <copy-text text="password"/>
              </li>
              <li>
                <i>Leave password field blank</i>
              </li>
            </ul>
          </p>
          
        </collapse>
        <collapse
          title="2. Locate DNS Server Settings"
        >
          Once you have successfully logged in, you will need to find the location of the DNS server settings. This will likely be in a menu related to <strong>LAN</strong> or <strong>WAN</strong>, and a section related to a <strong>DHCP server</strong>. Changing these to our servers will install Safe Surfer protection on your whole network. You may need to consult your router manual or ISP on where to find the location of the DNS settings.

          <b-field label="Examples">
            <b-carousel
              :autoplay="false"
            >
              <b-carousel-item>
                <img class="image" src="@/assets/setup-images/router/vodafone.png" width="1390px" height="1386px" />
              </b-carousel-item>
              <b-carousel-item>
                <img class="image" src="@/assets/setup-images/router/tplink1.png" width="1320px" height="960px" />
              </b-carousel-item>
              <b-carousel-item>
                <img class="image" src="@/assets/setup-images/router/orcon.png" width="2860px" height="1580px" />
              </b-carousel-item>
              <b-carousel-item>
                <img class="image" src="@/assets/setup-images/router/generic2.png" width="948px" height="774px" />
              </b-carousel-item>
              <b-carousel-item>
                <img class="image" src="@/assets/setup-images/router/generic1.png" width="1060px" height="512px" />
              </b-carousel-item>
              <b-carousel-item>
                <img class="image" src="@/assets/setup-images/router/fritzbox2.png" width="1762px" height="1108px" />
              </b-carousel-item>
              <b-carousel-item>
                <img class="image" src="@/assets/setup-images/router/fritzbox1.png" width="1702px" height="638px" />
              </b-carousel-item>
              <b-carousel-item>
                <img class="image" src="@/assets/setup-images/router/draytek1.png" width="2838px" height="980px" />
              </b-carousel-item>
            </b-carousel>
          </b-field>
        </collapse>
        <collapse
          title="3. Change DNS Servers"
        >
          <p>
            Once you have discovered the location of the DNS server settings, write down the current settings for future reference.
          </p>
          <p v-if="servers">
            Replace the old addresses with our addresses:<br/><br/>
            Primary: <copy-text :text="servers.v4[0]"/><br/>
            Secondary: <copy-text :text="servers.v4[1]"/><br/>
            <br/>
            <b-message
              v-if="linkIpResults && linkIpResults.ipv6Available()"
              title="IPv6 Detected"
              type="is-primary"
            >
              It looks like your network supports IPv6. Paste the DNS servers for IPv6 too:<br/><br/>
              Primary: <copy-text :text="servers.v6[0]"/><br/>
              Secondary: <copy-text :text="servers.v6[1]"/><br/>
            </b-message>
            If your router supports DoT (DNS over TLS), we recommend using that instead. Paste your new custom link:
            <copy-text :text="token + '.' + BASE_DOT_URL"/><br/>
            <br/>
            Save the changes you have made. Your router may need to restart once you have saved changes.<br/><br/>
          </p>
        </collapse>
        <collapse
          title="4. Done!"
        >
          <p>
            Once the changes have been applied, you should now be protected. You can click the widget below
            to check if you are protected.<br/><br/>

            <protection :noDropdown="true" /><br/><br/>

          </p>
        </collapse>
        <b-message
          type="is-success"
          class="mt-2"
          icon="help-circle"
          has-icon
          title="Having trouble?"
          :closable="false"
        >
          You can <a href="https://safesurfer.as.me" target="blank">book a Zoom meeting</a> with the Safe Surfer team, where we can help you with installing the Safe Surfer DNS servers.
          If you're in Australia or New Zealand, you might also like to consider getting one of our custom <a href="https://shop.safesurfer.io/products/internet-lifeguard">Lifeguard Wi-Fi routers</a>.
        </b-message>
        <b-button
          type="is-primary"
          icon-left="check"
          @click="onDone"
        >
          Done
        </b-button>
      </b-step-item>
    </b-steps>
    <b-modal
      v-if="linkedSourceIpErr !== null"
      :active="true"
      @update:active="linkedSourceIpErr = null"
    >
      <linked-ip-warning :reason="linkedSourceIpErr"/>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GenericDnsDeviceSetup from '@/components/device-setup/generic-dns-device-setup.vue'
import CopyText from '@/components/common/copy-text.vue'
import Protection from '@/components/common/protection.vue'
import { getBestPlainDnsServers, getDotHost, IpResults, linkSourceIp, LinkSourceIpResult, PlainDnsServers } from '@/helpers/functions'
import PostDevice from '@/requests/devices/post-device'
import GetDeviceDNSToken from '@/requests/devices/get-device-dns-token'
import LinkedIpWarning from '@/components/my-devices/linked-ip-warning.vue'
import Collapse from '@/components/common/collapse.vue'

@Component({
  components: {
    GenericDnsDeviceSetup,
    CopyText,
    Protection,
    LinkedIpWarning,
    Collapse
  }
})
export default class RouterDnsSetup extends Vue {
  id = ''
  token = ''
  /**
   * The current step.
   */
  activeStep = 0
  /**
   * The name to give to the new device.
   */
  name = 'Wi-Fi router'
  /**
   * Whether we are getting the token.
   */
  gettingToken = false
  linkedSourceIpErr: LinkSourceIpResult | null = null
  linkIpResults: IpResults | null = null
  servers: PlainDnsServers | null = null

  BASE_DOT_URL = getDotHost()

  /**
   * Requests.
   */
  postDevice = new PostDevice()
  getDeviceDNSToken = new GetDeviceDNSToken()

  onDone () {
    this.$emit('done', this.id)
  }

  setID (id: string) {
    this.id = id
    getBestPlainDnsServers().then(servers => {
      this.servers = servers
      linkSourceIp(id).then(result => {
        this.linkIpResults = result
        if (result.ip4 === LinkSourceIpResult.Conflict || result.ip4 === LinkSourceIpResult.Unknown) {
          this.linkedSourceIpErr = result.ip4
        } else if (result.ip6 === LinkSourceIpResult.Conflict || result.ip6 === LinkSourceIpResult.Unknown) {
          this.linkedSourceIpErr = result.ip6
        }
      })
    })
  }

  /**
   * Create a new device with the name and gets its DOH token.
   */
  getToken () {
    this.gettingToken = true
    // Generate a new device, then get a DNS token for it
    this.postDevice.handle({
      type: 'dns',
      name: this.name,
      os: ''
    }).then(deviceID => {
      this.setID(deviceID)
      // Get token
      this.getDeviceDNSToken.handle(deviceID).then(token => {
        this.token = token
        this.activeStep = 1
        this.gettingToken = false
      }).catch(() => {
        this.failToast()
        this.gettingToken = false
      })
    }).catch(() => {
      this.failToast()
      this.gettingToken = false
    })
  }

  /**
   * Show a toast indicating failure when creating device.
   */
  failToast () {
    this.$buefy.toast.open({
      message: 'Couldn\'t create device. Please try again.',
      type: 'is-danger',
      position: 'is-bottom',
      duration: 5000
    })
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
