<template>
  <div
    class="is-flex is-align-items-center"
  >
    <spinner/>
    <span class="pl-2 has-text-grey">
      Waiting for device to be added...
    </span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Spinner from '@/components/common/spinner.vue'
import { Prop } from 'vue-property-decorator'
import GetDevices, { APIDevices } from '@/requests/devices/get-devices'

@Component({
  components: {
    Spinner
  }
})
export default class WaitForDeviceAdded extends Vue {
  @Prop() readonly expectedDeviceType: string | undefined
  @Prop() readonly expectedDeviceGroup: string | undefined
  private interval: number | undefined
  private lastID: string | undefined

  /**
   * Requests.
   */
  getDevices = new GetDevices()

  mounted () {
    if (!this.expectedDeviceGroup) {
      return
    }
    if (!this.expectedDeviceType) {
      return
    }
    const expectedDeviceGroup = this.expectedDeviceGroup
    const expectedDeviceType = this.expectedDeviceType
    // First, establish the status quo so we can tell if something changes
    this.getDevices.handle().then(devices => {
      let group = devices[expectedDeviceGroup as keyof APIDevices]
      if (group && group.length) {
        group = group.sort((a, b) => b.lastUpdated - a.lastUpdated)
        this.lastID = group[0].id
      }
      // Watch for a new device to be registered with the type we're looking for
      this.interval = setInterval(() => { 
        this.getDevices.handle().then(devices => {
          let group = devices[expectedDeviceGroup as keyof APIDevices]
          if (group && group.length) {
            group = group.sort((a, b) => b.lastUpdated - a.lastUpdated)
            if (group[0].type === expectedDeviceType && group[0].id !== this.lastID) {
              clearInterval(this.interval)
              this.$emit('done', group[0].id)
            } else {
              this.lastID = group[0].id
            }
          }
        })
      }, 5000)
    })
  }

  beforeDestroy () {
    clearInterval(this.interval)
  }
}
</script>