<template>
  <div>
    <strong>1. Open Control Panel</strong><br/>
    <p>
      <br/>Locate the search bar:<br/><br/>
      <img src="@/assets/setup-images/windows-dns/1.png"/>
    </p>
    <p>
      <br/>Type "control panel" and open it.<br/><br/>
      <img src="@/assets/setup-images/windows-dns/2.png"/>
    </p>
    <strong>2. Select "Network and Internet"</strong><br/>
    <p>
      <img src="@/assets/setup-images/windows-dns/3.png"/>
    </p>
    <strong>3. Select "Network and Sharing Center"</strong><br/>
    <p>
      <img src="@/assets/setup-images/windows-dns/4.png"/>
    </p>
    <strong>4. Select "Change adapter settings"</strong><br/>
    <p>
      <img src="@/assets/setup-images/windows-dns/5.png"/>
    </p>
    <strong>5. Find networks to change</strong><br/>
    <p>
      <br/>Find the networks you want to use Safe Surfer on. Repeat the next steps for each network.<br/>
      Usually, these will be
      called "ethernet" and/or "Wi-Fi". If you're using a WiFi network,
      make sure you're on the network you want to use Safe Surfer on. If you want to use Safe Surfer
      on multiple WiFi networks, you will need to complete the next steps for each.<br/><br/>
      <img src="@/assets/setup-images/windows-dns/6.png"/>
    </p>
    <strong><br/>6. Enter network properties</strong><br/>
    <p>
      <br/>Right click the network and select "properties".<br/><br/>
      <img src="@/assets/setup-images/windows-dns/7.png"/>
    </p>
    <strong><br/>7. Change IPV4 properties</strong><br/>
    <p>
      <br/>Select "Internet Protocol Version 4" and then select "Properties".<br/><br/>
      <img src="@/assets/setup-images/windows-dns/8.png"/>
      <br/><br/>You'll get a window that looks like the one below:<br/><br/>
      <img src="@/assets/setup-images/windows-dns/9.png"/>
    </p>
    <strong><br/>8: Change DNS servers</strong><br/>
    <p>
      <br/>Select "Use the following DNS server addresses" then enter the following addresses:<br/>
      <copy-text text="104.197.28.121"/><br/>
      <copy-text text="104.155.237.225"/><br/>
      Then, press "OK"<br/><br/>
      <img src="@/assets/setup-images/windows-dns/10.png"/>
    </p>
    <strong><br/>9: Test it out</strong><br/>
    <p>
      <br/>Open another tab of <a href="https://my.safesurfer.io" target="blank">my.safesurfer.io</a> and check protection is working
      on the homepage:<br/><br/>
      <img src="@/assets/setup-images/windows-dns/11.png"/>
    </p>
    <b-message
      type="is-warning"
    >
      If you don't see that protection is working, you can ask us a question at our helpdesk
      <a href="https://helpdesk.safesurfer.io" target="blank">here</a>.

      While using this method, you will need to regularly link your IP for custom rules
      and usage to work.
    </b-message>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import CopyText from '@/components/common/copy-text.vue'

@Component({
  components: {
    CopyText
  }
})
export default class WindowsDnsSetup extends Vue {

}
</script>
