<template>
  <div>
    <b-message
      type="is-primary"
    >
      <strong>Minimum version:</strong> Windows 10
      <br />
      <strong>Recommended version:</strong> Windows 11
      <br />
      <br />
      If you haven't used the Windows app before, we recommend reading some notes regarding system requirements by <a class="has-text-link" href="https://helpdesk.safesurfer.io/en-nz/article/windows-system-requirements-and-notes-zr0qjv/" target="_blank">clicking this link</a>.
    </b-message>
    <strong>Tutorial guides</strong>
    <br/>
    <p>
      If you would like to read or watch a tutorial guide for the installation process, click an option below. Otherwise, continue with step 1.
    </p>
    <b-button type="is-success" tag="a" href="https://helpdesk.safesurfer.io/en-nz/article/windows-full-installation-guides-1rtaor8/" target="_blank" class="mt-3">Full tutorial guide (recommended)</b-button>
    <collapse
      title="Short tutorial video"
      class="mt-5"
    >
      <div>
        <video controls width="750">
          <source src="@/assets/setup-images/safesurfer-windows-install.webmhd.webm"
            type="video/webm">
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
    </collapse>
    <br/>
    <strong>Step 1: Download app</strong><br/>
    <p>
      Note: Most Windows devices are 64-bit (that is, when you can see a sticker on the device mentioning Intel or AMD), which is selected by default.
      If you're protecting a Windows device with a Qualcomm-brand processor, you'll need to click the drop-down arrow button and select the ARM64 option first.
      If you're not sure, download the 64-bit version.
    </p>
    <b-dropdown
      v-model="selectedOption"
      position="is-bottom-right"
      class="mt-3"
    >
      <b-field slot="trigger">
        <p class="control">
          <b-button
            type="is-primary"
            tag="a"
            :href="OPTIONS[selectedOption].link"
            @click="$event.stopPropagation()"
          >
            Download for Windows ({{ OPTIONS[selectedOption].type }})
          </b-button>
        </p>
        <p class="control">
          <b-button
            icon-right="menu-down"
          />
        </p>
      </b-field>
      <b-dropdown-item
        v-for="(option, idx) in OPTIONS"
        :key="idx"
        :value="idx"
      >
        <div>
          <h3>
            {{ option.type }}
          </h3>
          <small>
            {{ option.help }}
          </small>
        </div>
      </b-dropdown-item>
    </b-dropdown>
    <br><br>
    <strong>Step 2: Install protection</strong><br/>
    <p>
      Install the app, then click the "Install protection" button. You will be prompted to connect your Safe Surfer account.
      Once the protection has been installed, click the Settings menu (that is, the cog icon) at the upper-right corner of the app window, then set a PIN.
    </p>
    <wait-for-device-added
      class="mt-2"
      expectedDeviceGroup="mobile"
      expectedDeviceType="windows-device"
      @done="$emit('done', $event)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Collapse from '@/components/common/collapse.vue'
import WaitForDeviceAdded from '@/components/device-setup/wait-for-device-added.vue'

@Component({
  components: {
    WaitForDeviceAdded,
    Collapse
  }
})
export default class WindowsAppSetup extends Vue {
  selectedOption = 0
  readonly OPTIONS = [
    {
      type: '64-bit',
      help: 'Suitable for most PCs',
      link: 'https://files.safesurfer.io/files/apps/windows/1.3.0/SafeSurferSetup-x64.msix'
    },
    {
      type: 'ARM64',
      help: 'Suitable for PCs with Qualcomm Snapdragon processors',
      link: 'https://files.safesurfer.io/files/apps/windows/1.3.0/SafeSurferSetup-arm64.msix'
    }
  ]
}
</script>