<template>
  <div class="bubble-box-outer" v-if="notif">
    <div class="bubble-box">
      <!-- Title section -->
      <div class="notif-header mb-3 pb-3">
        <!-- Device, app, and time -->
        <div class="notif-top-row is-size-7">
          <!-- Checkbox -->
          <b-checkbox
            v-if="selectable"
            type="is-danger"
            class="is-size-6 mb-3"
            :value="selected"
            @input="$emit('update:selected', $event)"
          />
          <!-- Device -->
          <b-tooltip
            :label="devicefilteractive ? 'Showing This Device Only' : 'More From This Device'"
            class="notif-top-row-item"
          >
            <b-button
              size="is-small"
              icon-left="cellphone"
              @click="$emit('filter-device', devicefilteractive ? undefined : notif.deviceID)"
              v-bind="{ type: devicefilteractive ? 'is-primary' : undefined }"
            >
              {{ name }}
            </b-button>
          </b-tooltip>
          <!-- Name and icon for common apps -->
          <b-tooltip
            v-if="COMMON_APPS[notif.appID]"
            :label="appfilteractive ? 'Filtering for this App' : 'More From This App'"
            class="notif-top-row-item"
          >
            <b-button
              size="is-small"
              class="notif-top-row-item-shifted-right"
              :icon-left="COMMON_APPS[notif.appID].icon"
              @click="$emit('filter-app', appfilteractive ? undefined : notif.appID)"
              v-bind="{ type: appfilteractive ? 'is-primary' : undefined }"
            >
              {{ COMMON_APPS[notif.appID].name }}
            </b-button>
          </b-tooltip>
          <!-- For unknown apps, show ID and play store link -->
          <b-field class="notif-top-row-item notif-top-row-item-shifted-right mb-3" v-else>
            <p class="control">
              <b-tooltip
                :label="appfilteractive ? 'Filtering for this App' : 'More From This App'"
              >
                <b-button
                  size="is-small"
                  icon-left="application"
                  @click="$emit('filter-app', appfilteractive ? undefined : notif.appID)"
                  v-bind="{ 'type': appfilteractive ? 'is-primary' : undefined }"
                >
                  {{ appName }}
                </b-button>
              </b-tooltip>
            </p>
            <p class="control">
              <b-button
                size="is-small"
                icon-left="open-in-new"
                tag="a"
                target="blank"
                :href="'https://play.google.com/store/apps/details?id=' + notif.appID"
              >
                View App
              </b-button>
            </p>
          </b-field>
          <!-- Filler -->
          <span style="flex-grow: 1"/>
          <div class="notif-top-row-item time-container">
            <span class="ml-1 mr-3 mt-2">
              {{ formattedTime }}
            </span>
          </div>
        </div>
      </div>
      <div class="has-text-weight-bold is-size-5 mb-2">
        {{ notif.title }}
      </div>
      <!-- Main content: split to highlight keywords -->
      <component
        v-for="(section, idx) in contentSplit"
        :is="section.bold ? 'a' : 'span'"
        :key="idx"
        @click="section.bold ? $emit('filter-keyword', section.keyword) : undefined"
      >
        <span
          v-html="section.content.replace('\n', '<br/><br/>')"
        />
      </component>
      <div class="is-flex-desktop is-justify-content-space-between is-align-items-center mt-5" v-if="notif.hasScreenshot || !notif.title">
        <b-tooltip
          label="Text is estimated from screen contents using AI, results may not exactly match"
        >
          <b-tag
            rounded
            size="is-medium"
            type="is-warning"
          >
            <b-icon
              size="is-small"
              icon="creation"
              class="mx-1"
            />
            Estimated text
          </b-tag>
        </b-tooltip>
        <div class="mb-4 is-hidden-desktop"/>
        <b-button
          v-if="notif.hasScreenshot"
          rounded outlined
          type="is-primary"
          label="View Screenshot"
          @click="viewScreenshot"
        />
      </div>
    </div>
    <b-modal
      v-if="imgUrl"
      :active="true"
      @update:active="dismissModal"
    >
      <div class="card p-3">
        <b-field label="Blur" class="my-4 mx-4" style="max-width: 275px;">
          <b-slider
            v-model="blur"
            type="is-primary"
            :max="100"
          />
        </b-field>
        <img
          :src="imgUrl"
          :style="{filter: 'blur(' + (30 * blur / 100) + 'px)'}"
          style="width: 275px;"
        />
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { LoggedNotification } from '@/requests/notificationslog/get-notification'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import dayjs from 'dayjs'
import { COMMON_APPS } from '@/helpers/constants'
import GetNotificationImage from '@/requests/notificationslog/get-notification-image'

interface NotificationContentElement {
  content: string;
  bold: boolean;
  keyword?: string;
}

@Component
export default class Notification extends Vue {
  /**
   * There's no good API for getting the name/icon of apps, so just put some common ones here.
   */
  readonly COMMON_APPS = COMMON_APPS
  /**
   * The notification to display.
   */
  @Prop() readonly notif: LoggedNotification | undefined
  /**
   * The keywords to highlight.
   */
  @Prop() readonly keywords: string[] | undefined
  /**
   * The name of the device. Notif object only has the ID.
   */
  @Prop() readonly name: string | undefined
  /**
   * Whether we are filtering by this app.
   */
  @Prop() readonly appfilteractive: boolean | undefined
  /**
   * Whether we are filtering by this device.
   */
  @Prop() readonly devicefilteractive: boolean | undefined
  /**
   * Whether this notification has a checkbox.
   */
  @Prop() readonly selectable: boolean | undefined
  /**
   * Whether this notification is selected.
   */
  @Prop() readonly selected: boolean | undefined
  @Prop() readonly appName: string | undefined

  imgUrl = ''
  blur = 100

  getNotificationImage = new GetNotificationImage()

  /**
   * @returns A human-friendly time for the notification.
   */
  get formattedTime (): string {
    if (!this.notif) {
      return ''
    }
    return dayjs.unix(this.notif.timestamp).fromNow()
  }

  /**
   * @returns The notification content split into pieces to highlight the key words.
   */
  get contentSplit (): NotificationContentElement[] {
    if (!this.notif || !this.keywords) {
      return []
    }
    const keywords = this.keywords
    const notif = this.notif
    // Int array, which characters belong to which keyword, or -1 if none.
    // If defined, index within the this.keywords array
    const keywordMask = notif.content.split('').map(() => -1)
    const notifContent = (' ' + notif.content.toLowerCase() + ' ').replaceAll(/[\!\?\.\";:']/g, ' ')
    keywords.forEach((keyword, keywordIdx) => {
      // Find the keyword in the content
      let lastIndex = undefined
      let matchIdx
      while ((matchIdx = notifContent.indexOf(keyword.toLowerCase(), lastIndex)) !== -1) {
        // Make keyword bold
        for (let i = matchIdx; i < matchIdx + keyword.length; i++) {
          keywordMask[i-1] = keywordIdx
        }
        lastIndex = matchIdx + keyword.length
      }
    })
    // Build individual bold elements
    const toReturn: NotificationContentElement[] = []
    let inBold = keywordMask[0] !== -1
    let lastChangeIdx = 0
    keywordMask.forEach((keywordIdx, idx) => {
      const atEnd = idx === notif.content.length - 1
      const bold = keywordIdx !== -1
      if (bold != inBold || atEnd) {
        // We have just transitioned, or this is the last part: add according to the last section
        toReturn.push({
          content: notif.content.substring(lastChangeIdx, atEnd ? undefined : idx),
          bold: inBold,
          keyword: inBold ? (atEnd ? keywords[keywordIdx] : keywords[keywordMask[idx-1]]) : undefined
        })
        lastChangeIdx = idx
      }
      inBold = bold
    })
    return toReturn
  }

  viewScreenshot () {
    const notif = this.notif
    if (!notif) {
      return
    }
    this.$emit('update:loading', true)
    this.getNotificationImage.handle(notif.id).then(blob => {
      this.imgUrl = URL.createObjectURL(blob)
    }).catch(() => {}).finally(() => {
      this.$emit('update:loading', false)
    })
  }

  dismissModal () {
    URL.revokeObjectURL(this.imgUrl)
    this.imgUrl = ''
    this.blur = 100
  }
}
</script>

<style scoped>
.notif-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notif-top-row {
  display: flex;
}

.notif-top-row-item-shifted-right {
  margin-left: 10px;
}

.bubble-box {
  width: 650px;
  padding: 25px;
  margin: 20px 20px 0px 20px;
  border-radius: 15px;
  background-color: #eaeaea;
  position: relative;
}

.bubble-box-outer {
  display: inline-block;
  vertical-align: top;
}

.bubble-box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #eaeaea;
  border-top: 15px solid #eaeaea;
  border-bottom: 15px solid transparent;
  left: -14px;
  top: 0px;
}

.time-container {
  display: flex;
}

@media screen and (max-width: 850px) {
  .notif-top-row {
    display: block;
  }

  .bubble-box-outer {
    display: block;
  }

  .bubble-box {
    max-width: 320px;
    padding: 20px 20px;
    margin: 20px auto 0px auto;
  }

  .bubble-box:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    left: 0px;
    top: 0px;
  }

  .notif-top-row-item {
    display: block;
  }

  .notif-top-row-item-shifted-right {
    margin-left: 0px;
    margin-top: 10px;
  }

  .time-container {
    width: 100%;
    margin-top: 5px;
  }
}
</style>
