<template>
  <div>
    <b-message type="is-primary">
      Not sure what connection to use? Try visiting the
      <router-link :to="{ name: 'DeviceSetup' }">Device setup</router-link> menu.
    </b-message>
    <p>
      <b-icon icon="lock" size="is-small" />
      DoH (DNS over HTTPS) connection:
    </p>
    <copy-text :text="dohConnection" />
    <p>
      <br />
      <b-icon icon="lock-outline" size="is-small" />
      DoT (DNS over TLS) connection:
    </p>
    <copy-text :text="dotConnection" />
    <p>
      <br />
      <b-icon icon="apple" size="is-small"/>
      iPhone and iPad installation profile:<br />
      <apple-mobile-config-download :token="token" profile="iOs" :blockedCategories="blockedCategories" />
    </p>
    <p>
      <br />
      <b-icon icon="apple-finder" size="is-small"/>
      Mac installation profile:<br />
      <apple-mobile-config-download :token="token" profile="macOs" :blockedCategories="blockedCategories" />
    </p>
    <collapse class="mt-4" title="Plain DNS">
      <b-field label="DNS servers:">
        <ul>
          <li
            v-for="server in servers.v4"
            :key="server"
          >
            <copy-text :text="server"/>
          </li>
        </ul>
      </b-field>
      <b-field v-if="ip6" label="IPv6 DNS servers:">
        <ul class="mt-2">
          <li
            v-for="server in servers.v6"
            :key="server"
          >
            <copy-text :text="server"/>
          </li>
        </ul>
      </b-field>
      <b-field
        class="mt-4"
        label="Linked IP address"
        :type="linkedIP === ip ? 'is-success' : 'is-danger'"
        :message="linkedIP === ip ? undefined : 'IP not linked. If you\'re on this device now, custom settings will not work.'"
      >
        <p class="control">
          <b-input
            :disabled="true"
            :value="linkedIP"
          />
        </p>
        <p class="control">
          <b-button
            :loading="linkingIP"
            icon-left="sync"
            label="Link"
            :disabled="linkedIP === ip"
            @click="linkIP"
          />
        </p>
      </b-field>
      <b-field
        v-if="linkedIP6 || ip6"
        label="Linked IPv6 Address"
        :type="linkedIP6 === ip6 ? 'is-success' : 'is-danger'"
        :message="linkedIP6 === ip6 ? undefined : 'IPv6 address not linked. If you\'re on this device now, custom settings may not work.'"
      >
        <p class="control">
          <b-input
            :disabled="true"
            :value="linkedIP6"
          />
        </p>
        <p class="control">
          <b-button
            :loading="linkingIP6"
            icon-left="sync"
            label="Link"
            :disabled="linkedIP6 === ip6"
            @click="linkIP6"
          />
        </p>
      </b-field>
      <b-field>
        <b-button
          class="mt-3"
          :loading="deletingIP"
          label="Unlink IPs"
          icon-left="delete"
          @click="unlinkIp"
          type="is-danger"
        />
      </b-field>
    </collapse>
  </div>
</template>

<script lang="ts">
import DeleteIp from '@/requests/devices-v2/delete-ip'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import Collapse from '@/components/common/collapse.vue'
import AppleMobileConfigDownload from '@/components/device-setup/apple-mobileconfig-download.vue'
import CopyText from '@/components/common/copy-text.vue'
import PutDeviceIP from '@/requests/devices/put-device-ip'
import PutDeviceIp6 from '@/requests/devices-v2/put-device-ip6'
import { PlainDnsServers } from '@/helpers/functions'

@Component({
  components: {
    Collapse,
    AppleMobileConfigDownload,
    CopyText
  }
})
export default class Connect extends Vue {
  @Prop() readonly token: string | undefined
  @Prop() readonly blockedCategories: number[] | undefined
  @Prop() readonly dohConnection: string | undefined
  @Prop() readonly dotConnection: string | undefined
  @Prop() readonly connectingDevice: string | undefined
  @Prop() readonly ip: string | undefined
  @Prop() readonly ip6: string | undefined
  @Prop() readonly linkedIP: string | undefined
  @Prop() readonly linkedIP6: string | undefined
  @Prop() readonly servers: PlainDnsServers | undefined

  linkingIP = false
  linkingIP6 = false
  deletingIP = false

  putDeviceIP = new PutDeviceIP()
  putDeviceIP6 = new PutDeviceIp6()
  deleteIp = new DeleteIp()

  /**
   * For the currently connecting device, link our current IP with it.
   */
  linkIP () {
    if (!this.connectingDevice || !this.ip) {
      return
    }
    const ip = this.ip
    this.linkingIP = true
    this.putDeviceIP.handle(this.connectingDevice).then(() => {
      this.$emit('update:linkedIP', ip)
      this.linkingIP = false
    }).catch(() => {
      this.$buefy.snackbar.open({
        message: 'Couldn\'t link IP.',
        actionText: 'Help',
        onAction: () => {
          this.$emit('help')
        }
      })
      this.linkingIP = false
    })
  }

  linkIP6 () {
    if (!this.connectingDevice || !this.ip6) {
      return
    }
    const ip6 = this.ip6
    this.linkingIP6 = true
    this.putDeviceIP6.handle(this.connectingDevice).then(() => {
      this.$emit('update:linkedIP6', ip6)
      this.linkingIP6 = false
    }).catch(() => {
      this.$buefy.snackbar.open({
        message: 'Couldn\'t link IP.',
        actionText: 'Help',
        onAction: () => {
          this.$emit('help')
        }
      })
      this.linkingIP6 = false
    })
  }

  unlinkIp () {
    if (!this.connectingDevice) {
      return
    }
    const connectingDevice = this.connectingDevice
    this.$buefy.dialog.confirm({
      message: 'Are you sure you want to unlink your most recently linked public IP address(es)? If you\'re syncing custom block settings for a Wi-Fi network, these settings may no longer work.',
      confirmText: 'Unlink',
      onConfirm: () => {
        this.deletingIP = true
        this.deleteIp.handle(connectingDevice).then(() => {
          this.$emit('update:linkedIP', '')
          this.$emit('update:linkedIP6', '')
          this.deletingIP = false
        })
      }
    })
  }
}
</script>
