<template>
  <div v-if="devices">
    <div>
      <router-link
        :to="{
          name: 'DeviceSetup'
        }"
      >
        <button-field-card
          title="New device"
          icon="plus"
          :fields="[['', 'Set up a new device', 'has-text-danger']]"
          style="height: 232px; border: 1px dashed rgba(0, 0, 0, 0.5); cursor: pointer;"
        >
        </button-field-card>
      </router-link>
      <button-field-card
        v-for="device in devices"
        :key="device.id"
        :title="device.name"
        :fields="[
          ['Device Type:', getDeviceType(device)],
          ['Registered:', formatLastSeen(device.registeredTime)],
        ]"
        v-bind="{
          dropdowns: [['Jump to', getJumpToArray(device)]],
          buttons: [
            ['more', getMoreInfoText(device)]
          ].concat(
            device.type === 'dns-device' ?
              [[ 'connect', 'Connection links' ]] :
              []
          ),
        }"
        @input-connect="linkedIP = device.ip; linkedIP6 = device.ip6; connect(device.id);"
        :buttonLinks="getButtonLinks(device)"
        :icon="getIcon(device)"
        :class="{
          'kid-safe-phone': device.metadata && device.metadata['knox-serial'] !== undefined
        }"
      >
        <!-- Dropdown for more options -->
        <b-dropdown
          position="is-bottom-left"
          slot="top-right"
          :value="null"
          @input="handleDropdownItem($event, device)"
        >
          <!-- Three dots trigger -->
          <b-button
            size="is-small"
            slot="trigger"
            type="is-primary"
            rounded
            outlined
          >
            <b-icon icon="dots-horizontal" size="is-small" />
          </b-button>
          <!-- Items -->
          <b-dropdown-item value="rename"> Rename </b-dropdown-item>
          <b-dropdown-item value="logout" v-if="device.type !== 'dns-device'"> Log out </b-dropdown-item>
          <b-dropdown-item
            v-if="screentimeSupported(device) && !(device.type === 'op-device' && !device.mac)"
            value="self-service"
          >
            Self-service
          </b-dropdown-item>
          <b-dropdown-item value="doDelete"> Delete </b-dropdown-item>
        </b-dropdown>
      </button-field-card>
    </div>
    <self-service-config
      :device="selfServiceDevice"
      @update:loading="$emit('update:loading', $event)"
    />
    <!-- Modal for showing connection params -->
    <b-modal
      :active="true"
      v-if="dohConnection"
      @update:active="dohConnection = ''; $emit('refresh')"
    >
      <div class="card px-5 py-5" ref="modal">
        <connect
          :token="token"
          :blockedCategories="blockedCategories"
          :dohConnection="dohConnection"
          :dotConnection="dotConnection"
          :connectingDevice="connectingDevice"
          :ip="ip"
          :ip6="ip6"
          :linkedIP.sync="linkedIP"
          :linkedIP6.sync="linkedIP6"
          :servers="servers"
          @help="dohConnection = ''; showLinkedIpHelp = true;"
        />
      </div>
    </b-modal>
    <b-modal
      v-if="showLinkedIpHelp"
      :active="true"
      @update:active="showLinkedIpHelp = false"
    >
      <linked-ip-warning/>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { getBestPlainDnsServers, getBlockedBaseCategories, getDeviceShortcuts, getDohURL, getDotHost, getSubscriptionDescription, PlainDnsServers, screentimeSupported } from "@/helpers/functions";
import { GetCategoriesRulesOptions } from "@/requests/categories-v2/get-categories-rules";
import LogoutDevice from "@/requests/devices-v2/logout-device";
import { APIDevice, APILifeguardDevice } from "@/requests/devices/get-devices";
import PutDeviceName from "@/requests/devices/put-device-name";
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import dayjs from 'dayjs'
import { ButtonLinksType } from "../common/button-field-card.vue";
import SelfServiceConfig from '@/components/my-devices/self-service-config.vue'
import ButtonFieldCard from '@/components/common/button-field-card.vue'
import GetDeviceDNSToken from "@/requests/devices/get-device-dns-token";
import GetIP from "@/requests/account/get-ip";
import GetIP6 from "@/requests/account/get-ip6";
import CopyText from '@/components/common/copy-text.vue'
import Collapse from '@/components/common/collapse.vue'
import LinkedIpWarning from '@/components/my-devices/linked-ip-warning.vue'
import Connect from '@/components/my-devices/connect.vue'
import DeleteDevice from "@/requests/devices-v2/delete-device";

@Component({
  components: {
    SelfServiceConfig,
    ButtonFieldCard,
    CopyText,
    Collapse,
    LinkedIpWarning,
    Connect
  }
})
export default class Devices extends Vue {
  @Prop() readonly devices: APIDevice[] | undefined;
  @Prop() readonly isPro: boolean | undefined
  /**
   * Whether we are in immersive mode.
   */
  @Prop() readonly immersive: boolean | undefined
  /**
   * The device we're configuring self-service for.
   */
  selfServiceDevice: GetCategoriesRulesOptions | null = null
  /**
   * The URL to connect to DOH.
   */
  dohConnection = ''
  /**
   * The URL to connect to DOT.
   */
  dotConnection = ''
  token = ''
  blockedCategories: number[] = []
  ip = ''
  ip6 = ''
  linkedIP = ''
  linkedIP6 = ''
  servers: PlainDnsServers | null = null
  /**
   * Whether to show modal with help text for failed linking IP.
   */
  showLinkedIpHelp = false
  /**
   * The ID of the device we're showing the connect dialog for.
   */
  connectingDevice = ''

  /**
   * Requests.
   */
  putDeviceName = new PutDeviceName()
  logoutDeviceReq = new LogoutDevice()
  getDeviceDNSToken = new GetDeviceDNSToken()
  getIP = new GetIP()
  getIP6 = new GetIP6()
  deleteDeviceReq = new DeleteDevice()

  /**
   * @returns A human-readable device type given the API response type.
   */
  getDeviceType (device: APIDevice): string {
    if (device.metadata && device.metadata['knox-serial'] !== undefined) {
      if (device.metadata['form-factor'] === 'tablet') {
        return 'Kid-Safe Tablet'
      } else {
        return 'Kid-Safe Smartphone'
      }
    }
    switch (device.type) {
      case 'android-device':
        return 'Android'
      case 'ios-device':
        return 'iOS'
      case 'windows-device':
        return 'Windows'
      case 'dns-device':
        return 'Connected via DNS'
      case 'op-device':
        return 'Lifeguard'
      default:
        return 'Unknown'
    }
  }

  getIcon (device: APIDevice): string {
    if (device.metadata && device.metadata['form-factor'] === 'tablet') {
      return 'tablet'
    } else if (device.metadata && device.metadata['knox-serial'] !== undefined) {
      return 'cellphone-lock'
    }
    switch (device.type) {
      case 'android-device':
      case 'ios-device':
        return 'cellphone'
      case 'windows-device':
        return 'laptop'
      case 'dns-device':
        return 'dns'
      case 'op-device':
        return 'router-wireless'
      default:
        return ''
    }
  }

  getMoreInfoText (device: APIDevice): string {
    switch (device.type) {
      case 'op-device':
        return this.formatViewDevices(device as APILifeguardDevice)
      default:
        return 'More info'
    }
  }

  /**
   * @returns The pages that can be jumped to depending on the device type.
   */
  getJumpToArray (device: APIDevice): [string, string][] {
    return getDeviceShortcuts(device, this.isPro, false).map(shortcut => [shortcut.name, shortcut.name])
  }

  getButtonLinks (device: APIDevice | undefined): ButtonLinksType {
    if (!device) {
      return {}
    }
    const ret: ButtonLinksType = {
      more: {
        name: 'Device',
        query: {
          'device-id': device.id
        }
      }
    }
    getDeviceShortcuts(device, this.isPro, false).forEach(shortcut => {
      ret[shortcut.name] = shortcut.route
    })
    return ret
  }

  /**
   * Format a last-seen time to human readable time.
   */
  formatLastSeen (timestamp: number): string {
    return dayjs.unix(timestamp).fromNow()
  }

  /**
   * Display a nice string of how many devices are on a lifeguard network.
   */
  formatViewDevices (lifeguard: APILifeguardDevice): string {
    let toReturn = 'View '
    const numDevices = lifeguard.devices ? lifeguard.devices.length : 0
    toReturn += numDevices
    toReturn += ' device'
    // Add a plural if it is one
    if (numDevices !== 1) {
      toReturn += 's'
    }
    toReturn += ' on network'
    return toReturn
  }

  /**
   * Show the user a prompt to delete particular device.
   */
  deleteDevice (device: APIDevice, isDNS?: boolean) {
    if (device.metadata && device.metadata['knox-profile']) {
      this.$router.push({
        name: 'Device',
        query: {
          'device-id': device.id,
          'ksp-delete': '1'
        }
      })
    } else {
      let messageSuffix = 'This will delete all data related to the device, including connected devices and blocked sites. Please make sure the device is no longer in use.'
      if (isDNS) {
        messageSuffix = 'This will delete any blocked site settings for this device. If any device is still connected, they will be reset to the default settings.'
      }
      this.$buefy.dialog.confirm({
        message: 'Are you sure you want to delete <strong>' + device.name + '</strong>? ' + messageSuffix,
        type: 'is-danger',
        onConfirm: () => {
          this.$emit('update:loading', true)
          this.deleteDeviceReq.handle({
            id: device.id,
            mac: device.mac
          }).then(() => {
            this.$emit('refresh')
          })
        }
      })
    }
  }

  /**
   * Show the user a prompt to change a device name.
   */
  changeDeviceName (device: APIDevice) {
    this.$buefy.dialog.prompt({
      message: 'Enter a new name for <strong>' + device.name + '</strong>.',
      onConfirm: newName => {
        this.$emit('update:loading', true)
        this.putDeviceName.handle({
          id: device.id,
          mac: device.mac,
          name: newName
        }).then(() => {
          this.$set(device, 'name', newName)
          this.$emit('update:loading', false)
        })
      }
    })
  }

  /**
   * Show the user a prompt to log out.
   */
  logoutDevice (device: APIDevice) {
    this.$buefy.dialog.confirm({
      message: 'Revoke any access this device has to your account. For some functions to work properly, you will need to sign in again.',
      confirmText: 'Log out of ' + device.name,
      type: 'is-warning',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.logoutDeviceReq.handle(device.id).then(() => {
          this.$emit('update:loading', false)
          this.$buefy.toast.open({
            message: 'Logged out of ' + device.name,
            type: 'is-success',
            position: 'is-bottom',
            duration: 3000
          })
        })
      }
    })
  }

  /**
   * If the dropdown on a device is selected, do the appropriate action.
   */
  handleDropdownItem (item: 'rename' | 'doDelete' | 'self-service' | 'logout', device: APIDevice) {
    switch (item) {
      case 'rename':
        this.changeDeviceName(device)
        break
      case 'doDelete':
        this.deleteDevice(device, false)
        break
      case 'logout':
        this.logoutDevice(device)
        break
      case 'self-service':
        this.selfServiceDevice = {
          'device-id': device.id,
          'mac': device.mac
        }
        break
    }
  }

  /**
   * Given a device ID, show its dohConnection parameters.
   */
  connect (id: string) {
    this.connectingDevice = id
    this.$emit('update:loading', true)
    Promise.all([
      this.getDeviceDNSToken.handle(id).then(token => {
        this.token = token
        this.dohConnection = getDohURL() + token
        this.dotConnection = token + '.' + getDotHost()
      }),
      this.getIP.handle().then(ip => {
        this.ip = ip
      }),
      this.getIP6.handle().then(ip6 => {
        this.ip6 = ip6
      }).catch(() => {
        this.ip6 = ''
      }),
      getBestPlainDnsServers().then(servers => {
        this.servers = servers
      }),
      getBlockedBaseCategories(id).then(categories => {
        this.blockedCategories = categories
      })
    ]).then(() => {
      this.$emit('update:loading', false)
    })
  }

  screentimeSupported (device: APILifeguardDevice): boolean {
    return screentimeSupported(device)
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
  padding-left: 30px;
}

.kid-safe-phone {
  background-color: rgba(25, 118, 210, 0.04) !important;
  border: 1px solid rgba(25, 118, 210, 0.5);
}
</style>
