<template>
  <div>
    <kid-safe-phone-subscription-check
      :tablet="tablet"
      :device="device"
      @done="subCheckDone($event)"
    >
      <template slot-scope="subResult">
        <div class="root">
          <div class="is-flex is-justify-content-space-between mb-5">
            <div/>
            <b-dropdown position="is-bottom-left">
              <b-button
                icon-right="dots-vertical"
                slot="trigger"
              />
              <b-dropdown-item>
                <b-checkbox
                  :value="unrestricted"
                  :disabled="unrestricted"
                  @input="setUnrestricted(subResult.result);"
                >
                  <div class="pl-2 pt-2">
                    <p>
                      Unrestricted
                    </p>
                    <div class="py-3 is-size-7 has-text-grey">
                      Safe Surfer is still active but can be bypassed.<br/>You can uninstall the Safe Surfer app while the Unrestricted profile is active<br/>
                      to restore the device to a normal state.
                    </div>
                  </div>
                </b-checkbox>
              </b-dropdown-item>
            </b-dropdown>
          </div>
          <kid-safe-phone-profile-selector
            :mobile="mobile"
            :tablet="tablet"
            :basic="basic"
            :intermediate="intermediate"
            :advanced="advanced"
            :disabled="subResult.result.issue !== '' && subResult.result.issueRestrictsAccess"
            @basic="setBasic(subResult.result)"
            @intermediate="setIntermediate"
            @advanced="setAdvanced"
          />
        </div>
        <b-modal
          v-if="confirmIntermediate"
          :active="true"
          @update:active="confirmIntermediate = false; updateLastPropValue(value);"
        >
          <div class="card">
            <div
              class="has-text-weight-semibold px-5 ml-2 pt-4 mb-2"
            >
              Review changes
            </div>
            <div class="px-5 ml-2 pb-4">
            <b-message
              type="is-primary"
            >
            Please note that there are multiple tabs with different options to select. All changes can be edited individually later.
            </b-message>
            </div>
            <b-tabs>
              <b-tab-item label="Web browsing" icon="web">
                <ul class="ml-3">
                  <li>Web browsers will be available on the device.</li>
                  <li>High-risk categories will be blocked.</li>
                  <li>SafeSearch filtering will be enforced on all supported search engines, and other search engines will be blocked.</li>
                  <li>Samsung Internet is recommended.</li>
                </ul>
                <b-field
                  class="ml-3 mt-4"
                  label="Unblock Samsung Internet (recommended)"
                  message="Safe Surfer works with Samsung Internet to prevent workarounds. It may need to be downloaded from the Galaxy Store after setup."
                >
                  <b-checkbox
                    :value="unblockingArgs.unblockSBrowser"
                    @input="$set(unblockingArgs, 'unblockSBrowser', $event); $set(unblockingArgs, 'unblockGalaxyStore', true);"
                  />
                </b-field>
                <b-field
                  class="ml-3 mt-4"
                  label="Unblock Google Chrome (not recommended)"
                  message="Google Chrome is less safe for on-screen nudity detection scanning when compared with Samsung Internet."
                >
                  <b-checkbox
                    :value="unblockingArgs.unblockChrome"
                    @input="$set(unblockingArgs, 'unblockChrome', $event)"
                  />
                </b-field>
              </b-tab-item>
              <b-tab-item label="Apps" icon="google-play">
                <ul class="ml-3">
                  <li>App stores will be available on the device.</li>
                  <li>Downloaded apps need further approval by clicking the App approval link in the Device vitals section.</li>
                  <li>The Galaxy Store can have sexually suggestive content available.</li>
                  <li>
                    The Google Play Store requires a Google account and can have sexually suggestive content available. After signing in with a Google account, we strongly recommended applying Play Store parental controls.
                    You can find out how to do this by <a href="https://helpdesk.safesurfer.io/en-nz/article/how-to-set-parental-controls-inside-the-google-play-store-app-1saqubm/" target="_blank">clicking this link</a>.
                  </li>
                </ul>
                <b-checkbox
                  class="ml-3 mt-4"
                  :value="unblockingArgs.unblockGalaxyStore"
                  @input="$set(unblockingArgs, 'unblockGalaxyStore', $event)"
                >
                  Unblock Galaxy Store
                </b-checkbox>
                <b-checkbox
                  class="ml-3 mt-4"
                  :value="unblockingArgs.unblockPlayStore"
                  @input="$set(unblockingArgs, 'unblockPlayStore', $event)"
                >
                  Unblock Google Play Store
                </b-checkbox>
              </b-tab-item>
              <b-tab-item label="YouTube experience" icon="play">
                <ul class="ml-3">
                  <li>The <a class="has-text-link" href="https://safe.vision/" target="blank">Safe Vision</a> app will be loaded on to the device.</li>
                  <li>Safe Vision is a simple app to control access to YouTube.</li>
                  <li>Safe Vision is free with a premium offering.</li>
                  <li>Safe Vision is not affiliated with Safe Surfer.</li>
                  <li>The Safe Vision app may be uninstalled.</li>
                </ul>
                <b-select
                  class="ml-3 mt-4"
                  :value="unblockingArgs.youtubeSetting"
                  @input="$set(unblockingArgs, 'youtubeSetting', $event)"
                >
                  <option
                    :value="null"
                  >
                    No YouTube access
                  </option>
                  <option
                    value="safe_vision"
                  >
                    Use Safe Vision app
                  </option>
                  <option
                    :value="2"
                  >
                    YouTube with strict-level filtering
                  </option>
                  <option
                    :value="1"
                  >
                    YouTube with moderate-level filtering
                  </option>
                  <option
                    :value="0"
                  >
                    YouTube with no filtering
                  </option>
                </b-select>
              </b-tab-item>
            </b-tabs>
            <div class="is-flex px-5 ml-2 pb-5">
              <b-button
                label="Cancel"
                @click="confirmIntermediate = false; updateLastPropValue(value);"
              />
              <b-button
                class="ml-3"
                label="Confirm"
                type="is-warning"
                @click="confirmIntermediate = false; confirmIntermediateSettings(subResult.result);"
              />
            </div>
          </div>
        </b-modal>
        <b-modal
          v-if="confirmAdvanced"
          :active="true"
          @update:active="confirmAdvanced = false; updateLastPropValue(value);"
        >
          <div class="card">
            <div
              class="has-text-weight-semibold px-5 ml-2 pt-4 mb-2"
            >
              Review Changes
            </div>
            <div class="px-5 ml-2 pb-4">
              <b-message
                type="is-primary"
              >
              Please note that there are multiple tabs with different options to select. All changes can be edited individually later.
              </b-message>
            </div>
            <b-tabs>
              <b-tab-item label="Social media" icon="account-group">
                <b-field label="Allow Facebook" message="Includes all versions of Messenger" class="ml-3 mt-4">
                  <b-checkbox
                    :value="unblockingArgs.unblockFacebook"
                    @input="$set(unblockingArgs, 'unblockFacebook', $event)"
                  />
                </b-field>
                <b-field label="Allow Instagram" class="ml-3 mt-4">
                  <b-checkbox
                    :value="unblockingArgs.unblockInstagram"
                    @input="$set(unblockingArgs, 'unblockInstagram', $event)"
                  />
                </b-field>
                <b-field label="Allow Reddit" message="Only the Reddit website is allowed, since the App allows explicit content." class="ml-3 mt-4">
                  <b-checkbox
                    :value="unblockingArgs.unblockReddit"
                    @input="$set(unblockingArgs, 'unblockReddit', $event)"
                  />
                </b-field>
                <b-field label="Allow Snapchat" class="ml-3 mt-4">
                  <b-checkbox
                    :value="unblockingArgs.unblockSnapchat"
                    @input="$set(unblockingArgs, 'unblockSnapchat', $event)"
                  />
                </b-field>
                <b-field label="Allow TikTok" class="ml-3 mt-4">
                  <b-checkbox
                    :value="unblockingArgs.unblockTiktok"
                    @input="$set(unblockingArgs, 'unblockTiktok', $event)"
                  />
                </b-field>
                <b-field
                  label="YouTube experience"
                  message="To keep using Safe Vision from the Explorer profile, select the Blocked option. This will not block the Safe Vision app."
                  class="ml-3 mt-4"
                >
                  <b-select
                    :value="unblockingArgs.youtubeSetting"
                    @input="$set(unblockingArgs, 'youtubeSetting', $event)"
                  >
                    <option
                      :value="null"
                    >
                      Blocked
                    </option>
                    <option
                      :value="2"
                    >
                      Strict Automatic Filtering
                    </option>
                    <option
                      :value="1"
                    >
                      Automatic Filtering
                    </option>
                    <option
                      :value="0"
                    >
                      No Filtering
                    </option>
                  </b-select>
                </b-field>
              </b-tab-item>
              <b-tab-item label="Apps" icon="google-play">
                <ul class="ml-3">
                  <li>Approval of newly downloaded apps is no longer required.</li>
                </ul>
              </b-tab-item>
              <b-tab-item label="Web browsing" icon="web">
                <ul class="ml-3">
                  <li>Block settings are unchanged.</li>
                </ul>
              </b-tab-item>
            </b-tabs>
            <div class="is-flex px-5 ml-2 pb-5">
              <b-button
                label="Cancel"
                @click="confirmAdvanced = false; updateLastPropValue(value);"
              />
              <b-button
                class="ml-3"
                label="Confirm"
                type="is-warning"
                @click="confirmAdvanced = false; confirmAdvancedSettings(subResult.result);"
              />
            </div>
          </div>
        </b-modal>
        <b-modal
          v-if="checkoutArgs"
          :active="true"
          @update:active="profileAfterCheckout = null; checkoutArgs = null; updateLastPropValue(value);"
        >
          <div class="card px-4 py-3">
            <addon-checkout
              v-model="checkoutArgs"
              :plan="subResult.result.plan"
              @close="afterCheckout($event)"
              @paymentmethod="goToPayment"
            />
          </div>
        </b-modal>
      </template>
    </kid-safe-phone-subscription-check>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import PutDeviceProfile, { Profile } from '@/requests/knox-api/put-device-profile'
import DeleteDeviceProfile from '@/requests/knox-api/delete-device-profile'
import GetQuota from '@/requests/quotas/get-quota'
import PatchAppBlockingBaseRuleset from '@/requests/blocking/patch-app-blocking-base-ruleset'
import PatchCategoryBlockingBaseRuleset from '@/requests/blocking/patch-category-blocking-base-ruleset'
import { applyKspProfileSettings, UnblockingArgs } from '@/helpers/functions'
import KidSafePhoneProfileSelector from './kid-safe-phone-profile-selector.vue'
import AddonCheckout, { AddonCheckoutArg, AddonCheckoutArgs } from '../account-settings/addon-checkout.vue'
import GetSubscription from '@/requests/user-v2/get-subscription'
import KidSafePhoneSubscriptionCheck, { SubscriptionCheckResult } from './kid-safe-phone-subscription-check.vue'
import GetDevices, { APIDevice } from '@/requests/devices/get-devices'
import dayjs from 'dayjs'

@Component({
  components: {
    KidSafePhoneProfileSelector,
    KidSafePhoneSubscriptionCheck,
    AddonCheckout
  }
})
export default class KidSafePhoneProfile extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly tablet: boolean | undefined
  @Prop() readonly value: Profile | null | undefined
  basic = false
  intermediate = false
  advanced = false
  unrestricted = false
  confirmIntermediate = false
  confirmAdvanced = false
  unblockingArgs: UnblockingArgs = {
    youtubeSetting: null,
    unblockGalaxyStore: false,
    unblockSBrowser: true
  }
  @Watch('value', { immediate: true }) updateLastPropValue(newVal: Profile | null | undefined) {
    this.basic = this.tablet ? newVal === 'basic-tablet' : newVal === 'basic'
    this.intermediate = this.tablet ? newVal === 'intermediate-tablet' : newVal === 'intermediate'
    this.advanced = this.tablet ? newVal === 'advanced-tablet' : newVal === 'advanced'
    this.unrestricted = newVal === null
  }
  profileAfterCheckout: Profile | '' | null = null
  checkoutArgs: AddonCheckoutArgs | null = null
  lastSwitch = 0
  result: SubscriptionCheckResult | null = null

  @Prop() readonly device: APIDevice | undefined

  putDeviceProfile = new PutDeviceProfile()
  patchAppBlockingBaseRuleset = new PatchAppBlockingBaseRuleset()
  patchCategoryBlockingBaseRuleset = new PatchCategoryBlockingBaseRuleset()
  deleteDeviceProfile = new DeleteDeviceProfile()
  getSubscription = new GetSubscription()
  getQuota = new GetQuota()
  getDevices = new GetDevices()

  afterCheckout (cancelled: boolean) {
    if (Math.floor(new Date().getTime() / 1000) - this.lastSwitch < 10) {
      this.err()
      return
    }
    const profileAfterCheckout = this.profileAfterCheckout
    this.checkoutArgs = null
    this.profileAfterCheckout = null
    if (cancelled) {
      this.updateLastPropValue(this.value)
      return
    }
    if (profileAfterCheckout === null) {
      return
    }
    const device = this.device
    if (!device) {
      return
    }
    if (profileAfterCheckout === '') {
      this.$emit('update:loading', true)
      this.deleteDeviceProfile.handle(device.id).then(() => {
        this.onProfileChanged()
      }).catch(() => {
        this.err()
      })
    } else {
      Promise.all([
        applyKspProfileSettings(profileAfterCheckout, device.id, this.unblockingArgs),
        this.putDeviceProfile.handle({
          deviceId: device.id,
          profile: profileAfterCheckout
        })
      ]).then(() => {
        this.onProfileChanged()
      }).catch(() => {
        this.err()
      })
    }
  }

  err () {
    this.$emit('update:loading', false)
    this.updateLastPropValue(this.value)
    this.$buefy.snackbar.open({
      type: 'is-danger',
      message: 'Couldn\'t change profiles',
      position: 'is-bottom-right',
      duration: 5000
    })
  }

  checkout (subResult: SubscriptionCheckResult, profile: Profile | '') {
    if (!this.device) {
      return
    }
    if (!subResult.issueRestrictsAccess && !((this.device.metadata as {[key: string]:string})['knox-addon-managed'] === '1' && !profile)) {
      // If this field is false, the device is in its free period. Don't bring up the actual checkout.
      this.profileAfterCheckout = profile
      this.afterCheckout(false)
      return
    }
    const addon = subResult.addon
    if (!addon || !subResult.plan) {
      // If we don't have the addon for the plan, we are operating under a courtesy subscription.
      // We just have to set the profile and hope for the best.
      this.profileAfterCheckout = profile
      this.afterCheckout(false)
    } else {
      // Calculate the addon amount based on the current quota usage.
      const arg = {
        addon: subResult.addon,
        quantity: 0
      } as AddonCheckoutArg
      const checkoutArgs: AddonCheckoutArgs = [ arg ]
      this.$emit('update:loading', true)
      this.getQuota.handle('kid_safe_phone').then(quotaResp => {
        this.getDevices.handle().then(devices => {
          if (devices.mobile) {
            devices.mobile.forEach(device => {
              if (device.metadata && device.metadata['knox-addon-managed'] === '1') {
                const expiry = parseInt(device.metadata['knox-free-period-end'])
                if (expiry > dayjs().unix()) {
                  quotaResp.spec.currentValue++
                }
              }
            })
          }
          const quota = quotaResp.spec
          let changesNeeded = false
          if (!quota) {
            this.err()
          } else {
            arg.quantity = quota.currentValue
            // See if we need to reduce the previously used quota
            if (this.value && !profile) {
              arg.quantity = quota.currentValue-1
              changesNeeded = true
            }
            // Increment the current amount if needed
            if (!this.value && profile) {
              arg.quantity = quota.currentValue+1
              changesNeeded = true
            }
            // Ensure we don't go over/under
            if (arg.quantity < 0) {
              arg.quantity = 0
              changesNeeded = true
            }
            if (addon.maxQuantity && arg.quantity > addon.maxQuantity) {
              this.err()
              return
            }
            // If we are activating, make the current amount the minimum selectable
            if (profile) {
              arg.min = arg.quantity
            }
            this.profileAfterCheckout = profile
            if (changesNeeded) {
              this.checkoutArgs = checkoutArgs
            } else {
              this.afterCheckout(false)
            }
            this.$emit('update:loading', false)
          }
        })
      }).catch(() => {
        this.err()
      })
    }
  }

  setBasic(subResult: SubscriptionCheckResult) {
    const deviceId = this.device
    if (!deviceId) {
      return
    }
    this.basic = true
    this.intermediate = false
    this.advanced = false
    this.unrestricted = false
    this.$buefy.dialog.confirm({
      type: 'is-warning',
      message: 'Web browsers and app stores will be disabled on this device, along with any downloaded apps. This can be managed later on the App approval menu.',
      confirmText: 'Switch to Essentials',
      onConfirm: () => {
        this.checkout(subResult, this.tablet ? 'basic-tablet' : 'basic')
      },
      onCancel: () => {
        this.updateLastPropValue(this.value)
      }
    })
  }

  confirmIntermediateSettings(subResult: SubscriptionCheckResult) {
    this.checkout(subResult, this.tablet ? 'intermediate-tablet' : 'intermediate')
  }

  confirmAdvancedSettings(subResult: SubscriptionCheckResult) {
    this.checkout(subResult, this.tablet ? 'advanced-tablet' : 'advanced')
  }

  setIntermediate() {
    const deviceId = this.device
    if (!deviceId) {
      return
    }
    this.basic = false
    this.intermediate = true
    this.advanced = false
    this.unrestricted = false
    this.confirmIntermediate = true
  }

  setAdvanced() {
    const deviceId = this.device
    if (!deviceId) {
      return
    }
    this.basic = false
    this.intermediate = false
    this.advanced = true
    this.unrestricted = false
    this.confirmAdvanced = true
  }

  setUnrestricted(subResult: SubscriptionCheckResult) {
    const deviceId = this.device
    if (!deviceId) {
      return
    }
    this.basic = false
    this.intermediate = false
    this.advanced = false
    this.unrestricted = true
    this.$buefy.dialog.confirm({
      type: 'is-warning',
      message: 'If turned off, the Safe Surfer app may be disabled or uninstalled from the device by the user.',
      confirmText: 'Turn off',
      onConfirm: () => {
        this.checkout(subResult, '')
      },
      onCancel: () => {
        this.updateLastPropValue(this.value)
      }
    })
  }

  setUnrestrictedExternal() {
    const result = this.result
    if (!result) {
      return
    }
    this.setUnrestricted(result)
  }

  subCheckDone(subResult: SubscriptionCheckResult) {
    this.result = subResult
    if (this.$route.query['ksp-delete'] == '1') {
      this.basic = false
      this.intermediate = false
      this.advanced = false
      this.unrestricted = true
      this.$buefy.dialog.confirm({
        type: 'is-warning',
        message: 'If turned off, the Safe Surfer app may be disabled or uninstalled from the device by the user.',
        confirmText: 'Turn off',
        onConfirm: () => {
          this.checkout(subResult, '')
        },
        onCancel: () => {
          this.updateLastPropValue(this.value)
        }
      })
    }
  }

  onProfileChanged() {
    this.lastSwitch = Math.floor(new Date().getTime() / 1000)
    this.$emit('update:loading', false)
    let helpText = 'The device should update automatically. If the device does not update quickly, you can trigger a manual update by navigating to one of the menus below:<br/><br/>'
    helpText += 'Settings > Advanced Features > Configuration Service > Profile Information > Update<br/><br/>'
    helpText += 'Settings > About '
    if (this.tablet) {
      helpText += 'tablet '
    } else {
      helpText += 'phone '
    }
    helpText += '-> Software information > Knox Configure > Profile Information > Update'
    this.$emit('refresh')
    this.$buefy.snackbar.open({
      position: 'is-bottom-right',
      message: 'Profile changed',
      duration: 1_000_000,
      type: 'is-success',
      cancelText: 'OK',
      actionText: 'Help',
      onAction: () => {
        this.$buefy.dialog.alert({
          type: 'is-primary',
          message: helpText
        })
      }
    })
  }

  goToPayment () {
    this.$router.push({
      name: 'AccountSettings',
      query: {
        section: 'payment',
      },
    })
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}

.root {
  position: relative;
  top: -45px;
}
</style>

