<template>
  <b-steps
   :has-navigation="false"
   v-model="currStep"
  >
    <b-step-item icon="download" :clickable="false">
      <div class="content">
        <p>
          Make sure that the device is with you, unlocked, and connected to Wi-Fi. The update will take a short moment to start, and there might be extra steps to complete after the update.
        </p>
      </div>
      <b-button
        v-if="!waiting"
        type="is-primary"
        label="Start update"
        icon-left="play"
        @click="start"
      />
      <div v-else>
        <div class="is-flex is-align-items-center">
          <spinner/>
          <p>Waiting for update to complete...</p>
        </div>
        <collapse
          title="Update not downloading?"
          class="mt-3"
        >
          <p
            v-html="helpText()"
          >
          </p>
        </collapse>
      </div>
    </b-step-item>
    <b-step-item icon="check" :clickable="false">
      <div class="content">
        <h3>
          Update complete!
        </h3>
        <p>
          The Kid-Safe device may prompt you for final setup steps. Once the update has finished, you can open the Safe Surfer app, enter your PIN, and discover new features.
          <br />
          <br />
          If you see the "Almost there" screen, tap the "Restrict app & settings access" checkbox. Navigate to Installed apps > Safe Surfer > tap the first switch to turn it off > tap the Turn off option > tap the first switch to turn it on > Allow > tap the Home button to leave the Settings menu.
        </p>
        <p v-if="device && device.metadata && device.metadata['knox-profile'] && !device.metadata['knox-profile'].includes('basic')">
          This update makes Samsung Internet the preferred browser for Kid-Safe Devices. Would you like to switch to it now?

          <b-field
            class="mt-3"
            label="Block Chrome and allow Samsung Internet"
            message="Samsung Internet may need to be downloaded from the Galaxy Store.">
            <b-checkbox
              v-model="browserSwitch"
            />
          </b-field>
        </p>
        <b-button
          label="Done"
          icon-left="check"
          type="is-primary"
          @click="done"
        />
      </div>
    </b-step-item>
  </b-steps>
</template>

<script lang="ts">
import { APIDevice } from '@/requests/devices/get-devices'
import PutDeviceProfile, { Profile } from '@/requests/knox-api/put-device-profile'
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import Spinner from '@/components/common/spinner.vue'
import GetDevice from '@/requests/devices/get-device'
import Collapse from '@/components/common/collapse.vue'
import PatchAppBlockingBaseRuleset from '@/requests/blocking/patch-app-blocking-base-ruleset'

@Component({
  components: {
    Spinner,
    Collapse
  }
})
export default class KidSafePhoneUpdate extends Vue {
  @Prop() readonly device: APIDevice | undefined

  waiting = false
  interval = 0
  currStep = 0
  browserSwitch = true

  putDeviceProfile = new PutDeviceProfile()
  getDevice = new GetDevice()
  patchAppBlockingBaseRuleset = new PatchAppBlockingBaseRuleset()

  start () {
    if (!this.device || !this.device.metadata) {
      return
    }
    const deviceId = this.device.id
    const profile = this.device.metadata['knox-profile']
    if (!profile) {
      return
    }
    this.waiting = true
    this.interval = setInterval(() => {
      this.getDevice.handle({
        "device-id": deviceId
      }).then(device => {
        if (device.version && device.version.startsWith('3.7.14')) {
          this.currStep++
          this.waiting = false
          clearInterval(this.interval)
        }
      })
    }, 5000)
    this.putDeviceProfile.handle({
      deviceId: this.device.id,
      profile: profile as Profile,
      force: true
    })
  }

  helpText (): string {
    if (!this.device || !this.device.metadata) {
      return ''
    }
    const profile = this.device.metadata['knox-profile']
    if (!profile) {
      return ''
    }
    let helpText = 'The device should update automatically. If the device does not begin the update process after a short moment, you can trigger a manual update by navigating to one of the following menus (depending on the age of the device):<br/><br/>'
    helpText += 'Settings > Advanced features > Configuration service > tap the profile name > Update<br/><br/>'
    helpText += 'Settings > About '
    if (profile.includes('tablet')) {
      helpText += 'tablet '
    } else {
      helpText += 'phone '
    }
    helpText += '> Software information > Knox Configure > tap the profile name > Update'
    return helpText
  }

  beforeDestroy () {
    clearInterval(this.interval)
  }

  done () {
    this.$emit('done')
    if (this.browserSwitch) {
      if (!this.device || !this.device.metadata) {
        return
      }
      const deviceId = this.device.id
      this.patchAppBlockingBaseRuleset.handle({
        deviceId: deviceId,
        ruleset: {
          approvalRequired: null,
          apps: {
            'android/com.sec.android.app.sbrowser': {
              blocked: false
            },
            'android/com.android.chrome': {
              blocked: true
            }
          }
        }
      })
    }
  }
}
</script>
