<template>
  <div>
    <div v-if="!loading && result">
      <b-message
        v-if="result.issue === 'ios' && result.issueRestrictsAccess"
        type="is-warning"
        icon="apple"
      >
        Your subscription is managed by the App Store. To keep this Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }} restricted,
        cancel your App Store subscription and switch to an annual web subscription before {{ result.issueDeadline }}.
        <br/><br/>
        <b-button
          label="Switch to web subscription"
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment',
            },
          }"
        />
      </b-message>
      <b-message
        v-else-if="result.issue === 'ios'"
        type="is-warning"
        icon="apple"
      >
        Your subscription is managed by the App Store. To use Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }},
        cancel your App Store subscription and switch to an annual web subscription,
        adding the Kid-Safe Devices add-on.
        <br/><br/>
        <b-button
          label="Switch to web subscription"
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment',
            },
          }"
        />
      </b-message>
      <b-message
        v-else-if="result.issue === 'google_play' && result.issueRestrictsAccess"
        type="is-warning"
        icon="google-play"
      >
        Your subscription is managed by the Google Play Store. To use Kid-Safe
        {{ tablet ? 'Tablet' : 'Phone' }}, switch to an annual web subscription and add the Kid-Safe devices add-on.
        <br/><br/>
        <b-button
          label="Switch to web subscription"
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment',
            },
          }"
        />
      </b-message>
      <b-message
        v-else-if="result.issue === 'google_play'"
        type="is-warning"
        icon="google-play"
      >
        Your subscription is managed by the Google Play Store. To keep this Kid-Safe
        {{ tablet ? 'Tablet' : 'Phone' }} restricted, switch to an annual web subscription before {{ result.issueDeadline }}.
        <br/><br/>
        <b-button
          label="Switch to web subscription"
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment',
            },
          }"
        />
      </b-message>
      <b-message v-else-if="result.issue === 'courtesy' && result.issueRestrictsAccess" type="is-warning">
        You currently have a courtesy subscription, so the Kid-Safe devices add-on
        couldn't be enabled. To get this enabled,
        <a
          class="has-text-link"
          target="blank"
          href="https://safesurfer.io/contact"
        >
          please contact us</a
        >.
      </b-message>
      <b-message v-else-if="result.issue === 'courtesy'" type="is-warning">
        Kid-Safe devices are not supported on a courtesy subscription. Please contact us before
        {{ result.issueDeadline }} to keep this device restricted. Please contact us by
        <a
          class="has-text-link"
          target="blank"
          href="https://safesurfer.io/contact"
        >
        clicking this link</a
        >.
      </b-message>
      <b-message v-else-if="result.issue === 'not_annual' && result.issueRestrictsAccess" type="is-warning">
        Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }} is only available on annual subscriptions.
        <br/><br/>
        <b-button
          label="Change plan"
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment',
            },
          }"
        />
      </b-message>
      <b-message v-else-if="result.issue === 'not_annual'" type="is-warning">
        Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }} is only available on annual subscriptions. Please switch before
        {{ result.issueDeadline }} to keep this device restricted.
        <br/><br/>
        <b-button
          label="Change plan"
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment',
            },
          }"
        />
      </b-message>
      <b-message v-else-if="result.issue === 'inactive' && result.issueRestrictsAccess" type="is-warning">
        Using Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }} requires an active annual subscription with the Kid-Safe
        Devices add-on.
        <br/><br/>
        <b-button
          label="Get"
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment',
            },
          }"
        />
      </b-message>
      <b-message v-else-if="result.issue === 'inactive'" type="is-warning">
        Using Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }} requires an active annual subscription. Please get one
        before {{ result.issueDeadline }} to keep this device restricted.
        <br/><br/>
        <b-button
          label="Get"
          type="is-primary"
          tag="router-link"
          :to="{
            name: 'AccountSettings',
            query: {
              section: 'payment',
            },
          }"
        />
      </b-message>
      <b-message v-else-if="result.issue === 'not_available'" type="is-warning">
        Kid-Safe {{ tablet ? 'Tablet' : 'Phone' }} is not available in your country or region.
      </b-message>
      <slot
        :result="result"
      />
    </div>
    <spinner v-else/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Spinner from '@/components/common/spinner.vue'
import { Prop } from 'vue-property-decorator'
import { Addon, Plan } from '@/requests/user-v2/get-plan'
import GetQuota from '@/requests/quotas/get-quota'
import GetSubscription from '@/requests/user-v2/get-subscription'
import { isDevEnvironment } from '@/helpers/functions'
import { APIDevice } from '@/requests/devices/get-devices'
import dayjs from 'dayjs'
import LocalizedFormat from 'dayjs/plugin/localizedFormat'
dayjs.extend(LocalizedFormat)

type SubscriptionIssue = 'ios' | 'google_play' | 'courtesy' | 'inactive' | 'not_available' | 'not_annual' | ''

export interface SubscriptionCheckResult {
  issue: SubscriptionIssue
  issueRestrictsAccess: boolean
  issueDeadline?: string
  refresh: () => void
  plan: Plan | null
  addon: Addon | null
}

@Component({
  components: {
    Spinner
  }
})
export default class KidSafePhoneSubscriptionCheck extends Vue {
  @Prop() readonly tablet: boolean | undefined
  @Prop() readonly device: APIDevice | undefined

  loading = false
  result: SubscriptionCheckResult | null = null

  getQuota = new GetQuota()
  getSubscription = new GetSubscription()

  mounted () {
    this.checkSubscription()
  }

  checkSubscription() {
    this.loading = true
    this.result = null
    const result: SubscriptionCheckResult = {
      issue: '',
      plan: null,
      addon: null,
      // The subscription issue only affects profile selection if the device is not in its free period of usage.
      issueRestrictsAccess:
        !this.device ||
        !this.device.metadata ||
        !this.device.metadata['knox-free-period-end'] ||
        dayjs().unix() > parseInt(this.device.metadata['knox-free-period-end']),
      refresh: this.checkSubscription.bind(this),
    }
    if (!result.issueRestrictsAccess) {
      result.issueDeadline = dayjs.unix(parseInt(((this.device as APIDevice).metadata as {[key: string]: string})['knox-free-period-end'])).format('LLL')
    }
    // See if the user needs to change subscriptions.
    // See if they have been granted access manually.
    this.getQuota.handle('kid_safe_phone').then(quota => {
      if (quota.spec.imposedBy === 'grant') {
        // User has been granted quota.
        // Who knows if the amount is right - this is up to the slot component, and us to get it right.
        this.result = result
        this.loading = false
        this.$emit('done', result)
      } else {
        // User has not been granted quota manually.
        this.getSubscription.handle({
          refresh: true
        }).then(subscription => {
          if (subscription.spec.status === 'COURTESY') {
            result.issue = 'courtesy'
          } else if (!subscription.spec.chargebeeSubscription) {
            if (subscription.spec.googlePlaySubscription) {
              result.issue = 'google_play'
            } else {
              result.issue = 'inactive'
            }
          } else if (subscription.spec.chargebeePlan.channel !== 'web') {
            result.issue = 'ios'
          } else if (!subscription.spec.chargebeePlan.id.includes('annual')) {
            result.issue = 'not_annual'
          } else {
            result.plan = subscription.spec.chargebeePlan
            const addonId = this.getAddonId()
            const proAddonId = this.getProAddonId()
            const addonArr = subscription.spec.chargebeePlan ?
              subscription.spec.chargebeePlan.addons.filter(addon => addon.id.startsWith(proAddonId)) :
              []
            if (!addonArr.length) {
              result.issue = 'not_available'
            } else {
              result.addon = addonArr[0]
            }
          }
          this.result = result
          this.loading = false
          this.$emit('done', result)
        })
      }
    })
  }

  getAddonId (): string {
    return isDevEnvironment() ? 'kid-safe-phone' : 'ksp'
  }

  getProAddonId (): string {
    return isDevEnvironment() ? 'kid-safe-phone-pro' : 'kspp'
  }
}
</script>
