<template>
  <div
    class="is-flex is-justify-content-space-between"
    :style="{ 'overflow-x': mobile ? 'scroll' : 'hidden' }"
  >
    <div
      :style="{ 'min-width': mobile ? '200px' : undefined }"
      :class="{ 'mr-4': mobile }"
      class="device-frame device-frame-photo"
    >
      <b-checkbox
        :value="basic"
        :disabled="basic || disabled"
        @input="$emit('basic')"
      >
        <div class="is-flex is-justify-content-space-between is-align-items-center">
          <div class="has-text-weight-semibold py-3 pl-5 ml-2">Essentials</div>
          <div class="has-background-warning" style="border-radius: 50px; width: 35px; height: 35px; position: relative; top: 35px; right: 5px;">
            <img src="@/assets/setup-images/kid-safe-phone/basic-icon.png" width="25px" style="position: absolute; top: 7px; left: 5px;"/>
          </div>
        </div>
        <img
          v-if="tablet"
          class="p-2"
          width="200px"
          src="@/assets/setup-images/kid-safe-tablet/basic.png"
        />
        <img
          v-else
          class="p-2"
          width="200px"
          src="@/assets/setup-images/kid-safe-phone/basic.png"
        />
        <ul class="py-3">
          <li>
            Phone calls
          </li>
          <li>
            Text messages
          </li>
          <li>
            Camera
          </li>
        </ul>
      </b-checkbox>
    </div>
    <div
      :style="{ 'min-width': mobile ? '200px' : undefined }"
      :class="{ 'mr-4': mobile }"
      class="device-frame device-frame-photo"
    >
      <b-checkbox
        :value="intermediate"
        :disabled="intermediate || disabled"
        @input="$emit('intermediate')"
      >
        <div class="is-flex is-justify-content-space-between is-align-items-center">
          <div class="has-text-weight-semibold py-3 pl-5 ml-2">Explorer</div>
          <div class="has-background-warning" style="border-radius: 50px; width: 35px; height: 35px; position: relative; top: 35px; right: 5px;">
            <img src="@/assets/setup-images/kid-safe-phone/intermediate-icon.png" width="25px" style="position: absolute; top: 7px; left: 5px;"/>
          </div>
        </div>
        <img
          v-if="tablet"
          class="p-2"
          width="200px"
          src="@/assets/setup-images/kid-safe-tablet/intermediate.png"
        />
        <img
          v-else
          class="p-2"
          width="200px"
          src="@/assets/setup-images/kid-safe-phone/intermediate.png"
        />
        <ul class="py-3">
          <li>
            Phone calls
          </li>
          <li>
            Text messages
          </li>
          <li>
            Camera
          </li>
          <li>
            Safe Vision
          </li>
          <li>
            Safe Internet browsing
          </li>
          <li>
            App stores (new apps must be approved)
          </li>
        </ul>
      </b-checkbox>
    </div>
    <div
      :style="{ 'min-width': mobile ? '200px' : undefined }"
      :class="{ 'mr-4': mobile }"
      class="device-frame device-frame-photo"
    >
      <b-checkbox
        :value="advanced"
        :disabled="advanced || disabled"
        @input="$emit('advanced')"
      >
        <div class="is-flex is-justify-content-space-between is-align-items-center">
          <div class="has-text-weight-semibold py-3 pl-5 ml-2">Empower</div>
          <div class="has-background-warning" style="border-radius: 50px; width: 35px; height: 35px; position: relative; top: 35px; right: 5px;">
            <img src="@/assets/setup-images/kid-safe-phone/advanced-icon.png" width="25px" style="position: absolute; top: 7px; left: 5px;"/>
          </div>
        </div>
        <img
          v-if="tablet"
          class="p-2"
          width="200px"
          src="@/assets/setup-images/kid-safe-tablet/advanced.png"
        />
        <img
          v-else
          class="p-2"
          width="200px"
          src="@/assets/setup-images/kid-safe-phone/advanced.png"
        />
        <ul class="py-3">
          <li>
            Phone calls
          </li>
          <li>
            Text messages
          </li>
          <li>
            Camera
          </li>
          <li>
            YouTube
          </li>
          <li>
            Safe Internet browsing
          </li>
          <li>
            App stores
          </li>
          <li>
            Social media apps (monitored)
          </li>
        </ul>
      </b-checkbox>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class KidSafePhoneProfileSelector extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly tablet: boolean | undefined
  @Prop() readonly disabled: boolean | undefined
  @Prop() readonly basic: boolean | undefined
  @Prop() readonly intermediate: boolean | undefined
  @Prop() readonly advanced: boolean | undefined
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>

<style>
.device-frame {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}

.device-frame-photo {
  width: 200px;
}

.device-frame-nophoto {
  width: 180px;
}

.device-frame .check {
  position: absolute;
  top: 13px;
  left: 10px;
}
</style>
