<template>
  <button-field-card
    :title="device.name"
    :loading="loading"
    :fields="isPro ? [
      ['Blocked Categories:', blocks, (blocks !== 'None.' && blocks !== '') ? 'has-text-danger' : undefined],
      ['Viewed Categories:', views],
      ['VPN Attempts:', vpnAttempts, (vpnAttempts !== 'None.' && vpnAttempts !== '') ? 'has-text-danger': undefined]
    ] : undefined"
    :dropdowns="[
      [
        'Jump To', getJumpToArray(device)
      ]
    ]"
    :buttons="[
      ['more', 'More Info']
    ]"
    :buttonLinks="getButtonLinks(device)"
    icon="cellphone-link"
  >
    <!-- Dropdown for more options -->
    <b-dropdown
      position="is-bottom-left"
      slot="top-right"
      :value="null"
      @input="handleDropdownItem($event)"
      v-if="showRenameDelete"
    >
      <!-- Three dots trigger -->
      <b-button
        size="is-small"
        slot="trigger"
        type="is-primary"
        rounded outlined
      >
        <b-icon icon="dots-horizontal" size="is-small"/>
      </b-button>
      <!-- Items -->
      <b-dropdown-item
        value="rename"
      >
        Rename
      </b-dropdown-item>
      <b-dropdown-item
        v-if="showSelfService"
        value="selfService"
      >
        Self-service
      </b-dropdown-item>
      <b-dropdown-item
        value="doDelete"
      >
        Delete
      </b-dropdown-item>
    </b-dropdown>
  </button-field-card>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { APIDevice, APIDevices } from '@/requests/devices/get-devices'
import ButtonFieldCard, { ButtonLinksType } from '@/components/common/button-field-card.vue'
import GetLifeguardDeviceUsage from '@/requests/usage/get-lifeguard-device-usage'
import dayjs from 'dayjs'
import { getDeviceShortcuts, getTimezone } from '@/helpers/functions'
import GetVPNAttempts from '@/requests/vpns/get-attempts'
import PutDeviceName from '@/requests/devices/put-device-name'
import DeleteDevice from '@/requests/devices-v2/delete-device'

/**
 * A device card for a lifeguard client device. Fetches
 * usage information for the device.
 */
@Component({
  components: {
    ButtonFieldCard
  }
})
export default class LifeguardDeviceCard extends Vue {
  @Prop() readonly isPro: boolean | undefined
  /**
   * Input: The lifeguard device client we want to show.
   */
  @Prop() readonly device: APIDevice | undefined
  /**
   * The ID of the lifeguard.
   */
  @Prop() readonly lifeguardID: string | undefined
  /**
   * Whether to show the option to rename/delete the device.
   */
  @Prop() readonly showRenameDelete: boolean | undefined
  /**
   * Whether to show the option for self service config.
   */
  @Prop() readonly showSelfService: boolean | undefined
  /**
   * String of the blocked categories for the device.
   */
  blocks = ''
  /**
   * String of the viewed categories for the device.
   */
  views = ''
  /**
   * String of the amount of VPN attempts for the device.
   */
  vpnAttempts = ''

  /**
   * Requests.
   */
  getLifeguardDeviceUsage = new GetLifeguardDeviceUsage()
  getVPNAttempts = new GetVPNAttempts()
  putDeviceName = new PutDeviceName()
  deleteDevice = new DeleteDevice()

  mounted () {
    if (this.isPro && this.device && this.lifeguardID) {
      // Get timestamps and timezone
      const startTime = dayjs().subtract(6, 'd').startOf('day').format('YYYYMMDD')
      const endTime = dayjs().format('YYYYMMDD')
      const timezone = getTimezone()
      // Get the usage 
      this.getLifeguardDeviceUsage.handle({
        start: startTime,
        end: endTime,
        tz: timezone,
        mac: this.device.mac,
        id: this.lifeguardID
      }).then(usage => {
        if (usage.allow === null || Object.keys(usage.allow).length === 0) {
          this.views = 'None.'
        } else {
          // Get the most viewed categories
          const mostViewed = Object.keys(usage.allow)
            .map(catName => [catName, usage.allow[catName]] as [string, number])
            .sort((a, b) => b[1] - a[1])
            .slice(0, 5)
            .map(el => el[0])
          // Make into a string, removing initial comma
          this.views = mostViewed.reduce((prev, curr) => prev + ', ' + curr, '').slice(2) + '.'
        }
        if (usage.block === null  || Object.keys(usage.block).length === 0) {
          this.blocks = 'None.'
        } else {
          // Get the first 5 blocked categories
          const firstBlocked = Object.keys(usage.block).slice(0, 5)
          // Make into a string, removing initial comma
          this.blocks = firstBlocked.reduce((prev, curr) => prev + ', ' + curr, '').slice(2) + '.'
        }
      }).catch(() => {
        this.views = 'None.'
        this.blocks = 'None.'
      })

      // Get the VPN attempts
      this.getVPNAttempts.handle(this.lifeguardID).then(attempts => {
        if (!attempts || attempts.length === 0) {
          this.vpnAttempts = 'None.'
        } else {
          const numAttempts = attempts.filter(attempt => attempt.mac === (this.device as APIDevice).mac).length
          if (numAttempts === 0) {
            this.vpnAttempts = 'None.'
          } else {
            this.vpnAttempts = numAttempts + ''
          }
        }
      })
    }
  }

  /**
   * Whether we are loading data for the device.
   */
  get loading (): boolean {
    if (!this.isPro) {
      return false
    }
    return this.blocks === '' || this.views === '' || this.vpnAttempts === ''
  }

  /**
   * @returns The pages that can be jumped to depending on the device type.
   */
  getJumpToArray (device: APIDevice): [string, string][] {
    return getDeviceShortcuts(device, this.isPro, false).map(shortcut => [shortcut.name, shortcut.name])
  }

  getButtonLinks (device: APIDevice | undefined): ButtonLinksType {
    if (!device) {
      return {}
    }
    const ret: ButtonLinksType = {
      more: {
        name: 'Device',
        query: {
          'device-id': device.id,
          'mac': device.mac
        }
      }
    }
    getDeviceShortcuts(device, this.isPro, false).forEach(shortcut => {
      ret[shortcut.name] = shortcut.route
    })
    return ret
  }

  handleDropdownItem (item: 'rename' | 'selfService' | 'doDelete') {
    const device = this.device
    if (!device) {
      return
    }
    if (item === 'rename') {
      this.$buefy.dialog.prompt({
        message: 'Enter a new name for <strong>' + device.name + '</strong>.',
        onConfirm: newName => {
          this.$emit('update:loading', true)
          this.putDeviceName.handle({
            id: device.id,
            mac: device.mac,
            name: newName
          }).then(() => {
            this.$set(device, 'name', newName)
            this.$emit('update:loading', false)
          })
        }
      })
    } else if (item === 'doDelete') {
      let messageSuffix = 'This will delete all data related to the device, including blocked sites and history. If the device connects to the network again, it will be re-added.'
      this.$buefy.dialog.confirm({
        message: 'Are you sure you want to delete <strong>' + device.name + '</strong>? ' + messageSuffix,
        type: 'is-danger',
        onConfirm: () => {
          this.$emit('update:loading', true)
          this.deleteDevice.handle({
            id: device.id,
            mac: device.mac
          }).then(() => {
            this.$emit('onDelete')
          })
        }
      })
    } else if (item === 'selfService') {
      this.$emit('selfService')
    }
  }
}
</script>

<style scoped>
.devices-root {
  padding: 20px;
}

.info-message {
  margin-bottom: 30px;
}
</style>
