<template>
  <div class="card p-5">
    <span v-if="!isConflict">
      Unknown error.
    </span>
    <span v-else>
      Couldn't link IP.
      <strong>
        This connection won't work unless you can use an encrypted DNS connection:
      </strong><br/><br/>
      <p>
        <ul>
          <li>
            DNS over HTTPS (DoH): <a href="https://safesurfer.io/articles/guides/how-to-protect-a-mikrotik-router-from-harmful-online-content/">MikroTik</a>, Synology, and Ubiquiti Wi-Fi modems/routers
          </li>
          <li>
            DNS over TLS (DoT): Some <a href="https://helpdesk.safesurfer.io/en-nz/article/how-to-block-porn-on-an-asus-router-fxer3s/">ASUS</a> Wi-Fi modems/routers
          </li>
        </ul>
      </p><br/>
      An IP may fail to link for any of the following reasons:<br/><br/>
      <p>
        <ul>
          <li>
            Another device is using the same IP due to being on the same network.
            In this case, delete the other device or move to a different network.
          </li>
          <li>
            Another user account is using the same IP. This can happen randomly
            depending on your ISP, in this case nothing can be done. Otherwise,
            try deleting any old accounts that you may have.
          </li>
        </ul>
      </p>
    </span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { LinkSourceIpResult } from '@/helpers/functions'

@Component
export default class LinkedIpWarning extends Vue {
  @Prop() readonly reason: LinkSourceIpResult | undefined

  get isConflict(): Boolean {
    return this.reason == LinkSourceIpResult.Conflict || !this.reason
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
  padding-left: 30px;
}
</style>