<template>
  <b-modal
    v-if="active"
    :active="true"
    @update:active="active = false"
  >
    <div class="card p-3">
      <b-message
        type="is-primary"
      >
        At the self-service page, the user of the device (or whoever you share the link with)
        can:
        <ul>
          <li>
            Start and stop their screentime timers.
          </li>
          <li>
            View when they are blocked and from what.
          </li>
        </ul>
      </b-message>
      <b-field label="Enable self-service for this device">
        <b-checkbox
          :value="enabled"
          :disabled="localLoading"
          @input="updateEnabled($event)"
        />
      </b-field>
      <div
        v-if="enabled"
        class="has-text-centered link-section"
      >
        <a :href="selfServiceLink">My self-service link</a>
        <copy-text :text="selfServiceLink" button="Copy" class="ml-2"/>
      </div>
      <spinner
        v-if="localLoading"
      />
    </div>
  </b-modal>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import GetSelfServiceToken from '@/requests/devices-v2/get-self-service-token'
import PostSelfServiceToken from '@/requests/devices-v2/post-self-service-token'
import DeleteSelfServiceToken from '@/requests/devices-v2/delete-self-service-token'
import { GetCategoriesRulesOptions } from '@/requests/categories-v2/get-categories-rules'
import CopyText from '@/components/common/copy-text.vue'
import Spinner from '@/components/common/spinner.vue'
import qs from 'qs'

@Component({
  components: {
    CopyText,
    Spinner
  }
})
export default class SelfServiceConfig extends Vue {
  /**
   * Syncable prop: whether we are loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * The device ID/mac to load stuff for.
   */
  @Prop() readonly device: GetCategoriesRulesOptions | undefined
  /**
   * Whether the modal is open.
   */
  active = false
  /**
   * The current token.
   */
  token = ''
  /**
   * Whether self-service is enabled.
   */
  enabled = false
  /**
   * Whether we are loading things within the modal.
   */
  localLoading = false
  /**
   * Requests.
   */
  getSelfServiceToken = new GetSelfServiceToken()
  postSelfServiceToken = new PostSelfServiceToken()
  deleteSelfServiceToken = new DeleteSelfServiceToken()

  /**
   * When device updates, load then show.
   */
  @Watch('device')
  load (newDevice: GetCategoriesRulesOptions) {
    if (newDevice) {
      this.$emit('update:loading', true)
      this.getSelfServiceToken.handle(newDevice).then(token => {
        this.token = token.spec
        this.enabled = this.token !== ''
        this.active = true
        this.$emit('update:loading', false)
      })
    }
  }

  updateEnabled (enabled: boolean) {
    if (!this.device) {
      return
    }
    const device = this.device
    if (enabled) {
      this.localLoading = true
      this.postSelfServiceToken.handle(device).then(() => {
        this.getSelfServiceToken.handle(device).then(token => {
          this.token = token.spec
          this.enabled = true
          this.localLoading = false
        })
      })
    } else {
      this.localLoading = true
      this.enabled = false
      this.$buefy.dialog.confirm({
        type: 'is-danger',
        message: 'After disabling self-service for this device, the old link will no longer work and a new one is generated if you re-enable. Continue?',
        confirmText: 'Disable',
        onConfirm: () => {
          this.deleteSelfServiceToken.handle(device).then(() => {
            this.token = ''
            this.enabled = false
            this.localLoading = false
          })
        },
        onCancel: () => {
          this.localLoading = false
          this.enabled = true
        }
      })
    }
  }

  /**
   * @returns The self-service link based on the current token.
   */
  get selfServiceLink (): string {
    if (!this.device || !this.token) {
      return ''
    }
    return window.location.origin + '/self-service?' + qs.stringify({
      'device-id': this.device['device-id'],
      'mac': this.device['mac'],
      'token': this.token
    })
  }
}
</script>

<style scoped>
.link-section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

li {
  margin-left: 20px;
}

ul {
  list-style-type: disc;
}
</style>
