<template>
  <div>
    <b-tabs>
      <b-tab-item :label="'Categories/Sites' + (value.categories.length ? ' (' + value.categories.length + ')' : '')">
        <!-- Show categories -->
        <div
          v-for="(block, idx) in categoryBlocks"
          :key="'cb' + idx"
          class="category-block mr-4 mt-4 mb-2"
        >
          <div
            v-for="(category, catIdx) in block"
            :key="category.id"
            class="category has-background-white"
            :class="{
              'faded': category.frozen
            }"
            :style="{
              'padding-left': category.parent ? '40px' : '20px'
            }"
          >
            <div
              class="category-top-row"
              @click="toggleCategory(category, block[block.length-1].parent && catIdx === 0 ? block : undefined)"
            >
              <b-icon
                :icon="getIcon(category)"
                class="has-text-grey-dark"
              />
              <div
                class="pl-4"
                :class="{
                  'py-3': categoryAppInstallations[category.id],
                  'py-4': !categoryAppInstallations[category.id]
                }"
              >
                <div
                  class="category-name is-size-6 has-text-weight-medium has-text-grey-dark"
                >
                  {{ category.displayName }}
                </div>
                <div
                  v-if="categoryAppInstallations[category.id] && categoryAppInstallations[category.id][deviceID]"
                  class="is-size-7"
                >
                  App installed on this device
                </div>
              </div>
              <b-icon
                icon="chevron-down"
                class="has-text-grey ml-2"
                v-if="block[block.length-1].parent && catIdx === 0"
              />
              <div style="flex-grow: 1"/>
              <b-checkbox
                :type="blockedCategories[category.id] === undefined ? undefined : (blockedCategories[category.id] ? 'is-danger' : 'is-success')"
                :value="blockedCategories[category.id] === false"
                :indeterminate="blockedCategories[category.id]"
                @input="toggleCategory(category, block[block.length-1].parent && catIdx === 0 ? block : undefined)"
                @click.native="$event.stopPropagation();"
                :disabled="category.frozen"
              />
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item :label="'Filtering' + (value.restrictions.length ? ' (' + value.restrictions.length + ')' : '')">
        <div
          class="category-block mr-4"
        >
          <div
            class="category has-background-white"
            v-for="(restriction, idx) in baseRules.restrictions"
            :key="'r' + restriction.id"
          >
            <div
              class="category-top-row"
              style="padding-left: 20px;"
            >
              <b-icon
                :icon="getIcon(restriction)"
                class="has-text-grey-dark"
              />
              <div
                class="py-4 pl-4"
              >
                <div
                  class="category-name is-size-6 has-text-weight-medium has-text-grey-dark"
                >
                  {{ restriction.displayName }}
                </div>
                <div
                  v-if="restrictionAppInstallations[restriction.id] && restrictionAppInstallations[restriction.id][deviceID]"
                  :set="numInstalls = Object.keys(restrictionAppInstallations[restriction.id]).length"
                  class="is-size-7"
                >
                  App installed on this device
                </div>
              </div>
              <div style="flex-grow: 1"/>
              <b-dropdown
                :value="restrictionActions[restriction.id]"
                @input="changeRestriction(idx, $event)"
                slot="bottom"
                position="is-bottom-left"
                class="mr-4"
              >
                <b-button
                  slot="trigger"
                  :type="getRestrictionType(restriction)"
                  :set="action = restrictionActions[restriction.id]"
                  icon-right="menu-down"
                  rounded
                >
                  <span v-if="action === -1">
                    No Action
                  </span>
                  <span v-else :set="actionName = restriction.actions[action]">
                    <span v-if="!actionName.includes('Block')">Allow With </span> {{ actionName }}
                  </span>
                </b-button>
                <b-dropdown-item
                  :key="-1"
                  :value="-1"
                >
                  No Action
                </b-dropdown-item>
                <b-dropdown-item
                  v-for="(action, idx) in restriction.actions"
                  :key="idx"
                  :value="idx"
                ><span v-if="!action.includes('Block')">Allow With</span> {{ action }}</b-dropdown-item>
              </b-dropdown>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item :label="'Allowlist' + (value.whitelist.length ? ' (' + value.whitelist.length + ')' : '')" v-if="allowAllow">
        <b-message
          type="is-grey"
        >
          Enter domains to manually allow. A <strong>domain</strong> does not include "http", "www", or the path. To block Google, one could type "<s>https://www.</s><strong>google.com</strong>".
        </b-message>
        <site-list-edit
          :value="value.whitelist"
          @input="updateWhitelist($event)"
        />
      </b-tab-item>
      <b-tab-item :label="'Blocklist' + (value.blacklist.length ? ' (' + value.blacklist.length + ')' : '')" v-if="allowBlock">
        <b-message
          type="is-dark"
        >
          Enter domains to manually block. A <strong>domain</strong> does not include "http", "www", or the path. To block Google, one could type "<s>https://www.</s><strong>google.com</strong>".
        </b-message>
        <site-list-edit
          :value="value.blacklist"
          :isBlocklist="true"
          @input="updateBlacklist($event)"
        />
      </b-tab-item>
      <b-tab-item
        :label="'Apps' + (value.apps.length ? ' (' + value.apps.length + ')' : '')"
        v-if="baseRules.apps && baseRules.apps.length"
      >
        <div
          class="category-block mr-4"
        >
          <div
            v-for="(app, appIdx) in baseRules.apps"
            :key="app.id"
            class="category has-background-white"
          >
            <div
              class="category-top-row"
              @click="toggleApp(appIdx)"
            >
              <div
                class="py-4 pl-4"
              >
                <div>
                  <div>
                    <span class="category-name is-size-6 has-text-weight-medium has-text-grey-dark">{{ app.name }}</span>
                  </div>
                  <div class="is-size-7 mt-1">
                    <b-button
                      tag="a"
                      :href="getStoreHref(app)"
                      target="blank"
                      icon-left="google-play"
                      icon-right="open-in-new"
                      @click="$event.stopPropagation()"
                      label="View"
                      size="is-small"
                    />
                  </div>
                </div>
              </div>
              <div style="flex-grow: 1"/>
              <b-checkbox
                :type="appActions[app.platform + app.id] === undefined ? undefined : (appActions[app.platform + app.id] ? 'is-danger' : 'is-success')"
                :value="appActions[app.platform + app.id] === false"
                :indeterminate="appActions[app.platform + app.id]"
                @input="toggleApp(appIdx)"
                @click.native="$event.stopPropagation();"
              />
            </div>
          </div>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script lang="ts">
import { App, CategoriesRules, Category, Restriction } from '@/requests/categories-v2/get-categories-rules'
import { cloneDeep } from 'lodash'
import SiteListEdit from '@/components/blocked-sites/site-list-edit.vue'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

// How many categories to try to put into a block (except category groups)
const BLOCK_SIZE = 5

@Component({
  components: {
    SiteListEdit
  }
})
export default class CustomRulesActionsEditor extends Vue {
  /**
   * The custom rules object we're editing.
   */
  @Prop() readonly value: CategoriesRules | undefined
  /**
   * The provider of the base rules. The actions here don't matter, just that the selectable rules
   * are present.
   */
  @Prop() readonly baseRules: CategoriesRules | undefined
  /**
   * Whether to allow blocking categories/sites/apps.
   */
  @Prop() readonly allowBlock: boolean | undefined
  /**
   * Whether to allow allowing categories/sites/apps.
   */
  @Prop() readonly allowAllow: boolean | undefined
  /**
   * The currently selected device ID.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * Map from category ID to whether it's blocked or unblocked. Recalculate whenever value updates.
   */
  blockedCategories: {[id: number]: boolean} = {}
  /**
   * Map from restriction ID to action (-1 if no action). Recalculate whenever value updates.
   */
  restrictionActions: {[id: number]: number} = {}
  /**
   * Map from app compound ID (platform + ID) to whether it's blocked. Recalculate whenever value updates.
   */
  appActions: {[compoundID: string]: boolean} = {}

  categoryAppInstallations: {[categoryID: number]: {[deviceID: string]: boolean}} = {}
  categoryToAppIdxs: {[categoryID: number]: {[appIdx: number]: boolean}} = {}
  restrictionAppInstallations: {[restrictionID: number]: {[deviceID: string]: boolean}} = {}
  restrictionToAppIdxs: {[restrictionID: number]: {[appIdx: number]: boolean}} = {}

  updateAppInstallations () {
    if (!this.baseRules || !this.baseRules.apps) {
      return
    }
    this.categoryAppInstallations = {}
    this.categoryToAppIdxs = {}
    this.restrictionAppInstallations = {}
    this.restrictionToAppIdxs = {}
    for (let i = 0; i < this.baseRules.apps.length; i++) {
      const currApp: App = this.baseRules.apps[i]
      if (!currApp.installedOn) {
        continue
      }
      if (currApp.categories) for (let c = 0; c < currApp.categories.length; c++) {
        const currCategory = currApp.categories[c]
        if (!this.categoryToAppIdxs[currCategory]) {
          this.categoryToAppIdxs[currCategory] = {}
        }
        this.categoryToAppIdxs[currCategory][i] = true
        if (!this.categoryAppInstallations[currCategory]) {
          this.categoryAppInstallations[currCategory] = {}
        }
        for (let j = 0; j < currApp.installedOn.length; j++) {
          this.categoryAppInstallations[currCategory][currApp.installedOn[j]] = true
        }
      }
      if (currApp.restrictions) for (let c = 0; c < currApp.restrictions.length; c++) {
        const currRestriction = currApp.restrictions[c]
        if (!this.restrictionToAppIdxs[currRestriction]) {
          this.restrictionToAppIdxs[currRestriction] = {}
        }
        this.restrictionToAppIdxs[currRestriction][i] = true
        if (!this.restrictionAppInstallations[currRestriction]) {
          this.restrictionAppInstallations[currRestriction] = {}
        }
        for (let j = 0; j < currApp.installedOn.length; j++) {
          this.restrictionAppInstallations[currRestriction][currApp.installedOn[j]] = true
        }
      }
    }
  }

  @Watch('baseRules', { immediate: true }) updateAppInstallationsFromBaseRules (
    currRules: CategoriesRules | undefined, prevRules: CategoriesRules | undefined
  ) {
    if (currRules && !prevRules) {
      this.updateAppInstallations()
    }
  }

  /**
   * @returns The icon name for a particular category. Returns predefined one
   *          if available, otherwise fall back to a letter icon representing the name.
   * @param category The  category.
   */
  getIcon (category: Category): string {
    if (category.icon === '') {
      return 'alpha-' + category.displayName.substring(0, 1).toLowerCase() + '-box-outline'
    }
    return category.icon
  }

  /**
   * Update the v-model by toggling a category and optinally its subcategories.
   */
  toggleCategory (category: Category, subCategories?: Category[]) {
    if (category.frozen || !this.value || !this.baseRules) {
      return
    }
    const baseRules = this.baseRules
    const newValue = cloneDeep(this.value)
    if (!newValue.categories) {
      newValue.categories = []
    }
    if (!newValue.apps) {
      newValue.apps = []
    }
    const currentCategoryIds = newValue.categories.map(category => category.id)
    const currentAppIds = newValue.apps.map(app => app.id)
    // Find the categories to add/update/remove
    let toToggle = [category]
    if (subCategories) {
      toToggle = toToggle.concat(subCategories.filter(currCategory => currCategory.id !== category.id))
    }
    if (this.blockedCategories[category.id] === undefined) {
      // Is currently not in the value, need to add either blocked or unblocked
      toToggle.forEach(category => {
        const currIdx = currentCategoryIds.indexOf(category.id)
        if (currIdx === -1) {
          // Need to add
          const newCategory = cloneDeep(category)
          newCategory.action = this.allowBlock ? 0 : 1
          newValue.categories.push(newCategory)
        } else {
          // Need to update
          newValue.categories[currIdx].action = this.allowBlock ? 0 : 1
        }
        // See if apps need to be added/updated too
        const appsToMatch = this.categoryToAppIdxs[category.id]
        if (appsToMatch) {
          Object.keys(appsToMatch).forEach(appIdxStr => {
            const app = baseRules.apps[parseInt(appIdxStr)]
            const currIdx = currentAppIds.indexOf(app.id)
            if (currIdx === -1) {
              // Need to add
              const newApp = cloneDeep(app)
              newApp.blocked = this.allowBlock ? true : false
              newValue.apps.push(newApp)
            } else {
              // Need to update
              newValue.apps[currIdx].blocked = this.allowBlock ? true : false
            }
          })
        }
      })
    } else if (this.blockedCategories[category.id]) {
      // Is currently blocked, need to remove OR unblock
      if (this.allowAllow) {
        // Unblock
        toToggle.forEach(category => {
          const currIdx = currentCategoryIds.indexOf(category.id)
          if (currIdx === -1) {
            // Need to add
            const newCategory = cloneDeep(category)
            newCategory.action = 1
            newValue.categories.push(newCategory)
          } else {
            newValue.categories[currIdx].action = 1
          }
          // See if apps need to be added/updated too
          const appsToMatch = this.categoryToAppIdxs[category.id]
          if (appsToMatch) {
            Object.keys(appsToMatch).forEach(appIdxStr => {
              const app = baseRules.apps[parseInt(appIdxStr)]
              const currIdx = currentAppIds.indexOf(app.id)
              if (currIdx === -1) {
                // Need to add
                const newApp = cloneDeep(app)
                newApp.blocked = false
                newValue.apps.push(newApp)
              } else {
                // Need to update
                newValue.apps[currIdx].blocked = false
              }
            })
          }
        })
      } else {
        // Remove
        newValue.categories = newValue.categories.filter(category => !toToggle.some(t => t.id === category.id))
        newValue.apps = newValue.apps.filter(app => !toToggle.some(t => this.categoryToAppIdxs[t.id] && Object.keys(this.categoryToAppIdxs[t.id]).some(idx => baseRules.apps[parseInt(idx)].id === app.id)))
      }
    } else if (!this.blockedCategories[category.id]) {
      // Is currently unblocked, make indeterminate
      newValue.categories = newValue.categories.filter(category => !toToggle.some(t => t.id === category.id))
      newValue.apps = newValue.apps.filter(app => !toToggle.some(t => this.categoryToAppIdxs[t.id] && Object.keys(this.categoryToAppIdxs[t.id]).some(idx => baseRules.apps[parseInt(idx)].id === app.id)))
    }
    this.$emit('input', newValue)
  }

  /**
   * Change the restriction action for the specified index.
   */
  changeRestriction (restrictionIdx: number, newAction: number) {
    if (!this.value || !this.baseRules) {
      return
    }
    const baseRules = this.baseRules
    let restriction = this.baseRules.restrictions[restrictionIdx]
    const newValue = cloneDeep(this.value)
    const currentAppIds = newValue.apps.map(app => app.id)
    if (newAction === -1) {
      // Remove the action
      newValue.restrictions = newValue.restrictions.filter(restriction => restriction.id !== restriction.id)
      // Remove any associated apps
      newValue.apps = newValue.apps.filter(app => !(this.restrictionToAppIdxs[restriction.id] && Object.keys(this.restrictionToAppIdxs[restriction.id]).some(idx => baseRules.apps[parseInt(idx)].id === app.id)))
    } else {
      // Add the action if necessary
      restriction = cloneDeep(restriction)
      restriction.action = newAction
      let idx = newValue.restrictions.map(restriction => restriction.id).indexOf(restriction.id)
      if (idx === -1) {
        newValue.restrictions.push(restriction)
      } else {
        newValue.restrictions[idx] = restriction
      }
      const isBlock = restriction.actions[restriction.action].includes('Block')
      // See if apps need to be added/updated too
      const appsToMatch = this.restrictionToAppIdxs[restriction.id]
      if (appsToMatch) {
        if (isBlock && this.allowBlock) {
          Object.keys(appsToMatch).forEach(appIdxStr => {
            const app = baseRules.apps[parseInt(appIdxStr)]
            const currIdx = currentAppIds.indexOf(app.id)
            if (currIdx === -1) {
              // Need to add
              const newApp = cloneDeep(app)
              newApp.blocked = true
              newValue.apps.push(newApp)
            } else {
              // Need to update
              newValue.apps[currIdx].blocked = true
            }
          })
        } else {
          // Allow
          if (this.allowAllow) {
            Object.keys(appsToMatch).forEach(appIdxStr => {
              const app = baseRules.apps[parseInt(appIdxStr)]
              const currIdx = currentAppIds.indexOf(app.id)
              if (currIdx === -1) {
                // Need to add
                const newApp = cloneDeep(app)
                newApp.blocked = false
                newValue.apps.push(newApp)
              } else {
                // Need to update
                newValue.apps[currIdx].blocked = false
              }
            })
          } else {
            newValue.apps = newValue.apps.filter(app => !(this.restrictionToAppIdxs[restriction.id] && Object.keys(this.restrictionToAppIdxs[restriction.id]).some(idx => baseRules.apps[parseInt(idx)].id === app.id)))
          }
        }
      }
    }
    this.$emit('input', newValue)
  }

  /**
   * Toggle whether an app is allowed, blocked, or excluded based on its position within the base apps array.
   */
  toggleApp (appIdx: number) {
    if (!this.value || !this.baseRules) {
      return
    }
    const app = this.baseRules.apps[appIdx]
    const appCompoundId = app.platform + app.id
    const baseRules = this.baseRules
    const newValue = cloneDeep(this.value)
    if (!newValue.categories) {
      newValue.categories = []
    }
    if (!newValue.apps) {
      newValue.apps = []
    }
    const currentAppIds = newValue.apps.map(app => app.platform + app.id)
    if (this.appActions[appCompoundId] === undefined) {
      // Is currently not in the value, need to add either blocked or unblocked
      const currIdx = currentAppIds.indexOf(appCompoundId)
      if (currIdx === -1) {
        // Need to add
        const newApp = cloneDeep(app)
        newApp.blocked = this.allowBlock ? true : false
        newValue.apps.push(newApp)
      } else {
        // Need to update
        newValue.apps[currIdx].blocked = this.allowBlock ? true : false
      }
    } else if (this.appActions[appCompoundId]) {
      // Is currently blocked, need to remove OR unblock
      if (this.allowAllow) {
        // Unblock
        const currIdx = currentAppIds.indexOf(appCompoundId)
        if (currIdx === -1) {
          // Need to add
          const newApp = cloneDeep(app)
          app.blocked = false
          newValue.apps.push(newApp)
        } else {
          newValue.apps[currIdx].blocked = false
        }
      } else {
        // Remove
        newValue.apps = newValue.apps.filter(app => app.platform + app.id !== appCompoundId)
      }
    } else if (!this.appActions[appCompoundId]) {
      // Is currently unblocked, make indeterminate
      newValue.apps = newValue.apps.filter(app => app.platform + app.id !== appCompoundId)
    }
    this.$emit('input', newValue)
  }

  /**
   * @returns The buefy type for a restriction action.
   */
  getRestrictionType (restriction: Restriction): string | undefined {
    const currActionIdx = this.restrictionActions[restriction.id]
    if (currActionIdx === -1) {
      return undefined
    }
    const currentAction = restriction.actions[currActionIdx].toLowerCase()
    if (currentAction.toLowerCase().indexOf('blocked') > -1) {
      return 'is-danger'
    } else if (currentAction.indexOf('no') > -1) {
      return undefined
    }
    return 'is-success'
  }

  /**
   * Update the whitelist for this set of rules.
   */
  updateWhitelist (whitelist: string[]) {
    if (!this.value) {
      return
    }
    const newVal = cloneDeep(this.value)
    newVal.whitelist = whitelist
    this.$emit('input', newVal)
  }

  /**
   * Update the blacklist for this set of rules.
   */
  updateBlacklist (blacklist: string[]) {
    if (!this.value) {
      return
    }
    const newVal = cloneDeep(this.value)
    newVal.blacklist = blacklist
    this.$emit('input', newVal)
  }

  /**
   * Update whether the device has custom rules.
   */
  updateHasRules (newHasRules: boolean) {
    if (!this.value) {
      return
    }
    const newVal = cloneDeep(this.value)
    newVal.hasRules = newHasRules
    this.$emit('input', newVal)
  }

  /**
   * @returns Blocks of categories such that a group of categories is either:
   * - An entire category group
   * - A certain amount of non-grouped categories.
   * The final order is decided alphabetically by the first category in each group.
   */
  get categoryBlocks (): Category[][] {
    if (!this.baseRules) {
      return []
    }
    const toReturn: Category[][] = []
    // First, find category parents by indexing by ID
    const parentToChild: {[parentID: number]: Category[]} = {}
    const categoriesByID: {[parentID: number]: Category} = {}
    const baseCategories = this.baseRules.categories.map(category => category).sort((a, b) => (a.isSite ? -10000 : 0) - (b.isSite ? 10000 : 0))
    baseCategories.forEach(category => { parentToChild[category.id] = [] })
    baseCategories.forEach(category => { categoriesByID[category.id] = category })
    baseCategories.forEach(category => {
      if (category.parent) {
        parentToChild[category.parent].push(category)
      }
    })
    // Now put non-grouped categories in
    let currArr: Category[] = []
    baseCategories.forEach((category, idx) => {
      category.ogIdx = idx
      // Ignore if this has a group
      if (category.parent) {
        return
      }
      // Ignore if this is the parent of a group
      if (parentToChild[category.id].length) {
        return
      }
      currArr.push(category)
      if (currArr.length === BLOCK_SIZE) {
        toReturn.push(currArr)
        currArr = []
      }
    })
    toReturn.push(currArr)
    Object.keys(parentToChild).forEach(parentID => {
      const parentIDNumber = parseInt(parentID)
      const children = parentToChild[parentIDNumber]
      if (children.length > 0) {
        // Add a block for this group
        const newBlock = [ categoriesByID[parentIDNumber] ]
        toReturn.push(newBlock.concat(children))
      }
    })
    // Now sort so that sites come first but otherwise they're roughly in alphabetical order
    toReturn.sort((a, b) => {
      const numSitesA = a.filter(category => category.isSite).length
      const numSitesB = b.filter(category => category.isSite).length
      const aBonus = numSitesA * -10000
      const bBonus = numSitesB * 10000
      return b[0].displayName.localeCompare(a[0].displayName) + aBonus + bBonus
    })
    return toReturn
  }

  @Watch('value', { immediate: true }) updateValueIDs(newRules: CategoriesRules) {
    if (newRules && this.baseRules) {
      this.blockedCategories = {}
      newRules.categories.forEach(category => {
        this.blockedCategories[category.id] = category.action === 0
      })
      this.restrictionActions = {}
      const restrictionIds = newRules.restrictions.map(restriction => restriction.id)
      this.baseRules.restrictions.forEach(restriction => {
        const idx = restrictionIds.indexOf(restriction.id)
        if (idx === -1) {
          this.restrictionActions[restriction.id] = -1
        } else {
          this.restrictionActions[restriction.id] = newRules.restrictions[idx].action
        }
      })
      this.appActions = {}
      newRules.apps.forEach(app => {
        this.appActions[app.platform + app.id] = app.blocked
      })
    }
  }

  getStoreHref (app: App): string {
    if (app.platform !== 'android') {
      return '' // not handled yet
    }
    return 'https://play.google.com/store/apps/details?id=' + encodeURIComponent(app.id)
  }
}
</script>

<style scoped>
.category {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.category-top-row {
  display: flex;
  align-items: center;
}

.category-block {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.faded {
  opacity: 0.5;
}
</style>
