<template>
  <div v-if="ourTimers && ourBlockInternetTimers">
    <!-- Display block internet timers -->
    <transition-group name="slide-down">
      <div
        v-for="day in Object.keys(ourBlockInternetTimers).filter(day => ourBlockInternetTimers[day])"
        :key="'d' + day"
      >
        <div class="card mt-4 is-flex is-align-items-center" style="overflow: visible;">
          <div v-if="editable" class="p-2 pl-5">
            <b-dropdown position="is-bottom-left">
              <template #trigger="{ active }">
                <b-button
                  :type="active ? 'is-primary' : undefined"
                  icon-left="dots-vertical"
                />
              </template>
              <b-dropdown-item @click="$emit('editBlockInternet', day)">
                Edit
              </b-dropdown-item>
              <b-dropdown-item @click="$emit('deleteBlockInternet', day)">
                Delete
              </b-dropdown-item>
            </b-dropdown>
          </div>
          <div class="py-3 px-4">
            <span
              class="timer-element timer-element-text"
            >
              <strong class="has-text-danger">Internet blocked </strong>
            </span>
            <span
              class="timer-element timer-element-text mr-3"
            >
              apart from {{ Math.floor(ourBlockInternetTimers[day].maxTimeSecs/60/60) }} hours
              {{ getTimerMinutes(ourBlockInternetTimers[day].maxTimeSecs) ? ' and ' + getTimerMinutes(ourBlockInternetTimers[day].maxTimeSecs) + ' minutes ' : '' }}
              on {{ DAY_TO_NAME[day] }}.
            </span>
          </div>
          <div style="flex-grow: 1;"/>
          <div
            :class="getTimerClasses(ourBlockInternetTimers[day], day)"
            class="p-3"
            v-if="!disableStartStop"
          >
            <div class="is-flex is-align-items-center mb-1">
              <div class="has-font-family-secondary is-size-5">
                {{ getTimerRemainingTime(ourBlockInternetTimers[day]) }}
              </div>
              <div>
                <b-button
                  v-if="isAllowed(ourBlockInternetTimers[day])"
                  icon-left="stop"
                  rounded
                  class="ml-3"
                  type="is-light"
                  @click="startStopTimer(ourBlockInternetTimers[day], day)"
                  :disabled="isIrrelevant(ourBlockInternetTimers[day], day)"
                  :loading="stopInternetLoading[day]"
                />
                <b-button
                  v-else
                  icon-left="play"
                  rounded
                  class="ml-3"
                  type="is-light"
                  @click="startStopTimer(ourBlockInternetTimers[day], day)"
                  :disabled="isIrrelevant(ourBlockInternetTimers[day], day) || isNoTimeRemaining(ourBlockInternetTimers[day])"
                  :loading="stopInternetLoading[day]"
                />
              </div>
            </div>
            <div v-if="isIrrelevant(ourBlockInternetTimers[day], day)" class="is-size-7">
              Not applicable right now
            </div>
            <div v-else-if="isNoTimeRemaining(ourBlockInternetTimers[day])" class="is-size-7">
              No time remaining
            </div>
            <div v-else-if="isAllowed(ourBlockInternetTimers[day])" class="is-size-7">
              Access allowed
            </div>
            <div v-else class="is-size-7">
              Access blocked
            </div>
          </div>
        </div>
      </div>
    </transition-group>
    <!-- Display regular internet timers -->
    <transition-group name="slide-down">
      <div
        v-for="(timer, idx) in ourTimers"
        :key="timer.id"
        v-show="timer.customRules.hasRules"
      >
        <div class="card mt-4 is-flex is-align-items-center" style="overflow: visible;">
          <div v-if="editable" class="p-2 pl-5">
            <b-dropdown position="is-bottom-left">
              <template #trigger="{ active }">
                <b-button
                  :type="active ? 'is-primary' : undefined"
                  icon-left="dots-vertical"
                />
              </template>
              <b-dropdown-item @click="$emit('edit', idx)">
                Edit
              </b-dropdown-item>
              <b-dropdown-item @click="$emit('delete', idx)">
                Delete
              </b-dropdown-item>
            </b-dropdown>
          </div>
          <div class="py-3 px-3">
            <span
              class="timer-element timer-element-text mr-3"
            >
              On {{ DAY_TO_NAME[timer.day] }} <strong>{{ getTimerActionText(timer) }}</strong> for {{ Math.floor(timer.maxTimeSecs/60/60) }} hours
              {{ getTimerMinutes(timer.maxTimeSecs) ? ' and ' + getTimerMinutes(timer.maxTimeSecs) + ' minutes ' : '' }}
              only.
            </span>
          </div>
          <div style="flex-grow: 1;"/>
          <div
            :class="getTimerClasses(timer, timer.day)"
            class="p-3"
            v-if="!disableStartStop"
          >
            <div class="is-flex is-align-items-center mb-1">
              <div class="has-font-family-secondary is-size-5">
                {{ getTimerRemainingTime(timer) }}
              </div>
              <div>
                <b-button
                  v-if="isAllowed(timer)"
                  icon-left="stop"
                  rounded
                  class="ml-3"
                  type="is-light"
                  @click="startStopTimer(timer, timer.day)"
                  :disabled="isIrrelevant(timer, timer.day)"
                  :loading="timersLoading[timer.id]"
                />
                <b-button
                  v-else
                  icon-left="play"
                  rounded
                  class="ml-3"
                  type="is-light"
                  @click="startStopTimer(timer, timer.day)"
                  :disabled="isIrrelevant(timer, timer.day) || isNoTimeRemaining(timer)"
                  :loading="timersLoading[timer.id]"
                />
              </div>
            </div>
            <div v-if="isIrrelevant(timer, timer.day)" class="is-size-7">
              Not applicable right now
            </div>
            <div v-else-if="isNoTimeRemaining(timer)" class="is-size-7">
              No time remaining
            </div>
            <div v-else-if="isAllowed(timer)" class="is-size-7">
              Access allowed
            </div>
            <div v-else class="is-size-7">
              Access blocked
            </div>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script lang="ts">
import GetBlockInternetTimer, { BlockInternetTimer } from '@/requests/blockinternet/get-timer'
import { Timer } from '@/requests/categories-v2/get-timer'
import dayjs from 'dayjs'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import utc from 'dayjs/plugin/utc'
import timezone from 'dayjs/plugin/timezone'
import PutTimer from '@/requests/categories-v2/put-timer'
import PostStopInternetTimer from '@/requests/blockinternet/post-timer'
import PutStopInternetTimerRunningSelfService from '@/requests/blockinternet/put-timer-running-self-service'
import GetTimer from '@/requests/categories-v2/get-timer'
import { cloneDeep } from 'lodash'
import PutTimerRunningSelfService from '@/requests/categories-v2/put-timer-running-self-service'
import GetBlockInternetTimerSelfService from '@/requests/blockinternet/get-timer-self-service'
import GetTimerSelfService from '@/requests/categories-v2/get-timer-self-service'
import { App, Category } from '@/requests/categories-v2/get-categories-rules'

dayjs.extend(utc)
dayjs.extend(timezone)

@Component
/**
 * Component to show a list of block internet/category timers and allow starting and stopping them.
 */
export default class StartStopTimers extends Vue {
  readonly DAY_TO_NAME = {
    '0': 'Saturday',
    '1': 'Sunday',
    '2': 'Monday',
    '3': 'Tuesday',
    '4': 'Wednesday',
    '5': 'Thursday',
    '6': 'Friday',
    '*': 'All days',
    'weekend': 'Weekend days',
    'weekday': 'Weekdays',
  }
  /**
   * The list of timers to show. We don't bother updating this in the parent, since we re-render this every
   * so often anyway.
   */
  @Prop() readonly timers: Timer[] | undefined
  /**
   * The block internet timers.
   */
  @Prop() readonly blockInternetTimers: {[day: string]: BlockInternetTimer} | undefined
  /**
   * The timezone to use.
   */
  @Prop() readonly tz: string | undefined
  /**
   * Whether we should be able to edit the timers instead of start/stopping them.
   */
  @Prop() readonly editable: boolean | undefined
  /**
   * Whether to disable starting/stopping the timers.
   */
  @Prop() readonly disableStartStop: boolean | undefined
  /**
   * Whether to use the self-service endpoints when updating timers. If so, the below props must be specified.
   */
  @Prop() readonly selfService: boolean | undefined
  /**
   * The device the self-service token is registered to.
   */
  @Prop() readonly deviceID: string | undefined
  @Prop() readonly mac: string | undefined
  /**
   * The self-service token.
   */
  @Prop() readonly token: string | undefined
  /**
   * Our copy of timers.
   */
  ourTimers: Timer[] = []
  /**
   * Our copy of block internet timers.
   */
  ourBlockInternetTimers: {[day: string]: BlockInternetTimer} = {}
  /**
   * The interval ID.
   */
  intervalID = 0
  /**
   * Which days/ids are currently loading.
   */
  stopInternetLoading: {[day: string]: true} = {}
  timersLoading: {[id: number]: true} = {}

  postStopInternetTimer = new PostStopInternetTimer()
  putStopInternetTimerRunningSelfService = new PutStopInternetTimerRunningSelfService()
  putTimer = new PutTimer()
  putTimerRunningSelfService = new PutTimerRunningSelfService()
  getBlockInternetTimer = new GetBlockInternetTimer()
  getBlockInternetTimerSelfService = new GetBlockInternetTimerSelfService()
  getTimer = new GetTimer()
  getTimerSelfService = new GetTimerSelfService()

  mounted () {
    this.intervalID = setInterval(() => {
      this.$forceUpdate()
    }, 1000)
  }

  destroy () {
    clearInterval(this.intervalID)
  }

  startStopTimer (timer: Timer, day: string) {
    const reloadTimer = cloneDeep(timer)
    reloadTimer.isRunning = !timer.isRunning
    if (timer.id) {
      // Regular timer
      this.$set(this.timersLoading, timer.id, true)
      if (this.selfService) {
        // Use self-service endpoints
        const reload = () => {
          this.getTimerSelfService.handle({
            'device-id': this.deviceID as string,
            'token': this.token as string,
            'mac': this.mac as string,
            id: timer.id
          }).then(newTimer => {
            if (!newTimer.spec.customRules.categories) {
              newTimer.spec.customRules.categories = []
            }
            if (!newTimer.spec.customRules.restrictions) {
              newTimer.spec.customRules.restrictions = []
            }
            if (!newTimer.spec.customRules.whitelist) {
              newTimer.spec.customRules.whitelist = []
            }
            if (!newTimer.spec.customRules.apps) {
              newTimer.spec.customRules.apps = []
            }
            this.ourTimers.splice(this.ourTimers.map(timer => timer.id).indexOf(timer.id), 1, newTimer.spec)
            this.$delete(this.timersLoading, timer.id)
          })
        }
        this.putTimerRunningSelfService.handle({
          'device-id': this.deviceID as string,
          'mac': this.mac as string,
          'token': this.token as string,
          'running': reloadTimer.isRunning,
          id: reloadTimer.id
        }).then(() => {
          reload()
        }).catch(code => {
          if (code === 409) {
            reload()
          }
        })
      } else {
        // Use admin endpoints
        const reload = () => {
          this.getTimer.handle(timer.id).then(newTimer => {
            if (!newTimer.spec.customRules.categories) {
              newTimer.spec.customRules.categories = []
            }
            if (!newTimer.spec.customRules.restrictions) {
              newTimer.spec.customRules.restrictions = []
            }
            if (!newTimer.spec.customRules.whitelist) {
              newTimer.spec.customRules.whitelist = []
            }
            if (!newTimer.spec.customRules.apps) {
              newTimer.spec.customRules.apps = []
            }
            this.ourTimers.splice(this.ourTimers.map(timer => timer.id).indexOf(timer.id), 1, newTimer.spec)
            this.$delete(this.timersLoading, timer.id)
          })
        }
        this.putTimer.handle(reloadTimer).then(() => {
          reload()
        }).catch(code => {
          if (code === 409) {
            reload()
          }
        })
      }
    } else {
      // Is a stop internet timer
      this.$set(this.stopInternetLoading, day, true)
      if (this.selfService) {
        // Use self-service endpoints
        const reload = () => {
          this.getBlockInternetTimerSelfService.handle({
            'day': day,
            'device-id': timer.deviceID,
            'mac': timer.mac,
            'token': this.token as string
          }).then(newTimer => {
            this.$set(this.ourBlockInternetTimers, day, newTimer.spec)
            this.$delete(this.stopInternetLoading, day)
          })
        }
        this.putStopInternetTimerRunningSelfService.handle({
          'device-id': timer.deviceID,
          'mac': timer.mac,
          'day': day,
          'running': reloadTimer.isRunning,
          'token': this.token as string
        }).then(() => {
          reload()
        }).catch(code => {
          if (code === 409) {
            reload()
          }
        })
      } else {
        // Use admin endpoints
        const reload = () => {
          this.getBlockInternetTimer.handle({
            'day': day,
            'device-id': timer.deviceID,
            'mac': timer.mac
          }).then(newTimer => {
            this.$set(this.ourBlockInternetTimers, day, newTimer.spec)
            this.$delete(this.stopInternetLoading, day)
          })
        }
        this.postStopInternetTimer.handle({
          'day': day,
          timer: reloadTimer
        }).then(() => {
          reload()
        }).catch(code => {
          if (code === 409) {
            reload()
          }
        })
      }
    }
  }

  // Format the amount of remaining time on a timer
  getTimerRemainingTime(timer: BlockInternetTimer): string {
    let timeRemainingSecs = timer.maxTimeSecs - timer.secsSoFar
    if (timer.isRunning) {
      timeRemainingSecs -= (dayjs().unix() - timer.lastStart)
    }
    if (timeRemainingSecs <= 0) {
      return '00:00:00'
    }
    let toReturn = ''
    const hours = Math.floor(timeRemainingSecs/60/60)
    timeRemainingSecs -= hours*60*60
    toReturn += hours + ':'
    const minutes = Math.floor(timeRemainingSecs/60)
    timeRemainingSecs -= minutes*60
    const minutesStr = minutes + ''
    toReturn += minutesStr.length >= 2 ? minutesStr : '0' + minutesStr
    toReturn += ':'
    const secsStr = timeRemainingSecs + ''
    toReturn += secsStr.length >= 2 ? secsStr : '0' + secsStr
    return toReturn
  }

  getTimerMinutes (maxTimeSecs: number): number {
    return Math.floor((maxTimeSecs - Math.floor(maxTimeSecs/60/60)*60*60) / 60)
  }

  getTimerClasses (timer: Timer, day: string) {
    if (this.isIrrelevant(timer, day)) {
      return 'has-background-grey-lighter'
    } else if (this.isAllowed(timer)) {
      return 'has-background-success has-text-white'
    } else {
      return 'has-background-danger has-text-white'
    }
  }

  isNoTimeRemaining (timer: BlockInternetTimer): boolean {
    let timeRemainingSecs = timer.maxTimeSecs - timer.secsSoFar
    if (timer.isRunning) {
      timeRemainingSecs -= (dayjs().unix() - timer.lastStart)
    }
    return timeRemainingSecs <= 0
  }

  isAllowed (timer: BlockInternetTimer): boolean {
    if (!timer.isRunning) {
      return false
    }
    let timeRemainingSecs = timer.maxTimeSecs - timer.secsSoFar
    if (timer.isRunning) {
      timeRemainingSecs -= (dayjs().unix() - timer.lastStart)
    }
    return timeRemainingSecs >= 0
  }

  isBlocked (timer: BlockInternetTimer): boolean {
    return !this.isAllowed(timer)
  }

  isIrrelevant (timer: Timer, day: string): boolean {
    if (!this.ourBlockInternetTimers) {
      return false
    }
    const blockInternetTimers = this.ourBlockInternetTimers
    // This starts counting from sunday, adjust
    let currDay = dayjs().tz(this.tz).day() + 1
    if (currDay >= 7) {
      currDay = 0
    }
    const relevantDays = ['*'] // The days that could apply to the current day, priority first
    if (currDay >= 2) {
      relevantDays.unshift('weekday')
    } else {
      relevantDays.unshift('weekend')
    }
    relevantDays.unshift('' + currDay)
    return !relevantDays.includes(day)
  }

  /**
   * @returns A description of what the timer does.
   */
  getTimerActionText (timer: Timer): string {
    if (!timer.customRules.apps.length && !timer.customRules.categories.length && !timer.customRules.restrictions.length && !timer.customRules.whitelist.length) {
      return 'do nothing'
    }
    const sections = []
    if (timer.customRules.categories.length || timer.customRules.apps.length) {
      interface Source {
        category?: Category;
        app?: App;
      }
      let section = 'allow '
      const allowed: Source[] = timer.customRules.categories
        .filter(category => category.action)
        .map(category => { return {category: category} as Source})
        .concat(
          timer.customRules.apps
            .filter(app => !app.blocked)
            .map(app => { return {app: app} as Source})
      )
      allowed.forEach((source, i) => {
        if (source.category) {
          section += source.category.displayName
        } else if (source.app) {
          section += source.app.name + ' App'
        }
        if (i < allowed.length - 1) {
          section += i === allowed.length - 2 ? ' and ' : ', '
        }
      })
      sections.push(section)
    }
    if (timer.customRules.restrictions && timer.customRules.restrictions.length) {
      let section = 'allow '
      timer.customRules.restrictions.forEach((restriction, i) => {
        section += restriction.displayName + ' (' + (restriction.actions[restriction.action]) + ')'
        if (i < timer.customRules.restrictions.length - 1) {
          section += i === timer.customRules.restrictions.length - 2 ? ' and ' : ', '
        }
      })
      sections.push(section)
    }
    if (timer.customRules.whitelist && timer.customRules.whitelist.length) {
      let section = 'allow '
      timer.customRules.whitelist.forEach((domain, i) => {
        section += domain
        if (i < timer.customRules.whitelist.length - 1) {
          section += i === timer.customRules.whitelist.length - 2 ? ' and ' : ', '
        }
      })
      sections.push(section)
    }
    let toReturn = ''
    sections.forEach((section, i) => {
      toReturn += section
      if (i < sections.length - 1) {
        toReturn += '; '
      }
    })
    return toReturn
  }

  @Watch('timers', { immediate: true })
  updateTimers (newTimers: Timer[]) {
    if (newTimers) {
      this.ourTimers = newTimers.map(timer => timer)
    }
  }

  @Watch('blockInternetTimers', { immediate: true, deep: true })
  updateBlockInternetTimers (newTimers: {[day: string]: BlockInternetTimer}) {
    if (newTimers) {
      this.ourBlockInternetTimers = {}
      Object.keys(newTimers).forEach(day => this.ourBlockInternetTimers[day] = newTimers[day])
    }
  }
}
</script>

<style scoped>
.slide-down-enter-active {
  transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);;
}
.slide-down-leave-active {
  transition: all 0s cubic-bezier(0.4, 0.0, 1, 1);;
}

.slide-down-enter, .slide-down-leave-to
/* .slide-down-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}
</style>
