<template>
  <component class="has-text-primary" style="cursor: pointer" :to="route" :is="route ? 'router-link' : 'span'" @click="$emit('click', $event)">
    <span>{{ text }}</span>
    <b-icon icon="chevron-right" size="is-small"></b-icon>
  </component>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import { Route } from 'vue-router'

@Component
export default class Action extends Vue {
  /**
   * Text to display as the action.
   */
  @Prop() readonly text: string | undefined
  /**
   * The route to go to when clicked.
   */
  @Prop() readonly route: Route | undefined
}
</script>
