<template>
  <div>
    <p class="is-size-1 has-text-centered mt-3">
      🙂
    </p>
    <p class="explainer">
      No alerts to show. You'll see them here if anyone attempts to view
      blocked content.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class AlertsPlaceholder extends Vue {}
</script>

<style scoped>
.explainer {
  max-width: 300px;
  margin: 20px auto 30px auto;
  color: rgba(0, 0, 0, 0.5);
}
</style>
