<template>
  <div class="outer" :class="{faded: loading}">
    <b-steps
      :has-navigation="false"
      style="margin-top: -35px; margin-left: -10px !important; margin-right: -10px !important;"
      v-model="currStep"
    >
      <b-step-item
        v-for="step in steps"
        :key="step"
      >
        <div
          v-if="usingSigninToken"
        >
          Signing in...
        </div>
        <div
          v-else-if="step === ACTION_SIGNIN"
        >
          <slot name="signin-top"/>
          <div v-if="!signedInAlready">
            <form autocomplete="on" :name="signinFormName">
              <b-field label="Email">
                <b-input
                  v-if="!fixedEmail"
                  type="email"
                  @keyup.native="checkEnter($event)"
                  v-model="email"
                  ref="emailInput"
                  autocomplete="username"
                />
                <b-input
                  v-else disabled
                  :value="fixedEmail"
                />
              </b-field>
              <b-field label="Password">
                <b-input
                  type="password"
                  v-model="password"
                  @keyup.native="checkEnter($event)"
                  ref="passwordInput"
                  password-reveal
                  autocomplete="current-password"
                ></b-input>
              </b-field>
              <!-- Prevent implicit submission of the form -->
              <button type="submit" disabled style="display: none" aria-hidden="true"/>
            </form>
            <!-- Reset password button -->
            <div
              class="has-text-centered has-text-primary"
              style="cursor: pointer;"
              @click="pushAction(ACTION_FORGOT_PASSWORD)"
            >
              Forgot password?
            </div><br/>
            <div class="has-text-centered login-button">
              <b-button
                type="is-primary"
                @click="userLogin()"
                :disabled="loading"
              >
                Log in
              </b-button>
            </div>
            <slot name="signin-bottom"/>
          </div>
          <!-- If user is already signed in, just show option to proceed -->
          <div v-else>
            <div class="has-text-centered mb-3">
              <b-button
                type="is-primary"
                icon-right="login"
                @click="doneWithCurrentAuth"
              >
                Continue as {{ signedInEmail }}
              </b-button>
            </div>
            <div class="has-text-centered">
              <b-button
                icon-right="logout"
                @click="logout"
              >
                Log out
              </b-button>
            </div>
          </div>
        </div>
        <div
          v-else-if="step === ACTION_CREATE"
        >
          <form autocomplete="on" name="home-create-account-email">
            <b-field label="My email">
              <b-input
                type="email"
                @keyup.native="checkEnter($event)"
                :disabled="hasCompleted"
                v-model="email"
                :use-html5-validation="false"
                ref="createEmail"
                autocomplete="username"
              ></b-input>
            </b-field>
            <!-- Prevent implicit submission of the form -->
            <button type="submit" disabled style="display: none" aria-hidden="true"/>
          </form>
          <password-strength-input
            v-if="!hasCompleted"
            label1="Create password"
            label2="Confirm password"
            @input-enter="userCreate"
            @valid="passValid = $event"
            @input="password = $event"
            class="mb-4"
          />
          <div class="policy-container mb-4" v-if="!hasCompleted">
            <b-checkbox
              v-model="agreed"
              class="mr-1"
            >
              <div>
                I agree to the <a href="https://safesurfer.io/terms-and-conditions/" target="blank">Terms of Use</a> and
                <a href="https://safesurfer.io/privacy" target="blank">Privacy Policy</a>
              </div>
            </b-checkbox>
          </div>
          <div class="policy-container mb-4" v-if="!hasCompleted">
            <b-checkbox
              v-model="commsConsent"
              class="mr-1"
            >
              <div>
                Send me product updates/marketing
              </div>
            </b-checkbox>
          </div>
          <div class="has-text-centered mb-3">
            <b-button
              type="is-primary"
              @click="userCreate"
              :disabled="loading"
              icon-right="arrow-right"
            >
              Next
            </b-button>
          </div>
        </div>
        <div v-else-if="step === ACTION_FORGOT_PASSWORD">
          <div class="is-flex is-justify-content-space-between">
            <b-button
              icon-left="arrow-left"
              class="mb-2"
              label="Log in"
              @click="pushAction(ACTION_SIGNIN)"
            />
            <span class="is-family-secondary has-text-centered has-text-weight-semibold is-size-5 mb-3">
              Reset password
            </span>
            <div/>
          </div>
          <form autocomplete="on" name="send-password-reset-email">
            <b-field label="My email" message="The email address that you use for your Safe Surfer account.">
              <b-input
                v-if="!fixedEmail"
                @keyup.native="checkEnter($event)"
                v-model="email"
                type="email"
                ref="resetEmail"
              />
              <b-input
                v-else disabled
                :value="fixedEmail"
              />
            </b-field>
            <!-- Prevent implicit submission of the form -->
            <button type="submit" disabled style="display: none" aria-hidden="true"/>
          </form>
          <div class="has-text-centered login-button">
            <b-button
              type="is-primary"
              @click="sendPasswordReset"
              :disabled="loading"
            >
              Send password reset
            </b-button>
          </div>
        </div>
        <div v-else-if="step === ACTION_COMPLETE_EMAIL_OTP">
          <div class="is-flex is-justify-content-space-between">
            <b-button
              icon-left="arrow-left"
              class="mb-2"
              label="Log out"
              @click="pushAction(ACTION_SIGNIN); logout();"
            />
            <span class="is-family-secondary has-text-centered has-text-weight-semibold is-size-5 mb-3">
              Check your email
            </span>
            <div/>
          </div>
          <b-message
            type="is-primary"
          >
            It looks like you're signing in from a new location. To access your account,
            check <strong>{{ emailOtpEmail }}</strong> for a sign-in code, and enter it here.
          </b-message>
          <b-field label="Sign-in code">
            <b-input
              :value="otp"
              @input="otp = $event.replace(/\s+/g, '')"
              ref="otpInput"
              :use-html5-validation="false"
              @keyup.native="checkEnter($event)"
              autocomplete="one-time-code"
            />
          </b-field>
          <b-button
            type="is-primary"
            @click="submitOtp"
            :disabled="loading"
          >
            Log in
          </b-button>
        </div>
        <div v-else-if="step === ACTION_COMPLETE_2FA">
          <div class="is-flex is-justify-content-space-between">
            <b-button
              icon-left="arrow-left"
              class="mb-2"
              label="Log out"
              @click="pushAction(ACTION_SIGNIN); logout();"
            />
            <span class="is-family-secondary has-text-centered has-text-weight-semibold is-size-5 mb-3">
              Two-factor authentication
            </span>
            <div/>
          </div>
          <b-message
            v-if="twofactorLocked"
            type="is-danger"
          >
            Two-factor authentication is locked. It will be unlocked <strong>{{ formatTwofactorAvailableAt() }}</strong>. You can:
            <ul class="mt-2">
              <li>
                Use a recovery code.
              </li>
              <li>
                Contact support to verify your identity.
              </li>
            </ul>
            <p class="mt-2">
              If you haven't made an excessive amount of attempts, your account is most likely compromised.
              After gaining access using one of the methods above, we strongly recommend you reset your password.
            </p>
          </b-message>
          <b-message
            v-else-if="twofactorWarning"
            type="is-warning"
          >
            {{ twofactorAttempts.maxAttempts - twofactorAttempts.numAttempts }} attempts until two-factor authentication
            is locked for a period of time. Please double-check you are reading the right code.
          </b-message>
          <b-message
            v-else
            type="is-primary"
          >
            Enter the code from the two-factor app on your mobile device. If you don't have it, you can enter a recovery code here.
          </b-message>
          <b-field label="Code">
            <b-input
              :value="code"
              @input="code = $event.replace(/\s+/g, '')"
              ref="codeInput"
              :use-html5-validation="false"
              @keyup.native="checkEnter($event)"
              autocomplete="one-time-code"
            />
          </b-field>
          <b-button
            type="is-primary"
            @click="checkCode"
            :disabled="loading"
          >
            Log in
          </b-button>
        </div>
        <div v-else-if="step === ACTION_VERIFY_EMAIL">
          <div class="has-text-centered">
            <b-icon
              icon="email"
              size="is-large"
            />
            <p class="is-size-4 mt-3">
              Verify Email
            </p>
          </div>
          <p class="is-size-6 mt-2 has-text-grey">
            To access this page, check your inbox for a verification email from Safe Surfer and click
            the link inside.
          </p>
          <div class="has-text-centered mt-3">
            <b-button
              label="I've done it"
              icon-left="check"
              @click="removeAndRedirect"
              :disabled="loading"
            />
          </div>
          <div class="has-text-centered mt-3">
            <b-button
              label="Send the email again"
              @click="resend"
              :disabled="loading"
            />
          </div>
        </div>
        <div v-else-if="step === ACTION_APPROVAL_REQUIRED">
          <div class="has-text-centered">
            <b-icon
              icon="account-reactivate"
              size="is-large"
            />
            <p class="is-size-4 mt-3">
              Setting up...
            </p>
          </div>
          <p class="is-size-6 mt-2 has-text-grey">
            We're setting up your account. Please check back later for
            access to block sites, view browsing history, and more.
          </p>
          <div class="has-text-centered">
            <b-button
              class="mt-3"
              label="Check again"
              @click="removeAndRedirect"
              :disabled="loading"
            />
          </div>
        </div>
      </b-step-item>
    </b-steps>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import cloneDeep from 'lodash/cloneDeep'
import assign from 'lodash/assign'
import PostAuthToken from '@/requests/user-v2/post-auth-token'
import { EMAIL_STORAGE_NAME, TOKEN_STORAGE_NAME } from '@/helpers/constants'
import { getTimezone, getTokenPrimaryRole, hasValidAuth } from '@/helpers/functions'
import GetPasswordReset from '@/requests/account/get-password-reset'
import GetSubscription, { Subscription } from '@/requests/user-v2/get-subscription'
import GetTokenWithRestrictionsRemoved from '@/requests/user-v2/get-token-with-restrictions-removed'
import ResendVerificationEmail from '@/requests/account/resend-verification-email'
import Post2FAToken from '@/requests/user-v2/post-2fa-token'
import Get2FaAttempts, { TwofactorAttempts } from '@/requests/user-v2/get-2fa-attempts'
import PostUser, { PostUserOptions } from '@/requests/user-v2/post-user'
import PutCommunicationsConsent from '@/requests/user-v2/put-communications-consent'
import GetTokenFromOtp from '@/requests/user-v2/get-token-from-otp'
import GetTokenFromSigninToken from '@/requests/user-v2/get-token-from-signin-token'
import GetEmail from '@/requests/user-v2/get-email'
import dayjs from 'dayjs'
import Get2FARecoveryCodes from '@/requests/user-v2/get-2fa-recovery-codes'
import GetTimezone from '@/requests/user-v2/get-timezone'
import PutTimezone from '@/requests/user-v2/put-timezone'

export interface AuthResult {
  token: string;
  email: string;
  created: boolean;
  needRegenTwofactorRecoveryCodes?: boolean;
  subscription?: Subscription;
}

@Component({
  components: {
    PasswordStrengthInput: () => import('@/components/common/password-strength-input.vue'),
  }
})
export default class Auth extends Vue {
  readonly ACTION_SIGNIN = 0
  readonly ACTION_CREATE = 1
  readonly ACTION_FORGOT_PASSWORD = 2
  readonly ACTION_COMPLETE_EMAIL_OTP = 3
  readonly ACTION_COMPLETE_2FA = 4
  readonly ACTION_VERIFY_EMAIL = 5
  readonly ACTION_APPROVAL_REQUIRED = 6

  @Prop() readonly createAccount: boolean | undefined
  @Prop() readonly signinFormName: string | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly referer: number | undefined
  @Prop() readonly fixedEmail: string | undefined
  @Prop() readonly startEmail: string | undefined
  // If true and the user uses their last 2FA recovery code,
  // notify the parent component.
  @Prop() readonly checkRegenTwofactorRecoveryCodes: boolean | undefined

  email = ''
  password = ''
  emailOtpId = ''
  emailOtpEmail = ''
  code = ''
  lastToken = ''
  otp = ''
  hasCompleted = false // whether an account has been created successfully
  passValid = false // when creating a password, whether it is valid
  agreed = false
  commsConsent = true
  twofactorAttempts: TwofactorAttempts | null = null

  postAuthToken = new PostAuthToken()
  getPasswordReset = new GetPasswordReset()
  getSubscription = new GetSubscription()
  getTokenWithRestrictionsRemoved = new GetTokenWithRestrictionsRemoved()
  resendVerificationEmail = new ResendVerificationEmail()
  post2FAToken = new Post2FAToken(true)
  get2FaAttempts = new Get2FaAttempts()
  postUser = new PostUser()
  putCommunicationsConsent = new PutCommunicationsConsent()
  getTokenFromOtp = new GetTokenFromOtp()
  getTokenFromSigninToken = new GetTokenFromSigninToken()
  getEmail = new GetEmail()

  setAuth (token: string) {
    this.lastToken = token
    this.getSubscription.setAuth(token)
    this.getTokenWithRestrictionsRemoved.setAuth(token)
    this.resendVerificationEmail.setAuth(token)
    this.post2FAToken.setAuth(token)
    this.get2FaAttempts.setAuth(token)
    this.putCommunicationsConsent.setAuth(token)
    this.getEmail.setAuth(token)
  }

  @Watch('startEmail', {immediate: true}) updateStartEmail (startEmail: string) {
    this.email = startEmail
  }

  mounted () {
    const defaultSteps = this.getDefaultSteps()
    this.steps = defaultSteps
    this.currStep = defaultSteps[0]
    if (hasValidAuth()) {
      const token = localStorage.getItem(TOKEN_STORAGE_NAME)
      this.checkTokenRestriction(token as string, false)
    }
    if (this.usingSigninToken) {
      this.$emit('update:loading', true)
      this.getTokenFromSigninToken.handle({
        'signin-token': this.signinToken,
        'device-id': this.signinTokenDeviceId
      }).then(token => {
        this.setAuth(token.spec.token)
        this.getEmail.handle().then(email => {
          this.email = email.spec
        }).finally(() => {
          this.checkTokenRestriction(token.spec.token, true)
        })
      })
      return
    }
    this.handleFocus(this.steps[this.currStep])
  }

  get usingSigninToken (): boolean {
    return this.$route.query['signin-token'] !== undefined
  }

  get signinToken (): string {
    const q = this.$route.query['signin-token']
    if (typeof q === 'string') {
      return q
    }
    return ''
  }

  get signinTokenDeviceId (): string {
    const q = this.$route.query['signin-token-device-id']
    if (typeof q === 'string') {
      return q
    }
    return ''
  }

  @Watch('email', { immediate: true }) emitEmail(newEmail: string) {
    this.$emit('email', newEmail)
  }

  @Watch('password', { immediate: true }) emitPassword(newPassword: string) {
    this.$emit('password', newPassword)
  }

  @Watch('code', { immediate: true }) emitCode(newCode: string) {
    this.$emit('code', newCode)
  }

  get emailToUse (): string {
    if (this.fixedEmail) {
      return this.fixedEmail
    }
    return this.email
  }

  pushAction (action: number) {
    this.twofactorAttempts = null
    const steps = this.steps
    if (action === this.ACTION_VERIFY_EMAIL && steps[this.currStep] === this.ACTION_VERIFY_EMAIL) {
      this.$buefy.snackbar.open({
        type: 'is-danger',
        message: 'Email not verified yet',
        actionText: 'Get help',
        duration: 20000,
        onAction: () => {
          window.open('https://helpdesk.safesurfer.io')
        }
      })
    }
    for (let i = 0; i < steps.length; i++) {
      if (steps[i] === action) {
        this.currStep = i
        setTimeout(() => {
          this.handleFocus(action)
        }, 500)
        return
      }
    }
    steps.push(action)
    this.steps = steps
    this.$nextTick(() => {
      this.$nextTick(() => {
        this.currStep = steps.length-1;
        setTimeout(() => {
          this.handleFocus(action)
        }, 500)
      })
    })
  }

  handleFocus (action: number) {
    if (action === this.ACTION_COMPLETE_2FA) {
      this.refreshTwofactorAttempts();
      (this.$refs.codeInput as any[])[0].focus()
    } else if (action === this.ACTION_FORGOT_PASSWORD) {
      (this.$refs.resetEmail as any[])[0].focus()
    } else if (action === this.ACTION_SIGNIN) {
      if (this.fixedEmail) {
        (this.$refs.passwordInput as any[])[0].focus()
      } else {
        (this.$refs.emailInput as any[])[0].focus()
      }
    } else if (action === this.ACTION_CREATE) {
      (this.$refs.createEmail as any[])[0].focus()
    } else if (action === this.ACTION_COMPLETE_EMAIL_OTP) {
      (this.$refs.otpInput as any[])[0].focus()
    }
  }

  logout () {
    localStorage.removeItem(TOKEN_STORAGE_NAME)
    localStorage.removeItem(EMAIL_STORAGE_NAME)
    window.location.reload()
  }

  /**
   * @returns Whether the user is already signed in.
   */
  get signedInAlready(): boolean {
    return hasValidAuth()
  }

  /**
   * @returns The email the user is signed in as, if they are.
   */
  get signedInEmail(): string | null {
    return localStorage.getItem(EMAIL_STORAGE_NAME)
  }

  get currStep (): number {
    const q = this.$route.query['auth-step']
    if (typeof q === 'string') {
      return parseInt(q)
    }
    return 0
  }

  set currStep (newStep: number) {
    const str = newStep + ''
    const name = this.$route.name
    if (!name) {
      throw new Error('name your routes!')
    }
    this.$router.push({
      name: name,
      query: assign(cloneDeep(this.$route.query), {
        'auth-step': str
      })
    })
  }

  getDefaultSteps(): number[] {
    return [this.createAccount ? this.ACTION_CREATE : this.ACTION_SIGNIN]
  }

  get steps (): number[] {
    const q = this.$route.query['auth-steps']
    if (typeof q === 'string') {
      return JSON.parse(q)
    }
    return this.getDefaultSteps()
  }

  set steps (newSteps: number[]) {
    const str = JSON.stringify(newSteps)
    const name = this.$route.name
    if (!name) {
      throw new Error('name your routes!')
    }
    this.$router.push({
      name: name,
      query: assign(cloneDeep(this.$route.query), {
        'auth-steps': str
      })
    })
  }

  /**
   * Do the relevant action if enter is pressed in one of
   * the inputs.
   * @param event The key event.
   */
  checkEnter (event: KeyboardEvent) {
    if (event.key === 'Enter') {
      const action = this.steps[this.currStep]
      switch (action) {
        case this.ACTION_SIGNIN:
          this.userLogin()
          break
        case this.ACTION_CREATE:
          this.userCreate()
          break
        case this.ACTION_FORGOT_PASSWORD:
          this.sendPasswordReset()
          break
        case this.ACTION_COMPLETE_2FA:
          this.checkCode()
          break
        case this.ACTION_COMPLETE_EMAIL_OTP:
          this.submitOtp()
          break
      }
    }
  }

  submitOtp () {
    this.$emit('update:loading', true)
    this.getTokenFromOtp.handle({
      id: this.emailOtpId,
      otp: this.otp
    }).then(token => {
      this.setAuth(token.spec.token)
      this.checkTokenRestriction(token.spec.token, true)
    }).catch(err => {
      if (!err || !err.meta || err.meta.code !== 401) {
        this.err('Unknown error signing in')
        return
      }
      switch (err.meta.errorCode) {
        case 'otp_expired':
        case 'otp_tries_exceeded':
          this.err('Code expired, try again')
          this.logout()
          return
      }
      this.err('Incorrect code, try again')
    }).finally(() => {
      this.$emit('update:loading', false)
    })
  }

  sendPasswordReset () {
    const email = this.emailToUse
    this.$emit('update:loading', true)
    this.getPasswordReset.handle(email).then(() => {
      this.pushAction(this.ACTION_SIGNIN)
      this.$buefy.snackbar.open({
        type: 'is-success',
        message: 'Click the link in your email to reset your password',
        duration: 20000
      })
    }).catch(code => {
      if (code === 429) {
        this.err('Making too many attempts, try again later')
      } else {
        this.err('Couldn\'t send email. Check that the address is right.')
      }
    }).finally(() => {
      this.$emit('update:loading', false)
    })
  }

  userLogin () {
    const email = this.emailToUse
    this.$emit('update:loading', true)
    this.postAuthToken.handle({
      username: email,
      password: this.password,
      'device-id': '',
      'enable-sub': false,
    }).then(token => {
      if (token.spec.token) {
        this.setAuth(token.spec.token)
        this.checkTokenRestriction(token.spec.token, true)
      }
    }).catch(resp => {
      this.$emit('update:loading', false)
      if (resp.meta && resp.meta.code === 401) {
        // May be an email otp requirement
        if (resp.spec && resp.spec.emailOtpId) {
          this.$emit('update:loading', false)
          this.emailOtpId = resp.spec.emailOtpId
          this.emailOtpEmail = email
          this.pushAction(this.ACTION_COMPLETE_EMAIL_OTP)
        } else {
          this.err('Invalid email or password')
        }
      } else if (resp.meta && resp.meta.code === 429) {
        this.err('Making too many attempts, try again later')
      } else {
        this.err('Unknown error while signing in')
      }
    })
  }

  /**
   * @returns A promise resolving once the user's timezone has been set, if necessary.
   */
  setTimezoneIfUnset(token: string): Promise<void> {
    const getTimezoneReq = new GetTimezone()
    const putTimezoneReq = new PutTimezone()
    getTimezoneReq.setAuth(token)
    putTimezoneReq.setAuth(token)
    return new Promise((resolve, reject) => {
      getTimezoneReq.handle().then(tz => {
        if (tz.spec === '' || tz.spec === 'UTC') {
          // Unset
          putTimezoneReq.handle(getTimezone()).finally(() => {
            // Don't stop auth for timezone errors
            resolve()
          })
        } else {
          resolve()
        }
      })
    })
  }

  err (err: string) {
    this.$buefy.snackbar.open({
      type: 'is-danger',
      message: err,
      duration: 20000
    })
  }

  refreshSub (): Promise<Subscription> {
    return new Promise((resolve, reject) => {
      this.getSubscription.handle({ refresh: false }).then(sub => {
        this.$emit('update:subStatus', sub.spec.status)
        this.$emit('update:isPromo', sub.spec && sub.spec.status === 'ACTIVE' && sub.spec.chargebeePlan && sub.spec.chargebeePlan.id.includes('promo'))
        resolve(sub.spec)
      }).catch(err => reject(err))
    })
  }

  /**
   * Given a token, check if it contains a restrictions that needs to be resolved.
   * 
   * Return true if all is OK, or false if the restriction needs some resolving.
   */
  checkTokenRestriction (token: string, finishIfValid: boolean): boolean {
    let ok = false
    const role = getTokenPrimaryRole(token)
    switch (role) {
      case 'complete-twofactor':
        this.pushAction(this.ACTION_COMPLETE_2FA)
        break
      case 'verify-email':
        this.pushAction(this.ACTION_VERIFY_EMAIL)
        break
      case 'approval-required':
        this.pushAction(this.ACTION_APPROVAL_REQUIRED)
        break
      default:
        ok = true
        if (finishIfValid) {
          let subscription: Subscription | undefined = undefined
          this.refreshSub().then(sub => subscription = sub).finally(() => {
            this.setTimezoneIfUnset(token).finally(() => {
              const done = (needRegenTwofactorRecoveryCodes?: boolean) => {
                this.$emit('done', {
                  token: token,
                  email: this.email,
                  created: this.steps.includes(this.ACTION_CREATE),
                  needRegenTwofactorRecoveryCodes: needRegenTwofactorRecoveryCodes,
                  subscription: subscription,
                } as AuthResult)
              }
              if (this.checkRegenTwofactorRecoveryCodes && this.steps.some(step => step === this.ACTION_COMPLETE_2FA)) {
                // 2FA was used - check if the user has recovery codes left
                const req = new Get2FARecoveryCodes()
                req.setAuth(token)
                req.handle().then(codes => {
                  done(!codes.spec || codes.spec.length === 0)
                }).catch(() => {
                  done()
                })
              } else {
                done()
              }
            })
          })
          return ok
        }
    }
    this.$emit('update:loading', false)
    return ok
  }

  userCreate () {
    if (this.hasCompleted) {
      this.doneWithCurrentAuth()
      return
    }
    if (this.email === '') {
      this.err('Please enter an email.')
      return
    }
    if (this.password === '') {
      this.err('Please enter a password.')
      return
    }
    if (!this.passValid) {
      this.err('The password is invalid.')
      return
    }
    if (!this.agreed) {
      this.err('Please agree to the terms of service/privacy policy.')
      return
    }
    this.$emit('update:loading', true)
    // Create user, optionally adding referer
    const opts: PostUserOptions = {
      email: this.email,
      password: this.password,
    }
    if (this.referer) {
      opts.referer = this.referer
    }
    this.postUser.handle(opts).then(result => {
      // Also sign in using the new details
      this.postAuthToken.handle({
        username: result.spec.createdEmail,
        password: this.password,
        'device-id': '',
        'enable-sub': true,
      }).then(res => {
        // Store the details
        this.setAuth(res.spec.token)
        if (this.checkTokenRestriction(res.spec.token, false)) {
          // Update comms settings
          this.putCommunicationsConsent.handle(this.commsConsent).then(() => {
            this.$emit('update:loading', false)
            this.$emit('done', {
              email: this.email,
              token: res.spec.token,
              created: true
            })
            this.hasCompleted = true
          })
        }
      })
    }).catch(res => {
      if (res && res.data && res.data.meta) {
        if (res.data.meta.errorCode === 'user_already_exists') {
          this.err('A user with that email already exists.')
        } else if (res.data.meta.errorCode === 'user_email_invalid') {
          this.err('The email is invalid')
        } else {
          this.err('Error during registration.')
        }
      } else {
        this.err('Error during registration.')
      }
      this.$emit('update:loading', false)
    })
  }

  get twofactorLocked(): boolean {
    const attempts = this.twofactorAttempts
    if (!attempts || !attempts.availableAt) {
      return false
    }
    return dayjs.unix(attempts.availableAt).isAfter(dayjs())
  }

  get twofactorWarning(): boolean {
    const attempts = this.twofactorAttempts
    if (!attempts) {
      return false
    }
    return attempts.maxAttempts - attempts.numAttempts <= 3 && !(attempts.availableAt && dayjs.unix(attempts.availableAt).isBefore(dayjs()))
  }

  refreshTimeoutId = 0

  beforeDestroy () {
    clearTimeout(this.refreshTimeoutId)
  }

  refreshTwofactorAttempts() {
    clearTimeout(this.refreshTimeoutId)
    this.get2FaAttempts.handle().then(attempts => {
      this.twofactorAttempts = attempts.spec
      if (this.twofactorAttempts.availableAt && this.twofactorLocked) {
        const delay = dayjs.unix(this.twofactorAttempts.availableAt).diff(dayjs()) + 1
        setTimeout(() => {
          this.refreshTwofactorAttempts()
        }, delay)
      }
    }).catch(() => {})
  }

  formatTwofactorAvailableAt(): string {
    const attempts = this.twofactorAttempts
    if (!attempts || !attempts.availableAt) {
      return ''
    }
    return dayjs.unix(attempts.availableAt).fromNow()
  }

  checkCode () {
    if (getTokenPrimaryRole(this.lastToken) !== 'complete-twofactor') {
      this.checkTokenRestriction(this.lastToken, true)
      return
    }
    this.$emit('update:loading', true)
    this.post2FAToken.handle(this.code.replace(/\s+/g, '')).then(auth => {
      this.setAuth(auth.spec.token)
      this.checkTokenRestriction(auth.spec.token, true)
    }).catch(resp => {
      this.$emit('update:loading', false)
      if (resp.status === 401) {
        this.err('Login timed out, try again')
        this.pushAction(this.ACTION_SIGNIN)
        this.logout()
      } else if (resp.data.meta && resp.data.meta.code === 400) {
        const attempts = this.twofactorAttempts
        if (attempts && attempts.availableAt) {
          this.err('Invalid recovery code')
        } else {
          this.err('Invalid code')
        }
        this.refreshTwofactorAttempts()
      } else if (resp.data.meta && resp.data.meta.code === 429) {
        this.err('Too many attempts, try again later')
      } else {
        this.err('Unknown error')
      }
    })
  }

  removeAndRedirect () {
    this.$emit('update:loading', true)
    this.getTokenWithRestrictionsRemoved.handle().then(auth => {
      this.setAuth(auth.spec.token)
      this.checkTokenRestriction(auth.spec.token, true)
    }).catch(() => this.$emit('update:loading', false))
  }

  resend () {
    this.$emit('update:loading', true)
    this.resendVerificationEmail.handle().then(() => {
      this.$buefy.snackbar.open({
        type: 'is-success',
        message: 'Re-sent email, check your inbox',
        duration: 20000
      })
    }).finally(() => this.$emit('update:loading', false))
  }

  doneWithCurrentAuth () {
    this.$emit('done', {
      token: localStorage.getItem(TOKEN_STORAGE_NAME),
      email: localStorage.getItem(EMAIL_STORAGE_NAME),
      created: false
    })
  }
}
</script>

<style scoped>
.outer {
  overflow: hidden;
}

.faded {
  opacity: 0.5;
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
