<template>
  <div class="card px-5 py-5 mr-5 mt-5 mb-3 has-background-white has-text-grey-dark">
    <div class="card-title">
      <b-icon :icon="icon" class="mr-2"/>
      <skeleton-text v-if="loading" width="150px"/>
      <div class="has-text-weight-semibold is-size-6" v-else :class="titleClass">{{ title }}</div>
      <div style="flex-grow: 1"/>
      <slot name="top-right"/>
    </div>
    <div v-if="fields" class="mb-3">
      <div
        class="is-size-7 mt-1 ml-1 mb-1"
        v-for="(field, idx) in fields"
        :key="idx"
      >
        <strong :class="field[2]">{{ field[0] }}</strong> {{ field[1] }}
      </div>
    </div>
    <div v-if="buttons">
      <b-button
        v-for="(button, idx) in buttons"
        :key="idx"
        :tag="buttonLinks[button[0]] ? 'router-link': 'button'"
        :to="buttonLinks[button[0]]"
        :type="button[2] ? button[2] : 'is-primary'"
        class="mt-3"
        rounded outlined expanded
        @click="$emit('input-' + button[0])"
      >
        {{ button[1] }}
      </b-button>
    </div>
    <div v-if="dropdowns">
      <b-dropdown
        v-for="dropdown in dropdowns"
        :key="dropdown[0]"
        @input="buttonLinks[$event] ? $router.push(buttonLinks[$event]) : $emit('input-' + $event)"
        expanded
      >
        <template #trigger="{ active }">
          <b-button
            class="mt-3"
            :label="dropdown[0]"
            type="is-primary"
            :icon-right="active ? 'menu-up' : 'menu-down'"
            rounded outlined expanded
          />
        </template>
        <b-dropdown-item
          v-for="item in dropdown[1]"
          :key="item[0]"
          :value="item[0]"
        >
          {{ item[1] }}
        </b-dropdown-item>
      </b-dropdown>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import SkeletonText from '@/components/common/skeleton-text.vue'
import { Location } from 'vue-router'

export type ButtonLinksType = {[buttonName: string]: Location}

@Component({
  components: {
    SkeletonText
  }
})
export default class ButtonFieldCard extends Vue {
  /**
   * Title to show at the top.
   */
  @Prop() readonly title: string | undefined
  /**
   * Class to give the title.
   */
  @Prop() readonly titleClass: string | undefined
  /**
   * Icon to show at the top left.
   */
  @Prop() readonly icon: string | undefined
  /**
   * Table-like fields to show below the title.
   * [name, data, name class].
   */
  @Prop() readonly fields: string[][] | undefined
  /**
   * Buttons to show below the fields.
   * [name, text] where name is later used
   * to emit click events with the name input-{name}.
   */
  @Prop() readonly buttons: string[][] | undefined
  /**
   * Dropdowns to show below the fields.
   * [text, [name, text][]][] where name is later
   * used to emit click events with the name input-{name}.
   */
  @Prop() readonly dropdowns: [string, [string, string][]][] | undefined
  /**
   * Whether to show the state as loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Optionally, a Route to use for each button instead of firing an event.
   * Map from button name to route.
   */
  @Prop({ default: () => { return {} } })
  readonly buttonLinks: ButtonLinksType | undefined
}
</script>

<style scoped>
.card {
  vertical-align: top;
  width: 300px;
  display: inline-block;
  border-radius: 20px;
  overflow: visible;
}

.card-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .card {
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

</style>
