<template>
  <b-collapse class="card" animation="slide" :open="open" @update:open="$emit('update:open', $event)">
    <div
      slot="trigger"
      slot-scope="props"
      class="card-header"
    >
      <p class="card-header-title">
        {{ title }}
      </p>
      <a class="card-header-icon">
        <b-icon
          :icon="props.open ? 'menu-down' : 'menu-up'">
        </b-icon>
      </a>
    </div>
    <div class="card-content">
      <slot name="default"/>
    </div>
  </b-collapse>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class Collapse extends Vue {
  @Prop({ default: false }) readonly open: boolean | undefined
  @Prop() readonly title: string | undefined
}
</script>

<style scoped>
</style>
