<template>
  <span>
    <strong v-if="button === undefined">{{ text }}</strong>
    <b-button
      :class="{ 'ml-2': button === undefined }"
      size="is-small"
      icon-left="content-copy"
      @click="copy"
      rounded
    >
      <span v-if="button">
        {{ button }}
      </span>
    </b-button>
  </span>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import copy from 'copy-text-to-clipboard'

@Component
export default class CopyText extends Vue {
  /**
   * The text to display and copy.
   */
  @Prop() readonly text: string | undefined
  /**
   * The text to put in the copy button. If defined, "text" isn't
   * shown and this component becomes a button to copy the text.
   */
  @Prop() readonly button: string | undefined

  /**
   * Put the text in the clipboard.
   */
  copy () {
    if (this.text && copy(this.text)) {
      this.$buefy.toast.open({
        message: 'Copy successful',
        type: 'is-success',
        position: 'is-bottom'
      })
    } else {
      this.$buefy.toast.open({
        message: 'Couldn\'t copy',
        type: 'is-danger',
        position: 'is-bottom'
      })
    }
  }
}
</script>
