<template>
  <div class="footer-outer mt-6">
    <div class="footer-inner is-flex is-justify-content-space-around is-align-items-center">
      <div>
        <div class="item-container line-bottom is-family-secondary has-text-weight-semibold is-justify-content-space-around is-align-items-baseline">
          <a class="button has-background-primary has-text-white px-3 mr-3 mb-2" href="https://helpdesk.safesurfer.io"
						target="blank">Get help</a>
          <a class="px-3 my-1 link" href="https://safesurfer.io" target="blank">Home website</a>
          <a class="px-3 my-1 link" href="https://safesurfer.io/categories/articles/" target="blank">Articles</a>
          <a class="px-3 my-1 link" href="https://gitlab.com/safesurfer" target="blank">Open Source</a>
          <a class="px-3 my-1 link" href="https://safesurfer.io/terms-and-conditions/" target="blank">Terms of Use</a>
          <a class="px-3 my-1 link" href="https://safesurfer.io/privacy/" target="blank">Privacy Policy</a>
        </div>
        <div class="item-container is-family-secondary has-text-weight-semibold is-justify-content-space-around">
          <b-button
            class="mx-3 my-1 button-link"
            size="is-small"
            icon-left="facebook"
            tag="a"
            href="https://www.facebook.com/safesurferNZ"
            target="blank"
            rounded
          >
            Facebook
          </b-button>
          <b-button
            class="mx-3 my-1 button-link"
            size="is-small"
            icon-left="alpha-x-box"
            tag="a"
            href="https://x.com/safesurfernz"
            target="blank"
            rounded
          >
            X (Twitter)
          </b-button>
          <b-button
            class="mx-3 my-1 button-link"
            size="is-small"
            icon-left="instagram"
            tag="a"
            href="https://www.instagram.com/safesurfer"
            target="blank"
            rounded
          >
            Instagram
          </b-button>
        </div>
      </div>
      <div class="my-4 mx-5">
        <div class="has-text-centered">
          <img
            src="@/assets/safesurfer-dude-large.png"
            width="80px"
          />
        </div>
        <p class="has-text-centered is-family-secondary has-text-weight-semibold">
          My Safe Surfer
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'

@Component
export default class AppFooter extends Vue {}
</script>

<style scoped>
.footer-outer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #eeeeee;
}

.footer-inner {
  max-width: 1100px;
  margin: auto;
}

.line-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item-container {
  display: flex;
}

.link {
  display: inline-block;
}

@media screen and (max-width: 1100px) {
  .footer-inner {
    flex-direction: column;
  }

  .line-bottom {
    margin-top: 20px;
  }

  .item-container {
    display: block;
    padding-left: 15px;
  }
}
</style>
