<template>
  <b-steps :has-navigation="false" style="margin-top: -25px" v-model="currStep">
    <b-step-item headerClass="is-hidden">
      <b-field label="Where was this device purchased?" />
      <b-field v-for="(option, idx) in STORES" :key="currStep + '' + idx">
        <b-radio :value="option" :native-value="idx" @input="setStore(STORES[idx])">
          {{ option }}
        </b-radio>
      </b-field>
      <b-field>
        <b-radio :value="-1" :native-value="0" @input="setStore">
          Other
        </b-radio>
      </b-field>
    </b-step-item>
    <b-step-item headerClass="is-hidden">
      <b-field label="Other"/>
      <b-input
        type="textarea"
        v-model="otherStore"
        :maxlength="1000"
      />
      <b-button
        label="Submit"
        type="is-primary"
        @click="setStore(otherStore)"
      />
    </b-step-item>
    <b-step-item headerClass="is-hidden">
      <b-field label="Do you want to add another referrer for this order?"/>
      <b-field v-for="(option, idx) in REFERERS" :key="currStep + '' + idx">
        <b-radio :value="option" :native-value="idx" @input="setReferer(REFERERS[idx])">
          {{ option }}
        </b-radio>
      </b-field>
      <b-field>
        <b-radio :value="-1" :native-value="0" @input="$emit('done')">
          No
        </b-radio>
      </b-field>
    </b-step-item>
  </b-steps>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import PutDeviceMetadata from "@/requests/devices-v2/put-device-metadata";
import { Prop } from "vue-property-decorator";

@Component
export default class KspReferer extends Vue {
  readonly STORES = [
    'Harvey Norman',
    'JB Hi-Fi',
    'Noel Leeming',
    'PB Tech',
    'The Warehouse',
    'Samsung Online'
  ]
  readonly REFERERS = [
    'Protect Young Eyes',
    'Our Kids Online',
    'Parenting Place',
    'Tricky Chats',
    'The Light Project'
  ]

  @Prop() readonly id: string | undefined;
  @Prop() readonly token: string | undefined;

  currStep = 0;
  otherStore = '';

  setStore (store: string | undefined) {
    if (!this.id) {
      return
    }
    if (!store) {
      this.currStep = 1
    } else {
      this.$emit('update:loading', true)
      const req = new PutDeviceMetadata()
      if (this.token) {
        req.setAuth(this.token)
      }
      req.handle({
        id: this.id,
        key: 'knox-store',
        val: store
      }).then(() => {
        this.$emit('update:loading', false)
        this.currStep = 2
      })
    }
  }

  setReferer (referer: string) {
    if (!this.id) {
      return
    }
    this.$emit('update:loading', true)
    const req = new PutDeviceMetadata()
    if (this.token) {
      req.setAuth(this.token)
    }
    req.handle({
      id: this.id,
      key: 'knox-referer',
      val: referer
    }).then(() => {
      this.$emit('update:loading', false)
      this.$emit('done')
    })
  }
}
</script>
