<template>
  <div class="border-bottom pb-4">
    <b-message
      v-if="showHelp"
      type="is-primary"
      title="Welcome"
      @close="helpDismissed"
    >
      <p
        v-for="(helpPara, idx) in help"
        :key="idx"
      >
        <br v-if="idx > 0"/>
        {{ helpPara }}
      </p>
    </b-message>
    <div class="is-flex mb-4" style="align-items: center">
      <slot name="left-icon"></slot>
      <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 mt-1">{{ title }}</div>
      <div style="flex-grow: 1"></div>
      <!-- Button slot -->
      <slot name="right"></slot>
    </div>
    <!-- Bottom item -->
    <div
      class="bottom-container"
      :class="{'is-flex': !noBottomCenter}"
    >
      <slot name="bottom"/>
    </div>
    <slot name="bottom-left"/>

    <!-- Floating part -->
    <transition name="slide-down">
      <div v-if="float && floating" class="float" :class="{ 'mobile': mobile }">
        <span class="is-size-5 has-text-weight-semibold is-family-secondary ml-2">{{ title }}</span>
        <div style="flex-grow: 1"></div>
        <slot :name="floatslot"/>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'

@Component
export default class TopWithDropdown extends Vue {
  /**
   * The title to display in the corner.
   */
  @Prop() readonly title: string | undefined
  /**
   * Whether to float when scrolling down.
   */
  @Prop() readonly float: boolean | undefined
  /**
   * Which slot to show when floating.
   */
  @Prop() readonly floatslot: string | undefined
  /**
   * Whether the top bar is in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly noBottomCenter: boolean | undefined

  /**
   * Whether the floating part is currently active.
   */
  floating = false
  /**
   * Whether to re-check if we should float.
   */
  checkFloat = true

  mounted () {
    document.addEventListener('scroll', this.onscroll.bind(this))
  }

  onscroll () {
    if (this.checkFloat) {
      this.checkFloat = false
      window.requestAnimationFrame(() => {
        if (window.scrollY > 200) {
          this.floating = true
        } else {
          this.floating = false
        }
        this.checkFloat = true
      })
    }
  }

  /**
   * @returns Whether to show help text for this page.
   */
  get showHelp (): boolean {
    if (!this.$route.name) {
      return false
    }
    const dismissedKey = this.$route.name + '-help-dismissed'
    if (localStorage.getItem(dismissedKey)) {
      return false
    }
    if (!this.$route.meta) {
      return false
    }
    return this.$route.meta.help !== undefined
  }

  get help (): string[] {
    if (!this.$route.meta) {
      return []
    }
    return this.$route.meta.help as string[]
  }

  helpDismissed () {
    const dismissedKey = this.$route.name + '-help-dismissed'
    localStorage.setItem(dismissedKey, '1')
  }
}
</script>

<style scoped>

.float {
  position: fixed;
  top: 0px;
  left: 60px;
  right: 0px;
  height: 58px;
  background-color: white;
  padding: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.float.mobile {
  top: 0px;
  left: 0px;
}

.is-flex {
  display: flex;
  justify-content: center;
}

.slide-down-enter-active {
  transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);;
}
.slide-down-leave-active {
  transition: all .2s cubic-bezier(0.4, 0.0, 1, 1);;
}

.slide-down-enter, .slide-down-leave-to
/* .slide-down-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
  opacity: 0;
}

</style>
