<template>
  <div class="my-4 px-1">
    <slot/>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'

@Component
export default class RaisedItem extends Vue {}
</script>

<style scoped>
.v-center {
  display: flex;
  align-items: center;
}

.v-center span {
  margin-right: 10px;
}

.filler {
  flex-grow: 1;
}
</style>
