<template>
    <div class="spinner has-background-primary"></div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'

@Component
export default class Spinner extends Vue {}
</script>

<style scoped>

.spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
  animation: sk-scaleout 2.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

</style>
