<template>
  <router-link :to="{
    name: 'AccountSettings',
    query: {
      section: 'payment'
    }
  }">
    <b-tag
      :type="type"
      class="tag"
      outlined rounded
    >
      {{ status }}
    </b-tag>
  </router-link>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { getSubscriptionDescription } from '@/helpers/functions'

@Component
export default class SubscriptionTag extends Vue {
  /**
   * The subscription status from the JWT.
   */
  @Prop() readonly subStatus: string | undefined
  @Prop() readonly isPromo: boolean | undefined

  /**
   * @returns A friendly description of the current subscription status.
   */
  get status(): string {
    if (this.subStatus) {
      return getSubscriptionDescription(this.subStatus, this.isPromo)
    }
    return ''
  }

  /**
   * @returns The buefy type to use for the tag.
   */
  get type(): string {
    if (this.isPromo) {
      return 'is-light'
    }
    if (this.status === 'Pro Surfer') {
      return 'is-primary'
    } else {
      return 'is-warning'
    }
  }
}
</script>

<style scoped>
.tag {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
</style>
