<template>
  <div class="top-container">
    <div class="top-row">
      <slot name="left-icon"></slot>
      <span class="title is-family-secondary">{{ title }}</span>
      <div style="flex-grow: 1"></div>
      <!-- Button slot -->
      <slot name="right"></slot>
    </div>
    <!-- Dropdown items -->
    <div
      class="dropdown-container"
      v-if="!disableDropdown"
    >
      <b-dropdown
        :value="value"
        :class="{ 'dropdownOpen': 'overNav' }"
        @input="$emit('input', $event)"
        @active-change="dropdownOpen = $event"
      >
        <button slot="trigger" class="dropdown-button">
          <span>{{ dropdownItems[value] }}</span>
          <b-icon icon="menu-down"></b-icon>
        </button>
        <b-dropdown-item
          v-for="key in Object.keys(dropdownItems)"
          :key="key"
          :value="key"
        >{{ dropdownItems[key] }}</b-dropdown-item>
      </b-dropdown>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class TopWithDropdown extends Vue {
  /**
   * The title to display in the corner.
   */
  @Prop() readonly title: string | undefined
  /**
   * The dropdown items. Some sort of key-value
   * map, where the v-model is based on the keys
   * and the values are displayed in the dropdown.
   */
  @Prop() readonly dropdownItems: {[key: string]: string} | undefined
  /**
   * The initial value (key) to display, and synchronize after
   * using v-model.
   */
  @Prop() readonly value: string | undefined
  /**
   * Whether to disable and not show the dropdown.
   */
  @Prop() readonly disableDropdown: boolean | undefined
  /**
   * Whether the dropdown is open.
   */
  dropdownOpen = false
}
</script>

<style scoped>

.top-row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 22px;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
}

.dropdown-button {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.overNav {
  z-index: 11;
}

.top-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

</style>
