$primary: #1976d2;
$primary-invert: findColorInvert($primary);
$primary-dark: #0D4E99;
$primary-dark-invert: findColorInvert($primary-dark);
$primary-light: #e1f5fe;
$primary-light-invert: findColorInvert($primary-light);
$contrast: #ffa000;
$contrast-invert: findColorInvert($contrast);
$ss-success: #4caf50;
$ss-danger: #e53935;
$ss-danger-dark: #d32f2f;
$primary-darker: #002f44;
$primary-darker-invert: findColorInvert($primary-darker);
$ss-pink: #c2185b;
$ss-purple: #7b1fa2;
$ss-deep-purple: #512da8;
$ss-indigo: #303f9f;
$ss-cyan: #0097a7;
$ss-teal: #00796b;
$ss-green: #388e3c;
$ss-light-green: #689f38;
$ss-orange: #f57c00;