<template>
  <div>
    <!-- Show categories -->
    <div
      v-for="(block, idx) in categoryBlocks"
      :key="'cb' + idx"
      class="category-block mt-4 mb-4 mb-2"
      :class="{
        'faded': greyOut
      }"
    >
      <div
        v-for="(category, catIdx) in block"
        :key="category.id"
        class="category has-background-white"
        :class="{
          'faded': category.frozen
        }"
        :style="{
          'padding-left': category.parent ? '40px' : '20px'
        }"
      >
        <div
          class="category-top-row"
          @click="toggleCategory(category.ogIdx, block[block.length-1].parent && catIdx === 0 ? block : undefined)"
        >
          <b-icon
            :icon="getIcon(category)"
            class="has-text-grey-dark"
          />
          <div
            class="pl-4"
            :class="{
              'py-3': categoryAppInstallations[category.id],
              'py-4': !categoryAppInstallations[category.id]
            }"
          >
            <div class="category-name is-size-6 has-text-weight-medium has-text-grey-dark">
              {{ category.displayName }}
            </div>
            <div
              v-if="categoryAppInstallations[category.id]"
              :set="numInstalls = Object.keys(categoryAppInstallations[category.id]).length"
              class="is-size-7"
            >
              App installed on
              <span
                v-if="(numInstalls === 1 || deviceID) && categoryAppInstallations[category.id][deviceID]"
              >
                this device
              </span>
              <span
                v-else-if="numInstalls === 1"
                class="has-text-primary underline-on-hover"
                @click="$event.stopPropagation(); $emit('displayDevices', categoryAppInstallations[category.id])"
              >
                1 device
              </span>
              <span
                v-else-if="numInstalls > 1"
                class="has-text-primary underline-on-hover"
                @click="$event.stopPropagation(); $emit('displayDevices', categoryAppInstallations[category.id])"
              >
                {{ numInstalls }} devices <span v-if="categoryAppInstallations[category.id][deviceID]">(including this one)</span>
              </span>
            </div>
          </div>
          <b-icon
            icon="chevron-down"
            class="has-text-grey ml-2"
            v-if="block[block.length-1].parent && catIdx === 0"
          />
          <div style="flex-grow: 1"/>
          <b-switch
            class="mr-3"
            :type="customToggleType ? customToggleType : 'is-danger'"
            :value="category.action ? false : true"
            @input="toggleCategory(category.ogIdx, block[block.length-1].parent && catIdx === 0 ? block : undefined)"
            @click.native="$event.stopPropagation(); disableIfNotPro && !isPro && proPrompt()"
            :disabled="category.frozen || greyOut || (disableIfNotPro && !isPro)"
          />
        </div>
        <div
          class="pl-1 pr-1 pb-4 is-size-7 has-text"
          v-if="expanded"
        >
          {{ category.description }}
        </div>
      </div>
    </div>
    <!-- Show sites -->
    <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-5 my-4">
      Filtering
    </div>
    <!-- Show restrictions as sites -->
    <div
      class="category-block"
      :class="{
        'faded': greyOut
      }"
    >
      <div
        class="category has-background-white"
        v-for="(restriction, idx) in value.restrictions"
        :key="'r' + restriction.id"
      >
        <div
          class="category-top-row"
          style="padding-left: 20px;"
        >
          <b-icon
            :icon="getIcon(restriction)"
            class="has-text-grey-dark"
          />
          <div
            class="py-4 pl-4"
          >
            <div class="category-name is-size-6 has-text-weight-medium has-text-grey-dark">
              {{ restriction.displayName }}
            </div>
            <div
              v-if="restrictionAppInstallations[restriction.id]"
              :set="numInstalls = Object.keys(restrictionAppInstallations[restriction.id]).length"
              class="is-size-7"
            >
              App installed on
              <span
                v-if="(numInstalls === 1 || deviceID) && restrictionAppInstallations[restriction.id][deviceID]"
              >
                this device
              </span>
              <span
                v-else-if="numInstalls === 1"
                class="has-text-primary underline-on-hover"
                @click="$event.stopPropagation(); $emit('displayDevices', restrictionAppInstallations[restriction.id])"
              >
                1 device
              </span>
              <span
                v-else-if="numInstalls > 1"
                class="has-text-primary underline-on-hover"
                @click="$event.stopPropagation(); $emit('displayDevices', restrictionAppInstallations[restriction.id])"
              >
                {{ numInstalls }} devices <span v-if="restrictionAppInstallations[restriction.id][deviceID]">(including this one)</span>
              </span>
            </div>
          </div>
          <div style="flex-grow: 1"/>
          <b-dropdown
            :value="restriction.action"
            :disabled="greyOut || (disableIfNotPro && !isPro)"
            @input="changeRestriction(idx, $event)"
            slot="bottom"
            class="mr-4"
            @click.native="disableIfNotPro && !isPro && proPrompt()"
          >
            <b-button
              slot="trigger"
              :type="getRestrictionType(restriction)"
              icon-right="menu-down"
              rounded
            >
              <span>{{ restriction.actions[restriction.action] }}</span>
            </b-button>
            <b-dropdown-item
              v-for="(action, idx) in restriction.actions"
              :key="idx"
              :value="idx"
            >{{ action }}</b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </div>
    <!-- Show whitelist/blacklist -->
    <b-tabs
      :class="{ faded: greyOut || disableIfNotPro && !isPro }"
      class="mt-4 mb-1"
    >
      <b-tab-item
        label="Site blocklist"
      >
        <site-list-edit
          :value="value.blacklist"
          :isBlocklist="true"
          :blocks="value.categories"
          :disabled="greyOut || disableIfNotPro && !isPro"
          @input="updateBlacklist($event)"
        />
      </b-tab-item>
      <b-tab-item
        label="Site allowlist"
      >
        <site-list-edit
          :value="value.whitelist"
          :disabled="greyOut || disableIfNotPro && !isPro"
          :blocks="value.categories"
          @input="updateWhitelist($event)"
        />
      </b-tab-item>
    </b-tabs>
    <div class="is-size-5 has-text-weight-semibold is-family-secondary my-4" v-if="value.apps">
      <b-icon
        icon="android"
        class="pr-4 ml-4"
      />
      Apps
    </div>
    <div v-if="value.apps" class="is-flex is-align-items-center" id="apps" ref="apps">
      <b-button
        label="Show all apps"
        :icon-right="showAllApps ? 'chevron-up' : 'chevron-down'"
        @click="showAllApps = !showAllApps"
      />
      <div class="has-text-grey ml-4" v-if="showAllApps">
        Some system apps are not included.
      </div>
    </div>
    <div
      v-if="showAllApps && value.apps"
      class="category-block mt-3"
      :class="{
        'faded': greyOut
      }"
    >
      <div
        v-for="(app, appIdx) in value.apps"
        :key="app.id"
        class="category has-background-white"
      >
        <div
          class="category-top-row"
          @click="toggleApp(appIdx)"
        >
          <div
            class="py-4 pl-4"
          >
            <div>
              <div>
                <span class="category-name is-size-6 has-text-weight-medium has-text-grey-dark">{{ app.name }}</span>
                <span v-if="!deviceID">
                  <span
                    v-if="app.installedOn.length === 1 && app.installedOn[0] !== deviceID"
                    class="has-text-primary underline-on-hover"
                    @click="$event.stopPropagation(); $emit('displayDevices', categoryAppInstallationsFromArray(app.installedOn))"
                  >
                    · 1 device
                  </span>
                  <span
                    v-else-if="app.installedOn.length > 1"
                    class="has-text-primary underline-on-hover"
                    @click="$event.stopPropagation(); $emit('displayDevices', categoryAppInstallationsFromArray(app.installedOn))"
                  >
                    {{ app.installedOn.length }} devices <span v-if="app.installedOn.some(currID => currID === deviceID)">(including this one)</span>
                  </span>
                </span>
                <b-button
                  tag="a"
                  :href="getStoreHref(app)"
                  target="blank"
                  icon-left="google-play"
                  icon-right="open-in-new"
                  @click="$event.stopPropagation()"
                  label="View"
                  size="is-small"
                  class="ml-3"
                />
              </div>
            </div>
          </div>
          <div style="flex-grow: 1"/>
          <b-switch
            class="mr-3"
            :type="customToggleType ? customToggleType : 'is-danger'"
            :value="app.blocked ? true : false"
            @input="toggleApp(appIdx)"
            @click.native="$event.stopPropagation(); disableIfNotPro && !isPro && proPrompt()"
            :disabled="greyOut || (disableIfNotPro && !isPro)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { App, CategoriesRules, Category, Restriction } from '@/requests/categories-v2/get-categories-rules'
import IconCard from '@/components/common/icon-card.vue'
import SiteListEdit from '@/components/blocked-sites/site-list-edit.vue'
import cloneDeep from 'lodash/cloneDeep'
import { Route } from 'vue-router'

// How many categories to try to put into a block (except category groups)
const BLOCK_SIZE = 5

/**
 * Component for editing a categories rules object (/v2/categories/rules)
 * as a model.
 */
@Component({
  components: {
    IconCard,
    SiteListEdit
  }
})
export default class CategoriesRulesEditor extends Vue {
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly disableIfNotPro: boolean | undefined
  /**
   * The v-model.
   */
  @Prop() readonly value: CategoriesRules | undefined
  /**
   * Whether to show the toggle to enable rules.
   */
  @Prop() readonly showEnable: boolean | undefined
  /**
   * Whether to show the descriptions.
   */
  @Prop() readonly expanded: boolean | undefined
  /**
   * The device ID for linking to time based rules.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * The MAC for linking to time based rules.
   */
  @Prop() readonly mac: string | undefined
  /**
   * If specified - a custom type to give toggles instead of the default is-danger
   */
  @Prop() readonly customToggleType: string | undefined

  categoryAppInstallations: {[categoryID: number]: {[deviceID: string]: boolean}} = {}
  categoryToAppIdxs: {[categoryID: number]: {[appIdx: number]: boolean}} = {}
  restrictionAppInstallations: {[restrictionID: number]: {[deviceID: string]: boolean}} = {}
  restrictionToAppIdxs: {[restrictionID: number]: {[appIdx: number]: boolean}} = {}
  showAllApps = true

  @Watch('deviceID', { immediate: true })
  @Watch('mac', { immediate: true })
  updateAppInstallations () {
    if (!this.value || !this.value.apps) {
      return
    }
    this.categoryAppInstallations = {}
    this.categoryToAppIdxs = {}
    this.restrictionAppInstallations = {}
    this.restrictionToAppIdxs = {}
    for (let i = 0; i < this.value.apps.length; i++) {
      const currApp: App = this.value.apps[i]
      if (!currApp.installedOn) {
        continue
      }
      if (currApp.categories) for (let c = 0; c < currApp.categories.length; c++) {
        const currCategory = currApp.categories[c]
        if (!this.categoryToAppIdxs[currCategory]) {
          this.categoryToAppIdxs[currCategory] = {}
        }
        this.categoryToAppIdxs[currCategory][i] = true
        if (!this.categoryAppInstallations[currCategory]) {
          this.categoryAppInstallations[currCategory] = {}
        }
        for (let j = 0; j < currApp.installedOn.length; j++) {
          this.categoryAppInstallations[currCategory][currApp.installedOn[j]] = true
        }
      }
      if (currApp.restrictions) for (let c = 0; c < currApp.restrictions.length; c++) {
        const currRestriction = currApp.restrictions[c]
        if (!this.restrictionToAppIdxs[currRestriction]) {
          this.restrictionToAppIdxs[currRestriction] = {}
        }
        this.restrictionToAppIdxs[currRestriction][i] = true
        if (!this.restrictionAppInstallations[currRestriction]) {
          this.restrictionAppInstallations[currRestriction] = {}
        }
        for (let j = 0; j < currApp.installedOn.length; j++) {
          this.restrictionAppInstallations[currRestriction][currApp.installedOn[j]] = true
        }
      }
    }
  }

  @Watch('value', { immediate: true }) updateAppInstallationsFromValue (
    currRules: CategoriesRules | undefined, prevRules: CategoriesRules | undefined
  ) {
    if (currRules && !prevRules) {
      this.updateAppInstallations()
    }
    this.$nextTick(() => {
      if (this.$route.hash === '#apps') {
        const appsEl = this.$refs['apps']
        if (appsEl) {
          (appsEl as HTMLDivElement).scrollIntoView()
        }
      }
    })
  }

  toggleApp (appIdx: number) {
    if (!this.isPro && this.disableIfNotPro) {
      this.proPrompt()
      return
    }
    if (!this.value || this.greyOut) {
      return
    }
    const clonedVal = cloneDeep(this.value)
    clonedVal.apps[appIdx].blocked = !clonedVal.apps[appIdx].blocked
    this.$emit('input', clonedVal)
  }


  /**
   * @returns The icon name for a particular category. Returns predefined one
   *          if available, otherwise fall back to a letter icon representing the name.
   * @param category The  category.
   */
  getIcon (category: Category): string {
    if (category.icon === '') {
      return 'alpha-' + category.displayName.substring(0, 1).toLowerCase() + '-box-outline'
    }
    return category.icon
  }

  /**
   * Toggle blocking the category with the specified index,
   * and optionally its subcategories.
   */
  toggleCategory (categoryIdx: number, subCategories?: Category[]) {
    if (!this.isPro && this.disableIfNotPro) {
      this.proPrompt()
      return
    }
    if (!this.value || this.greyOut) {
      return
    }
    const category = this.value.categories[categoryIdx]
    if (category.frozen) {
      return // Unable to change
    }
    // Clone the value, and return the new one
    const clonedVal = cloneDeep(this.value)
    if (subCategories) {
      const subCatMap: {[id: number]: Category} = {}
      subCategories.forEach(category => {
        subCatMap[category.id] = category
      })
      for (let i = 0; i < clonedVal.categories.length; i++) {
        const category = clonedVal.categories[i]
        if (subCatMap[category.id]) {
          const clonedCategory = cloneDeep(category)
          clonedCategory.action = 1 - this.value.categories[categoryIdx].action
          clonedVal.categories[i] = clonedCategory
          const appsToMatch = this.categoryToAppIdxs[clonedCategory.id]
          if (appsToMatch) {
            Object.keys(appsToMatch).forEach(appIdxStr => {
              const appIdx = parseInt(appIdxStr)
              clonedVal.apps[appIdx].blocked = clonedCategory.action ? false : true
            })
          }
        }
      }
    } else {
      const clonedCategory = cloneDeep(category)
      clonedCategory.action = 1 - clonedCategory.action
      clonedVal.categories[categoryIdx] = clonedCategory
      const appsToMatch = this.categoryToAppIdxs[clonedCategory.id]
      if (appsToMatch) {
        Object.keys(appsToMatch).forEach(appIdxStr => {
          const appIdx = parseInt(appIdxStr)
          clonedVal.apps[appIdx].blocked = clonedCategory.action ? false : true
        })
      }
    }
    this.$emit('input', clonedVal)
  }

  /**
   * Change the restriction action for the specified index.
   */
  changeRestriction (restrictionIdx: number, newAction: number) {
    if (!this.value || this.greyOut) {
      return
    }
    const restriction = this.value.restrictions[restrictionIdx]
    const clonedVal = cloneDeep(this.value)
    const clonedRestriction = cloneDeep(restriction)
    clonedRestriction.action = newAction
    clonedVal.restrictions[restrictionIdx] = clonedRestriction
    const appsToMatch = this.restrictionToAppIdxs[restriction.id]
    if (appsToMatch) {
      Object.keys(appsToMatch).forEach(appIdxStr => {
        const appIdx = parseInt(appIdxStr)
        clonedVal.apps[appIdx].blocked = clonedRestriction.actions[newAction].toLowerCase().includes('blocked') ? true : false
      })
    }
    this.$emit('input', clonedVal)
  }

  /**
   * @returns The buefy type for a restriction action.
   */
  getRestrictionType (restriction: Restriction): string | undefined {
    const currentAction = restriction.actions[restriction.action].toLowerCase()
    if (currentAction.indexOf('blocked') > -1) {
      return this.customToggleType ? this.customToggleType : 'is-danger'
    } else if (currentAction.indexOf('no') > -1) {
      return undefined
    }
    return 'is-success'
  }

  /**
   * Update the blacklist for this set of rules.
   */
  updateBlacklist (blacklist: string[]) {
    if (!this.value || this.greyOut) {
      return
    }
    const newVal = cloneDeep(this.value)
    newVal.blacklist = blacklist
    this.$emit('input', newVal)
  }

  /**
   * Update the whitelist for this set of rules.
   */
  updateWhitelist (whitelist: string[]) {
    if (!this.value || this.greyOut) {
      return
    }
    const newVal = cloneDeep(this.value)
    newVal.whitelist = whitelist
    this.$emit('input', newVal)
  }

  /**
   * Update whether the device has custom rules.
   */
  updateHasRules (newHasRules: boolean) {
    if (!this.value) {
      return
    }
    const newVal = cloneDeep(this.value)
    newVal.hasRules = newHasRules
    this.$emit('input', newVal)
  }

  /**
   * @returns Whether to disable the controls.
   */
  get greyOut (): boolean {
    return this.showEnable === true && this.value !== undefined && !this.value.hasRules
  }

  /**
   * @returns Blocks of categories such that a group of categories is either:
   * - An entire category group
   * - A certain amount of non-grouped categories.
   * The final order is decided alphabetically by the first category in each group.
   */
  get categoryBlocks (): Category[][] {
    if (!this.value || !this.value.categories) {
      return []
    }
    const toReturn: Category[][] = []
    // First, find category parents by indexing by ID
    const parentToChild: {[parentID: number]: Category[]} = {}
    const categoriesByID: {[parentID: number]: Category} = {}
    this.value.categories.forEach(category => { parentToChild[category.id] = [] })
    this.value.categories.forEach(category => { categoriesByID[category.id] = category })
    this.value.categories.forEach(category => {
      if (category.parent) {
        parentToChild[category.parent].push(category)
      }
    })
    // Now put non-grouped categories in
    let currArr: Category[] = []
    this.value.categories.forEach((category, idx) => {
      category.ogIdx = idx
      // Ignore if this has a group
      if (category.parent) {
        return
      }
      // Ignore if this is the parent of a group
      if (parentToChild[category.id].length) {
        return
      }
      currArr.push(category)
      if (currArr.length === BLOCK_SIZE) {
        toReturn.push(currArr)
        currArr = []
      }
    })
    toReturn.push(currArr)
    Object.keys(parentToChild).forEach(parentID => {
      const parentIDNumber = parseInt(parentID)
      const children = parentToChild[parentIDNumber]
      if (children.length > 0) {
        // Add a block for this group
        const newBlock = [ categoriesByID[parentIDNumber] ]
        toReturn.push(newBlock.concat(children))
      }
    })
    return toReturn
  }

  proPrompt () {
    this.$buefy.snackbar.open({
      type: 'is-warning',
      message: 'Get Pro Surfer to edit blocked categories',
      actionText: 'Get',
      onAction: () => {
        this.$router.push({
          name: 'AccountSettings',
          query: {
            section: 'payment'
          } 
        })
      },
      duration: 5000
    })
  }

  getStoreHref (app: App): string {
    if (app.platform !== 'android') {
      return '' // not handled yet
    }
    return 'https://play.google.com/store/apps/details?id=' + encodeURIComponent(app.id)
  }

  categoryAppInstallationsFromArray (arr: string[]): {[id: string]: boolean} {
    const r: {[id: string]: boolean} = {}
    arr.forEach(id => {
      r[id] = true
    })
    return r
  }

  @Watch('$route', { deep: true, immediate: true }) onRouteChange(newRoute: Route) {
    if (newRoute.hash === '#apps') {
      this.showAllApps = true
    }
  }
}
</script>

<style scoped>
.toggle-row {
  display: flex;
  justify-content: space-between;
}

.faded {
  opacity: 0.5;
}

.category {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.category-top-row {
  display: flex;
  align-items: center;
}

.underline-on-hover:hover {
  text-decoration: underline !important;
}

.category-block {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
