<template>
  <b-field label="Devices To Include">
    <spinner v-if="loading"/>
    <div v-else>
      <div>
        <div class="device-item">
          <b-button
            :icon-left="showingLifeguards ? 'chevron-down' : 'chevron-right'"
            icon-size="small"
            @click="showingLifeguards = !showingLifeguards"
            rounded
          />
          <p class="py-3 px-3">
            Lifeguard Devices
          </p>
          <!-- Switch for all lifeguards -->
          <b-switch
            :value="anyLifeguardsSelected()"
            @input="selectAllLifeguards($event)"
          />
        </div>
        <!-- Lifeguard Devices -->
        <div v-if="showingLifeguards" class="inner-items pl-5 mb-3">
          <!-- Each lifeguard -->
          <div
            v-for="(lifeguard, idx) in devices.lifeguards"
            :key="lifeguard.id"
          >
            <div class="device-item">
              <b-button
                :icon-left="showingLifeguard[idx] ? 'chevron-down' : 'chevron-right'"
                icon-size="small"
                @click="showingLifeguard.splice(idx, 1, !showingLifeguard[idx])"
                rounded
              />
              <p class="py-3 px-3">
                {{ lifeguard.name }}
              </p>
              <b-switch
                :value="anyLifeguardDevicesSelected(idx)"
                @input="selectAllLifeguardDevices(idx, $event)"
              />
            </div>
            <!-- Lifeguard Devices -->
            <div v-if="showingLifeguard[idx]">
              <!-- Each device on a lifeguard -->
              <div
                v-for="(device, subIdx) in lifeguard.devices"
                :key="device.mac"
                class="device-item inner-items pl-5 mb-3"
              >
                <b-icon icon="cellphone-link"/>
                <p class="py-3 px-3">
                  {{ device.name }}
                </p>
                <b-switch
                  :value="lifeguardDeviceSelected(idx, subIdx)"
                  @input="selectLifeguardDevice(idx, subIdx, $event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="device-item">
          <b-button
            :icon-left="showingMobile ? 'chevron-down' : 'chevron-right'"
            icon-size="small"
            @click="showingMobile = !showingMobile"
            rounded
          />
          <p class="py-3 px-3">
            Mobile Devices
          </p>
          <b-switch
            :value="anyMobileDevicesSelected()"
            @input="selectAllMobileDevices($event)"
          />
        </div>
        <!-- Mobile Devices -->
        <div v-if="showingMobile" class="inner-items pl-5 mb-3">
          <div
            v-for="(device, idx) in devices.mobile"
            :key="device.id"
            class="device-item"
          >
            <b-icon icon="cellphone"/>
            <p class="py-3 px-3">
              {{ device.name }}
            </p>
            <b-switch
              :value="mobileDeviceSelected(idx)"
              @input="selectMobileDevices(idx, $event)"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="device-item">
          <b-button
            :icon-left="showingDNS ? 'chevron-down' : 'chevron-right'"
            icon-size="small"
            @click="showingDNS = !showingDNS"
            rounded
          />
          <p class="py-3 px-3">
            DNS Profiles
          </p>
          <b-switch
            :value="anyDNSDevicesSelected()"
            @input="selectAllDNSDevices($event)"
          />
        </div>
        <!-- DNS Devices -->
        <div v-if="showingDNS" class="inner-items pl-5 mb-3">
          <div
            v-for="(device, idx) in devices.dns"
            :key="device.id"
            class="device-item"
          >
            <b-icon icon="dns"/>
            <p class="py-3 px-3">
              {{ device.name }}
            </p>
            <b-switch
              :value="dnsDeviceSelected(idx)"
              @input="selectDNSDevices(idx, $event)"
            />
          </div>
        </div>
      </div>
      <div class="device-item">
        <p class="py-3 px-3">
          Unknown Devices
        </p>
        <b-switch
          :value="value.account"
          @input="selectAccount($event)"
        />
      </div>
    </div>
  </b-field>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop, Watch } from 'vue-property-decorator'
import { APIAlertSettingsDevices } from '@/requests/alerts/get-settings'
import GetDevices, { APIDevices } from '@/requests/devices/get-devices'
import Spinner from '@/components/common/spinner.vue'
import cloneDeep from 'lodash/cloneDeep'

@Component({
  components: {
    Spinner
  }
})
export default class EditDevices extends Vue {
  /**
   * V-model value: The devices to include.
   */
  @Prop() readonly value: APIAlertSettingsDevices | undefined
  /**
   * Whether we are showing lifeguard devices.
   */
  showingLifeguards = false
  /**
   * Whether we are showing mobile devices.
   */
  showingMobile = false
  /**
   * Whether we are showing DNS devices.
   */
  showingDNS = false
  /**
   * Whether we are showing each lifeguard.
   */
  showingLifeguard: boolean[] = []
  /**
   * The registered devices for the user.
   */
  @Prop() readonly devices: APIDevices | undefined

  @Watch('devices', { immediate: true }) devicesUpdated (devices: APIDevices) {
    this.showingLifeguard = devices.lifeguards.map(() => false)
  }

  /**
   * @returns Whether any lifeguards are selected.
   */
  anyLifeguardsSelected (): boolean {
    const devices = this.devices as APIDevices
    return devices.lifeguards.some((lifeguard, idx) => this.anyLifeguardDevicesSelected(idx))
  }

  /**
   * Select or deselect all lifeguards.
   */
  selectAllLifeguards (selected: boolean) {
    const cloned = cloneDeep(this.value) as APIAlertSettingsDevices
    // For each lifeguard
    Object.keys(cloned.lifeguard).forEach(lifeguardID => {
      // For each lifeguard device
      Object.keys(cloned.lifeguard[lifeguardID]).forEach(mac => {
        cloned.lifeguard[lifeguardID][mac] = selected
      })
    })
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether any devices on a lifeguard network with the idx are selected.
   */
  anyLifeguardDevicesSelected (idx: number): boolean {
    const devices = this.devices as APIDevices
    const lifeguardDevices = devices.lifeguards[idx].devices
    return lifeguardDevices !== null &&
      lifeguardDevices.some((device, deviceIdx) => this.lifeguardDeviceSelected(idx, deviceIdx))
  }

  /**
   * Select or deselect all devices on a lifeguard network with the idx.
   */
  selectAllLifeguardDevices (idx: number, selected: boolean) {
    const cloned = cloneDeep(this.value) as APIAlertSettingsDevices
    const devices = this.devices as APIDevices
    // Get the lifeguard
    const lifeguard = cloned.lifeguard[devices.lifeguards[idx].id]
    // Make all devices selected (or not)
    Object.keys(lifeguard).forEach(mac => {
      lifeguard[mac] = selected
    })
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether a device on a lifeguard is selected.
   */
  lifeguardDeviceSelected (lifeguardIdx: number, deviceIdx: number): boolean {
    const devices = this.devices as APIDevices
    const val = this.value as APIAlertSettingsDevices
    // Get the lifeguard ID and device MAC referred to
    const lifeguardID = devices.lifeguards[lifeguardIdx].id
    const deviceMAC = devices.lifeguards[lifeguardIdx].devices[deviceIdx].mac
    // See if it's selected
    return val.lifeguard[lifeguardID][deviceMAC]
  }

  /**
   * Select or deselect a device on a lifeguard network.
   */
  selectLifeguardDevice (lifeguardIdx: number, deviceIdx: number, selected: boolean) {
    const cloned = cloneDeep(this.value) as APIAlertSettingsDevices
    const devices = this.devices as APIDevices
    // Get the lifeguard ID and device MAC referred to
    const lifeguardID = devices.lifeguards[lifeguardIdx].id
    const deviceMAC = devices.lifeguards[lifeguardIdx].devices[deviceIdx].mac
    cloned.lifeguard[lifeguardID][deviceMAC] = selected
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether any mobile devices are selected.
   */
  anyMobileDevicesSelected (): boolean {
    const devices = this.devices as APIDevices
    return devices.mobile.some((device, idx) => this.mobileDeviceSelected(idx))
  }

  /**
   * Select or deselect all mobile devices.
   */
  selectAllMobileDevices (selected: boolean) {
    const cloned = cloneDeep(this.value) as APIAlertSettingsDevices
    // For each mobile device
    Object.keys(cloned.mobile).forEach(deviceID => {
      cloned.mobile[deviceID] = selected
    })
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether a mobile device is selected.
   */
  mobileDeviceSelected (idx: number): boolean {
    const devices = this.devices as APIDevices
    const val = this.value as APIAlertSettingsDevices
    // Get the mobile device ID
    const deviceID = devices.mobile[idx].id
    return val.mobile[deviceID]
  }

  /**
   * Select or deselect a mobile device.
   */
  selectMobileDevices (idx: number, selected: boolean) {
    const cloned = cloneDeep(this.value) as APIAlertSettingsDevices
    const devices = this.devices as APIDevices
    // Get the device ID referred to
    const deviceID = devices.mobile[idx].id
    cloned.mobile[deviceID] = selected
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether any dns devices are selected.
   */
  anyDNSDevicesSelected (): boolean {
    const devices = this.devices as APIDevices
    return devices.dns.some((device, idx) => this.dnsDeviceSelected(idx))
  }

  /**
   * Select or deselect all mobile devices.
   */
  selectAllDNSDevices (selected: boolean) {
    const cloned = cloneDeep(this.value) as APIAlertSettingsDevices
    // For each mobile device
    Object.keys(cloned.doh).forEach(deviceID => {
      cloned.doh[deviceID] = selected
    })
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether a dns device is selected.
   */
  dnsDeviceSelected (idx: number): boolean {
    const devices = this.devices as APIDevices
    const val = this.value as APIAlertSettingsDevices
    // Get the device ID
    const deviceID = devices.dns[idx].id
    return val.doh[deviceID]
  }

  /**
   * Select or deselect a DNS device.
   */
  selectDNSDevices (idx: number, selected: boolean) {
    const cloned = cloneDeep(this.value) as APIAlertSettingsDevices
    const devices = this.devices as APIDevices
    // Get the device ID referred to
    const deviceID = devices.dns[idx].id
    cloned.doh[deviceID] = selected
    this.$emit('input', cloned)
  }

  /**
   * Select or deselect alerts from the user's account.
   */
  selectAccount (selected: boolean) {
    const cloned = cloneDeep(this.value) as APIAlertSettingsDevices
    cloned.account = selected
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether the component is loading.
   */
  get loading (): boolean {
    return this.devices === null
  }
}
</script>

<style scoped>
.device-item {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.inner-items {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
