<template>
  <div>
    <spinner v-if="loading"/>
    <div v-else>
      <div
        class="device is-inline-flex px-4 py-4 mr-4 mb-2 mt-2 has-background-white"
        v-for="category in categories"
        :key="category.id"
      >
        <b-checkbox
          :value="value[category.id]"
          @input="categoryChecked(category.id, $event)"
        >
          {{ category.name }}
        </b-checkbox>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import Spinner from '@/components/common/spinner.vue'
import { Prop } from 'vue-property-decorator'
import GetAllNames, { CategoryName } from '@/requests/categories/get-all-names'
import cloneDeep from 'lodash/cloneDeep'

@Component({
  components: {
    Spinner
  }
})
export default class IncludedCategories extends Vue {
  /**
   * V-model: The categories that are included.
   */
  @Prop() readonly value: {[id: number]: boolean} | undefined
  /**
   * The categories.
   */
  categories: CategoryName[] | null = null

  /**
   * Requests.
   */
  getAllNames = new GetAllNames()

  mounted () {
    this.getAllNames.handle().then(categories => {
      this.categories = categories
      this.updateCategories()
    })
  }

  /**
   * If new categories were added that aren't in the
   * settings, add them with their default alert value.
   */
  updateCategories () {
    const cloned = cloneDeep(this.value) as {[id: number]: boolean}
    let anyChanged = false
    if (this.categories) {
      this.categories.forEach(category => {
        if (cloned[category.id] === undefined) {
          anyChanged = true
          cloned[category.id] = category.defaultAlert
        }
      })
    }
    if (anyChanged) {
      this.$emit('input', cloned)
    }
  }

  /**
   * Update a category when the checked status changes.
   */
  categoryChecked (categoryID: number, checked: boolean) {
    const cloned = cloneDeep(this.value) as {[id: number]: boolean}
    cloned[categoryID] = checked
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether the component is loading.
   */
  get loading (): boolean {
    return this.categories === null
  }
}
</script>

<style scoped>
.device {
  border-radius: 50px;
  box-shadow:  -5px -5px 10px #d9d9d9,
              5px 5px 10px #ffffff;
}
</style>
