<template>
  <div>
    <b-field
      label="Email day"
      v-if="weekly"
    >
      <b-select v-model="day">
        <option
          v-for="(day, idx) in DAYS_TABLE"
          :value="idx"
          :key="day"
        >
          {{ day }}
        </option>
      </b-select>
    </b-field>
    <b-field label="Email hour (24-hour)">
      <b-numberinput
        v-model="hour"
        :min="0"
        :max="23"
        :step="1"
        controls-position="compact"
      />
    </b-field>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import dayjs from 'dayjs'

/**
 * Component for picking an hour of the day using a unix timestamp
 * as a model.
 */
@Component
export default class TimePicker extends Vue {
  /**
   * Prop input - a Unix timestamp whose hour
   * we edit.
   */
  @Prop() readonly value: number | undefined
  /**
   * Whether to allow picking a day of the week.
   */
  @Prop() readonly weekly: boolean | undefined

  /**
   * Map from day of the week as a number (the index)
   * to the display name.
   */
  readonly DAYS_TABLE = [
    'Sunday',
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
    'Saturday'
  ]

  /**
   * @returns The hour of the timestamp.
   */
  get hour (): number {
    if (this.value) {
      console.log(dayjs.unix(this.value).format())
      return dayjs.unix(this.value).hour()
    }
    return 1
  }

  /**
   * Set the hour of the timestamp.
   */
  set hour (newHour: number) {
    let emitTimestamp = 0
    // Convert back to 24 hour
    if (this.value) {
      emitTimestamp = dayjs.unix(this.value).set('hour', newHour).unix()
    }
    this.$emit('input', emitTimestamp)
  }

  /**
   * @returns The day of the timestamp.
   */
  get day (): number {
    if (this.value) {
      return dayjs.unix(this.value).day()
    }
    return 1
  }

  /**
   * Set the day of the timestamp.
   */
  set day (newDay: number) {
    let emitTimestamp = 0
    // Convert back to 24 hour
    if (this.value) {
      emitTimestamp = dayjs.unix(this.value).set('day', newDay).unix()
    }
    this.$emit('input', emitTimestamp)
  }
}
</script>
